{% extends 'layout.html.twig' %}



{% block stylesheets %}
	{# parent() #}
  	{% stylesheets '@css_datatables' %}
      	<link rel="stylesheet" href="{{ asset_url }}" /></link>
  	{% endstylesheets %}
{% endblock %}

{% block javascripts %}
	{# parent() #}
    {% javascripts '@js_datatables'%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
	
	<style type="text/css">
	
    	.selGrupoConcejales{
    		    min-height: 150px!important;
    		    max-height: 151px!important;
    		    overflow-y: auto!important;
    	} 	

	</style>

	<script type="text/javascript">

    	function addClasssToSelect2(div,clase){
    		$("#"+div).find('span[class="select2-selection select2-selection--multiple"]').addClass(clase);
    	}

	
        function verificarConcejales(select,idItem){

    		var controles=["selPresidente","selVicePresidente","selTitulares","selSuplentes"];
    
    		$.each(controles,function(index, valor){
    			if (valor!=select){
        			
            		var elementos=$("#"+valor)[0].children.length;
            		
            		for (var i = elementos-1; i > -1; i--) {
            			if ($("#"+valor)[0].children[i].value==idItem){
            				$("#"+valor)[0].children[i].remove();
            				toastr.warning("El concejal fue movido desde el apartado de "
                    						+valor.substr(3,valor.length-3));
            			}
            		}
    			}
    		});	
		
    	}

		$(document).ready(function () {
			
		    var tabla=$('#registroComisiones').DataTable({
		    			  "language": {
				              "infoEmpty": "Sin registros para mostrar",
				              "paginate": {
						          	"last": "Ultima Página",
						          	"first": "Primer página",
						          	"next": "Siguiente",
						          	"previous": "Anterior"
						       },
						       "emptyTable": "Sin Datos",
						       "lengthMenu": 'Registros Listados <select class="form-control input-sm">'+
						       				 '<option value="-1">Todos</option>'+
								             '<option value="10">10</option>'+
								             '<option value="20">20</option>'+
								             '<option value="30">30</option>'+
								             '<option value="40">40</option>'+
								             '<option value="50">50</option>'+
								             '</select>',
								"loadingRecords": "Espere...cargando datos",
								"processing": "Procesando...",
								"sInfo": "Mostrando  _START_ a _END_ de _TOTAL_ registros",

			          	  },
					      "processing": false,
					      "ajax": {
							        "url": "api/comision/getAll",
			            			"dataSrc": '',
							    },
						  "columnDefs": [
								            {
								                "targets": [ 0 ],
								                "visible": false,
								                "searchable": false
								            },
								            {
									            "targets": [ 1 ],
									            "data": null,
									            "orderable":false,
									            "render": function(data, type, row){
										            debugger;
										            var html="<div class='btn-group'>";

									            	if ('{{ 'COM_ADD' in app.user.listaPermisos }}')
    										            html+="<button type='button'  title='Editar Comision' class='btn btn-primary btn-xs btn-editar'><span class='glyphicon glyphicon-pencil'></span>"+
    									            		  "</button>";
									            	if ('{{ 'COM_DEL' in app.user.listaPermisos }}')
										            	html+="<button type='button'  class='btn btn-danger btn-xs btn-eliminar' title='Eliminar Comisión'><span class='glyphicon glyphicon-erase'></span>"+
										            		  "</button>";
									            	return html+"</div>";
									            }
									        }
						  ],
					      "columns": [
					      		{ "data": "id" },
					      		{ "data": "" ,"width":"5%" },
					            { "data": "comision","width":"25%" },
					            { "data": "presidente","width":"10%"},
					            { "data": "vice_presidente","width":"10%"},
					            { "data": "lista_titulares","className": "for-mobile","width":"20%" },
					            { "data": "lista_suplentes","className": "for-mobile","width":"20%" },
					        ],
					      "autoWidth":false,
					      "paging": true,
					      "lengthChange": true,
					      "searching": false,
					      "ordering": false,
					      "info": true,
					      "autoWidth": false,
			});

		    $('.btn-alta').click( function () {
		       $("#modalComision").find('input[name="idComision"]').val(0);
		       $("#modalComision").modal("show");
		    } );

		    $('#registroComisiones tbody').on( 'click', '.btn-editar', function () {
		        var data = tabla.row( $(this).parents('tr') ).data();
			    $("#modalComision").find('input[name="idComision"]').val(data[ "id" ]);
			    $("#modalComision").modal("show");
		    });

		    $('#registroComisiones tbody').on( 'click', '.btn-eliminar', function () {
		        var data = tabla.row( $(this).parents('tr') ).data();
			    var idComision=data[ "id" ];

			    $.ajax({
			    	async: true,
	                data: null,
	                url:'{{ app.request.getBaseURL() }}/api/comision/remove/'+idComision,
	                cache: false,
	                contentType: false,
	                processData: false,
	                type: 'POST',
    				success: function(data){
    					toastr.success(data);
  						tabla.ajax.reload();
    				},
    				error: function(jqXHR,textStatus,errorThrown ){
    					toastr.error(jqXHR.responseText);
    				}
    	      	});
		    });

		    $("#modalComision").on('show.bs.modal', function () {
			    
		    	$("#modalComision").find('input[name="descripcion"]').val("");
			    $("#modalComision").find('select[name="selPresidente"]').empty().change();
			    $("#modalComision").find('select[name="selVicePresidente"]').empty().change();
			    $("#modalComision").find('select[name="selTitulares"]').empty().change();
			    $("#modalComision").find('select[name="selSuplentes"]').empty().change();
			    $("#modalComision").find('select[name="selTipoComision"]').val();

			    var idComision=$("#modalComision").find('input[name="idComision"]').val();
			    if (idComision!=0){
				    
			    	$("#titulo-modal-comision").html("Editar Comisión");
			    	
			    	$.ajax({
        				type:'Get',
        				dataType: 'json	',
        				url:'{{ app.request.getBaseURL() }}/api/comision/getOne/'+idComision,
        				success: function(data){
            				
        					$("#modalComision").find('input[name="descripcion"]').val(data.comision);
        					$("#modalComision").find('input[name="letraOD"]').val(data.letra_orden_del_dia);
        					
        					var newOption=null;
        					
        					newOption = new Option(data.presidente.nombre_completo, 
                								   data.presidente.id, true, true);
        				   	$("#selPresidente").append(newOption).trigger('change');

        				   	newOption = new Option(data.vice_presidente.nombre_completo, 
 								   				   data.vice_presidente.id, true, true);
			   				$("#selVicePresidente").append(newOption).trigger('change');
        				   	
							$.each(data.titulares,function(index,titular){
            				    newOption = new Option(titular.nombre_completo, titular.id, true, true);
            				   	$("#selTitulares").append(newOption).trigger('change');
							});
							
							$.each(data.suplentes,function(index,suplente){
            				    newOption = new Option(suplente.nombre_completo, suplente.id, true, true);
            				   	$("#selSuplentes").append(newOption).trigger('change');
							});
							
        				    $("#selTipoComision").val(data.tipo_comision);	
        				},
        				error: function(jqXHR,textStatus,errorThrown ){
        					toastr.error(jqXHR.responseText);
        				}
        	      	});
				}
			    else $("#titulo-modal-comision").html("Nueva Comisión");

			 });
			
			$(".select2-control	").select2({
				ajax: {
			    url: '{{ app.request.getBaseURL() }}/api/legislador/nombre/getByCriteria',
			    dataType: 'json',
			    delay: 250,
			    data: function (params) {
			      return {
			        q: params.term, // search term
			        page: params.page
			      };
			    },
			    processResults: function (data) {
			       var dato=data;
		           return {
				        results: $.map(dato, function(item) {
				            return { id: item.id, text: item.nombre_completo };
				        })
				    };
		        }	,
			    cache: true
			  },
			  language: "es",
			  minimumInputLength: 2,
			  theme: "bootstrap",
			});

			
			$("#selPresidente").on('select2:selecting',function(evt){
				debugger;
				var idItem=evt.params.args.data.id;
				verificarConcejales("selPresidente",idItem);				
			});

			$("#selVicePresidente").on('select2:selecting',function(evt){
				debugger;
				var idItem=evt.params.args.data.id;
				verificarConcejales("selVicePresidente",idItem);				
			});

			$("#selTitulares").on('select2:selecting',function(evt){
				debugger;
				var idItem=evt.params.args.data.id;
				verificarConcejales("selTitulares",idItem);				
			});

			$("#selTitulares").on('select2:selecting',function(evt){
				debugger;
				var idItem=evt.params.args.data.id;
				verificarConcejales("selSuplentes",idItem);				
			});
			
			addClasssToSelect2("group-selTitulares","selGrupoConcejales");
		    addClasssToSelect2("group-selSuplentes","selGrupoConcejales");
		    

			$("#btn-alta-comision").click(function(){

				$("#btn-alta-comision").prop("disabled", true);
				
				var idTipoComision = $("#selTipoComision").val();
				var descripcion = $("#descripcion").val();
				var presidente = $("#selPresidente").val();
				var vicePresidente = $("#selVicePresidente").val();
				var titulares = $("#selTitulares").val();
				var suplentes = $("#selSuplentes").val();
				var idComision = $("#idComision").val();
				var letra = $("#letraOD").val();

				var formData=new FormData();
                var validacion='';
			                
                validacion+=((letra.replace(/ /g,'').length==0)
        						?'<li>Debe una letra para la comisión en la Orden del Día</li>':'');
                validacion+=((/^[a-z]+$/gi.test(letra)==false)
								?'<li>La letra de la Orden del Día no puede contener numeros</li>':'');
                validacion+=((idTipoComision==0)?'<li>Debe seleccionar el tipo de comisión</li>':'');
                validacion+=((descripcion.replace(/ /g,'').length==0)
                				?'<li>Debe indicar un nombre para la comisión</li>':'');
				validacion+=((presidente==null || presidente.length==0)
								?'<li>Debe indicar un presidente</li>':'');
				validacion+=((vicePresidente==null || vicePresidente.length==0)
								?'<li>Debe indicar un Vice Presidente</li>':'');
				validacion+=((titulares==null || titulares.length==0)
								?'<li>Debe indicar los titulares</li>':'');
				validacion+=((suplentes==null || suplentes.length==0)
								?'<li>Debe indicar los suplentes</li>':'');
              	
              	if (validacion.length>0) 
 				{
 					validacion=((validacion.length>0)?'<strong>Validacion de Datos</strong><br><ul>'+
 								validacion+'</ul>':'');
 					toastr.error(validacion);
 					$(this).prop("disabled", false);
 					return false;
 				}
 				else{

 					formData.append('idTipoComision',idTipoComision);
 					formData.append('letra',letra);
 	              	formData.append('descripcion',descripcion);
 	              	formData.append('presidente',presidente);
 	              	formData.append('vicePresidente',vicePresidente);
 	              	formData.append('titulares',titulares);
 	              	formData.append('suplentes',suplentes);
 	              	formData.append('idComision',idComision);

 	            	$.ajax({
 		                async: true,
 		                url: '{{ app.request.getBaseURL() }}'+'/api/comision/save',
 		                data: formData,
 		                cache: false,
 		                contentType: false,
 		                processData: false,
 		                type: 'POST',
 	                success: function(data) {
 	                    toastr.success(data);
 						tabla.ajax.reload();
 						$('#modalComision').modal('hide');
 	                	},
 	                complete:function(){
 	                	$("#btn-alta-comision").prop("disabled", false);
 	                },
 	                error: function(jqXHR,textStatus,errorThrown ){
 						toastr.error(JSON.parse(jqXHR.responseText));
 						}
 	            	});
 	            }
			}); 
			
	});
	</script>
	
	<section class="content-header">
		<div class="row pull-right">
		    <ol class="breadcrumb">
		        <li><a href="#"><i class="fa fa-dashboard"></i> Principal</a></li>
	        	<li class="active">Comisiones</li>
	        	<li class="active">Conformación Comisiones</li>
		    </ol>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-4">
				<h2>
			        Conformación Comisiones
			    </h2>
			</div>
	    </div>  
	</section>
	<section class="content">
	  	<div class="row">
	    	<div class="col-xs-12">
	     		{# <div class="box">
		            <div class="box-body"> #}
		              	<table id="registroComisiones" class="table table-striped">
			                <thead>
			                	<tr>
			                		<th>id</th>
    		                		<th>
    		                			{% if 'COM_ADD' in app.user.listaPermisos %}
        		                			<button type="button" title="Agregar Comisión"class="btn btn-primary btn-xs btn-alta">
        							    			<span class="glyphicon glyphicon-plus"></span>
        							    	</button>
        							    {% endif %}
    							    </th>
					                <th>Comision</th>
					                <th>Presidente</th>
					                <th>Vice</th>
					                <th>Titulares</th>
					                <th>Suplentes</th>
					            </tr>
			                </thead>
			                <tbody>
			                </tbody>
		               	</table>
		            {# </div> #} {# box-body #}
		        {# </div> #} {# box #}
	        </div> {# col #}
	    </div> {# row #}
	   	<div id="modalComision" class="modal fade" role="dialog" data-backdrop="static" 
   data-keyboard="false">
		 	<div class="modal-dialog modal-lg">
			    <!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666	;color:#FFF">
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				        <h4 class="modal-title" id="titulo-modal-comision"></h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
				        <form>
				        	<input type="hidden" id="idComision" name="idComision">
				        	<div class="row">
				        		<div class="col-md-10">
        				        	<div class="form-group">
        				        		<label for="descripcion">Nombre de la comision</label>
        				        		<input id="descripcion" class="form-control" name="descripcion" 
        				        			   placeholder="Nombre de la comision">
        				        	</div>
        				        </div>
        				        <div class="col-md-2">
        				        	<div class="form-group">
        				        		<label for="letraOD">Letra O.D</label>
        				        		<input type="text" class="form-control input-sm" id="letraOD"
        				        		       name="letraOD" maxlength="2"/>
        				        	</div>
        				        
        				        </div>
    				        </div>
    				        <div class="row">
    				        	<div class="col-md-4">
        						  	<div class="form-group" id="group-selPresidente">
        					        	<label for="selPresidente">Presidente:</label>
        					        	<select class="form-control select2-control" data-width="100%" 
        					        			id="selPresidente" name="selPresidente">
        					        	</select>
        					        </div>
        					    </div>
        					    <div class="col-md-4">
        					        <div class="form-group" id="group-selVicePresidente">
        					        	<label for="selVicePresidente">Vice Presidente:</label>
        					        	<select class="form-control select2-control" data-width="100%" 
        					        			id="selVicePresidente" name="selVicePresidente">
        					        	</select>
        					        </div>
        					    </div>
        					    <div class="col-md-4">
        					    	<div class="form-group">
        					    	<label for="selTipoComision">Tipo Comisión:</label>
        					    		<select class="form-control" id="selTipoComision" 
        					    				name="selTipoComision">
        					    			<option value="0">Seleccione un tipo</option>
        					    			{% for tipoComision in tiposComision %}
        						                <option value="{{ tipoComision.id }}">{{ tipoComision.tipoComision }}</option>
        						            {% endfor %}
        					        	</select>
        					    	</div>
        					    </div>
        					</div>
        					<div class="row">
        						<div class="col-md-6">
        				    		<div class="form-group" id="group-selTitulares">
        					        	<label for="selTitulares">Titulares:</label>
        					        	<select class="form-control select2-control" multiple="multiple" data-width="100%" 
        					        			id="selTitulares" name="selTitulares">
        					        	</select>
        					        </div>
        					   	</div>
        					   	<div class="col-md-6">
        					        <div class="form-group" id="group-selSuplentes">
        					        	<label for="selSuplentes">Suplentes:</label>
        					        	<select class="form-control select2-control" multiple="multiple" data-width="100%" 
        					        			id="selSuplentes" name="selSuplentes">
        					        	</select>
        					        </div>
        					    </div>
        					</div>
					        <hr>
					        <div class="btn-group">
					        	<button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
				       			 <button type="button" class="btn btn-primary" id="btn-alta-comision">Guardar</button>
					        </div>
				        </form>
				     </div>
			    </div>
		  	</div>
		</div>
	</section>
	
{% endblock %}