{% extends 'layout.html.twig' %}

{% block stylesheets %}
	{# parent() }#}
  	{% stylesheets '@css_datatables' %}
      	<link rel="stylesheet" href="{{ asset_url }}" /></link>
  	{% endstylesheets %}
{% endblock %}

{% block javascripts %}
	{# parent() #}
    {% javascripts '@js_datatables'%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
	<style type="text/css">
		
		.file-preview {
			max-height: 371px;
			height: 370px;
			background-color: #fff;
			display: inline-block;
			overflow-y: auto;
		}
		
		.text-area-caratula{
			height: 370px!important;
		}

		#proyectosBusqueda .modal-body{
			height: 600px;
			max-height: 600px;
		}	
				
		#numeroExterno{
			z-index: 15000;
		}
			
		#kvFileinputModal{
			z-index: 15000;
		}
					
		table {
            table-layout:fixed;
            width:100%;
            word-wrap:break-word;
        }
                      
        .table-fixed thead, .table-fixed tbody, .table-fixed tr, 
        .table-fixed td, .table-fixed th { 
        	display: block; 
        }
        .table-fixed tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }
        .table-fixed thead th {
            height: 30px;
        }
        .table-fixed tbody {
            height: 70px;
            overflow-y: auto;
        }
      	.table-fixed tbody tr td, .table-fixed thead th {
            width: 16.6%;
            float: left;
        }
        
        .col-nopadding {
           padding: 0 !important;
           margin: 0 !important;
        }
              
	</style>
	<script type="text/javascript">

		var archivosASubir=[];

		/* eventos */

		$.Shortcuts.add({ //tipo de expediente
		    type: 'down',
		    mask: 'Alt+T',
		    enableInInput: true,
		    handler: function() {
		    	$("#selTipoExpediente").focus();
		    }
		});

		$.Shortcuts.add({ // numero de expediente HCD
		    type: 'down',
		    mask: 'Alt+N',
		    enableInInput: true,
		    handler: function() {
		    	$("#numeroExpediente").select();
		    }
		});

		$.Shortcuts.add({ // folios HCD
		    type: 'down',
		    mask: 'Alt+F',
		    enableInInput: true,
		    handler: function() {
		    	$("#folios").select();
		    }
		});

		$.Shortcuts.add({ // año
		    type: 'down',
		    mask: 'Alt+A',
		    enableInInput: true,
		    handler: function() {
		    	$("#añoIngreso").select();
		    }
		});

		$.Shortcuts.add({ // caratula
		    type: 'down',
		    mask: 'Alt+C',
		    enableInInput: true,
		    handler: function() {
			    $('.wysihtml5-sandbox').contents().find('body').focus();
		    }
		});

		$.Shortcuts.add({ // documento particular
		    type: 'down',
		    mask: 'Alt+D',
		    enableInInput: true,
		    handler: function() {
			    $('#documentoParticular').select();
		    }
		});

		$.Shortcuts.add({ // documento particular
		    type: 'down',
		    mask: 'Alt+P',
		    enableInInput: true,
		    handler: function() {
			    $('#apellidosParticular').select();
		    }
		});

		$.Shortcuts.add({ // documento particular
		    type: 'down',
		    mask: 'Alt+M',
		    enableInInput: true,
		    handler: function() {
			    $('#nombresParticular').select();
		    }
		});

		$.Shortcuts.add({ // documento particular
		    type: 'down',
		    mask: 'Alt+E',
		    enableInInput: true,
		    handler: function() {
			    $('#selOrigen').focus();
		    }
		});

		$.Shortcuts.add({ // documento particular
		    type: 'down',
		    mask: 'Ctrl+C',
		    enableInInput: true,
		    handler: function() {
			    $('#btn-ingresar-proyecto').click();
		    }
		});

		$.Shortcuts.add({ // documento particular
		    type: 'down',
		    mask: 'Ctrl+A',
		    enableInInput: true,
		    handler: function() {
			    if ($("#selTipoExpediente").val()==4 ||
			    	$("#selTipoExpediente").val()==9)
			    	$('#btn-agregar-numeros-externos').click();
		    }
		});

		$.Shortcuts.add({ // documento particular
		    type: 'down',
		    mask: 'Ctrl+E',
		    enableInInput: true,
		    handler: function() {
			    	$('#btn-cancelar-expediente').focus();
		    }
		});

		$.Shortcuts.add({ // documento particular
		    type: 'down',
		    mask: 'Ctrl+G',
		    enableInInput: true,
		    handler: function() {	
			    $('#btn-guardar-expediente').focus();
		    }
		});
		
		$.Shortcuts.start(); 	 
	
		wysihtml5.dom.getPastedHtml = function(event) {
    		var html;
    		if (event.clipboardData) {
    			html = '<p>'+event.clipboardData.getData('text/plain')+'</p>';
    			html = html.replace(/\r?\n/g, '</p><p>');
                html = html.replace(/\t/g, '');
		  	}
		  	return html;
		};
		
		function mostrarOrigen(mostrar){
			
			switch(parseInt(mostrar)){
			
				case 3:
						$(".ente-externo").addClass('hidden');
						$(".proyecto-concejal").addClass('hidden');
						$(".expediente-particular").removeClass('hidden');
						$("#apellidosParticular").val('');
						$("#nombresParticular").val('');
						$("#documentoParticular").val('');
						break;
				case 4:
				case 9:
						$(".proyecto-concejal").addClass('hidden');
						$(".expediente-particular").addClass('hidden');
						$(".ente-externo").removeClass('hidden');
						$("#tabla-numeros > tbody").html("");
						$("#selOrigen").val(0);
						break;
				case 0:		
				case 5:
				case 8:
						$(".expediente-particular").addClass('hidden');
						$(".ente-externo").addClass('hidden');
						$(".proyecto-concejal").addClass('hidden');
						break;
				default:
						$(".expediente-particular").addClass('hidden');
						$(".ente-externo").addClass('hidden');
						$(".proyecto-concejal").removeClass('hidden');
						break;
			};
		}
					
		function mostrarTiposPara(mostrar){
			if (mostrar=="no-proyectos"){
				$(".opcion-P").addClass("hidden");
				$(".opcion-I").removeClass("hidden");
				$(".opcion-W").removeClass("hidden");
				$(".opcion-D").removeClass("hidden");
			}
			else{
				if(mostrar=="proyectos"){
					$(".opcion-P").removeClass("hidden");
					$(".opcion-I").addClass("hidden");
					$(".opcion-W").addClass("hidden");
					$(".opcion-D").addClass("hidden");
				}
				else{
					$(".opcion-P").removeClass("hidden");
					$(".opcion-I").removeClass("hidden");
					$(".opcion-W").removeClass("hidden");
					$(".opcion-D").removeClass("hidden");
				}
			}
		}

		function abrirModalExternos(modal,tabla){
			$("#numeroExterno").find('input[name="idModal"]').val(modal);
			$("#numeroExterno").find('input[name="tabla-destino"]').val(tabla);
    		$("#numeroExterno").modal('show');
		};

		
	    function nuevoExpediente(){

	    	$("#numeroExpediente").val('');
			$("#folios").val('');
			$("#añoIngreso").val((new Date()).getFullYear());
			$("#caratula").data("wysihtml5").editor.setValue('');

	    	$("#input-file").fileinput({
	    		language: "es",
                showUpload: false,               
                overwriteInitial: false,
                maxFileSize: 10240,                
            });

		  	if ($("#idProyecto").val()==0){
		  		$("#selTipoExpediente").val(0).change();
		  		$("#selTipoExpediente").prop( "disabled", false );
		  		mostrarTiposPara("no-proyectos");
		  		$("#selTipoExpediente").focus();
		  	}
		  	else{ 
		  		$("#selTipoExpediente").prop( "disabled", true );
		  		$("#selTipoExpediente").val($("#idTipoExpediente").val());
		  		mostrarTiposPara("proyectos");
		  		setTimeout(function(){ $("#numeroExpediente").focus(); }, 500);
			}

			mostrarOrigen($("#selTipoExpediente").val());
		}

		function edicionExpediente(id) {

	    	//Obtención de los datos del expediente a modificar -----------------

	    	$.ajax({
				type:'Get',
				dataType: 'json	',
				url:'{{ app.request.getBaseURL() }}'+'/api/expediente/getOne/'+id,
				success: function(data){

					var tipoExpediente=data.tipo_expediente;
					$("#selTipoExpediente").val(tipoExpediente);
					mostrarOrigen($("#selTipoExpediente").val());
					$("#numeroExpediente").val(data.numero_expediente);
					$("#caratula").data("wysihtml5").editor.setValue(data.caratula);
					$("#folios").val(data.folios);
					$("#añoIngreso").val(data.año);
					
					if(data.proyecto!=0){
						$("#selTipoExpediente").prop( "disabled", true );
						$("#concejal").val(data.concejal);
						mostrarTiposPara("proyectos");
						setTimeout(function(){ $("#numeroExpediente").focus(); }, 0);
					}
					else{
						$("#selTipoExpediente").prop( "disabled", false );
						mostrarTiposPara("no-proyectos");
					}

					debugger;
					if (tipoExpediente==3 && data.demandante_id!=0){
						$("#documentoParticular").val(data.demandante_documento);
						$("#apellidosParticular").val(data.demandante_apellidos);
						$("#nombresParticular").val(data.demandante_nombres);
					}
				    
					if (tipoExpediente==4 && data.origen_id!=0){
						$("#selOrigen").val(data.origen_externo_id);
						var numeros=data.origen_numeracion;
						var html='';
						$.each(numeros,function(index,numero){
							html+="<tr><td style='width:15%'>"+numero.ente+"</td><td style='width:20%'>"+numero.numero+"</td>"+
								  "<td style='width:10%'>"+numero.letra+"</td><td style='width:15%'>"+numero.año+"</td>"+
								  "<td style='width:15%'>"+numero.folios+"</td><td style='width:15%'>"+numero.cuerpos+"</td>"+
								  "<td style='width:10%'><button type='button' class='btn btn-danger btn-xs btn-eliminar-numero-mod'>"+
						 	 	  "<span class='glyphicon glyphicon-remove'/></button></td></tr>";
						});
						$("#tabla-numeros > tbody").append(html);
					}

				    var config=[];
				    $.each(data.lista_imagenes, function(index,imagen){
				    	config.push(imagen.image_config);
				    });

				    //recuperacion de los archivos subidos
				    $("#input-file").fileinput({
			    		language: "es",
		                initialPreview: data.rutas_web_expediente,
		                showUpload: false,
		                initialPreviewAsData: true,
		                initialPreviewConfig:config,			                
		                overwriteInitial: false,
		                deleteUrl:'{{ app.request.getBaseURL() }}'+'/api/expediente/removeArchivo',
		                maxFileSize: 10240,
		                
		                initialCaption: "Archivos Expediente " + data.numero_expediente

		            });	
				    
				},
				error: function(jqXHR,textStatus,errorThrown ){
					toastr.error(jqXHR.responseText);
				}
	      	});
		}

		function iniciarFormulario(id){
			if (id==0)
				nuevoExpediente();
			else
				edicionExpediente(id);
		}
		
		$(document).ready(function () {
			
			var tablaProyectos;
		    			
			//---------------------------------------------------------------------------------------------------------------
			//---------------------------------------NUMERO EXPEDIENTE EXTERNO-----------------------------------------------
			//---------------------------------------------------------------------------------------------------------------
						
			 $('#tabla-numeros tbody').on( 'click', '.btn-eliminar-numero', function () {
		        $(this).parents('tr').remove();
		     });

			 $('#numeroExterno').on('show.bs.modal', function () {

		    	$("#numeroExterno").find('input[name="enteOrigen"]').val("");
	    		$("#numeroExterno").find('input[name="numeroOrigen"]').val("");
	    		$("#numeroExterno").find('input[name="letraOrigen"]').val("");
	    		$("#numeroExterno").find('input[name="añoOrigen"]').val("");
	    		$("#numeroExterno").find('input[name="foliosOrigen"]').val("");
	    		$("#numeroExterno").find('input[name="cuerpos"]').val("");
					 
			 });
			 
			 $("#btn-agregar-numero").click(function(){
				
		    	var ente=$("#numeroExterno").find('input[name="enteOrigen"]').val();
	    		var numero=$("#numeroExterno").find('input[name="numeroOrigen"]').val();
	    		var letra=$("#numeroExterno").find('input[name="letraOrigen"]').val();
	    		var año=$("#numeroExterno").find('input[name="añoOrigen"]').val();
	    		var folios=$("#numeroExterno").find('input[name="foliosOrigen"]').val();
	    		var cuerpos=$("#numeroExterno").find('input[name="cuerpos"]').val();

				var validacion=''
	    		validacion+=ente==''?'<li>Debe indicar el ente</li>':'';
	    		validacion+=numero==''?'<li>Debe indicar el número</li>':'';
	    		validacion+=letra==''?'<li>Debe indicar la letra</li>':'';
	    		validacion+=año==''?'<li>Debe indicar el año</li>':'';
	    		validacion+=folios==''?'<li>Debe indicar los folios</li>':'';
	    		validacion+=cuerpos==''?'<li>Debe indicar los cuerpos</li>':'';

	    		if (validacion.length>0) 
				{
					validacion=((validacion.length>0)?'<strong>Validación de Datos</strong><br><ul>'+
								validacion+'</ul>':'');
					toastr.error(validacion);
					$('#btn-Modificacion-expediente').prop("disabled", false);
					return false;
				}
				
	    		var ingresado=false

	    		$("#tabla-numeros > tbody > tr").each(function(){
					if ($(this).find("td:eq(0)").text()==ente &&
						$(this).find("td:eq(1)").text()==numero &&
						$(this).find("td:eq(2)").text().toLowerCase()==letra.toLowerCase() &&
						$(this).find("td:eq(3)").text()==año)

					ingresado=true;
		    	});

		    	if (ingresado){
			    	toastr.error("El número ya se encuentra ingresado");
			    	return false;
		    	}
		    	
				var html="<tr><td style='width:15%'>"+ente+"</td><td style='width:20%'>"+numero+"</td>"+
						 "<td style='width:10%''>"+letra+"</td><td style='width:15%''>"+año+"</td>"+ 
						 "<td style='width:15%'>"+folios+"</td><td style='width:15%''>"+cuerpos+"</td>"+
						 "<td style='width:10%''><button type='button' class='btn btn-danger btn-xs "+
						 "btn-eliminar-numero'><span class='glyphicon glyphicon-remove'/></button></td></tr>";
				
	    		$("#tabla-numeros > tbody").append(html);
	    		$("#numeroExterno").modal('hide');
		    	
			}); 
						
			//--------------------------------------------------------------------------------------------------------------
			//-------------------------------------------NUEVO EXPEDIENTE----------------------------------------------------
			//--------------------------------------------------------------------------------------------------------------

			
			//GUARDAR ALTA EXPEDIENTE
			$("#frm-expediente").on('submit',function(e){
				
				e.preventDefault();
				$("#btn-guardar-expediente").prop("disabled",true);
				
             	var form=$(e.target);
              	var formData=new FormData();
              	var idExpediente=$("#idExpediente").val();
                var idProyecto=$("#idProyecto").val();
              	var idTipoExpediente=$("#selTipoExpediente").val();
              	var numeroExpediente=$("#numeroExpediente").val();
              	var folios=$("#folios").val();
              	var documentoParticular=$("#documentoParticular").val();
              	var apellidosParticular=$("#apellidosParticular").val();
              	var nombresParticular=$("#nombresParticular").val();
              	var idOrigen=$("#selOrigen").val();
              	var año=$("#añoIngreso").val();
				var numeros=[];
              	$("#tabla-numeros > tbody > tr").each(function(){ 
                  	var numero = { 
                          			ente:$(this).find("td:eq(0)").html(), 
                              		numero:$(this).find("td:eq(1)").html(), 
                              		letra:$(this).find("td:eq(2)").html(), 
                              		año: $(this).find("td:eq(3)").html(), 
                              		folios:$(this).find("td:eq(4)").html(),
                              		cuerpos:$(this).find("td:eq(5)").html()
                              	  }; 
                	 numeros.push(numero);
                });
                var caratula=$("#caratula").val();
                var archivos=$(form).find('[name="input-file"]')[0].files;

                var validacion='';

              	validacion+=((idTipoExpediente==0)?'<li>Debe seleccionar un tipo de expediente</li>':'');
              	
              	validacion+=((numeroExpediente.replace(/ /g, '').length==0)?'<li>El expediente debe tener un número</li>':'');
              	validacion+=((!$.isNumeric(numeroExpediente))?'<li>El número de expediente no puede contener letras ni espacios</li>':'');
              	
              	validacion+=((folios.replace(/ |\n/g, '').length==0)?'<li>Debe especificar la cantidad de folios</li>':'');
              	validacion+=((!$.isNumeric(folios))?'<li>la número de folios no puede contener letras ni espacios</li>':'');
              	
              	validacion+=((idTipoExpediente==3 && folios.replace(/ |\n/g, '').length!=0 && !$.isNumeric(documentoParticular))
                      		  ?'<li>la número de documento no puede contener letras ni espacios</li>':'');
				
				validacion+=((idTipoExpediente==3 && apellidosParticular.replace(/ |\n/g, '').length==0)
							  ?'<li>Debe especificar un apellido para el demandante particular</li>':'');
				  
				validacion+=((idTipoExpediente==3 && apellidosParticular.replace(/ |\n/g, '').length==0)
						  	  ?'<li>Debe especificar un nombre para el demandante particular</li>':'');
			  	 
				validacion+=((idTipoExpediente==4 && idOrigen==0)
					  	  	  ?'<li>Debe especificar el origen del expediente</li>':'');
		  	  	  
				validacion+=((idTipoExpediente==4 && numeros.length==0)
				  	  	  	  ?'<li>Debe especificar el/los numero/s de origen del expediente</li>':'');	
	  	  	  	  		
				validacion+=((caratula.replace(/ |\n/g, '').length==0)
							  ?'<li>Debe especificar un texto para la caratula</li>':'');
				  
				validacion+=((caratula.length>1000)
						 	 ?'<li>La carátula del expediente puede tener como máximo 1000 símbolos incluidos espacios y retornos de línea y formatos</li>':'');

				validacion+=((año.replace(/ |\n/g, '').length==0)
						  	 ?'<li>Debe especificar un año para el expediente</li>':'');
			  	 
				validacion+=((parseInt(año)>(new Date()).getFullYear())
					  	 	  ?'<li>El año del expediente no puede ser mayor que el actual</li>':'');
				
	            if (validacion.length>0) 
				{
					validacion=((validacion.length>0)?'<strong>Validacion de Datos</strong><br><ul>'+
								validacion+'</ul>':'');
					toastr.error(validacion);
					$("#btn-guardar-expediente").prop("disabled", false);
					return false;
				}
				else{

					formData.append('idExpediente',idExpediente);
	                formData.append('idProyecto',idProyecto);
	              	formData.append('idTipoExpediente',idTipoExpediente);
	              	formData.append('numeroExpediente',numeroExpediente);
	              	formData.append('folios',folios);
	              	formData.append('documentoParticular',documentoParticular);
	              	formData.append('apellidosParticular',apellidosParticular);
	              	formData.append('nombresParticular',nombresParticular);
	              	formData.append('idOrigen',idOrigen);
	              	formData.append('numeros',JSON.stringify(numeros));
	              	formData.append('caratula',caratula);
	              	formData.append('año',año);
	              	$.each(archivos, function(i, archivo) {
	                	formData.append('uploadedFiles-' + i, archivo);
	            	});
	              	
	            	$.ajax({
		                async: true,
		                url: $(form).attr('action'),
		                data: formData,
		                cache: false,
		                contentType: false,
		                processData: false,
		                type: $(form).attr('method'),
	                success: function(data) {
	                    toastr.success(data);
	                    cargarMenu('/expedientes');
	                },
	                error: function(jqXHR,textStatus,errorThrown ){
	                	$('#btn-guardar-expediente').prop("disabled", false);
						toastr.error(JSON.parse(jqXHR.responseText));
						}
	            	});
	            }
			});

			//------------------------------------------------------------------------------------------------------------
			//--------------------------------------INGRESO DE PROYECTO---------------------------------------------------
			//------------------------------------------------------------------------------------------------------------

			//BOTON INGRESAR DE LA TABLA DE EXPEDIENTES
			$('#proyectos tbody').on( 'click', '.btn-ingresar', function () {
		        var data = tablaProyectos.row( $(this).parents('tr') ).data();
		        $("#idProyecto").val(data[ "id" ]);
		        var tipoExpediente=data[ "tipo_expediente" ];
		        $("#selTipoExpediente").val(tipoExpediente);
		        $("#idTipoExpediente").val(tipoExpediente);
		        $("#concejal").val(data[ "concejal" ]);
		        //$("#concejales").html(data[ "concejal" ]);
		        $("#proyectosBusqueda").modal('hide');
		        iniciarFormulario(0);
		    } );

			//EVENTO MOSTRAR DEL BOTÓN DE BUSQUEDA DE PROYECTOS
			$('#proyectosBusqueda').on('show.bs.modal', function () {

		    	tablaProyectos=$('#proyectos').DataTable({
					    			  "language": {
							              "infoEmpty": "Sin registros para mostrar",
							              "paginate": {
									          	"last": "Ultima Página",
									          	"first": "Primer página",
									          	"next": "Siguiente",
									          	"previous": "Anterior"
									       },
									       "search":"Búsqueda rápida",
									       "emptyTable": "Sin Datos",
									       "lengthMenu": 'Registros Listados <select class="form-control input-sm">'+
											             '<option value="10">10</option>'+
											             '<option value="20">20</option>'+
											             '<option value="30">30</option>'+
											             '<option value="40">40</option>'+
											             '<option value="50">50</option>'+
											             '<option value="-1">Todos</option>'+
											             '</select>',
											"loadingRecords": "Espere...cargando datos",
											"processing": "Procesando...",
											"sInfo": "Mostrando  _START_ a _END_ de _TOTAL_ registros",

						          	  },
								      "processing": false,
								      "ajax": {
										        "url": "api/proyecto/getByCriteria/busqueda-5/0",
						            			"dataSrc": '',
										    },
									  "columnDefs": [
											            {
											                "targets": [ 0 ],
											                "visible": false,
											                "searchable": false
											            },
											            {
											                "targets": [ 1 ],
											                "visible": false,
											                "searchable": false
											            },
											            {
												            "targets": [ 2 ],
												            "data": null,
												            "orderable":false,
												            "render": function(data, type, row){
												            	return "<button type='button' class='btn btn-primary btn-xs btn-ingresar' autofocus='autofocus'><span class='glyphicon glyphicon-check'></span></button>";
												            }
												        }
												       
									  ],
								      "columns": [
								      		{ "data": "id" },
								      		{ "data": "tipo_expediente"},
								      		{ "data": "null","width":"12%"},
								      		{ "data": "tipo_proyecto","width":"20%"},
								            { "data": "concejal","className": "for-mobile","width":"20%" },
								            { "data": "claves","className": "for-mobile","width":"50%" },
								        ],
								      "autoWidth":false,
								      "paging": true,
								      "lengthChange": true,
								      "searching": true,
								      "ordering": true,
								      "info": true,
							});

			});

			//EVENTO CERRAR DEL MODAL DE BUSQUEDA DE PROYECTOS
			$('#proyectosBusqueda').on('hidden.bs.modal', function () {
				tablaProyectos.destroy();
			});

		    //------------------------------------------------------------------------------------------------------------
			//---------------------------------INICIALIZACIÓN DE CONTROLES------------------------------------------------
			//------------------------------------------------------------------------------------------------------------
		
			$('#btn-cancelar-expediente').click(function(){
				var idExpediente='{{ idExpediente }}';
				var mensaje='Se canceló '+(idExpediente==0?'el alta':'la edición')+' del expediente';
				toastr.warning(mensaje,'ATENCIÓN');
				cargarMenu('/expedientes');
			});
			
			$("#selTipoExpediente").change(function(){
				mostrarOrigen($(this).val());
			});

			$('#input-file').on('filebatchselected', function(event, files) {
			    $.each(files,function(index,file){
			    	archivosASubir.push(file.name);
			    });
			});

			$('#input-file').on('filecleared', function(event) {
			   archivosASubir.length=0
			});

			$(".text-area-caratula").wysihtml5({
				toolbar: {
				    "image": false,
				    "emphasis": true,
				    "lists": false,
				    "blockquote": false,
				    "link": false,			    
					"size": "xs",
				},	
			});

			$('.wysihtml5-sandbox').contents().find('body').on("keydown",function(event) {
				if (event.which==27){
					$("#btn-guardar-expediente").focus();
				}
		    });

		    $(".es-numero").on('keypress',function(event){
		    	if ( ( event.which < 48 || event.which > 57 ) &&  
				      event.which != 0  &&
				      event.which != 8) 
				 {
		    		return false;
		    	 }
			});

			$(".es-letra").on('keypress',function(event){
			    var regexpr=/[A-Za-z]/;
		    	if (!regexpr.test(event.key))
				 {
		    		return false;
		    	 }
			});

			iniciarFormulario($("#idExpediente").val());
			
	});
	</script>
	<section class="content-header">
		<div class="row pull-right">
			<ol class="breadcrumb">
		        <li><a href="#"><i class="fa fa-dashboard"></i> Principal</a></li>
		        <li>Expedientes</li>
		        <li>Gestión Expedientes</li>
		        <li class="active">
		            {% if idExpediente==0 %}
			        	Alta
			        {% else %}
			        	Edición
			        {% endif %}
		        </li>
		        
		    </ol>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-3">
				<h3><u>
					{% if idExpediente==0 %}
			        	Alta  de Expediente
			        {% else %}
			        	Edición de Expediente
			        {% endif %}
			    </u></h3>
			</div> 
		</div>  
	</section>
	<section class="content">
		<div class="col-md-12">
		{% if idExpediente==0 %}
    		{% if 'EXP_ADD' in app.user.listaPermisos %}
    			<div class="btn-group" style="padding-bottom: 15px">
                	<button type="button" id="btn-ingresar-proyecto" title="Ctrl+C" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#proyectosBusqueda">
                			<u>C</u>rear desde Proyecto <span class="glyphicon glyphicon-download-alt"></span>
                	</button>
                </div>
        	{% endif %}
        {% endif %}
        	
    	<form id="frm-expediente" action="api/expediente/save" method="POST">
    		<input type="hidden" id="idProyecto" name="idProyecto">
    		<input type="hidden" id="idTipoExpediente" name="idTipoExpediente">
    		<input type="hidden" id="idExpediente" name="idExpediente" value="{{ idExpediente }}">
    		<div class="row">
    			<div class="col-md-5">
    				<div class="row">
    					{# DATOS EXP. HCD #}
    					<div class="col-md-5">
    						<div class="form-group">
    							<label for="selTipoExpediente"><u>T</u>ipo</label> 
    							<select
    								class="form-control" id="selTipoExpediente"
    								name="selTipoExpediente" title="Alt+T">
    								<option value="0">Seleccione Tipo</option>
    								{% for tipo in tipos %}
    								<option value="{{ tipo.id }}" class="opcion-{{ tipo.letra }}">{{ tipo.tipoExpediente }}
    									- (
    									{{ tipo.letra }})
    								</option>
    								{% endfor %}
    							</select>
    						</div>
    					</div>
    					<div class="col-md-3">
    						<div class="form-group">
    							<label for="numeroExpediente"><u>N</u>° Exp.</label> 
    							<input type="text" class="form-control es-numero" id="numeroExpediente"
    								   title="Alt+N" name="numeroExpediente" placeholder="N° Expediente">
    						</div>
    					</div>
    					<div class="col-md-2">
    						<div class="form-group">
    							<label for="folios"><u>F</u>olios</label> <input type="text"
    								class="form-control es-numero" id="folios" name="folios"
    								placeholder="Folios" title="Alt+F">
    						</div>
    					</div>
    					<div class="col-md-2">
    						<div class="form-group">
    							<label for="añoIngreso"><u>A</u>ño</label> <input type="text"
    								class="form-control es-numero" id="añoIngreso" name="añoIngreso"
    								placeholder="Año" maxlength="4" title="Alt+A">
    						</div>
    					</div>
    					{# DATOS EXP. HCD #}
    				</div>
    			</div>
    			<div class="col-md-7">
    				<div class="row hidden expediente-particular">
    					{# DATOS DEMANDANTE EXP.PARTICULAR #}
    					<div class="col-md-2">
    						<div class="form-group">
    							<label for="documentoParticular"><u>D</u>ocumento</label> <input
    								type="text" id="documentoParticular" name="documentoParticular"
    								class="form-control text-center es-numero" maxlength="8" title="Alt+D">
    						</div>
    					</div>
    					<div class="col-md-5">
    						<div class="form-group">
    							<label for="apellidosParticular">A<u>p</u>ellidos</label> <input
    								type="text" id="apellidosParticular" name="apellidosParticular"
    								class="form-control" title="Alt+P">
    						</div>
    					</div>
    					<div class="col-md-5">
    						<div class="form-group">
    							<label for="nombresParticular">No<u>m</u>bres</label> <input type="text"
    								id="nombresParticular" name="nombresParticular"
    								class="form-control" title="Alt+M">
    						</div>
    					</div>
    					{# DATOS DEMANDANTE EXP. PARTICULAR #}
    				</div>
    				<div class="row hidden proyecto-concejal">
    					{# DATOS AUTORES EXP. LEGISLATIVO #}
    					<div class="col-md-12">
    						<div class="form-group">
    							<label for="concejal">Concejal</label>
    							<input type="text" class="form-control" id="concejal" name="concejal" disabled="disabled"> 
    						</div>
    					</div>
    					{# DATOS AUTORES EXP. LEGISLATIVO #}
    				</div>
    				<div class="row hidden ente-externo">
    					{# DATOS AUTORES EXP. DEL EJECUTIVO #}
    					<div class="col-md-4">
    						<div class="form-group">
    							<label for="selOrigen">Origen <u>E</u>xterno</label> <select
    								class="form-control" id="selOrigen" name="selOrigen" title="Alt+E">
    								<option value="0">Seleccione origen</option>
    								{% for oficina in oficinasExternas %}
    								<option value="{{ oficina.id }}">{{ oficina.oficina|capitalize }}</option>
    								{% endfor %}
    							</select>
    						</div>
    					</div>
    					<div class="col-md-8">
    						<div class="row">
    							<div class="col-md-6">
    								<label>Números Externos</label>
    							</div>
    							<div class="col-md-6">
    								<button type="button" class="btn btn-sm btn-primary pull-right"
    									id="btn-agregar-numeros-externos" title="Ctrl+A"
    									onclick="abrirModalExternos('nuevoExpediente','tabla-numeros');">
    									<u>A</u>gregar Número</button>
    							</div>
    						</div>
    						<div class="row">
    							<div class="col-md-12">
    								<table class="table table-striped table-fixed"
    									id="tabla-numeros">
    									<thead>
    										<th style="width: 15%">Ente</th>
    										<th style="width: 20%">Numero</th>
    										<th style="width: 10%">Letra</th>
    										<th style="width: 15%">Año</th>
    										<th style="width: 15%">Folios</th>
    										<th style="width: 15%">Cuerpos</th>
    										<th style="width: 10%"></th>
    									</thead>
    									<tbody>
    									</tbody>
    								</table>
    							</div>
    						</div>
    					</div>
    					{# DATOS AUTORES EXP. DEL EJECUTIVO #}
    				</div>
    			</div>
    		</div>
    		<div class="row">
    			<div class="col-md-5">
    				<div class="form-group">
    					<label for="caratula"><u>C</u>aratula</label>
    					<textarea class="form-control text-area-caratula" id="caratula"
    						name="caratula" placeholder="Caratula" title="Alt+C - ESC (Salir)"></textarea>
    				</div>
    			</div>
    			<div class="col-md-7">
    				<div class="form-group">
    					<label for="input-file">Archivos</label> <input id="input-file"
    						accept="image/*,application/pdf" name="input-file" type="file"
    						multiple class="file-loading">
    				</div>
    			</div>
    		</div>
    		<div class="row">
    			<div class="col-md-12">
    				<div class="text-center">
    					<div class="btn-group">
    						<button type="button" class="btn btn-info" title="Ctrl+E (Enfocar)"
    								id="btn-cancelar-expediente" >Canc<u>e</u>lar</button>
    						<button type="submit" class="btn btn-primary" title="Ctrl+G (Enfocar)"
    								id="btn-guardar-expediente"><u>G</u>uardar</button>
    					</div>
    				</div>
    			</div>
    		</div>
    	</form>
	</div>	
	<div id="proyectosBusqueda" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false"> 
		 	<div class="modal-dialog modal-lg">
			    <!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666;color:#FFF">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title">Proyectos no entrados</h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
				  
			        	<div class="row">
			        		<div class="col-md-12">
					        	<div class="form-group">
					        		<table class="table " id="proyectos">
					        			<thead>
						                	<tr>
						                		<th>id</th>
						                		<th>idTipoProyecto</th>
						                		<th>Ingresar</th>
								                <th>Tipo</th>
								                <th>Autores</th>
						                	</tr>
						                </thead>
						                <tbody>
						                </tbody>
						            </table>
					        	</div>
					        </div>
					    </div>
						
					</div>
					<div class="modal-footer" style="background-color:#ecf0f5">  	
				        <hr>
				        <div class="row">
				        	<div class="col-md-12">
				        		<div class="text-center">
					    			<div class="btn-group">
							        	<button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
							        </div>
						        </div>
						    </div>
			    		</div>
				     </div>
			    </div>
		  	</div>
		</div>
		<div id="numeroExterno" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" >
			<div class="modal-dialog">
			    <!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666	;color:#FFF">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title">Expediente Externo</h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
				    	<form role="form">
				    		<div class="row">
				    			<div class="col-md-10 col-md-offset-1">
				    				<div class="row">
        				    			<div class="col-md-12">
                				    		<div class="row">
                				    			<div class="col-md-2 col-nopadding">
                        				    		<div class="form-group text-center">
                        				    			<label for="enteOrigen">Ente</label>
                        				    			<input type="text" maxlength="4" class="form-control text-center es-numero" 
                        				    				   id="enteOrigen" name="enteOrigen" autofocus="autofocus">
                        				    		</div>
                        				    	</div>
                        				    	<div class="col-md-4 col-nopadding">
                        				    		<div class="form-group text-center">
                        				    			<label for="numeroOrigen">Numero</label>
                        				    			<input type="text" maxlength="8" 
                        				    			 class="form-control text-center es-numero" id="numeroOrigen" name="numeroOrigen">
                        				    		</div>
                        				    	</div>
                        				    	<div class="col-md-1 col-nopadding">
                        				    		<div class="form-group text-center">
                        				    			<label for="letraOrigen">Letra</label>
                        				    			<input type="text" maxlength="1" 
                        				    			 class="form-control text-center es-letra" id="letraOrigen" name="letraOrigen">
                        				    		</div>
                        				    	</div>
                        				    	<div class="col-md-2 col-nopadding">
                        				    		<div class="form-group text-center">
                        				    			<label for="añoOrigen">Año</label>
                        				    			<input type="text" maxlength="4" 
                        				    			 class="form-control text-center es-numero" id="añoOrigen" name="añoOrigen">
                        				    		</div>
                        				    	</div>
                        				    	<div class="col-md-2 col-nopadding">
                        				    		<div class="form-group text-center">
                        				    			<label for="foliosOrigen">Folios</label>
                        				    			<input type="text" maxlength="3" 
                        				    			 class="form-control text-center es-numero" id="foliosOrigen" name="foliosOrigen">
                        				    		</div>
                        				    	</div>
                        				    	<div class="col-md-1 col-nopadding">
                        				    		<div class="form-group text-center">
                        				    			<label for="cuerpos">Cuerpos</label>
                        				    			<input type="text" maxlength="2" 
                        				    			 class="form-control text-center es-numero" id="cuerpos" name="cuerpos">
                        				    		</div>
                        				    	</div>
                        				    </div>
                        				</div>
                        			</div>
                        		</div>
                			</div>
    				    	<div class="row">
    				    		<div class="col-md-12">
					        		<div class="text-center">
						    			<div class="btn-group">
								        	<button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
				       			 			<button type="button" class="btn btn-primary" id="btn-agregar-numero">Agregar</button>
								        </div>
							        </div>
							    </div>
    				    	</div>
				    	</form>
				    </div>
				</div>
			</div>
		</div>
		
	</section>
{% endblock %}