{% extends 'layout.html.twig' %}



{% block stylesheets %}
	{# parent() }#}
  	{% stylesheets '@css_datatables' %}
      	<link rel="stylesheet" href="{{ asset_url }}" /></link>
  	{% endstylesheets %}
{% endblock %}

{% block javascripts %}
	{# parent() #}
    {% javascripts '@js_datatables'%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
	<style type="text/css">
		@media (min-width: 768px) {
		  .modal-xl {
		    width: 95%;
		    max-width:1600px;
		  }
		}
			
		#respuestaInforme{
			z-index: 10000;
		}	
						
		#modalAltaSesion{
			z-index: 15000;
		}
				
		.toggle-on.btn{
			line-height: 22.5px!important;
		}
		.toggle-off.btn{
			line-height: 22.5px!important;
		}
					
		table {
            table-layout:fixed;
            width:100%;
            word-wrap:break-word;
        }
                      
        .table-fixed thead, .table-fixed tbody, .table-fixed tr, 
        .table-fixed td, .table-fixed th { 
        	display: block; 
        }
        .table-fixed tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }
        .table-fixed thead th {
            height: 30px;
        }
        .table-fixed tbody {
            height: 70px;
            overflow-y: auto;
        }
      	.table-fixed tbody tr td, .table-fixed thead th {
            width: 16.6%;
            float: left;
        }
              
	</style>
	<script type="text/javascript">

		function criterio(){
			var tipo=$("#selBusqueda").val();
			var valorRetorno;

			if(tipo=="todo" || tipo=="busqueda-7")
				valorRetorno="0";
			else{
					if (tipo=="busqueda-8")
						valorRetorno=$("#selSesionFiltro").val();
					else
						valorRetorno=$("#"+tipo).val();
				}
			
			
			return valorRetorno;	
		}
		
		function tipoCriterio(){
			return $("#selBusqueda").val();
		}
		
		function traerIdParaMovimientos(tipoMovimiento){
			return $("#"+tipoMovimiento).find('input[name="idExpediente"]').val();
		}

		function validarFolios(control){
			
			var valorControl=$(control).val();
			var idControl=$(control).attr("id");
			var minimoValor=$(control).attr("min");
			
			if (!$.isNumeric(valorControl)){
				toastr.error("El contenido ingresado en folios del expediente " +idControl+ " no es numérico");
				setTimeout(function(){
					   $("#"+idControl).select();
				},10);
			}
			else {
					
					if(parseInt(valorControl)<parseInt(minimoValor)){	
						toastr.error("El contenido ingresado en folios del expediente " +idControl+ " es menor al minimo");
						setTimeout(function(){
							   $("#"+idControl).select();
						},10);
					}
			}
		}

		function actualizarSesiones(control,valorSeleccionado,sesionPersistida){

			$.ajax({
				type:'Get',
				dataType: 'json	',
				url:'{{ app.request.getBaseURL() }}'+'/api/sesion/getLastByType',
				success: function(data){
					
					var html='<option value="0">Seleccione Sesion</option>';
					var pertenece=false
					
					if (sesionPersistida!=null){
						$.each(data, function(index,sesion){
							if (sesion.id==sesionPersistida.id) pertenece=true;
						});
					}else pertenece=true;

					if (pertenece==false)//no esta entre los próximos hábles es de 
										  //una sesion pasada. No debería pasar
					
						html+='<option value="'+sesionPersistida.id+'" selected >'+
								 sesionPersistida.fecha_muestra+'</option>';
						 					
					$.each(data, function(index,sesion){
						html+='<option value="'+sesion.id+'" '+
							  ((valorSeleccionado==sesion.id)?'selected':'') +'>'+sesion.fecha_formateada+'</option>';
					});
					
					$(control).html('');
					$(control).html(html);  
    							
				},
				error: function(jqXHR,textStatus,errorThrown ){
					toastr.error(JSON.parse(jqXHR.responseText));
				}
	      	});
		}

		$.fn.dataTableExt.oSort['custom-exp-asc'] = function(x, y) {
		    var datoX=x.split("-");
		    var datoY=y.split("-");
		    
		    if(datoX[2]<datoY[2]){
				
				return -1;
				
			}
			else {
    				if(datoX[2]>datoY[2])
    					return 1;
    				else {
    						if (datoX[0]>datoY[0])
    							return 1;
    				}
			}

		}

		$.fn.dataTableExt.oSort['custom-exp-desc'] = function(x, y) {
			var datoX=x.split("-");
		    var datoY=y.split("-");

		    if(datoX[2]<datoY[2]){
				return 1;
			}
			else {
    				if(datoX[2]>datoY[2])
    					return -1;
    				else {
    						if (datoX[0]>datoY[0])
    							return -1;
    				}
			}
		}

		

		$(document).ready(function () {

			var tablaGiros;

			var tablaInformes;
			
		    var tabla=$('#registroExpediente').DataTable({
		    			  "language": {
				              "infoEmpty": "Sin registros para mostrar",
				              "paginate": {
						          	"last": "Ultima Página",
						          	"first": "Primer página",
						          	"next": "Siguiente",
						          	"previous": "Anterior"
						       },
						       "search":"Búsqueda rápida",
						       "emptyTable": "Sin Datos",
						       "lengthMenu": 'Registros Listados <select class="form-control input-sm">'+
								             '<option value="10">10</option>'+
								             '<option value="20">20</option>'+
								             '<option value="30">30</option>'+
								             '<option value="40">40</option>'+
								             '<option value="50">50</option>'+
								             '<option value="-1">Todos</option>'+
								             '</select>',
								"loadingRecords": "Espere...cargando datos",
								"processing": "Procesando...",
								"sInfo": "Mostrando  _START_ a _END_ de _TOTAL_ registros",

			          	  },
					      "processing": false,
					      "ajax": {
							        "url": "api/expediente/getByCriteria/"+tipoCriterio()+"/"+criterio(),
			            			"dataSrc": '',
			            			"error": function (xhr, error, thrown) {
			            				$("#estadoFiltro").bootstrapToggle('off');
			            			    toastr.error(JSON.parse(xhr.responseText));
			            			}
							    },
						  "columnDefs": [
								            {
								                "targets": [ 0 ],
								                "visible": false,
								                "searchable": false
								            },
								            {
									            "targets": [ 1 ],
									            "data": null,
									            "orderable":false,
									            "render": function(data, type, row){
										            
										            var html="<div class='btn-group'>";
											        html+="<button type='button' title='Giros' class='btn btn-info btn-xs btn-giros' data-toggle='modal' data-target='#giros'><span class='glyphicon glyphicon-refresh'></span></button>";
											        html+="<button type='button' title='Informes' class='btn btn-info btn-xs btn-informes' data-toggle='modal' data-target='#informes'><span class='glyphicon glyphicon-list-alt'></span></button>";
											        if('{{ 'EXP_EDIT' in  app.user.listaPermisos }}' && row.permite_edicion==true)
									            		html+="<button type='button'title='Editar expediente' class='btn btn-primary btn-xs btn-editar'><span class='glyphicon glyphicon-pencil'></span></button> ";
										            if ('{{ 'EXP_ARCH' in  app.user.listaPermisos }}' && row.fecha_archivo_formateada=='' && 
												            row.permite_edicion==true && "{{ app.user.rol.oficina.id }}"== "9")
										            	html+="<button type='button'title='Archivar expediente' class='btn btn-danger btn-xs btn-archivar '><i class='fa fa-level-down' aria-hidden='true'></i></button> ";
										            if ('{{ 'EXP_DES_ARCH' in  app.user.listaPermisos }}' && row.fecha_archivo_formateada!=''
											            && row.numero_sancion=='')
											            html+="<button type='button'title='Desarchivar expediente' class='btn btn-success btn-xs btn-desarchivar '><i class='fa fa-level-up' aria-hidden='true'></i></button> ";
											        html+="</div>";
											       
											        											        
											        if('{{ 'EXP_SES_EDIT' in  app.user.listaPermisos }}'){
    											        
    											        html+="<div class='btn-group' style='padding-top:5px;'>";
    											        if (row.sesion!=""){
    											            
    														html+="<button type='button' class='btn btn-xs btn-success btn-editar-sesion' ";
    														html+=((row.permite_edicion==false || row.oficina_actual_externa==true)?"disabled":"")+">";
    														html+="<span>"+row.sesion.fecha_muestra;
    														html+= ((row.permite_edicion==false || row.oficina_actual_externa==true)
    																	?" <li class='fa fa-lock'></li>"
    																	:" <li class='fa fa-unlock'></li>");
    														html+="</span></button>";
    													
    									            	}
    								            		else{ 
    									            			html+="<button type='button' class='btn btn-xs btn-primary "+
    									            				  "btn-asignar-sesion' >Asignar Sesión</button>";
    									            		}
    											        html+="</div>";
											       }
														
									            	return html;
									            }
									        },
									       {
									            "targets": [ 4 ],
									            "data": "numero_sancion",
									            "orderable":false,
									            "render": function(data, type, row){
										            var html="<div class='text-center'>"+
										            		 "<h4><span class='label label-success'>"+row.numero_sancion+"</span></h4>"+
										            		 "</div>";
									            	return html;
									            }
									        },
									        {
									            "targets": [ 5 ],
									            "data": "fecha_creacion_formateada",
									            "orderable":true,
									            "render": function(data, type, row){
										            var html="";
										            if('{{ app.user.rol.rol}}'=="ROLE_ADMINISTRADOR" && 
												        '{{ 'EXP_FEC_ING_EDIT' in  app.user.listaPermisos }}' &&
												        row.permite_edicion==true
												       )
									            		html+="<button type='button'title='Editar Fecha' class='btn btn-primary btn-xs btn-editar-fecha' data-toggle='modal' data-target='#modalFechaIngreso'><span class='glyphicon glyphicon-pencil'></span></button> ";
									            		html+=data
									            	return html;
									            }
									        },
								            {
									            "targets": [ 6 ],
									            "data": 'oficina_actual',
									            "orderable":true,
									            "render": function(data, type, row){
									            	var html="<div>";
									            	if(data=="COMISIONES"){
										            	if(row.lista_comisiones_asignadas.length>0)
    											        	html+= "<span style='color:#367fa9' class='glyphicon glyphicon-info-sign' title='"
    													              +row.lista_comisiones_asignadas
    													              +"'></span>  "+data;

    											       if(row.comision_reserva!="")
        											        html+= "<span style='color:#367fa9' class='glyphicon glyphicon-info-sign' title='"
        													           +row.comision_reserva
        													           +"'></span>  "+data; 

									            	}
													else{   
															         
        									            	if (("{{ app.user.rol.oficina is null}}" || "{{ app.user.rol.oficina.id }}"== "9" ) 
                									            	&& row.oficina_actual_externa && '{{ 'EXP_RETURN' in app.user.listaPermisos }}'){
        	    												html+="<button type='button' title='Retornar a HCD' class='btn btn-primary btn-xs btn-retorno'"+
        	    													  " data-toggle='modal' data-target='#retornoExterno'>" +
        	    						             		  	  	  "<span class='glyphicon glyphicon-repeat'></span></button>  "+data;
        									            	}
        	    						             		else html+=data;
														}
													html+="</div><div style='padding-top: 9px'><span class='label"+
														  ((row.fecha_archivo_formateada=='')?" label-info'>":" label-danger'>")+
														  row.estado+' '+row.fecha_archivo_formateada+"</span></div>";
									            	return html;
									            }
									        },
									        {
									            "targets": [ 7 ],
									            "data": null,
									            "orderable":true,
									            "render": function(data, type, row){
										            var html="";
										  
										            if (row.ultimo_momento==true && '{{ 'EXP_ULT_MOM' in  app.user.listaPermisos }}')
											            html+="<button type='button'title='Quitar de Ultimo Momento' "+
											            	  "class='btn btn-danger btn-xs btn-quitar-u' "+
											            	  ((row.permite_edicion==false)?'disabled':'')+">"+
											            	  "<span class='glyphicon glyphicon-remove-sign'></span></button> ";
											        
									            	return html;
									            }
									        },
								            {
									            "targets": [ 8 ],
									            "data": 'caratula_muestra',
									            "orderable":true,
									            "render": function(data, type, row){
										            var html="";
									            	html+="<span title='"+row.caratula_sin_html+"'>"+data+"</span>";
									            	 if ('{{'EXP_DOWNLOAD' in  app.user.listaPermisos }}')
												        	html+="<button type='button' title='Descargar Documento' class='btn btn-info btn-xs btn-descargar'><span class='glyphicon glyphicon-save-file'></span></button>";
									            	return html;
									            }
									        }									       
						  ],
					      "columns": [
					      		{ "data": "id" },
					      		{ "data": "null","width":"10%"},
					      		{ "data": "numero_completo","width":"10%","sType":"custom-exp"},
					            { "data": "tipo_expediente","width":"10%" },
					            { "data": "numero_sancion","width":"7%" },
					            { "data": "fecha_creacion_formateada","width":"10%" },
					            { "data": "oficina_actual","width":"23%" },
					            { "data": "null","width":"4%" },
					            { "data": "caratula_muestra", "width": "26%"},
					        ],
					      "autoWidth":false,
					      "paging": true,
					      "lengthChange": true,
					      "searching": true,
					      "ordering": true,
					      "info": true,
					      "autoWidth": false,
				});
		    
		  	//EVENTO BOTON EDITAR EXPEDIENTE EN GRILLA
		    $('#registroExpediente tbody').on( 'click', '.btn-editar', function () {
		        var data = tabla.row( $(this).parents('tr') ).data();
		        //$("#modificacionExpediente").find('input[name="id"]').val(data[ "id" ]);
		        cargarMenuConParametro('/expediente_a_m','id',data[ "id" ]);
		    } );

			//EVENTO BOTÓN DESCARGAR EXPEDIENTE
		    $('#registroExpediente tbody').on( 'click', '.btn-descargar', function () {
		        var data = tabla.row( $(this).parents('tr') ).data();
		        window.location.href='{{ app.request.getBaseURL() }}'+
		        					 '/imprimirExpediente?idExpediente='+data[ "id" ];
		    } );

		    //EVENTO EDITAR SESION
		    $('#registroExpediente tbody').on( 'click', '.btn-editar-sesion', function () {
		        var data = tabla.row( $(this).parents('tr') ).data();
		        $("#modalSesion").find('input[name="idExpediente"]').val(data[ "id" ]);
		        actualizarSesiones($("#selSesionAsignacion"),data['sesion']['id'],data['sesion']);
		        $("#modalSesion").modal('show');
		        
		    } );
	
		  	//EVENTO ASIGNAR SESION
		    $('#registroExpediente tbody').on( 'click', '.btn-asignar-sesion', function () {
		        var data = tabla.row( $(this).parents('tr') ).data();
		        $("#modalSesion").find('input[name="idExpediente"]').val(data[ "id" ]);
		        actualizarSesiones($("#selSesionAsignacion"),0,null);
		        $("#modalSesion").modal('show');
		        
		    } );

		   //EVENTO QUITAR ULTIMO MOMENTO
		    $('#registroExpediente tbody').on( 'click', '.btn-quitar-u', function () {
		        var data = tabla.row( $(this).parents('tr') ).data();
		        var id=data[ "id" ];
		        
		        $.ajax({

					type:'PATCH',
					dataType: 'json	',
					url:'{{ app.request.getBaseURL() }}/api/expediente/editUltimoMomento/'+id,
					success: function(data){
						toastr.success(data);
						tabla.ajax.reload();;
					},
					error: function(jqXHR,textStatus,errorThrown ){
						toastr.error(JSON.parse(jqXHR.responseText));
					}
		     	});
		        
		    });

			//EVENTO ARCHIVAR
		    $('#registroExpediente tbody').on('click','.btn-archivar',function(){

				var data = tabla.row( $(this).parents('tr') ).data();
				var id = data[ "id" ];
				$.ajax({

					type:'POST',
					dataType: 'json	',
					url:'{{ app.request.getBaseURL() }}/api/expediente/archivar/'+id,
					success: function(data){
						toastr.success(data);
						tabla.ajax.reload();;
					},
					error: function(jqXHR,textStatus,errorThrown ){
						toastr.error(JSON.parse(jqXHR.responseText));
					}
		     	});
			})
			
			//EVENTO DESARCHIVAR
			$('#registroExpediente tbody').on('click','.btn-desarchivar',function(){
				
				var data = tabla.row($(this).parents('tr') ).data();
				var id = data[ "id" ];
				$.ajax({

					type:'POST',
					dataType: 'json	',
					url:'{{ app.request.getBaseURL() }}/api/expediente/desarchivar/'+id,
					success: function(data){
						toastr.success(data);
						tabla.ajax.reload();;
					},
					error: function(jqXHR,textStatus,errorThrown ){
						toastr.error(JSON.parse(jqXHR.responseText));
					}
		     	});
			})

			//EVENTO BOTÓN RETORNO EXPEDIENTE
		    $('#registroExpediente tbody').on( 'click', '.btn-retorno', function () {
		        var data = tabla.row( $(this).parents('tr') ).data();
		        $("#retornoExterno").find('input[name="idExpediente"]').val(data[ "id" ]);
		        var html="<div class='form-group'>"+
			        	 "<label for='foliosRetorno'>Folios Actuales</label>" +
			        	 "<input type='number' class='form-control text-center es-numero' min='"+data[ "folios" ]+
			        	 "' onblur='validarFolios(this);'" +
				    	 "id='foliosRetorno' name='foliosRetorno' value='"+data[ "folios" ]+"'>"+
				    	 "</div>";
				$("#retornoExterno").find('div[id="col-folios"]').html(html);
				$("#retornoExterno").find('legend[id="leyenda-retorno"]').html("Exp.: " + data[ "numero_completo" ]);
		    } );

			//EVENTO CERRAR MODAL RETORNO
		    $('#retornoExterno').on('hidden.bs.modal', function () {
		    	$("#retornoExterno").find('input[name="idExpediente"]').val("");
		    	$("#retornoExterno").find('input[name="fechaRetorno"]').val("");
		    	$("#retornoExterno").find('input[name="numeroRemitoRetorno"]').val("");
			});

			//BOTÓN GUARDAR RETORNO
			$("#btn-retorno-hcd").click(function(){

				$("#btn-retorno-hcd").prop("disabled",true);
				var idExpediente=$("#retornoExterno").find('input[name="idExpediente"]').val();
				var folios=$("#retornoExterno").find('input[name="foliosRetorno"]').val();
				var fecha=$("#retornoExterno").find('input[name="fechaRetorno"]').val();
				var numeroRemito=$("#retornoExterno").find('input[name="numeroRemitoRetorno"]').val();
				
				var formData=new FormData();

				var validacion='';

				formData.append('idExpediente',idExpediente);
	            	
				formData.append('folios',folios);
	            validacion+=((folios=='')?'<li>Debe indicar la cantidad de folios</li>':'');
	              	
	            formData.append('fecha',fecha);
              	validacion+=((fecha=='')
                      		  ?'<li>Debe indicar la fecha de recepción</li>':'');

      		  	formData.append('numeroRemito',numeroRemito);
      		  	validacion+=((numeroRemito.length==0)
      	      		  		  ?'<li>Debe indicar un numero de remito</li>':'');
					
		            if (validacion.length>0) 
					{
						validacion=((validacion.length>0)?'<strong>Validacion de Datos</strong><br><ul>'+
									validacion+'</ul>':'');
						toastr.error(validacion);
						$(this).prop("disabled", false);
						return false;
					}
					else{ 
        				$.ajax({
        	                async: true,
        	                url: '{{ app.request.getBaseURL() }}/api/expediente/setRetornoExterno',
        	                data: formData,
        	                contentType: false,
        	                cache: false,
    		                processData: false,
        	                type:  'POST',
                        success: function(data) {
                            toastr.success(data);
        					tabla.ajax.reload();
        					$("#retornoExterno").modal('hide');
                        	},
                        complete:function(){
                        	$("#btn-retorno-hcd").prop("disabled", false);
                        },
                        error: function(jqXHR,textStatus,errorThrown ){
        					toastr.error(JSON.parse(jqXHR.responseText));
        					}
                    	});
					}
			});
		    			
			//------------------------------------------------------------------------------------------------------------
			//----------------------------------GIROS DE LOS EXPEDIENTES--------------------------------------------------
			//------------------------------------------------------------------------------------------------------------

			//EVENTO BOTON GIROS DE LA GRILLA
		    $('#registroExpediente tbody').on( 'click', '.btn-giros', function () {
		        var data = tabla.row( $(this).parents('tr') ).data();
		        $("#giros").find('input[name="idExpediente"]').val(data[ "id" ]);
		    } );
			
		  	//EVENTO ABRIR MODAL DE GIROS
			$('#giros').on('show.bs.modal', function () {

				tablaGiros=$('#tablaGiros').DataTable({
        	    			"language": {
        			              "infoEmpty": "Sin registros para mostrar",
        			              "paginate": {
        					          	"last": "Ultima Página",
        					          	"first": "Primer página",
        					          	"next": "Siguiente",
        					          	"previous": "Anterior"
        					       },
        					       "search":"Búsqueda rápida",
        					       "emptyTable": "Sin Datos",
        					       "lengthMenu": 'Registros Listados <select class="form-control input-sm">'+
        							             '<option value="10">10</option>'+
        							             '<option value="20">20</option>'+
        							             '<option value="30">30</option>'+
        							             '<option value="40">40</option>'+
        							             '<option value="50">50</option>'+
        							             '<option value="-1">Todos</option>'+
        							             '</select>',
        							"loadingRecords": "Espere...cargando datos",
        							"processing": "Procesando...",
        							"sInfo": "Mostrando  _START_ a _END_ de _TOTAL_ registros",
        
        		          	  },
        				      "processing": false,
        				      "ajax": {
        						        "url": "api/expediente/getGirosByExpediente_Id/"+traerIdParaMovimientos("giros"),
        		            			"dataSrc": '',
        						    },
        					  "columnDefs": [
        							            {
        							                "targets": [ 0 ],
        							                "visible": false,
        							                "searchable": false
        							            },
        							            {
        							                "targets": [ 1 ],
        							                "data": 'numero_remito',
        							                "visible": true,
        							                "orderable":true,
        							                "render": function(data, type, row){
        							                	return ((!data==0)?data:"");
										            },
        							                
        							            },
        							            
        					  ],
        				      "columns": [
        				      		{ "data": "id" },
        				      		{ "data": "numero_remito","width":"9%"},
        				      		{ "data": "origen","width":"15%"},
        				      		{ "data": "fecha_envio","width":"8%"},
        				      		{ "data": "destino","width":"15%"},
        				      		{ "data": "observacion","className": "for-mobile","width":"32%" },
        				      		{ "data": "fojas","width":"5%" },
        				            { "data": "fecha_recepcion","className": "for-mobile","width":"8%" },
        				            { "data": "remito_retorno","width":"8%"}
        				        ],
        				      "autoWidth":false,
        				      "paging": true,
        				      "lengthChange": true,
        				      "searching": true,
        				      "ordering": true,
        				      "info": true,
        			});

				
                				
			});

			//EVENTO CERRAR MODAL DE GIROS
			$('#giros').on('hidden.bs.modal', function () {
				tablaGiros.destroy();
			});

			//------------------------------------------------------------------------------------------------------------
			//-----------------------------SOLICITUD DE INFORMES LOS EXPEDIENTES------------------------------------------
			//------------------------------------------------------------------------------------------------------------

			//EVENTO BOTON INFORMES DE LA GRILLA
		    $('#registroExpediente tbody').on( 'click', '.btn-informes', function () {
		        var data = tabla.row( $(this).parents('tr') ).data();
		        $("#informes").find('input[name="idExpediente"]').val(data[ "id" ]);
		    } );
			
		  	//EVENTO ABRIR MODAL INFORMES
			$('#informes').on('show.bs.modal', function () {

				tablaInformes=$('#tablaInformes').DataTable({
                   			  	  "language": {
                		              "infoEmpty": "Sin registros para mostrar",
                		              "paginate": {
                				          	"last": "Ultima Página",
                				          	"first": "Primer página",
                				          	"next": "Siguiente",
                				          	"previous": "Anterior"
                				       },
                				       "search":"Búsqueda rápida",
                				       "emptyTable": "Sin Datos",
                				       "lengthMenu": 'Registros Listados <select class="form-control input-sm">'+
                						             '<option value="10">10</option>'+
                						             '<option value="20">20</option>'+
                						             '<option value="30">30</option>'+
                						             '<option value="40">40</option>'+
                						             '<option value="50">50</option>'+
                						             '<option value="-1">Todos</option>'+
                						             '</select>',
                						"loadingRecords": "Espere...cargando datos",
                						"processing": "Procesando...",
                						"sInfo": "Mostrando  _START_ a _END_ de _TOTAL_ registros",
                
                	          	  },
                			      "processing": false,
                			      "ajax": {
                					        "url": "api/expediente/getInformesByExpediente_Id/"+traerIdParaMovimientos("informes"),
                	            			"dataSrc": '',
                					    },
                				  "columnDefs": [
                						            {
                						                "targets": [ 0 ],
                						                "visible": false,
                						                "searchable": false
                						            },
                						            {
            							                "targets": [ 1 ],
            							                "data": 'observacion',
            							                "visible": true,
            							                "orderable":true,
            							                "render": function(data, type, row){
                							                		var html="";
                							                		if (data!="")
                							                			html+="<span title='"+data+"'>"+
                							                				  "<i class='fa fa-commenting-o' aria-hidden='true'></i>"+
                							                				  "</span>";
                        							                return html;
            										               },
                						            },
                						            {
            							                "targets": [ 2 ],
            							                "data": 'numero_remito',
            							                "visible": true,
            							                "orderable":true,
            							                "render": function(data, type, row){
                        							                return ((!data==0)?data:"");
            										               },
                						            },
                						            {
            							                "targets": [ 8 ],
            							                "data": 'fecha_respuesta',
            							                "visible": true,
            							                "orderable":true,
            							                "render": function(data, type, row){

                    							            	
                							                	if (("{{ app.user.rol.oficina is null }}" || "{{ app.user.rol.oficina.id }}"== "9" ) 
                    									            	 && data=="" && '{{ "EXP_REPORT_RETURN" in app.user.listaPermisos}}'
                    									            	 && row.tipo=="notificacion"){
            	    												return "<button type='button' title='Ingresar Fecha Respuesta' "+
            	    													   "class='btn btn-primary btn-xs btn-respuesta-informe'"+
            	    													   " data-toggle='modal' data-target='#respuestaInforme'>" +
            	    						             		  	  	   "<span class='glyphicon glyphicon-paperclip'></span></button>";
            									            	}
                							                	else
                    							                	return data;
            							                		 
        										               },
                						            }
                							       
                				  ],
                			      "columns": [
                        			      		{ "data": "id" },
                        			      		{ "data": "observacion","width":"4%"},
                        			      		{ "data": "numero_remito","width":"9%" },
                        			      		{ "data": "tipo","width":"9%"},
                        			      		{ "data": "destino","width":"18%"},
                        			      		{ "data": "comision","width":"18%"},
                        			      		{ "data": "fecha_envio","width":"8%"},
                        			      		{ "data": "fecha_recepcion","width":"8%"},
                        			      		{ "data": "fecha_respuesta","width":"8%"},
                        			      		{ "data": "remito_retorno","width":"8%"}
                            			     ],
                			      "autoWidth":false,
                			      "paging": true,
                			      "lengthChange": true,
                			      "searching": true,
                			      "ordering": true,
                			      "info": true,
                		});			
			});

			//BOTON INGRESAR RESPUESTA DE LA GRILLA DE INFORMES
			$('#tablaInformes tbody').on( 'click', '.btn-respuesta-informe', function () {
		        var data = tablaInformes.row( $(this).parents('tr') ).data();
		        $("#respuestaInforme").find('input[name="idInforme"]').val(data[ "id" ]);
		        $("#respuestaInforme").find('input[name="numeroRemitoInforme"]').val("");
		        $("#respuestaInforme").find('input[name="fechaRespuesta"]').val("");
		        actualizarSesiones($("#selSesionRespuesta"),0,null);
		    } );

			//EVENTO CERRAR MODAL DE INFORMES
			$('#informes').on('hidden.bs.modal', function () {
				tablaInformes.destroy();
			});
				
			//BOTON GUARDAR RESPUESTA DE INFORME
			$("#btn-respuesta-informe").click(function(){

				$(this).prop("disabled", true);
				
				var validacion="";
				var formData=new FormData();
				var idInforme =$("#respuestaInforme").find('input[name="idInforme"]').val();
				var fecha=$("#respuestaInforme").find('input[name="fechaRespuesta"]').val();
				var numeroRemito=$("#respuestaInforme").find('input[name="numeroRemitoInforme"]').val();
				var	idSesion=$("#respuestaInforme").find('select[name="selSesionRespuesta"]').val();
								
				formData.append('idInforme',idInforme);
				formData.append('fecha',fecha);;
				validacion=((fecha=="") ?'<li>Debe seleccionar una fecha</li>':'');
				formData.append('numeroRemito',numeroRemito);
				validacion+=((numeroRemito.length==0)
						 	  ?'<li>Debe indicar un numero de remito</li>':'');
				formData.append('idSesion',idSesion)
				validacion+=((idSesion==0)
						 	  ?'<li>Debe seleccionar una sesión</li>':'');
				
                if (validacion.length>0) 
        		{
        			validacion=((validacion.length>0)?'<strong>Validacion de Datos</strong><br><ul>'+
        						validacion+'</ul>':'');
        			toastr.error(validacion);
        			$(this).prop("disabled", false);
        			return false;
        		}
        		else{
        
                	$.ajax({
                        async: true,
                        url: '{{ app.request.getBaseURL() }}' + '/api/expediente/updateRespuestaInforme' ,
                        data: formData,
                        cache: false,
                        contentType: false,
                        processData: false,
                        type: 'POST',
                    success: function(data) {
                        toastr.success(data);
                        tablaInformes.ajax.reload();
        				$('#respuestaInforme').modal('hide');
                    	},
                    complete: function(){
                    	$("#btn-respuesta-informe").prop("disabled", false);
                    },
                    error: function(jqXHR,textStatus,errorThrown ){
        				toastr.error(JSON.parse(jqXHR.responseText));
        				}
                	});
                }
				
			});

			//------------------------------------------------------------------------------------------------------------
			//-------------------------------------------ALTA DE SESIÓN---------------------------------------------------
			//------------------------------------------------------------------------------------------------------------

			$("#modalAltaSesion").on('show.bs.modal', function () {
				$("#selTipoSesion").val(0);
				$("#fecha").val("");
				$("#descripcion").val("");
			});

			$("#btn-guardar-alta-sesion").click(function(){

				$(this).prop("disabled",true);
				var formData=new FormData();

				var control=$("#modalAltaSesion").find('input[name="control"]').val();
				var idSesion=$("#modalAltaSesion").find('input[name="id"]').val();
				var idTipoSesion=$("#selTipoSesion").val();
              	var fecha=$("#fecha").val();
              	var descripcion=$("#descripcion").val();
              	
                var validacion='';
                
                formData.append('idTipoSesion',idTipoSesion);
                validacion+=((idTipoSesion==0)?'<li>Debe seleccionar un tipo de sesion</li>':'');
            	
              	formData.append('fecha',fecha);
              	validacion+=((fecha=="")?'<li>Debe indicar una fecha para la sesión</li>':'');
                            	
              	formData.append('descripcion',descripcion);
              	validacion+=((descripcion.replace(/ |\n/g, '').length==0)
                      		 ?'<li>Debe especificar una descripción</li>':'');
            				  				
	            if (validacion.length>0) 
				{
					validacion=((validacion.length>0)?'<strong>Validacion de Datos</strong><br><ul>'+
								validacion+'</ul>':'');
					toastr.error(validacion);
					$(this).prop("disabled", false);
					return false;
				}
				else{

	            	$.ajax({
		                async: true,
		                url: '{{ app.request.getBaseURL() }}'+'/api/sesion/save',
		                data: formData,
		                cache: false,
		                contentType: false,
		                processData: false,
		                type:  'POST',
	                success: function(data) {
	                    toastr.success(data);
	                    actualizarSesiones($("#"+control),0,null);
						$('#modalAltaSesion').modal('hide');
	                	},
	                complete:function(){
	                	$("#btn-guardar-alta-sesion").prop("disabled", false);
	                },
	                error: function(jqXHR,textStatus,errorThrown ){
						toastr.error(JSON.parse(jqXHR.responseText));
						}
	            	});
	            }
			});

			//------------------------------------------------------------------------------------------------------------
			//--------------------------------------------EDICION DE SESION-----------------------------------------------
			//------------------------------------------------------------------------------------------------------------
			
			$("#btn-guardar-sesion").click(function(){

				$(this).prop("disabled",true);
				var formData=new FormData();

				var idSesion=$("#modalSesion").find('select[name="selSesionAsignacion"]').val();
				var idExpediente=$("#modalSesion").find('input[name="idExpediente"]').val();
				              	
                var validacion='';
                
                validacion+=((idSesion==0)?'<li>Debe seleccionar una sesion</li>':'');
                        				  				
	            if (validacion.length>0) 
				{
					validacion=((validacion.length>0)?'<strong>Validacion de Datos</strong><br><ul>'+
								validacion+'</ul>':'');
					toastr.error(validacion);
					$("#btn-guardar-sesion").prop("disabled", false);
					return false;
				}
				else{

					formData.append('idSesion',idSesion);
	                formData.append('idExpediente',idExpediente);

	            	$.ajax({
		                async: true,
		                url: '{{ app.request.getBaseURL() }}'+'/api/expediente/modificarSesion',
		                data: formData,
		                cache: false,
		                contentType: false,
		                processData: false,
		                type:  'POST',
	                success: function(data) {
	                    toastr.success(data);
	                    tabla.ajax.reload();
						$('#modalSesion').modal('hide');
	                	},
	                complete:function(){
	                	$("#btn-guardar-sesion").prop("disabled", false);
	                },
	                error: function(jqXHR,textStatus,errorThrown ){
						toastr.error(JSON.parse(jqXHR.responseText));
						}
	            	});
	            }
			});
			
			//------------------------------------------------------------------------------------------------------------
			//----------------------------------------EDICION FECHA DE INGRESO--------------------------------------------
			//------------------------------------------------------------------------------------------------------------
			
			 $('#registroExpediente tbody').on( 'click', '.btn-editar-fecha', function () {
		        var data = tabla.row( $(this).parents('tr') ).data();
		        $("#modalFechaIngreso").find("input[name='idExpediente']").val(data[ "id" ]);
		        $("#modalFechaIngreso").find("input[name='fechaIngreso']").val("");
		    } );
						
			$("#btn-guardar-fecha").click(function(){	
				
				$("#btn-guardar-fecha").prop("disabled",true);
				var formData=new FormData();
				var idExpediente=$("#modalFechaIngreso").find('input[name="idExpediente"]').val();
              	var fecha=$("#fechaIngreso").val();
              	
                var validacion='';
                
                validacion+=((fecha=="")?'<li>Debe indicar la nueva fecha de ingreso</li>':'');
                            				  				
	            if (validacion.length>0) 
				{
					validacion=((validacion.length>0)?'<strong>Validacion de Datos</strong><br><ul>'+
								validacion+'</ul>':'');
					toastr.error(validacion);
					$("#btn-guardar-fecha").prop("disabled", false);
					return false;
				}
				else{

					formData.append('fecha',fecha);
	              	formData.append('idExpediente',idExpediente);

	            	$.ajax({
		                async: true,
		                url: '{{ app.request.getBaseURL() }}/api/expediente/upateFechaIngreso',
		                data: formData,
		                cache: false,
		                contentType: false,
		                processData: false,
		                type:  'POST',
	                success: function(data) {
	                    toastr.success(data);
	                    tabla.ajax.reload();
						$('#modalFechaIngreso').modal('hide');
	                	},
	                complete:function(){
	                	$("#btn-guardar-fecha").prop("disabled", false);
	                },
	                error: function(jqXHR,textStatus,errorThrown ){
						toastr.error(JSON.parse(jqXHR.responseText));
						}
	            	});
	            }
			});
			
		    //------------------------------------------------------------------------------------------------------------
			//---------------------------------INICIALIZACIÓN DE CONTROLES------------------------------------------------
			//------------------------------------------------------------------------------------------------------------

			$("#selAñoFiltro").change(function(){

				var periodo=$(this).val();

				if (periodo==0)
					$("#selSesionFiltro").html('<option value="0">Seleccione Sesion</option>');
				else {
    					$.ajax({
        					type:'Get',
        					dataType: 'json	',
        					url:'{{ app.request.getBaseURL() }}'+'/api/sesion/getAllByPeriodo/'+periodo,
        					success: function(data){
        						$("#selSesionFiltro").html('');
        						var html='<option value="0">Seleccione Sesion</option>'
        						$.each(data, function(index,sesion){
        							html+='<option value="'+sesion.id+'">'+sesion.fecha_formateada+'</option>';
        						}); 
        						$("#selSesionFiltro").html(html);    			
        					},
        					error: function(jqXHR,textStatus,errorThrown ){
        						toastr.error(JSON.parse(jqXHR.responseText));
        					}
        		      	});
				}

			});
			
			$("#btn-nueva-sesion-asignacion").click(function(){
				$("#modalAltaSesion").find('input[name="control"]').val("selSesionAsignacion");
				$("#modalAltaSesion").modal('show');
			});
			
			/* $("#selTipoExpediente").change(function(){
				mostrarOrigenParaNuevo($(this).val());
			}); */

			/* $("#selTipoExpedienteMod").change(function(){
				mostrarOrigenParaEdicion($(this).val());
			}); */

			/* $('#input-file-Mod').on('filebatchselected', function(event, files) {
			    $.each(files,function(index,file){
			    	archivosASubir.push(file.name);
			    });
			});

			$('#input-file-Mod').on('filecleared', function(event) {
			   archivosASubir.length=0
			}); */

			$('#estadoFiltro').bootstrapToggle({
		      on:  'Activo',
		      off: 'Inactivo',
		      offstyle: 'primary',
		      onstyle: 'success',
		      width: "80px",
		      height: "35px"
		    });
 			
			$(".busqueda").addClass('hidden');
			$("#selBusqueda").val("todo");
			$('#estadoFiltro').bootstrapToggle('disable');

			$("#selBusqueda").change(function(){

				var control=$(this).val();
				$(".busqueda").addClass('hidden');
				if(control!="todo" && control!="busqueda-7")
					if (control=="busqueda-8")
						$(".sesion").removeClass('hidden');
					else
						$("#"+control).removeClass('hidden');
				else{
					$("#busqueda-1").val("");
					$("#busqueda-2").val("0");
					$("#busqueda-3").val("");
					$("#busqueda-4").val("0");
					$("#selAñoFiltro").val("0");
					$("#selAñoFiltro").change();
				}
			});

			$("#btn-busqueda").click(function(){
				
				if(($("#selBusqueda").val()=="todo" || $("#selBusqueda").val()=="busqueda-7") || (criterio()!="" && criterio()!="0"))
				{
					tabla.ajax.url("api/expediente/getByCriteria/"+tipoCriterio()+"/"+criterio()).load();
					$(".filtro").prop('disabled',true);
					$('#estadoFiltro').bootstrapToggle('enable');
					$("#estadoFiltro").bootstrapToggle('on');
				}
			});

			$('#estadoFiltro').change(function() {
				if(!$(this).is(':checked')){
					$(".filtro").prop('disabled',false);
					$("#selBusqueda").val("todo").change();
					$(".filtro").prop('disabled',false);
					tabla.ajax.url("api/expediente/getByCriteria/"+tipoCriterio()+"/"+criterio()).load();
					$(this).bootstrapToggle('disable');
					
				}
			});

			$(".campo-fecha").datetimepicker({
		    	locale: 'es',
		    	format:'DD/MM/YYYY',
		    	maxDate : 'now'
		    });

			$(".campo-fecha-futura").datetimepicker({
		    	locale: 'es',
		    	format:'DD/MM/YYYY',
		    	minDate : 'now'
		    });

			$('#fechaIngresoExpediente').datetimepicker({
		    	locale: 'es',
		    	format:'DD/MM/YYYY',
		    	maxDate : 'now'
		    });

		    $(".es-numero").on('keypress',function(event){
			    console.log(event.which);
		    	if ( ( event.which < 48 || event.which > 57 ) &&  
				      event.which != 0  &&
				      event.which != 8) 
				 {
		    		return false;
		    	 }
			});

			$(".es-letra").on('keypress',function(event){
			    var regexpr=/[A-Za-z]/;
		    	if (!regexpr.test(event.key))
				 {
		    		return false;
		    	 }
			});

			$("#busqueda-3").keydown(function(event){
				if (event.which==111)
					return false;			
			})
			
	});
	</script>
	<section class="content-header">
		<div class="row pull-right">
			<ol class="breadcrumb">
		        <li><a href="#"><i class="fa fa-dashboard"></i> Principal</a></li>
		        <li>{{ menuPadre | capitalize }}</li>
		        <li class="active">
		        	{% if gestionaExpedientes==1 %}
		        		Gestión Expedientes
		        	{% else %}	
		        		Listado Expedientes
		        	{% endif %}
		        </li>
		        
		    </ol>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-3">
				<h2>
			        {% if gestionaExpedientes==1 %}
		        		Gestión de Expedientes
		        	{% else %}	
		        		Listado Expedientes
		        	{% endif %}
			    </h2>
			</div>
			<div class="col-md-8 col-md-offset-1">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<label class="navbar-brand">Filtro</label>
						</div>
						<div class="collapse navbar-collapse">
							<div>
								<form class="navbar-form navbar-left">
									<div class="form-group">
										<div class="form-group text-center">
											<input type="checkbox" id="estadoFiltro" data-size="normal"/>
							        	</div> 
										<button type="button" class="btn btn-primary filtro" id="btn-busqueda">Aplicar</button>
										<select class="form-control filtro" id="selBusqueda">
											<option value="todo">Todo</option>
											<option value="busqueda-1">Autor</option>
											<option value="busqueda-2">Estado</option>
											<option value="busqueda-3">Número Expediente</option>
											<option value="busqueda-4">Tipo de Expediente</option>
											<option value="busqueda-5">Nombres Particular</option>
											<option value="busqueda-6">DNI Particular</option>
											<option value="busqueda-7">Archivados</option>
											<option value="busqueda-8">Sesión</option>
										</select>
										<input class="form-control busqueda hidden filtro" id="busqueda-1"/>
										<select class="form-control busqueda hidden filtro" id="busqueda-2">
											<option value="0">Seleccione Estado</option>
											{% for estado in estados %}
								                <option value="{{ estado.id }}">{{ estado.estadoExpediente }}</option>
								            {% endfor %}
										</select>
										<input class="form-control busqueda hidden filtro" id="busqueda-3" placeholder="ej.: 1-17,100-18"/>
										<select class="form-control busqueda hidden filtro" id="busqueda-4">
											<option value="0">Seleccione Tipo</option>
											{% for tipo in tipos %}
								                <option value="{{ tipo.id }}">{{ tipo.tipoExpediente }} - ({{ tipo.letra }})</option>
								            {% endfor %}
										</select>
										<input class="form-control busqueda hidden filtro" id="busqueda-5"/>
										<input class="form-control busqueda hidden filtro" id="busqueda-6"/>
										<select class="form-control busqueda hidden filtro sesion" id="selAñoFiltro">
											<option value="0">Seleccione Año</option>
											{% for año in años %}
								                <option value="{{ año }}">{{ año }}</option>
								            {% endfor %}
										</select>
										<select class="form-control busqueda hidden filtro sesion" id="selSesionFiltro">
											<option value="0">Seleccione Sesión</option>
										</select>
									</div>
								</form>
							</div>
						</div>
					</div>
				</nav>
				
			</div>
	    </div>
	   
	</section>
	<section class="content">
	  	<div class="row">
	    	<div class="col-xs-12">
	    		
              	<table id="registroExpediente" class="table table-striped">
	                <thead>
	                	<tr>
	                		<th>id</th>
	                		<th>
	                			<div class="btn-group">
	                				{% if 'EXP_NEW' in  app.user.listaPermisos %}
    							    	<button type="button" title="Agregar expediente"class="btn btn-primary btn-xs" onclick="cargarMenu('/expediente_a_m')">
    							    			<span class="glyphicon glyphicon-plus"></span>
    							    	</button>
							    	{% endif %}
							    </div>
						    </th>	
						    <th>Numero</th>
			                <th>Tipo</th>
			                <th title='Numero de Sanción'>N° Sanc.</th>
			                <th title='Fecha Ingreso'>F. Ing</th>
			                <th>Estado / Oficina</th>
			                <th title='Ultimo Momento'>U</th>	
			                <th>Caratula</th>
	                	</tr>
	                </thead>
	                <tbody>
	                </tbody>
               	</table>     
	        </div> {# col #}
	    </div> {# row #}

		<div id="retornoExterno" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" >
			<div class="modal-dialog modal-sm>
			    <!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666	;color:#FFF">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title">Retorno Expediente</h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
				    	<form role="form">
				    		<legend class="text-center" id="leyenda-retorno"></legend>
				    		<input type="hidden" id="idExpediente" name="idExpediente">
				    		<div class="row">
				    			<!-- <div class="col-md-12">	 -->
    				    			<div class="col-md-4" id="col-folios">
    				    			</div>
    				    			<div class="col-md-4">
    				    				<div class="form-group">
        				    				<label for="fechaRetorno">Fecha Ingreso</label>
        				    				<input type="text" class="form-control text-center campo-fecha"
        				    					   id="fechaRetorno" name="fechaRetorno">
        				    			</div>
    				    			</div>
    				    			<div class="col-md-4">
    				    				<div class="form-group">
        				    				<label for="numeroRemitoRetorno">N° Remito</label>
        				    				<input type="text" class="form-control text-center es-numero"
        				    					   id="numeroRemitoRetorno" name="numeroRemitoRetorno">
        				    			</div>
    				    			</div>
    				    		<!-- </div> -->
                			</div>
                			<hr>
    				    	<div class="row">
    				    		<div class="col-md-12">
					        		<div class="text-center">
						    			<div class="btn-group">
								        	<button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
				       			 			<button type="button" class="btn btn-primary" id="btn-retorno-hcd">Aceptar</button>
								        </div>
							        </div>
							    </div>
    				    	</div>
				    	</form>
				    </div>
				</div>
			</div>
		</div>
		
		<div id="respuestaInforme" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" >
			<div class="modal-dialog">
			    <!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666	;color:#FFF">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title">Respuesta Informe</h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
				    	<form role="form">
				    		<input type="hidden" id="idInforme" name="idInforme">
				    		<div class="row">
				    			<div class="col-md-4">
				    				<div class="form-group">
    				    				<label for="fechaRespuesta">Fecha Respuesta</label>
    				    				<input type="text" class="form-control text-center campo-fecha"
    				    					   id="fechaRespuesta" name="fechaRespuesta">
    				    			</div>
				    			</div>
				    			<div class="col-md-4">
				    				<div class="form-group">
    				    				<label for="numeroRemitoInforme">N° Remito</label>
    				    				<input type="text" class="form-control text-center es-numero"
    				    					   id="numeroRemitoInforme" name="numeroRemitoInforme">
    				    			</div>
				    			</div>
				    			<div class="col-md-4">
				    				<div class="form-group">
				    					<label for="selSesionRespuesta">Sesión</label>
				    					<select class="form-control" id="selSesionRespuesta" 
					        					name="selSesionRespuesta">
					        					<option value="0">Seleccione Sesion</option>
					        			</select>
				    				</div>
				    			</div>
                			</div>
                			<hr>
    				    	<div class="row">
    				    		<div class="col-md-12">
					        		<div class="text-center">
						    			<div class="btn-group">
								        	<button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
				       			 			<button type="button" class="btn btn-primary" id="btn-respuesta-informe">Aceptar</button>
								        </div>
							        </div>
							    </div>
    				    	</div>
				    	</form>
				    </div>
				</div>
			</div>
		</div>
	   	
		<div id="informes" class="modal fade" role="dialog">
		 	<div class="modal-dialog modal-xl">
			    <!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666	;color:#FFF">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title">Informes (CH)</h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
				    	<input type="hidden" id="idExpediente" name="idExpediente">				    	
        				<div class="row">
        					<div class="col-md-6">
                				<h3>
                			        Informes (CH)
                			    </h3>
                			</div>
            			</div>
            			<br>
                		<div class="row">
                			<div class="col-md-12">
					        	<table class="table table-striped" id="tablaInformes">
					        		<thead>
					        			<th>id</th>
					        			<th title="Observación">Obs.</th>
					        			<th title="Remito">Rto.</th>
					        			<th>Tipo</th>
					        			<th>Destino</th>
					        			<th>Reserva</th>
					        			<th title="Fecha Emisión">Fec. Em.</th>
					        			<th title="Fecha de Recepción Remito">Fec. Recep.</th>
					        			<th title="Fecha Respuesta">Fec. Resp.</th>
					        			<th title="Remito Externo">Rem. Ext.</th>
					        		</thead>
					        		<tbody>
					        		</tbody>
					        	</table>
					        </div>
				        </div>
				        <hr>
				        <div class="row">
				        	<div class="col-md-12">
				        		<div class="text-center">
					    			<div class="btn-group">
							        	<button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
							        </div>
						        </div>
						    </div>
			    		</div>
				     </div>
			    </div>
		  	</div>
		</div>
		
		<div id="giros" class="modal fade" role="dialog">
		 	<div class="modal-dialog modal-xl"
			    <!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666	;color:#FFF">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title">Giros</h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
				    	<input type="hidden" id="idExpediente" name="idExpediente">				   
    					<div class="row">
        					<div class="col-md-6">
                				<h3>
                			        Giros
                			    </h3>
                			</div>
            			</div>
            			<br>
            			<div class="row">
            				<div class="col-md-12">
					        	<table class="table table-striped" id="tablaGiros" width="100%">
					        		<thead>
					        			<th>id</th>
					        			<th title="Remito">Rto.</th>
					        			<th>Origen</th>
					        			<th title="Fecha de Envío Remito">Fec. Env.</th>
					        			<th>Destino</th>
					        			<th>Observación</th>
					        			<th>Fojas</th>
					        			<th title="Fecha de Recepción Remito">Fec. Recep.</th>
					        			<th title="Remito Externo">Rem. Ext.</th>
					        		</thead>
					        	</table>
				        	</div>
				        </div>       
				        <hr>
				        <div class="row">
				        	<div class="col-md-12">
				        		<div class="text-center">
					    			<div class="btn-group">
							        	<button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
							        </div>
						        </div>
						    </div>
			    		</div>
				     </div>
			    </div>
		  	</div>
		</div>
		
		<div id="modalFechaIngreso" class="modal fade custom-modal" role="dialog" data-backdrop="static" 
		     data-keyboard="false">
		 	<div class="modal-dialog modal-sm">
			    <!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666	;color:#FFF">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title">Cambio Fecha Ingreso</h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
				    	<input type="hidden" id="idExpediente" name="idExpediente">
				    	<div class="row">
				    		<div class="col-md-12">
    				    		<div class="form-group">
    				        		<label for="fechaIngresoExpediente">Nueva Fecha de Ingreso</label>
									<div class="input-group date" id="fechaIngresoExpediente">
						                <input type="text" class="form-control text-center" id="fechaIngreso" name="fechaIngreso" data-provide="datepicker">
						                 <div class="input-group-addon">
						                    <i class="fa fa-calendar"></i>
						                </div>
						             </div>
    							</div>
    						</div>
				    	</div>
				     	<hr>
				        <div class="row">
				        	<div class="col-md-12">
				        		<div class="text-center">
					    			<div class="btn-group">
							        	<button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
						       			 <button type="button" class="btn btn-primary" id="btn-guardar-fecha">Guardar</button>
							        </div>
						        </div>
						    </div>
			    		</div>
				    </div>
				</div>
			</div>
		</div>
		
		<div id="modalAltaSesion" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
		 	<div class="modal-dialog">
			    <!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666;color:#FFF">
				        <button type="button" class="close" data-dismiss="modal" >&times;</button>
				        <h4 class="modal-title" id="tituloModal"><strong>Nueva Sesión</strong></h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
				        <form role="form">
				        	<input type="hidden" name="control" id="control">
				        	<div class="row">
				        		<div class="col-md-8">	
						        	<div class="form-group">
						        		<label for="selTipoSesion">TipoSesion</label>
						        		<select class="form-control" id="selTipoSesion" name="selTipoSesion">
						        			<option value="0">Seleccione Tipo</option>
						        			{% for tipoSesion in tiposSesion %}
						        				{% if tipoSesion.abreviacion!="O" and tipoSesion.abreviacion!="ES"%}
						        					<option value="{{ tipoSesion.id }}">{{ tipoSesion.tipoSesion }} - ({{ tipoSesion.abreviacion }})</option>
						        				{% endif %}
						        			{% endfor %}
						        		</select>
						        	</div>
						        </div>
					        	<div class="col-md-4">	
						        	<div class="form-group">
						        		<label for="fecha">Fecha</label>
						        		<input type= "text" class="form-control input-sm campo-fecha-futura" id="fecha" name="fecha" 
						        			   placeholder="Fecha Sesion">
						        	</div>
						        </div>
							</div>
							<div class="row">
								<div class="col-md-12">
    								<div class="form-group">
    									<label for="descripcion">Descripción</label>
    									<input type="text" class="form-control" id="descripcion" name="descripcion">
    								</div>
    							</div>
							</div>
					        <hr>
					        <div class="row">
					        	<div class="text-center">
							        <div class="btn-group">
							        	<button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
						       			 <button type="button" class="btn btn-primary" id="btn-guardar-alta-sesion">Guardar</button>
						        	</div>
						        </div>
					        </div>	
				        </form>
				     </div>
			    </div>
		  	</div>
		</div>
		
		<div id="modalSesion" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" >
			<div class="modal-dialog modal-sm">
				    <div class="modal-header" style="background-color:#666	;color:#FFF">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title">Asignar Sesión</h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
				    	<form role="form">
				    		<input type="hidden" id="idExpediente" name="idExpediente">
				    		<div class="row">
				    			<div class="col-md-12">
				    				<div class="form-group">
    				    				<label for="selSesionAsignacion">Sesión:</label>
    				    				<div class="input-group">
        						        	<select class="form-control" data-width="100%"
        						        			id="selSesionAsignacion" name="selSesionAsignacion">
        						        	</select>
        						        	<span class="input-group-btn">
                                            	<button class="btn btn-primary" type="button"
                                            			id="btn-nueva-sesion-asignacion" >Agregar</button>
                                          	</span>
                                    	</div>
    								</div>
				    			</div>
                			</div>
                			<hr>
    				    	<div class="row">
    				    		<div class="col-md-12">
					        		<div class="text-center">
						    			<div class="btn-group">
								        	<button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
				       			 			<button type="button" class="btn btn-primary" id="btn-guardar-sesion">Aceptar</button>
								        </div>
							        </div>
							    </div>
    				    	</div>
				    	</form>
				    </div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}