{% extends 'layout.html.twig' %}



{% block stylesheets %}
	{# parent() }#}
  	{% stylesheets '@css_datatables' %}
      	<link rel="stylesheet" href="{{ asset_url }}" /></link>
  	{% endstylesheets %}
{% endblock %}

{% block javascripts %}
	{# parent() #}
    {% javascripts '@js_datatables'%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
	<style type="text/css">
		@media (min-width: 768px) {
		  .modal-xl {
		    width: 95%;
		    max-width:1600px;
		  }
		}

		.select2-selection--multiple { max-height: 10rem; overflow-y: auto }

		.file-preview {
			max-height: 371px;
			height: 370px;
			background-color: #fff;
			display: inline-block;
			overflow-y: auto;
		}

		.scrollable-div{
			min-height: 39px;
			max-height: 40px;
			overflow-y: auto;
			/*background: #fff;*/
			border: 1px solid #ccc;
		}

		.div-Preview{
			max-height: 194px;
			height: 194px;
			padding-left: 10px;
			padding-right: 10px;
			background-color: #fff;	
			overflow-y: scroll;
		}

		#proyectosBusqueda .modal-body{
			height: 600px;
			max-height: 600px;
		}

		.text-area-caratula{
			height: 370px!important;
		}

		#nuevoExpediente{
			z-index: 10000;
		}
		
		#numeroExterno{
			z-index: 15000;
		}
		
		#kvFileinputModal{
			z-index: 15000;
		}

		.tab{
			height: 545px;
			max-height:545px;
			overflow-y: auto; 
		}
		
		.tab-active{
			/* font-style: oblique;*/
			font-weight: bold;
			color: #0000ff;
			padding-left: 10px;
		}
		
		.tab-active::before{
			content: "- ";
			font-weight: bold;
		}
		
		.toggle-on.btn{
			line-height: 22.5px!important;
		}
		.toggle-off.btn{
			line-height: 22.5px!important;
		}
					
		table {
            table-layout:fixed;
            width:100%;
            word-wrap:break-word;
        }
                      
        .table-fixed thead, .table-fixed tbody, .table-fixed tr, 
        .table-fixed td, .table-fixed th { 
        	display: block; 
        }
        .table-fixed tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }
        .table-fixed thead th {
            height: 30px;
        }
        .table-fixed tbody {
            height: 70px;
            overflow-y: auto;
        }
      	.table-fixed tbody tr td, .table-fixed thead th {
            width: 16.6%;
            float: left;
        }
        
        .col-nopadding {
           padding: 0 !important;
           margin: 0 !important;
        }
              
	</style>
	<script type="text/javascript">
	
		wysihtml5.dom.getPastedHtml = function(event) {
    		var html;
    		if (event.clipboardData) {
    			html = event.clipboardData.getData('text/plain');
		  	}
		  	return html;
		};

		function criterio(){
			var tipo=$("#selBusqueda").val();
			var valorRetorno;
			return ((tipo=="todo" || tipo=="busqueda-3" || tipo=="busqueda-4")?"0":$("#"+tipo).val());	
		}
		function tipoCriterio(){
			return $("#selBusqueda").val();
		}
		
		function habilitar(nombre){
			$(".tab").addClass("hidden");
			$(".selectable").removeClass("tab-active");
			
			$("#"+nombre).removeClass("hidden");
			$("#link-"+nombre).addClass("tab-active");
			$("#link-"+nombre).blur();
			
		}

		function aplicarAccion(accion, idAsignacion, tabla){
		 
			var formData= new FormData();
			formData.append("accion",accion);
			formData.append("idAsignacion",idAsignacion);
		
    		$.ajax({
                   async: true,
                   url: '{{ app.request.getBaseURL() }}'+'/api/expedienteComision/visualizacion/update',
                   data: formData,
                   cache: false,
                   contentType: false,
                   processData: false,
                   type:  'POST',
               success: function(data) {
                   toastr.success(data);
    				tabla.ajax.reload();
               	},
               error: function(jqXHR,textStatus,errorThrown ){
    				toastr.error(jqXHR.responseText);
    			}
           	});
		}

		$(document).ready(function () {

			var tablaVersionesProyectos;
			
		    var tabla=$('#registroAsignaciones').DataTable({
		    			  "language": {
				              "infoEmpty": "Sin registros para mostrar",
				              "paginate": {
						          	"last": "Ultima Página",
						          	"first": "Primer página",
						          	"next": "Siguiente",
						          	"previous": "Anterior"
						       },
						       "search":"Búsqueda rápida",
						       "emptyTable": "Sin Datos",
						       "lengthMenu": 'Registros Listados <select class="form-control input-sm">'+
								             '<option value="10">10</option>'+
								             '<option value="20">20</option>'+
								             '<option value="30">30</option>'+
								             '<option value="40">40</option>'+
								             '<option value="50">50</option>'+
								             '<option value="-1">Todos</option>'+
								             '</select>',
								"loadingRecords": "Espere...cargando datos",
								"processing": "Procesando...",
								"sInfo": "Mostrando  _START_ a _END_ de _TOTAL_ registros",

			          	  },
					      "processing": false,
					      "ajax": {
							        "url": "api/expedienteComision/getByCriteria/"+tipoCriterio()+"/"+criterio(),
			            			"dataSrc": '',
							    },
						  "columnDefs": [
								            {
								                "targets": [ 0 ],
								                "visible": false,
								                "searchable": false
								            },
								            {
									            "targets": [ 1 ],
									            "data": null,
									            "orderable":false,
									            "render": function(data, type, row){
										            var html="<div class='btn-group'>";
											        html+="<button type='button' title='Publicar' class='btn btn-primary btn-xs btn-publicar' data-toggle='modal' data-target='#'><span class='glyphicon glyphicon-eye-open'></span></button>";
											        html+="<button type='button' title='Anular Asignación' class='btn btn-danger btn-xs btn-anular' data-toggle='modal' data-target='#'><span class='glyphicon glyphicon-minus-sign'></span></button>";
													html+="</div>";
									            	return html;
									            }
									        },
									        {
									            "targets": [ 3 ],
									            "data": null,
									            "orderable":true,
									            "render": function(data, type, row){
									            	html="<button type='button'title='Editar Comision' class='btn btn-primary btn-xs btn-editar ' data-toggle='modal' data-target='#cambioComision'><span class='glyphicon glyphicon-pencil'></span></button> ";
								            		html+=data;
								            		return html;
									            }
									        },
									        {
									            "targets": [ 4 ],
									            "data": "publicado",
									            "orderable":true,
									            "render": function(data, type, row){
									            	return ((data==false)?"NO":"SI");
									            }
									        },
									        {
									            "targets": [ 6 ],
									            "data": "dictamen.id",
									            "orderable":false,
									            "render": function(data, type, row){
													var html="<div class='btn-group'style='margin-left:5px'>";
													if (row.tiene_dictamen==false){
														var revision="<span class='label label-danger'>Sin Dictamen</span>";
														html=revision+html+"<button type='button' title='Agregar Dictamen' class='btn btn-primary btn-xs btn-dictamen' data-toggle='modal' data-target='#'><span class='glyphicon glyphicon-paperclip'></span></button>";
													}
													else{
															var revision="<span class='label label-success'>Rev.:"+
														 				 row.dictamen.id+"</span>";
															html=revision+html;
															html+="<button type='button' title='Cambiar Dictamen' class='btn btn-info btn-xs btn-dictamen' data-toggle='modal' data-target='#'><span class='glyphicon glyphicon-pencil'></span></button>";
															html+="<button type='button' title='Descargar Revision' class='btn btn-info btn-xs btn-descargar'><span class='glyphicon glyphicon-save-file'></span></button>";
														}
									            	return html+"</div>";
									            }
									        }	       
						  ],
					      "columns": [
					      		{ "data": "id" },
					      		{ "data": "null","width":"7%"},
					      		{ "data": "expediente.numero_completo","width":"10%"},
					            { "data": "comision.comision","width":"39%" },
					            { "data": "publicado","width":"8%" },
					            { "data": "fecha_publicacion_formateada","width":"8%" },
					            { "data": "dictamen.id", "width": "28%"},
					        ],
					      "autoWidth":false,
					      "paging": true,
					      "lengthChange": true,
					      "searching": true,
					      "ordering": true,
					      "info": true,
					      "autoWidth": false,
				});
		    
		    $('#registroAsignaciones tbody').on( 'click', '.btn-descargar', function () {
		        var data = tabla.row( $(this).parents('tr') ).data();
		        window.location.href='{{ app.request.getBaseURL() }}'+
		        					 '/imprimir?tipoDocumento=expediente&id='+
		        					  data[ "id" ];
		    } );
		    
			
			//---------------------------------------------------------------------------------------------------------------
			//---------------------------------------PUBLICACIÓN y ANULACION-------------------------------------------------
			//---------------------------------------------------------------------------------------------------------------
						
			$('#registroAsignaciones tbody').on( 'click', '.btn-publicar', function () {			
				 var data = tabla.row( $(this).parents('tr') ).data();
				 idAsignacion=data[ "id" ];
				 aplicarAccion("publicar", idAsignacion,tabla);
			}); 

			$('#registroAsignaciones tbody').on( 'click', '.btn-anular', function () {			
				 var data = tabla.row( $(this).parents('tr') ).data();
				 idAsignacion=data[ "id" ];
				 aplicarAccion("anular", idAsignacion,tabla);
			}); 
			
			//---------------------------------------------------------------------------------------------------------------
			//---------------------------------------EDICIÓN DE LA COMISION--------------------------------------------------
			//---------------------------------------------------------------------------------------------------------------

			//EVENTO BOTON EDITAR COMISION EN GRILLA
		    $('#registroAsignaciones tbody').on( 'click', '.btn-editar', function () {
		        var data = tabla.row( $(this).parents('tr') ).data();
		        $("#cambioComision").find('input[name="idAsignacion"]').val(data[ "id" ]);
		    } );

			//BOTON ACEPTAR DEL MODAL DE EDICIÓN DE COMISIÓN
		    $("#btn-cambio-comision").click(function(){

		    	$(this).prop("disabled",true);
				
				var idAsignacion = $("#cambioComision").find('input[name="idAsignacion"]').val();
				var idNuevaComision = $("#cambioComision").find('select[name="selComisionEdicion"]').val();
				
              	var formData=new FormData();
                var validacion='';

                formData.append('idAsignacion',idAsignacion);
              	formData.append('idNuevaComision',idNuevaComision);
              	validacion+=((idNuevaComision==0)?'<li>Debe seleccionar una comision</li>':'');

              	 if (validacion.length>0) 
 				{
 					validacion=((validacion.length>0)?'<strong>Validacion de Datos</strong><br><ul>'+
 								validacion+'</ul>':'');
 					toastr.error(validacion);
 					$(this).prop("disabled", false);
 					return false;
 				}
 				else{

 	            	$.ajax({
 		                async: true,
 		                url: '{{ app.request.getBaseURL() }}'+'/api/expedienteComision/comision/update',
 		                data: formData,
 		                cache: false,
 		                contentType: false,
 		                processData: false,
 		                type: 'POST',
 	                success: function(data) {
 	                    toastr.success(data);
 						tabla.ajax.reload();
 						$('#cambioComision').modal('hide');
 	                	},
 	                complete:function(){
 	                	$(this).prop("disabled", false);
 	                },
 	                error: function(jqXHR,textStatus,errorThrown ){
 						toastr.error(jqXHR.responseText);
 						}
 	            	});
 	            }
			    
			 });

		    //EVENTO ABRIR MODAL MODIFICAR EXPEDIENTE
			$('#modificacionExpediente').on('show.bs.modal', function () {

		    	var id= $("#modificacionExpediente").find('input[name="id"]').val();

		    	//Obtención de los datos del expediente a modificar -----------------

		    	$.ajax({
					type:'Get',
					dataType: 'json	',
					url:'{{ app.request.getBaseURL() }}'+'/api/expediente/getOne/'+id,
					success: function(data){

						var tipoExpediente=data.tipo_expediente.id;
						$("#selTipoExpedienteMod").val(tipoExpediente);
						mostrarOrigenParaEdicion(tipoExpediente);
						$("#numeroExpedienteMod").val(data.numero_expediente);
						$("#caratulaMod").data("wysihtml5").editor.setValue(data.caratula);
						$("#foliosMod").val(data.folios);

						if(data.proyecto!=null){
							$("#selTipoExpedienteMod").prop( "disabled", true );
							$("#concejalesMod").html(data.lista_autores);
							mostrarTiposPara("proyectos");
						}
						else{
							$("#selTipoExpedienteMod").prop( "disabled", false );
							mostrarTiposPara("no-proyectos");
						}
	
						if (tipoExpediente==3 && data.demandante_particular!=null){
    						$("#documentoParticularMod").val(data.demandante_particular.documento);
    						$("#apellidosParticularMod").val(data.demandante_particular.apellidos);
    						$("#nombresParticularMod").val(data.demandante_particular.nombres);
						}
					    
						if (tipoExpediente==4 && data.origen_externo!=null){
							$("#selOrigenMod").val(data.origen_externo.oficina.id);
							var numeros=data.origen_externo.numeracion_origen;
							var html='';
							$.each(numeros,function(index,numero){
								html+="<tr><td>"+numero.ente+"</td><td>"+numero.numero+"</td><td>"+numero.letra+
									  "</td><td>"+numero.año+"</td><td>"+numero.folios+"</td><td>"+
							 	 	  "<button type='button' class='btn btn-danger btn-xs btn-eliminar-numero'>"+
							 	 	  "<span class='glyphicon glyphicon-remove'/></button></td></tr>";
							});
							$("#tabla-numeros-mod > tbody").append(html);
						}

					    var config=[];
					    $.each(data.lista_imagenes, function(index,imagen){
					    	config.push(imagen.image_config);
					    });

					    //recuperacion de los archivos subidos
					    $("#input-file-Mod").fileinput({
				    		language: "es",
			                initialPreview: data.rutas_web_expediente,
			                showUpload: false,
			                initialPreviewAsData: true,
			                initialPreviewConfig:config,			                
			                overwriteInitial: false,
			                deleteUrl:'{{ app.request.getBaseURL() }}'+'/api/expediente/archivo/remove',
			                maxFileSize: 10240,
			                
			                initialCaption: "Archivos Expediente " + data.numero_expediente
			                
			            });		    			
					},
					error: function(jqXHR,textStatus,errorThrown ){
						toastr.error(jqXHR.responseText);
					}
		      	});
			});

			//EVENTO CERRAR MODAL MODIFICAR EXPEDIENTE
			$('#modificacionExpediente').on('hidden.bs.modal', function () {
				$('#input-file-Mod').fileinput('destroy');
				archivosASubir.length=0;	
			});

			//GUARDAR MODIFICACION DEL EXPEDIENTE
			$("#modificacion").on('submit',function(e){

				e.preventDefault();
				$("#btn-Modificacion-expediente").prop("disabled",true);
             	var form=$(e.target);
              	var formData=new FormData();

				var idExpediente=$("#modificacionExpediente").find('input[name="id"]').val();
              	var idTipoExpediente=$("#selTipoExpedienteMod").val();
              	var numeroExpediente=$("#numeroExpedienteMod").val();
              	var folios=$("#foliosMod").val();
              	var documentoParticular=$("#documentoParticularMod").val();
              	var apellidosParticular=$("#apellidosParticularMod").val();
              	var nombresParticular=$("#nombresParticularMod").val();
              	var idOrigen=$("#selOrigenMod").val();

				var numeros=[];
              	$("#tabla-numeros-mod > tbody > tr").each(function(){ 
                  	var numero = { 
                          			ente:$(this).find("td:eq(0)").html(), 
                              		numero:$(this).find("td:eq(1)").html(), 
                              		letra:$(this).find("td:eq(2)").html(), 
                              		año: $(this).find("td:eq(3)").html(), 
                              		folios:$(this).find("td:eq(4)").html()
                              	  }; 
                	 numeros.push(numero);
                });

                var caratula=$("#caratulaMod").val();
                var archivos=$(form).find('[name="input-file-Mod"]')[0].files;

                var validacion='';

                formData.append('idExpediente',idExpediente);
            	
              	formData.append('idTipoExpediente',idTipoExpediente);
              	validacion+=((idTipoExpediente==0)?'<li>Debe seleccionar un tipo de expediente</li>':'');
              	
              	formData.append('numeroExpediente',numeroExpediente);
              	validacion+=((numeroExpediente.replace(/ /g, '').length==0)?'<li>El expediente debe tener un número</li>':'');
              	validacion+=((!$.isNumeric(numeroExpediente))?'<li>El número de expediente no puede contener letras ni espacios</li>':'');
              	
              	formData.append('folios',folios);
              	validacion+=((folios.replace(/ |\n/g, '').length==0)?'<li>Debe especificar la cantidad de folios</li>':'');
              	validacion+=((!$.isNumeric(folios))?'<li>la número de folios no puede contener letras ni espacios</li>':'');
              	
              	formData.append('documentoParticular',documentoParticular);
              	validacion+=((idTipoExpediente==3 && folios.replace(/ |\n/g, '').length!=0 && !$.isNumeric(documentoParticular))
                      		  ?'<li>la número de documento no puede contener letras ni espacios</li>':'');
				formData.append('apellidosParticular',apellidosParticular);
				validacion+=((idTipoExpediente==3 && apellidosParticular.replace(/ |\n/g, '').length==0)
							  ?'<li>Debe especificar un apellido para el demandante particular</li>':'');
				  
				formData.append('nombresParticular',nombresParticular);
				validacion+=((idTipoExpediente==3 && apellidosParticular.replace(/ |\n/g, '').length==0)
						  	  ?'<li>Debe especificar un nombre para el demandante particular</li>':'');
			  	  
				formData.append('idOrigen',idOrigen);
				validacion+=((idTipoExpediente==4 && idOrigen==0)
					  	  	  ?'<li>Debe especificar el origen del expediente</li>':'');
		  	  	  
				formData.append('numeros',JSON.stringify(numeros));
				validacion+=((idTipoExpediente==4 && numeros.length==0)
				  	  	  	  ?'<li>Debe especificar el/los numero/s de origen del expediente</li>':'');	
	  	  	  	  		
				formData.append('caratula',caratula);
				validacion+=((caratula.replace(/ |\n/g, '').length==0)
							  ?'<li>Debe especificar un texto para la caratula</li>':'');
				  
				$.each(archivos, function(i, archivo) {
                	formData.append('uploadedFiles-' + i, archivo);
            	});
				
	            if (validacion.length>0) 
				{
					validacion=((validacion.length>0)?'<strong>Validacion de Datos</strong><br><ul>'+
								validacion+'</ul>':'');
					toastr.error(validacion);
					$('#btn-Modificacion-expediente').prop("disabled", false);
					return false;
				}
				else{

	            	$.ajax({
		                async: true,
		                url: '{{ app.request.getBaseURL() }}'+'/api/expediente/update',
		                data: formData,
		                cache: false,
		                contentType: false,
		                processData: false,
		                type:  $(form).attr('method'),
	                success: function(data) {
	                    toastr.success(data);
						tabla.ajax.reload();
						$('#modificacionExpediente').modal('hide');
	                	},
	                complete:function(){
	                	$('#btn-Modificacion-expediente').prop("disabled", false);
	                },
	                error: function(jqXHR,textStatus,errorThrown ){
						toastr.error(jqXHR.responseText);
						}
	            	});
	            }
			});

			//--------------------------------------------------------------------------------------------------------------
			//-------------------------------------------NUEVO EXPEDIENTE----------------------------------------------------
			//--------------------------------------------------------------------------------------------------------------

			//EVENTO ABRIR MODAL NUEVO EXPEDIENTE
		    $('#nuevoExpediente').on('show.bs.modal', function () {

		    	$("#input-file").fileinput({
		    		language: "es",
	                showUpload: false,               
	                overwriteInitial: false,
	                maxFileSize: 10240,                
	            });
		    	
			  	if ($("#idProyecto").val()==0){
			  		$("#selTipoExpediente").val(0).change();
			  		$("#selTipoExpediente").prop( "disabled", false );
			  		mostrarTiposPara("no-proyectos");
			  	}
			  	else{ 
			  		$("#selTipoExpediente").prop( "disabled", true );
			  		$("#selTipoExpediente").val($("#idTipoExpediente").val());
			  		mostrarTiposPara("proyectos");
				}
				mostrarOrigenParaNuevo($("#selTipoExpediente").val());
				$("#numeroExpediente").val('');
				$("folios").val('');
				$("#caratula").data("wysihtml5").editor.setValue('');

			});
			
			//EVENTO CERRAR MODAL NUEVO EXPEDIENTE
			$('#nuevoExpediente').on('hidden.bs.modal', function () {
				$('#input-file').fileinput('destroy');
				$("#idProyecto").val('');
				$("#idTipoProyecto").val(0);
				if ( $('#proyectosBusqueda').hasClass('in') )
					$('#proyectosBusqueda').modal('hide');
			});
			
			//GUARDAR ALTA EXPEDIENTE
			$("#alta").on('submit',function(e){
				
				e.preventDefault();
				$("#btn-nuevo-expediente").prop("disabled",true);
             	var form=$(e.target);
              	var formData=new FormData();
                var idProyecto=$("#nuevoExpediente").find('input[name="idProyecto"]').val();
              	var idTipoExpediente=$("#selTipoExpediente").val();
              	var numeroExpediente=$("#numeroExpediente").val();
              	var folios=$("#folios").val();
              	var documentoParticular=$("#documentoParticular").val();
              	var apellidosParticular=$("#apellidosParticular").val();
              	var nombresParticular=$("#nombresParticular").val();
              	var idOrigen=$("#selOrigen").val();

              	debugger;
				var numeros=[];
              	$("#tabla-numeros > tbody > tr").each(function(){ 
                  	var numero = { 
                          			ente:$(this).find("td:eq(0)").html(), 
                              		numero:$(this).find("td:eq(1)").html(), 
                              		letra:$(this).find("td:eq(2)").html(), 
                              		año: $(this).find("td:eq(3)").html(), 
                              		folios:$(this).find("td:eq(4)").html()
                              	  }; 
                	 numeros.push(numero);
                });

                var caratula=$("#caratula").val();
                var archivos=$(form).find('[name="input-file"]')[0].files;

                var validacion='';

                formData.append('idProyecto',idProyecto);
              	formData.append('idTipoExpediente',idTipoExpediente);
              	validacion+=((idTipoExpediente==0)?'<li>Debe seleccionar un tipo de expediente</li>':'');
              	
              	formData.append('numeroExpediente',numeroExpediente);
              	validacion+=((numeroExpediente.replace(/ /g, '').length==0)?'<li>El expediente debe tener un número</li>':'');
              	validacion+=((!$.isNumeric(numeroExpediente))?'<li>El número de expediente no puede contener letras ni espacios</li>':'');
              	
              	formData.append('folios',folios);
              	validacion+=((folios.replace(/ |\n/g, '').length==0)?'<li>Debe especificar la cantidad de folios</li>':'');
              	validacion+=((!$.isNumeric(folios))?'<li>la número de folios no puede contener letras ni espacios</li>':'');
              	
              	formData.append('documentoParticular',documentoParticular);
              	validacion+=((idTipoExpediente==3 && folios.replace(/ |\n/g, '').length!=0 && !$.isNumeric(documentoParticular))
                      		  ?'<li>la número de documento no puede contener letras ni espacios</li>':'');
				formData.append('apellidosParticular',apellidosParticular);
				validacion+=((idTipoExpediente==3 && apellidosParticular.replace(/ |\n/g, '').length==0)
							  ?'<li>Debe especificar un apellido para el demandante particular</li>':'');
				  
				formData.append('nombresParticular',nombresParticular);
				validacion+=((idTipoExpediente==3 && apellidosParticular.replace(/ |\n/g, '').length==0)
						  	  ?'<li>Debe especificar un nombre para el demandante particular</li>':'');
			  	  
				formData.append('idOrigen',idOrigen);
				validacion+=((idTipoExpediente==4 && idOrigen==0)
					  	  	  ?'<li>Debe especificar el origen del expediente</li>':'');
		  	  	  
				formData.append('numeros',JSON.stringify(numeros));
				validacion+=((idTipoExpediente==4 && numeros.length==0)
				  	  	  	  ?'<li>Debe especificar el/los numero/s de origen del expediente</li>':'');	
	  	  	  	  		
				formData.append('caratula',caratula);
				validacion+=((caratula.replace(/ |\n/g, '').length==0)
							  ?'<li>Debe especificar un texto para la caratula</li>':'');
				  
				$.each(archivos, function(i, archivo) {
                	formData.append('uploadedFiles-' + i, archivo);
            	});
				
	            if (validacion.length>0) 
				{
					validacion=((validacion.length>0)?'<strong>Validacion de Datos</strong><br><ul>'+
								validacion+'</ul>':'');
					toastr.error(validacion);
					$('#btn-nuevo-expediente').prop("disabled", false);
					return false;
				}
				else{

	            	$.ajax({
		                async: true,
		                url: $(form).attr('action'),
		                data: formData,
		                cache: false,
		                contentType: false,
		                processData: false,
		                type: $(form).attr('method'),
	                success: function(data) {
	                    toastr.success(data);
						tabla.ajax.reload();
						$('#nuevoExpediente').modal('hide');
	                	},
	                complete: function(){
	                	$('#btn-nuevo-expediente').prop("disabled", false);
	                },
	                error: function(jqXHR,textStatus,errorThrown ){
						toastr.error(jqXHR.responseText);
						}
	            	});
	            }
			});

			//------------------------------------------------------------------------------------------------------------
			//--------------------------------------INGRESO DE PROYECTO---------------------------------------------------
			//------------------------------------------------------------------------------------------------------------

			//BOTON INGRESAR DE LA TABLA DE EXPEDIENTES
			$('#proyectos tbody').on( 'click', '.btn-ingresar', function () {
		        var data = tablaProyectos.row( $(this).parents('tr') ).data();
		        $("#nuevoExpediente").find('input[name="idProyecto"]').val(data[ "id" ]);
		        var tipoExpediente=data[ "tipo_proyecto"].tipo_expediente.id;
		        $("#nuevoExpediente").find('input[name="idTipoExpediente"]').val(tipoExpediente);
		        $("#nuevoExpediente").find('div[name="concejales"]').html(data[ "lista_concejales"]);
		        $("#nuevoExpediente").modal('show');
		    } );

			//EVENTO MOSTRAR DEL MODAL DE BUSQUEDA DE PROYECTOS
			$('#proyectosBusqueda').on('show.bs.modal', function () {

		    	tablaProyectos=$('#proyectos').DataTable({
					    			  "language": {
							              "infoEmpty": "Sin registros para mostrar",
							              "paginate": {
									          	"last": "Ultima Página",
									          	"first": "Primer página",
									          	"next": "Siguiente",
									          	"previous": "Anterior"
									       },
									       "search":"Búsqueda rápida",
									       "emptyTable": "Sin Datos",
									       "lengthMenu": 'Registros Listados <select class="form-control input-sm">'+
											             '<option value="10">10</option>'+
											             '<option value="20">20</option>'+
											             '<option value="30">30</option>'+
											             '<option value="40">40</option>'+
											             '<option value="50">50</option>'+
											             '<option value="-1">Todos</option>'+
											             '</select>',
											"loadingRecords": "Espere...cargando datos",
											"processing": "Procesando...",
											"sInfo": "Mostrando  _START_ a _END_ de _TOTAL_ registros",

						          	  },
								      "processing": false,
								      "ajax": {
										        "url": "api/proyecto/getByCriteria/busqueda-5/0",
						            			"dataSrc": '',
										    },
									  "columnDefs": [
											            {
											                "targets": [ 0 ],
											                "visible": false,
											                "searchable": false
											            },
											            {
											                "targets": [ 1 ],
											                "visible": false,
											                "searchable": false
											            },
											            {
												            "targets": [ 2 ],
												            "data": null,
												            "orderable":false,
												            "render": function(data, type, row){
												            	return "<button type='button' class='btn btn-primary btn-xs btn-ingresar'><span class='glyphicon glyphicon-check'></span></button>";
												            }
												        }
												       
									  ],
								      "columns": [
								      		{ "data": "id" },
								      		{ "data": "tipo_proyecto.tipo_expediente.id"},
								      		{ "data": "null","width":"12%"},
								      		{ "data": "tipo_proyecto.tipo_proyecto","width":"20%"},
								            { "data": "lista_concejales","className": "for-mobile","width":"70%" },
								        ],
								      "autoWidth":false,
								      "paging": true,
								      "lengthChange": true,
								      "searching": true,
								      "ordering": true,
								      "info": true,
							});

			});

			//EVENTO CERRAR DEL MODAL DE BUSQUEDA DE PROYECTOS
			$('#proyectosBusqueda').on('hidden.bs.modal', function () {
				tablaProyectos.destroy();
			});

			//------------------------------------------------------------------------------------------------------------
			//----------------------------------GIROS DE LOS EXPEDIENTES--------------------------------------------------
			//------------------------------------------------------------------------------------------------------------

			//EVENTO BOTON GIROS DE LA GRILLA
		    $('#registroAsignaciones tbody').on( 'click', '.btn-giros', function () {
		        var data = tabla.row( $(this).parents('tr') ).data();
		        $("#giros").find('input[name="idExpediente"]').val(data[ "id" ]);
		    } );
			
		  	//EVENTO ABRIR MODAL DE GIROS
			$('#giros').on('show.bs.modal', function () {

				tablaGiros=$('#tablaGiros').DataTable({
        	    			"language": {
        			              "infoEmpty": "Sin registros para mostrar",
        			              "paginate": {
        					          	"last": "Ultima Página",
        					          	"first": "Primer página",
        					          	"next": "Siguiente",
        					          	"previous": "Anterior"
        					       },
        					       "search":"Búsqueda rápida",
        					       "emptyTable": "Sin Datos",
        					       "lengthMenu": 'Registros Listados <select class="form-control input-sm">'+
        							             '<option value="10">10</option>'+
        							             '<option value="20">20</option>'+
        							             '<option value="30">30</option>'+
        							             '<option value="40">40</option>'+
        							             '<option value="50">50</option>'+
        							             '<option value="-1">Todos</option>'+
        							             '</select>',
        							"loadingRecords": "Espere...cargando datos",
        							"processing": "Procesando...",
        							"sInfo": "Mostrando  _START_ a _END_ de _TOTAL_ registros",
        
        		          	  },
        				      "processing": false,
        				      "ajax": {
        						        "url": "api/expediente/giro/getAllByExpediente/"+traerIdParaMovimientos("giros"),
        		            			"dataSrc": '',
        						    },
        					  "columnDefs": [
        							            {
        							                "targets": [ 0 ],
        							                "visible": false,
        							                "searchable": false
        							            },
        							            {
        							                "targets": [ 1 ],
        							                "data": 'remito.numero_remito',
        							                "visible": true,
        							                "orderable":true,
        							                "render": function(data, type, row){
        							                	return ((!data==0)?data:"");
										            },
        							                
        							            },
        							            
        					  ],
        				      "columns": [
        				      		{ "data": "id" },
        				      		{ "data": "remito.numero_remito","width":"9%"},
        				      		{ "data": "origen","width":"15%"},
        				      		{ "data": "fecha_envio","width":"8%"},
        				      		{ "data": "destino","width":"15%"},
        				      		{ "data": "observacion","className": "for-mobile","width":"40%" },
        				      		{ "data": "fojas","width":"5%" },
        				            { "data": "fecha_recepcion","className": "for-mobile","width":"8%" },
        				        ],
        				      "autoWidth":false,
        				      "paging": true,
        				      "lengthChange": true,
        				      "searching": true,
        				      "ordering": true,
        				      "info": true,
        			});

				
                				
			});

			//EVENTO CERRAR MODAL DE GIROS
			$('#giros').on('hidden.bs.modal', function () {
				tablaGiros.destroy();
			});

			//------------------------------------------------------------------------------------------------------------
			//-----------------------------SOLICITUD DE INFORMES LOS EXPEDIENTES------------------------------------------
			//------------------------------------------------------------------------------------------------------------

			//EVENTO BOTON INFORMES DE LA GRILLA
		    $('#registroAsignaciones tbody').on( 'click', '.btn-informes', function () {
		        var data = tabla.row( $(this).parents('tr') ).data();
		        $("#informes").find('input[name="idExpediente"]').val(data[ "id" ]);
		    } );
			
		  	//EVENTO ABRIR MODAL INFORMES
			$('#informes').on('show.bs.modal', function () {

				tablaInformes=$('#tablaInformes').DataTable({
                   			  	  "language": {
                		              "infoEmpty": "Sin registros para mostrar",
                		              "paginate": {
                				          	"last": "Ultima Página",
                				          	"first": "Primer página",
                				          	"next": "Siguiente",
                				          	"previous": "Anterior"
                				       },
                				       "search":"Búsqueda rápida",
                				       "emptyTable": "Sin Datos",
                				       "lengthMenu": 'Registros Listados <select class="form-control input-sm">'+
                						             '<option value="10">10</option>'+
                						             '<option value="20">20</option>'+
                						             '<option value="30">30</option>'+
                						             '<option value="40">40</option>'+
                						             '<option value="50">50</option>'+
                						             '<option value="-1">Todos</option>'+
                						             '</select>',
                						"loadingRecords": "Espere...cargando datos",
                						"processing": "Procesando...",
                						"sInfo": "Mostrando  _START_ a _END_ de _TOTAL_ registros",
                
                	          	  },
                			      "processing": false,
                			      "ajax": {
                					        "url": "api/expediente/informe/getAllByExpediente/"+traerIdParaMovimientos("informes"),
                	            			"dataSrc": '',
                					    },
                				  "columnDefs": [
                						            {
                						                "targets": [ 0 ],
                						                "visible": false,
                						                "searchable": false
                						            },
                						            {
            							                "targets": [ 1 ],
            							                "data": 'remito.numero_remito',
            							                "visible": true,
            							                "orderable":true,
            							                "render": function(data, type, row){
                        							                return ((!data==0)?data:"");
            										               },
                						            },
                							       
                				  ],
                			      "columns": [
                        			      		{ "data": "id" },
                        			      		{ "data": "expediente.numero_completo","width":"9%" },
                        			      		{ "data": "comision.comision","width":"15%"},
                        			      		{ "data": "tieneDictamen","width":"8%"},
                        			      		{ "data": "dictamen.fecha_dictamen_formateada","width":"8%"},
                            			     ],
                			      "autoWidth":false,
                			      "paging": true,
                			      "lengthChange": true,
                			      "searching": true,
                			      "ordering": true,
                			      "info": true,
                		});			
			});

			//EVENTO CERRAR MODAL DE INFORMES
			$('#informes').on('hidden.bs.modal', function () {
				tablaInformes.destroy();
			});

			//------------------------------------------------------------------------------------------------------------
			//-------------------------------------ALTA Y EDICION DE GIROS------------------------------------------------
			//------------------------------------------------------------------------------------------------------------
			
			//BOTON ALTA GIRO DE LA GRILLA DE GIROS
			$("#alta-giro").click(function(){
				$("#giro").modal("show");
			});

			//BOTON ELIMINAR GIRO DE LA GRILLA DE GIROS
			$('#tablaGiros tbody').on( 'click', '.btn-eliminar-movimiento', function () {
		        /*
		        	ver como implementar solo eliminar el último si:
	        		el origen es mi oficina
	        		no tiene fecha de recepcion
        		*/	
		    } );

			// EVENTO ABRIR DEL MODAL DE GIRO
			$('#giro').on('show.bs.modal', function () {
				
				$("#selDestinoGiro").val(0);
				$("#observacionGiro").val("");
				$("#fechaRecepcionRemito").val("");
				$("#fechaIntervencionOficinaActual").val("");

				$.ajax({
                    url: '{{ app.request.getBaseURL() }}' + '/api/expediente/giro/findLast',
                    type: 'GET',
                success: function(data) {
                    
                    if (data.destino_giro.id!='{{ idOficinaActual }}'){
						$("#fechaIntervencionOficinaActual").removeClass('hidden');
                    	$("#giro").find('input[name="idOficinaActual"]').val(data.destino_giro.id);
                    }
                    else{
                    	$("#fechaIntervencionOficinaActual").addClass('hidden');
                    	$("#giro").find('input[name="idOficinaActual"]').val(0);
                    }
                		
                },
                error: function(jqXHR,textStatus,errorThrown ){
    				toastr.error(jqXHR.responseText);
    				}
            	});
            	
			});

			$('#giro').on('hidden.bs.modal', function () {
				$("#guardarGiro").prop("disabled", false);
			});
				
			//BOTON GUARDAR GIRO DEL MODAL DE EDICION DE GIRO
			$("#guardarGiro").click(function(){

				$(this).prop("disabled", true);
				
				var validacion="";
				var formData=new FormData();
				
				formData.append('observacion',$("#observacionGiro").val());
				formData.append('fojas',$("#fojasRespuestaInforme").val());
				formData.append('idDestino',$("#selDestinoGiro").val());
				validacion=(($("#selDestinoGiro").val()==0)
								?'<li>Debe seleccionar un destino</li>':'');
		
				
				formData.append('idExpediente',$("#movimientos").find('input[name="idExpediente"]').val());
				
                if (validacion.length>0) 
        		{
        			validacion=((validacion.length>0)?'<strong>Validacion de Datos</strong><br><ul>'+
        						validacion+'</ul>':'');
        			toastr.error(validacion);
        			$(this).prop("disabled", false);
        			return false;
        		}
        		else{
        
                	$.ajax({
                        async: true,
                        url: '{{ app.request.getBaseURL() }}' + '/api/expediente/giro/create',
                        data: formData,
                        cache: false,
                        contentType: false,
                        processData: false,
                        type: 'POST',
                    success: function(data) {
                        toastr.success(data);
        				tabla.ajax.reload();
        				$('#giros').modal('hide');
                    	},
                    complete: function(){
                    	$(this).prop("disabled", false);
                    },
                    error: function(jqXHR,textStatus,errorThrown ){
        				toastr.error(jqXHR.responseText);
        				}
                	});
                }
				
			});

			//------------------------------------------------------------------------------------------------------------
			//-------------------------------------ALTA Y EDICION DE INFORMES---------------------------------------------
			//------------------------------------------------------------------------------------------------------------
			
			//BOTON ALTA GIRO DE LA GRILLA DE INFORMES
			$("#alta-informe").click(function(){
				$("#informe").find('input[name="modoInforme"]').val("alta");
				$("#informe").modal("show");
			});

			//BOTON MODIFICAR GIRO DE LA GRILLA DE INFORMES
			$('#tablaInformes tbody').on( 'click', '.btn-modificar-informe', function () {
		        var data = tabla.row( $(this).parents('tr') ).data();
		        $("#informe").find('input[name="idInforme"]').val(data[ "id" ]);
		        $("#informe").find('input[name="modoInforme"]').val("edicion");
		        $("#informe").modal("show");
		    } );

			// EVENTO ABRIR DEL MODAL DE INFORME
			$('#informe').on('show.bs.modal', function () {
				var modo = $("#giro").find('input[name="modoInforme"]').val(); 

				$("#selDestinoInforme").val(0);
				$("#solicitudInforme").val("");
				$("#fechaEnvioInforme").val("");
				$("#fechaRespuestaInforme").val("");
				$("#fojasRespuestaInforme").val("");

				if (modo=="edicion"){

					var idInforme=$("#informe").find('input[name="idInforme"]').val();
					
					$.ajax({
                        url: '{{ app.request.getBaseURL() }}' + '/api/expediente/informe/findOne/'+idInforme,
                        type: 'GET',
                    success: function(data) {
                    	$("#selDestinoInforme").val(data.destino.id);
                    	$("#solicitudInforme").val(data.solicitud);
                    	$("#fechaEnvioInforme").val(data.fecha_emision_formateada);
                    	$("#fechaRespuestaInforme").val(data.fecha_inggreso_repuesta_formateada);
                    	$("#fojasRespuestaInforme").val(data.fojas);
                    },
                    error: function(jqXHR,textStatus,errorThrown ){
        				toastr.error(jqXHR.responseText);
        				}
                	});
				}

    			if($("#fechaEnvioInforme").val()==''){
    					$("#fechaRespuestaInforme").prop("disabled", true);
    					$("#fojasRespuestaInforme").prop("disabled", true);
    					$("#fechaEnvioInforme").prop("disabled", false);
    					$("#selDestinoInforme").prop("disabled", false);
                    	$("#solicitudInforme").prop("disabled", false);                    	
    			}
				else {
					$("#fechaRespuestaInforme").prop("disabled", false);
					$("#fojasRespuestaInforme").prop("disabled", false);
					$("#fechaEnvioInforme").prop("disabled", true);
					$("#selDestinoInforme").prop("disabled", true);
                	$("#solicitudInforme").prop("disabled",true);
				}
			});

			$('#informe').on('hidden.bs.modal', function () {
				$("#guardarInforme").prop("disabled", false);
			});
				
			//BOTON GUARDAR INFORME DEL MODAL DE EDICION DE INFORME
			$("#guardarInforme").click(function(){

				$(this).prop("disabled", true);
				
				var validacion="";
				var formData=new FormData();
				var modo =$("#informe").find('input[name="modoInforme"]').val();
				var url="";
				
				formData.append('solicitud',$("#solicitudInforme").val());
				formData.append('idDestino',$("#selDestinoInforme").val());
				validacion=(($("#selDestinoInforme").val()==0)
								?'<li>Debe seleccionar un destino</li>':'');
				validacion=(($("#solicitudInforme").val()=="")
								?'<li>Debe especificar la solicitud</li>':'');
				validacion+=(($("#fechaRespuestaInforme").val()!="" && $("#fojasRespuestaInforme")=="")
								?'<li>Debe indicar la ubicacion de las fojas en el expediente</li>':'');
							
				if (modo=='alta'){
					url="/api/expediente/informe/create";
					formData.append('id',$("#movimientos").find('input[name="idExpediente"]').val());
				}
				else{
					url="/api/expediente/informe/update"
					formData.append('id',$("#informe").find('input[name="idInforme"]').val());
				}


                if (validacion.length>0) 
        		{
        			validacion=((validacion.length>0)?'<strong>Validacion de Datos</strong><br><ul>'+
        						validacion+'</ul>':'');
        			toastr.error(validacion);
        			$(this).prop("disabled", false);
        			return false;
        		}
        		else{
        
                	$.ajax({
                        async: true,
                        url: '{{ app.request.getBaseURL() }}' + url,
                        data: formData,
                        cache: false,
                        contentType: false,
                        processData: false,
                        type: 'POST',
                    success: function(data) {
                        toastr.success(data);
        				tabla.ajax.reload();
        				$('#informe').modal('hide');
                    	},
                    complete: function(){
                    	$(this).prop("disabled", false);
                    },
                    error: function(jqXHR,textStatus,errorThrown ){
        				toastr.error(jqXHR.responseText);
        				}
                	});
                }
				
			});
		
			
		    //------------------------------------------------------------------------------------------------------------
			//---------------------------------INICIALIZACIÓN DE CONTROLES------------------------------------------------
			//------------------------------------------------------------------------------------------------------------

			$('#estadoFiltro').bootstrapToggle({
		      on:  'Activo',
		      off: 'Inactivo',
		      offstyle: 'primary',
		      onstyle: 'success',
		      width: "80px",
		      height: "35px"
		    });

			$(".busqueda").addClass('hidden');
			$("#selBusqueda").val("todo");
			$('#estadoFiltro').bootstrapToggle('disable');

			$("#selBusqueda").change(function(){

				var control=$(this).val();
				$(".busqueda").addClass('hidden');
				if(control!="todo")
					$("#"+control).removeClass('hidden');
				else{
					$("#busqueda-1").val("");
					$("#busqueda-2").val("0");
				}
			});

			$("#btn-busqueda").click(function(){
				var valorBusqueda=$("#selBusqueda").val();
				if(((valorBusqueda=="busqueda-1"|| valorBusqueda=="busqueda-2") && criterio()!="" && criterio()!="0") ||
					valorBusqueda=="busqueda-3"|| valorBusqueda=="busqueda-4")
				{
					tabla.ajax.url("api/expedienteComision/getByCriteria/"+tipoCriterio()+"/"+criterio()).load();
					$(".filtro").prop('disabled',true);
					$('#estadoFiltro').bootstrapToggle('enable');
					$("#estadoFiltro").bootstrapToggle('on');
				}
			});

			$('#estadoFiltro').change(function() {
				if(!$(this).is(':checked')){
					$(".filtro").prop('disabled',false);
					$("#selBusqueda").val("todo").change();
					$(".filtro").prop('disabled',false);
					tabla.ajax.url("api/expedienteComision/getByCriteria/"+tipoCriterio()+"/"+criterio()).load();
					$(this).bootstrapToggle('disable');
					
				}
			});

	});
	</script>
	<section class="content-header">
		<div class="row pull-right">
			<ol class="breadcrumb">
		        <li><a href="#"><i class="fa fa-dashboard"></i> Principal</a></li>
		        <li>Comisiones</li>
		        <li class="active">Expedientes Girados</li>
		        
		    </ol>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-3">
				<h2>
			        Expedientes Girados
			    </h2>
			</div>
			<div class="col-md-7 col-md-offset-2">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<label class="navbar-brand">Filtro</label>
						</div>
						<div class="collapse navbar-collapse">
							<div>
								<form class="navbar-form navbar-left">
									<div class="form-group">
										<div class="form-group text-center">
											<input type="checkbox" id="estadoFiltro" data-size="normal"/>
							        	</div> 
										<button type="button" class="btn btn-primary filtro" id="btn-busqueda">Aplicar</button>
										<select class="form-control filtro" id="selBusqueda">
											<option value="todo">Todo</option>
											<option value="busqueda-1">Número Expediente</option>
											<option value="busqueda-2">Comision</option>
											<option value="busqueda-3">Sin Publicar</option>
											<option value="busqueda-4">Sin Dictamen</option>
										</select>
										<input class="form-control busqueda hidden filtro" id="busqueda-1"/>
										<select class="form-control busqueda hidden filtro" id="busqueda-2">
											<option value="0">Seleccione Comisión</option>
											{% for comision in comisiones %}
								                <option value="{{ comision.id }}">{{ comision.comision }}</option>
								            {% endfor %}
										</select>										
									</div>
								</form>
							</div>
						</div>
					</div>
				</nav>
				
			</div>
	    </div> 
	</section>
	<section class="content">
	  	<div class="row">
	    	<div class="col-xs-12">
              	<table id="registroAsignaciones" class="table table-striped">
	                <thead>
	                	<tr>
	                		<th>id</th>
	                		<th>
	                			<div class="btn-group">
	                				{# if EXP_NEW is defined #}
		                			<button type="button" title="Agregar Asignación"class="btn btn-primary btn-xs" data-toggle="modal" data-target="#">
							    			<span class="glyphicon glyphicon-plus"></span>
							    	</button>
							    	{# endif #}
							    </div>
						    </th>	
						    <th>Expdiente</th>
			                <th>Comision</th>
			                <th>Publicado</th>
			                <th title="Fecha Publicacion">F. Pub.</th>
			                <th title="Revision que Establece Dictamen">Rev. Dic.</th>
	                	</tr>
	                </thead>
	                <tbody>
	                </tbody>
               	</table>     
	        </div> {# col #}
	    </div> {# row #}
	    <div id="cambioComision" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" >
			<div class="modal-dialog">
			    <!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666	;color:#FFF">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title">Edición Comisión</h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
				    	<form role="form">
				    		<input type="hidden" id="idAsignacion" name="idAsignacion">
				    		<div class="row">
				    			<div class="form-group col-md-12">
    				    			<label for="selComisionEdicion">Comisión</label>
    				    			<select class="form-control" id="selComisionEdicion" name="selComisionEdicion">
    									<option value="0">Seleccione Nueva Comisión</option>
    									{% for comision in comisiones %}
    						                <option value="{{ comision.id }}">{{ comision.comision }}</option>
    						            {% endfor %}
    								</select>
    							</div>
                			</div>
                			<hr>
    				    	<div class="row">
    				    		<div class="col-md-12">
					        		<div class="text-center">
						    			<div class="btn-group">
								        	<button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
				       			 			<button type="button" class="btn btn-primary" id="btn-cambio-comision">Aceptar</button>
								        </div>
							        </div>
							    </div>
    				    	</div>
				    	</form>
				    </div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}