
{% block stylesheets %}
	{# parent() }#}
  	{% stylesheets '@css_datatables' %}
      	<link rel="stylesheet" href="{{ asset_url }}" /></link>
  	{% endstylesheets %}
{% endblock %}

{% block javascripts %}
	{# parent() #}
    {% javascripts '@js_datatables'%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

	<style type="text/css">
		@media (min-width: 768px) {
		  .modal-xl {
		    width: 95%;
		    max-width:1600px;
		  }
		}		
					
		.toggle-on.btn{
			line-height: 22.5px!important;
		}
		.toggle-off.btn{
			line-height: 22.5px!important;
		}
					    
                  
        .selConcejales{
			height: 182px!important;
		    max-height: 183px!important;
		    overflow-y: auto!important;
		}
		.selComisiones{
		    min-height: 120px!important;
		    max-height: 121px!important;
		    overflow-y: auto!important;
		} 

	</style>
	<script type="text/javascript">
		
		function select2MatchCustom(params, data) {
		    // If there are no search terms, return all of the data
		    if ($.trim(params.term) === '') {
		      return data;
		    }

		    // Do not display the item if there is no 'text' property
		    if (typeof data.numeroCompleto === 'undefined') {
		      return null;
		    }

		    // `params.term` should be the term that is used for searching
		    // `data.text` is the text that is displayed for the data object
		    var numeroBusqueda=term.split('-');
		    var numeroCompleto=(data.numeroCompleto).split('-');
		    if (numeroBusqueda[0]==numeroCompleto && numeroBusqueda[1]==numeroCompleto[2]) {
		     	return data;
		    }

		    // Return `null` if the term should not be displayed
		    return null;
		}

		function criterio(){

			var tipo=$("#selBusqueda").val();
			var valorRetorno;

			if (tipo=="busqueda-0" || tipo=="busqueda-3" || tipo=="busqueda-5")
				valorRetorno="0";

			if (tipo=="busqueda-4")
				valorRetorno=$("#selSesionFiltro").val();

			if (tipo=="busqueda-1" || tipo=="busqueda-2" )
				valorRetorno=$("#"+tipo).val();	
			
			return valorRetorno;	
		}
		
		function tipoCriterio(){
			return $("#selBusqueda").val();
		}
			
		function addClasssToSelect2(div,clase){
			$("#"+div).find('span[class="select2-selection select2-selection--multiple"]').addClass(clase);
		}
		
		function actualizarSesiones(control,valorSeleccionado,sesionPersistida){

			$.ajax({
				type:'Get',
				dataType: 'json	',
				url:'{{ app.request.getBaseURL() }}'+'/api/sesion/getLastByType',
				success: function(data){
					
					var html='<option value="0">Seleccione Sesion</option>';
					var pertenece=false
					
					if (sesionPersistida!=null){
						$.each(data, function(index,sesion){
							if (sesion.id==sesionPersistida.id) pertenece=true;
						});
					}else pertenece=true;

					if (pertenece==false)//no esta entre los próximos hábles es de 
										  //una sesion pasada. No debería pasar
					
						html+='<option value="'+sesionPersistida.id+'" selected >'+
								 sesionPersistida.fecha_muestra+'</option>';
								 
					$.each(data, function(index,sesion){
						html+='<option value="'+sesion.id+'" '+
							  ((valorSeleccionado==sesion.id)?'selected':'') +'>'+sesion.fecha_formateada+'</option>';
					});
					
					$(control).html('');
					$(control).html(html);  
    							
				},
				error: function(jqXHR,textStatus,errorThrown ){
					toastr.error(JSON.parse(jqXHR.responseText));
				}
	      	});
		}
		
		$(document).ready(function () {

	  		$('[autofocus]', this).focus();
			
		    var tabla=$('#registroAsignaciones').DataTable({
		    			  "language": {
				              "infoEmpty": "Sin registros para mostrar",
				              "paginate": {
						          	"last": "Ultima Página",
						          	"first": "Primer página",
						          	"next": "Siguiente",
						          	"previous": "Anterior"
						       },
						       "search":"Búsqueda rápida",
						       "emptyTable": "Sin Datos",
						       "lengthMenu": 'Registros Listados <select class="form-control input-sm">'+
								             '<option value="10">10</option>'+
								             '<option value="20">20</option>'+
								             '<option value="30">30</option>'+
								             '<option value="40">40</option>'+
								             '<option value="50">50</option>'+
								             '<option value="-1">Todos</option>'+
								             '</select>',
								"loadingRecords": "Espere...cargando datos",
								"processing": "Procesando...",
								"sInfo": "Mostrando  _START_ a _END_ de _TOTAL_ registros",

			          	  },
					      "processing": false,
					      "ajax": {
							        "url": "api/comisionAsignacion/getByCriteria/"+tipoCriterio()+"/"+criterio(),
			            			"dataSrc": '',
									"error": function (xhr, error, thrown) {
			        					$("#estadoFiltro").bootstrapToggle('off');
			            			    toastr.error(JSON.parse(xhr.responseText));		            			    
			            			},
				            		
							    },
						  "initComplete": function(settings, json) {
							 		
							 		var api = this.api();
    								var paginaInicio={{ paginaInicio }};
    								var registrosPagina={{ registrosPagina }};
    								api.page.len(registrosPagina);
    								this.fnPageChange(paginaInicio,true);    								
							     },
						  "columnDefs": [
								            {
								                "targets": [ 0 ],
								                "visible": false,
								                "searchable": false
								            },
								            {
									            "targets": [ 1 ],
									            "data": null,
									            "orderable":false,
									            "render": function(data, type, row){
										            var html="<div class='btn-group'>";
										            if ('{{ 'COM_EXP_DEL' in app.user.listaPermisos }}')
    											        html+="<button type='button' title='Anular Asignación' class='btn btn-danger btn-xs btn-anular' "+
    											        	  ((row.edicion_habilitada==false)?"disabled":"")+" ><span class='glyphicon glyphicon-minus-sign'></span></button>";
										            
										            html+="</div>";
									            	return html;
									            }
									        },
									        {
									            "targets": [ 3 ],
									            "data": null,
									            "orderable":false,
									            "render": function(data, type, row){
										            var html='';
										            if ('{{ 'COM_EXP_COM_EDIT' in app.user.listaPermisos }}')
    									            	html="<button type='button'title='Editar Comision' class='btn btn-primary btn-xs btn-editar' "+
    									            	     ((row.edicion_habilitada==false)?"disabled":"")+ "><span class='glyphicon glyphicon-pencil'></span></button> ";
										            
    								            		html+=data+' ('+row.letra+')';
										           
								            		return html;
									            }
									        },
									        {
									            "targets": [ 4 ],
									            "data": "",
									            "orderable":false,
									            "render": function(data, type, row){
										           
								            		var html="<div class='text-center'>";
								            		if ('{{ 'COM_EXP_EDIT_SES' in app.user.listaPermisos }}'){
    								            		if (row.sesion_muestra!=""){
    
    														html+="<button type='button' class='btn btn-xs btn-success btn-editar-sesion' "; 
    														html+=((row.edicion_habilitada==false || row.inhabilita_sesion==true)?"disabled":"")+" data-toggle='modal' data-target='#modalSesionAsignacion' >";
    														html+="<span>"+row.sesion_muestra;
    														html+= ((row.edicion_habilitada==false)
    																	?" <li class='fa fa-lock'></li>"
    																	:" <li class='fa fa-unlock'></li>");
    														html+="</span></button>";
    													
    									            	}
    								            		else{
    															html+="<button type='button' class='btn btn-xs btn-primary btn-asignar-sesion' "+
    																  ((row.edicion_habilitada==false || row.inhabilita_sesion==true)?"disabled":"")+" data-toggle='modal' data-target='#modalSesionAsignacion' >Asignar Sesión</button>";
    
    									            		}
								            		}
								            		html+"</div>";
								            		return html;
									            }
									        },
									        {
									            "targets": [ 5 ],
									            "data": "",
									            "orderable":false,
									            "render": function(data, type, row){
								            		return "<div class='text-center'>"+((row.recibido==true)
										            			?"<span class='label label-success'>SI</span>"
												            	:"<span class='label label-danger'>NO</span>")+"</div>";
									            }
									        },
									        {
									        	"targets": [ 6 ],
									         	"data": "",
									         	"orderable":false,
									         	"render": function(data, type, row){
										         	
													var html="<div class='text-center'><div class='btn-group'>";

    												if (row.dictamen_mayoria_id==0){
    													
        												if (row.recibido==true){
            												
        													if ('{{ 'COM_EXP_DICT_ADD' in app.user.listaPermisos }}'){

        														if (row.lista_dictamen_mayoria_que_agrega!=null)
        															html+="<button type='button' class='btn btn-info btn-xs' >"+
        																  row.lista_dictamen_mayoria_que_agrega+"</button>";

          														else
            													
                													html+="<button type='button' title='Agregar Dictamen' "+
                														  "class='btn btn-primary btn-xs btn-nuevo-dictamen-mayoria' "+
                														  (((row.sesion==null || row.sesion.tiene_ultimo_momento==false) &&
                     														 row.edicion_habilitada==true)
                        													?"":"disabled")+" >Agregar Dictamen</button>";
        													}
        												}                        													
        												else

        														html+="<button type='button' "+
														  			  "class='btn btn-danger btn-xs' disabled >Sin Dictamen</button>";
        									
    												}
    												else{
															
    														if (row.dictamen_mayoria_es_u==true && '{{ 'DIC_ULT_MOM' in  app.user.listaPermisos }}')
       														 html+="<button type='button'title='Quitar de Ultimo Momento' "+
       														       "class='btn btn-danger btn-xs btn-quitar-u' id='"+row.dictamen_mayoria_id+"' "+
       														        ((row.edicion_habilitada==false)?'disabled':'')+"><strike>U</strike></button> ";
    													

															if ('{{ 'COM_EXP_DICT_EDIT' in app.user.listaPermisos }}')
        														html+="<button type='button' title='Editar Dictamen' "+
        															  "class='btn btn-success btn-xs btn-editar-dictamen-mayoria' "+
        															  ((row.edicion_habilitada==false)?"disabled":"")+" id='"+row.dictamen_mayoria_id+"'>"+
        															  /* ((row.edicion_habilitada==false)?"disabled":"")+
        															  " data-toggle='modal' data-target='#modalDictamen' id='"+row.dictamen_mayoria_id+"'>"+ */
        															  "Editar Dictamen</button>";

        													html+="<button type='button' title='Firmas' "+
          														  "class='btn btn-primary btn-xs btn-firmar' " +
          														  "id='"+row.dictamen_mayoria_id+"'>"+
          														  "<span class='fa fa-thumbs-o-up'></span></button>";
        															  
    														html+="<button type='button' title='Descargar Dictamen' "+
      															  "class='btn btn-info btn-xs btn-descargar-dictamen' " +
      															  "id='"+row.dictamen_mayoria_id+"'>"+
      															  "<span class='glyphicon glyphicon-save-file'></span></button>";  
    														
    												}
																										
    								            	return html+"</div></div>";		
									         	}
									        },
										    {
									         	"targets": [ 7 ],
									         	"data": "",
									         	"orderable":false,
									         	"render": function(data, type, row){
										         	
									         		var html="<div class='text-center'><div class='btn-group'>";
													
    												if (row.dictamen_primera_minoria_id==0){
    													
    													if (row.recibido==true){

    														if ('{{ 'COM_EXP_DICT_ADD' in app.user.listaPermisos }}'){

      															if (row.lista_dictamen_primera_minoria_que_agrega!=null)
        															html+="<button type='button' class='btn btn-info btn-xs' >"+
        																  row.lista_dictamen_primera_minoria_que_agrega+"</button>";

          														else	
                													html+="<button type='button' title='Agregar Dictamen' "+
                														  "class='btn btn-primary btn-xs btn-nuevo-dictamen-primera-minoria'" +
                														  (((row.sesion==null || row.sesion.tiene_ultimo_momento==false) &&
                															 row.edicion_habilitada==true)
                              													?"":"disabled")+" >Agregar Dictamen</button>";
    														
    														}
    													}
                            							else

                            									html+="<button type='button' "+
												  			  	  	  "class='btn btn-danger btn-xs' disabled >Sin Dictamen</button>";
				
    												}
        											else{
            												if (row.dictamen_primera_minoria_es_u==true && '{{ 'DIC_ULT_MOM' in  app.user.listaPermisos }}')
          														 html+="<button type='button'title='Quitar de Ultimo Momento' "+
          														       "class='btn btn-danger btn-xs btn-quitar-u' id='"+row.dictamen_primera_minoria_id+"' "+
          														        ((row.edicion_habilitada==false)?'disabled':'')+"><strike>U</strike></button> ";
        												
    														if ('{{ 'COM_EXP_DICT_EDIT' in app.user.listaPermisos }}')
                			    								html+="<button type='button' title='Editar Dictamen' "+
            														  "class='btn btn-success btn-xs btn-editar-dictamen-primera-minoria' "+
            														  ((row.edicion_habilitada==false)?"disabled":"")+
            														  " data-toggle='modal' data-target='#modalDictamen' id='"+row.dictamen_primera_minoria_id+"'>"+
            														  "Editar Dictamen</button>";

														  	html+="<button type='button' title='Firmas' "+
  														  		  "class='btn btn-primary btn-xs btn-firmar' " +
  														  		  "id='"+row.dictamen_primera_minoria_id+"'>"+
  														  		  "<span class='fa fa-thumbs-o-up'></span></button>";
            														  
        													html+="<button type='button' title='Descargar Dictamen' "+
															  	  "class='btn btn-info btn-xs btn-descargar-dictamen' " +
															  	  "id='"+row.dictamen_primera_minoria_id+"'>"+
															  	  "<span class='glyphicon glyphicon-save-file'></span></button>"; 
        											}
																					
    								            	return html+"</div></div>";
									         	}
										    },
											{
									            "targets": [ 8 ],
									            "data": "",
									            "orderable":false,
									            "render": function(data, type, row){
									            	
									         		var html="<div class='text-center'><div class='btn-group'>";
													
    												if (row.dictamen_segunda_minoria_id==0){
    													    												
        												if (row.recibido==true){
            												
        													if ('{{ 'COM_EXP_DICT_ADD' in app.user.listaPermisos }}'){

        														if (row.lista_dictamen_segunda_minoria_que_agrega!=null)
        															html+="<button type='button' class='btn btn-info btn-xs' >"+
        																  row.lista_dictamen_segunda_minoria_que_agrega+"</button>";

          														else
                													html+="<button type='button' title='Agregar Dictamen' "+
                														  "class='btn btn-primary btn-xs btn-nuevo-dictamen-segunda-minoria' "+
                														  (((row.sesion==null || row.sesion.tiene_ultimo_momento==false) &&
                     													     row.edicion_habilitada==true)
                              													?"":"disabled")+" >Agregar Dictamen</button>";
        													}
        												}
        												else

        														html+="<button type='button' "+
												  			  	  	  "class='btn btn-danger btn-xs' disabled >Sin Dictamen</button>";
														
    												}
    												else{    		
        													if (row.dictamen_segunda_minoria_es_u==true && '{{ 'DIC_ULT_MOM' in  app.user.listaPermisos }}')
         														 html+="<button type='button'title='Quitar de Ultimo Momento' "+
         														       "class='btn btn-danger btn-xs btn-quitar-u' id='"+row.dictamen_segunda_minoria_id+"' "+
         														        ((row.edicion_habilitada==false)?'disabled':'')+"><strike>U</strike></button> ";
												
															if ('{{ 'COM_EXP_DICT_EDIT' in app.user.listaPermisos }}')										
            													html+="<button type='button' title='Editar Dictamen' "+
            														  "class='btn btn-success btn-xs btn-editar-dictamen-segunda-minoria' "+
            														  ((row.edicion_habilitada==false)?"disabled":"")+
            														  " data-toggle='modal' data-target='#modalDictamen' id='"+row.dictamen_segunda_minoria_id+"'>"+
            														  "Editar Dictamen</button>";
            														  
    														html+="<button type='button' title='Firmas' "+
													  		  	  "class='btn btn-primary btn-xs btn-firmar' " +
													  		  	  "id='"+row.dictamen_segunda_minoria_id+"'>"+
													  		  	  "<span class='fa fa-thumbs-o-up'></span></button>";
            														  
    														html+="<button type='button' title='Descargar Dictamen' "+
														  	  	  "class='btn btn-info btn-xs btn-descargar-dictamen' " +
														  	  	  "id='"+row.dictamen_segunda_minoria_id+"'>"+
														  	  	  "<span class='glyphicon glyphicon-save-file'></span></button>"; 
    													
    												}													
								
    								            	return html+"</div></div>";
									         	}
									        }	       
						  ],
					      "columns": [
					      		{ "data": "id" },
					      		{ "data": "null","width":"7%"},
					      		{ "data": "numero_completo","width":"8%"},
					            { "data": "comision_nombre","width":"31%" },
					            { "data": "null", "width": "8%"},
					            { "data": "null", "width": "4%"},
					            { "data": "null", "width": "14%"},
					            { "data": "null", "width": "14%"},
					            { "data": "null", "width": "14%"}
					        ],
					      "autoWidth":false,
					      "paging": true,
					      "lengthChange": true,
					      "searching": true,
					      "ordering": true,
					      "info": true,
					      "autoWidth": false,
			});
		    
		    $('#registroAsignaciones tbody').on( 'click', '.btn-descargar-dictamen', function (e) {
		        window.location.href='{{ app.request.getBaseURL() }}'+
		        					 '/imprimirDictamen?idDictamen='+
		        					 e.currentTarget.id;
		    } );

		    //EVENTO BOTON QUITAR ULTIMO MOMENTO
		    $('#registroAsignaciones tbody').on( 'click', '.btn-quitar-u', function (e) {
			    
		        var id=e.currentTarget.id;
		        		        
		        $.ajax({
					type:'POST',
					dataType: 'json	',
					url:'{{ app.request.getBaseURL() }}/api/comisionAsignacion/editUltimoMomento/'+id,
					success: function(data){
						toastr.success(data);
						tabla.ajax.reload(null,false);
					},
					error: function(jqXHR,textStatus,errorThrown ){
						toastr.error(JSON.parse(jqXHR.responseText));
					}
		     	});
		        
		    });

			//EVENTO BOTON FIRMAS
			$('#registroAsignaciones tbody').on( 'click', '.btn-firmar', function (e) {
		        var id=e.currentTarget.id;
		        $("#modalFirmas").find('input[name="idDictamen"]').val(id);
		        $("#modalFirmas").modal('show');
		    });

			//MODAL FIRMA AL ABRIR
			$('#modalFirmas').on('show.bs.modal', function () {

				var idDictamen= $("#modalFirmas").find('input[name="idDictamen"]').val();
				
				$.ajax({
    				type:'Get',
    				dataType: 'json	',
    				url:'{{ app.request.getBaseURL() }}'+'/api/comisionAsignacion/getFirmasDictamen/'+idDictamen,
    				success: function(data){
    					$("#selFirmantes").empty().change();
    					$.each(data,function(i,firma){
    						var newOption = new Option(firma.nombre_completo, firma.id, true, true);
        				   	$("#selFirmantes").append(newOption).trigger('change');
        				});
    				},
    				error: function(jqXHR,textStatus,errorThrown ){
    					toastr.error(JSON.parse(jqXHR.responseText));
    				}
    	      	});
			});

			//EVENTO BOTÓN GUARDAR FIRMAS
			$("#btn-guardar-firmantes").click(function(){

				$(this).prop("disabled", true);

				var idDictamen=$("#modalFirmas").find('input[name="idDictamen"]').val();
				var firmantes=$("#selFirmantes").val();
				var formData=new FormData();
				var validacion='';

				validacion+=((firmantes==null || firmantes.length==0)
								?'<li>Debe indicar al menos un firmante</li>':'');

				if (validacion.length>0) 
 				{
 					validacion=((validacion.length>0)?'<strong>Validacion de Datos</strong><br><ul>'+
 								validacion+'</ul>':'');
 					toastr.error(validacion);
 					$(this).prop("disabled", false);
 					return false;
 				}
 				else{

 					formData.append('idDictamen',idDictamen);
 					formData.append('firmantes',firmantes);

 	            	$.ajax({
 		                async: true,
 		                url: '{{ app.request.getBaseURL() }}'+'/api/comisionAsignacion/saveFirmasDictamen',
 		                data: formData,
 		                cache: false,
 		                contentType: false,
 		                processData: false,
 		                type: 'POST',
 	                success: function(data) {
 	                    toastr.success(data);
 						$('#modalFirmas').modal('hide');
 	                	},
 	                complete:function(){
 	                	$("#btn-guardar-firmantes").prop("disabled", false);
 	                },
 	                error: function(jqXHR,textStatus,errorThrown ){
 						toastr.error(JSON.parse(jqXHR.responseText));
 						}
 	            	});
 	            }
				
			});

		  //-----------------------------------------------------------------------------------------------------------------
		  //----------------------------------------------ASIGNACION DE SESIÓN-----------------------------------------------
		  //-----------------------------------------------------------------------------------------------------------------

		  //EVENTO ASIGNAR SESION DE LA GRILLA DE ASIGNACIONES	
		  $('#registroAsignaciones tbody').on( 'click', '.btn-asignar-sesion', function (event) {
				
		    	var data = tabla.row( $(this).parents('tr') ).data();
		        $("#modalSesionAsignacion").find("input[name='idAsignacion']").val(data[ "id" ]);
		        actualizarSesiones($("#selSesion"),0,null);
		        
		    } );
		    
		  //EVENTO EDITAR SESION DE LA GRILLA DE ASIGNACIONES	
		  $('#registroAsignaciones tbody').on( 'click', '.btn-editar-sesion', function () {
		    	var data = tabla.row( $(this).parents('tr') ).data();
		        $("#modalSesionAsignacion").find("input[name='idAsignacion']").val(data[ "id" ]);
		        var idSesion=data[ "sesion_id" ];
		        var sesionPersistida=data[ "sesion" ];
		        actualizarSesiones($("#selSesion"),idSesion,sesionPersistida);
		    });

		  //EVENTO GUARDAR SESION DEL MODAL DE SESION
		  $("#btn-guardar-sesion").click(function(){

			    $("#btn-guardar-sesion").prop("disabled",true);
			  
				var idSesion=$("#modalSesionAsignacion").find("select[name='selSesion']").val();
				var idAsignacion=$("#modalSesionAsignacion").find("input[name='idAsignacion']").val();
				var validacion='';
				var formData=new FormData();

				validacion+=((idSesion==0)
						 	 ?'<li>Debe selecionar una sesion</li>':'');
			 	
				formData.append('idSesion',idSesion);
				formData.append('idAsignacion',idAsignacion);
				
				if (validacion.length>0) 
				{
					validacion=((validacion.length>0)?'<strong>Validacion de Datos</strong><br><ul>'+
								validacion+'</ul>':'');
					$("#btn-guardar-sesion").prop("disabled",false);
					toastr.error(validacion);
					return false;
				}
				else{

	            	$.ajax({
		                async: true,
		                url: '{{ app.request.getBaseURL() }}'+'/api/comisionAsignacion/updateSesion',
		                data: formData,
		                type: 'post',
		                cache: false,
		                contentType: false,
		                processData: false,
	                success: function(data) {
	                    toastr.success(data);
						tabla.ajax.reload(null,false);
						$('#modalSesionAsignacion').modal('hide');
	                	},
	                complete: function(){
	                	$("#btn-guardar-sesion").prop("disabled",false);
	                	},
	                error: function(jqXHR,textStatus,errorThrown ){
						toastr.error(JSON.parse(jqXHR.responseText));
						}
	            	});
	            }  

		  });

		//------------------------------------------------------------------------------------------------------------
			//-------------------------------------------ALTA DE SESIÓN---------------------------------------------------
			//------------------------------------------------------------------------------------------------------------

			$("#modalAltaSesion").on('show.bs.modal', function () {
				$("#selTipoSesion").val(0);
				$("#fecha").val("");
				$("#descripcion").val("");
			});

			$("#btn-guardar-alta-sesion").click(function(){

				$(this).prop("disabled",true);
				var formData=new FormData();

				var control=$("#modalAltaSesion").find('input[name="control"]').val();
				var idSesion=$("#modalAltaSesion").find('input[name="id"]').val();
				var idTipoSesion=$("#selTipoSesion").val();
            	var fecha=$("#fecha").val();
            	var descripcion=$("#descripcion").val();
            	
              var validacion='';
              
              formData.append('idTipoSesion',idTipoSesion);
              validacion+=((idTipoSesion==0)?'<li>Debe seleccionar un tipo de sesion</li>':'');
          	
            	formData.append('fecha',fecha);
            	validacion+=((fecha=="")?'<li>Debe indicar una fecha para la sesión</li>':'');
                          	
            	formData.append('descripcion',descripcion);
            	validacion+=((descripcion.replace(/ |\n/g, '').length==0)
                    		 ?'<li>Debe especificar una descripción</li>':'');
          				  				
	            if (validacion.length>0) 
				{
					validacion=((validacion.length>0)?'<strong>Validacion de Datos</strong><br><ul>'+
								validacion+'</ul>':'');
					toastr.error(validacion);
					$(this).prop("disabled", false);
					return false;
				}
				else{

	            	$.ajax({
		                async: true,
		                url: '{{ app.request.getBaseURL() }}'+'/api/sesion/save',
		                data: formData,
		                cache: false,
		                contentType: false,
		                processData: false,
		                type:  'POST',
	                success: function(data) {
	                    toastr.success(data);
	                    actualizarSesiones($("#"+control),0,null);
						$('#modalAltaSesion').modal('hide');
	                	},
	                complete:function(){
	                	$("#btn-guardar-alta-sesion").prop("disabled", false);
	                },
	                error: function(jqXHR,textStatus,errorThrown ){
						toastr.error(JSON.parse(jqXHR.responseText));
						}
	            	});
	            }
			});

		  //-----------------------------------------------------------------------------------------------------------------
		  //-------------------------------------ALTA Y MODIFICACION DE DICTAMENES-------------------------------------------
		  //-----------------------------------------------------------------------------------------------------------------

		  //EVENTO NUEVO DICTAMEN DE LA GRILLA DE ASIGNACIONES	
		    $('#registroAsignaciones tbody').on( 'click', '.btn-nuevo-dictamen-mayoria', function () {
		        var data = tabla.row( $(this).parents('tr') ).data();
		        var numeroDictaminantes='{{ MAYORIA }}';
		        cargarMenuConParametros('/dictamen_a_m',
				        				{nombre:'idAsignacion', valor:data[ 'id' ]},
				        				{nombre:'numeroDictaminantes', valor:numeroDictaminantes},
				        				{nombre:'paginaActual', valor:0},
                        				{nombre:'registrosPagina', valor: tabla.page.len()});
		    } );

		    $('#registroAsignaciones tbody').on( 'click', '.btn-nuevo-dictamen-primera-minoria', function () {
		        var data = tabla.row( $(this).parents('tr') ).data();
		        var numeroDictaminantes='{{ PRIMERA_MINORIA }}';
		        cargarMenuConParametros('/dictamen_a_m',
                        				{nombre:'idAsignacion', valor:data[ 'id' ]},
                        				{nombre:'numeroDictaminantes', valor:numeroDictaminantes},
                        				{nombre:'paginaActual', valor:0},
                        				{nombre:'registrosPagina', valor: tabla.page.len()});
		    });

		    $('#registroAsignaciones tbody').on( 'click', '.btn-nuevo-dictamen-segunda-minoria', function () {
		        var data = tabla.row( $(this).parents('tr') ).data();
		        var numeroDictaminantes='{{ SEGUNDA_MINORIA }}';
		        cargarMenuConParametros('/dictamen_a_m',
                        				{nombre:'idAsignacion', valor:data[ 'id' ]},
                        				{nombre:'numeroDictaminantes', valor:numeroDictaminantes},
                        				{nombre:'paginaActual', valor:0},
                        				{nombre:'registrosPagina', valor: tabla.page.len()});
		    });
		    
			//EVENTO EDITAR DICTAMEN DE LA GRILLA DE ASIGNACIONES
		    $('#registroAsignaciones tbody').on( 'click', '.btn-editar-dictamen-mayoria', function (e) {
		        var data = tabla.row( $(this).parents('tr') ).data();
		        var numeroDictaminantes='{{ MAYORIA }}';
		        cargarMenuConParametros('/dictamen_a_m',
                        				{nombre:'idAsignacion', valor:data[ 'id' ]},
                        				{nombre:'numeroDictaminantes', valor:numeroDictaminantes},
                        				{nombre:'paginaActual', valor:tabla.page()},
										{nombre:'registrosPagina', valor: tabla.page.len()});
		    });

		    $('#registroAsignaciones tbody').on( 'click', '.btn-editar-dictamen-primera-minoria', function (e) {
		        var data = tabla.row( $(this).parents('tr') ).data();
		        var numeroDictaminantes='{{ PRIMERA_MINORIA }}';
		        cargarMenuConParametros('/dictamen_a_m',
                        				{nombre:'idAsignacion', valor:data[ 'id' ]},
                        				{nombre:'numeroDictaminantes', valor:numeroDictaminantes},
                        				{nombre:'paginaActual', valor:tabla.page()},
										{nombre:'registrosPagina', valor: tabla.page.len()});
		    });

		    $('#registroAsignaciones tbody').on( 'click', '.btn-editar-dictamen-segunda-minoria', function (e) {
		        var data = tabla.row( $(this).parents('tr') ).data();
		        var numeroDictaminantes='{{ SEGUNDA_MINORIA }}';
		        cargarMenuConParametros('/dictamen_a_m',
                        				{nombre:'idAsignacion', valor:data[ 'id' ]},
                        				{nombre:'numeroDictaminantes', valor:numeroDictaminantes},
                        				{nombre:'paginaActual', valor:tabla.page()},
										{nombre:'registrosPagina', valor: tabla.page.len()});
		    });
		    		    
			//EVENTO CLICK BOTON ANULAR DICTAME
			$('#registroAsignaciones tbody').on( 'click', '.btn-anular', function () {			
				 var data = tabla.row( $(this).parents('tr') ).data();

				 if (data["recibido"]==false)
					 toastr.error("No se ha efectivizado la recepción del movimiento");
				 else{
        				 var formData=new FormData();
        				 formData.append('idAsignacion',+data[ "id" ]);
        				 				 
        				 $.ajax({
        	                   async: true,
        	                   url: '{{ app.request.getBaseURL() }}/api/comisionAsignacion/anular',
        	                   data: formData,
        	                   cache: false,
        	                   contentType: false,
        	                   processData: false,
        	                   type:  'POST',
        	               success: function(data) {
        	                   toastr.success(data);
        	    				tabla.ajax.reload(null,false);
        	               	},
        	               error: function(jqXHR,textStatus,errorThrown ){
        	    				toastr.error(JSON.parse(jqXHR.responseText));
        	    			}
        	           	});
				 }
			}); 
			
			//EVENTO BOTON EDITAR COMISION
		    $('#registroAsignaciones tbody').on( 'click', '.btn-editar', function () {
		        var data = tabla.row( $(this).parents('tr') ).data();
		        if (data["recibido"]==false)
					 toastr.error("No se ha efectivizado la recepción del movimiento");
				 else{
		        		$("#cambioComision").find('input[name="idAsignacion"]').val(data[ "id" ]);
		        		$("#cambioComision").modal('show');
				 }
		    } );

			//BOTON ACEPTAR DEL MODAL DE EDICIÓN DE COMISIÓN
		    $("#btn-cambio-comision").click(function(){

		    	$(this).prop("disabled",true);
				
				var idAsignacion = $("#cambioComision").find('input[name="idAsignacion"]').val();
				var idNuevaComision = $("#cambioComision").find('select[name="selComisionEdicion"]').val();
				
              	var formData=new FormData();
                var validacion='';

                formData.append('idAsignacion',idAsignacion);
              	formData.append('idNuevaComision',idNuevaComision);
              	validacion+=((idNuevaComision==0)?'<li>Debe seleccionar una comision</li>':'');

              	 if (validacion.length>0) 
 				{
 					validacion=((validacion.length>0)?'<strong>Validacion de Datos</strong><br><ul>'+
 								validacion+'</ul>':'');
 					toastr.error(validacion);
 					$(this).prop("disabled", false);
 					return false;
 				}
 				else{

 	            	$.ajax({
 		                async: true,
 		                url: '{{ app.request.getBaseURL() }}'+'/api/comisionAsignacion/updateComision',
 		                data: formData,
 		                cache: false,
 		                contentType: false,
 		                processData: false,
 		                type: 'POST',
 	                success: function(data) {
 	                    toastr.success(data);
 						tabla.ajax.reload(null,false);
 						$('#cambioComision').modal('hide');
 	                	},
 	                complete:function(){
 	                	$(this).prop("disabled", false);
 	                },
 	                error: function(jqXHR,textStatus,errorThrown ){
 						toastr.error(JSON.parse(jqXHR.responseText));
 						}
 	            	});
 	            }
			    
			 });

			// EVENTO CLICK DEL BOTON DE NUEVA ASIGNACION DE COMISION
			$('#modalNuevaAsignacion').on('show.bs.modal', function () {
				$('#selExpedienteAdd').empty().change();
				$("#selComisionesAdd").empty().change();
			});

			//EVENTO CLICK DEL BOTON GUARDAR NUEVA ASIGNACION
			$("#btn-guardar-asignacion").click(function(){

				$(this).prop("disabled",true);
				
				var idExpediente = $("#modalNuevaAsignacion").find('select[name="selExpedienteAdd"]').val();
				var comisiones = $("#modalNuevaAsignacion").find('select[name="selComisionesAdd"]').val();
				
              	var formData=new FormData();
                var validacion='';

                validacion+=((idExpediente=="")?'<li>Debe seleccionar una expediente</li>':'');
                validacion+=((comisiones=="" || comisiones == [])?'<li>Debe seleccionar al menos una comisión</li>':'')

              	 if (validacion.length>0) 
 				{
 					validacion=((validacion.length>0)?'<strong>Validacion de Datos</strong><br><ul>'+
 								validacion+'</ul>':'');
 					toastr.error(validacion);
 					$("#btn-guardar-asignacion").prop("disabled", false);
 					return false;
 				}
 				else{

 					  formData.append('idExpediente',idExpediente);
 		              formData.append('comisiones',comisiones);

 	            	$.ajax({
 		                async: true,
 		                url: '{{ app.request.getBaseURL() }}/api/comisionAsignacion/create',
 		                data: formData,
 		                cache: false,
 		                contentType: false,
 		                processData: false,
 		                type: 'POST',
 	                success: function(data) {
 	                    toastr.success(data);
 						tabla.ajax.reload();
 						$('#modalNuevaAsignacion').modal('hide');
 	                	},
 	                complete:function(){
 	                	$("#btn-guardar-asignacion").prop("disabled", false);
 	                },
 	                error: function(jqXHR,textStatus,errorThrown ){
 						toastr.error(JSON.parse(jqXHR.responseText));
 						}
 	            	});
 	            }

			});

		    //------------------------------------------------------------------------------------------------------------
			//---------------------------------INICIALIZACIÓN DE CONTROLES------------------------------------------------
			//------------------------------------------------------------------------------------------------------------
				
			$("#btn-nueva-sesion-modificacion").click(function(){
				$("#modalAltaSesion").find('input[name="control"]').val("selSesionMod");
				$("#modalAltaSesion").modal('show');
			}); 				
	
			$("#btn-nueva-sesion-asignacion").click(function(){
				
				$("#modalAltaSesion").find('input[name="control"]').val("selSesion");
				$("#modalAltaSesion").modal('show');
			});
					
			$("#selComisionesAdd").select2({
				ajax: {
			    url: '{{ app.request.getBaseURL() }}'+"/api/comisionAsignacion/getByExpedienteAndNombre",
			    dataType: 'json',
			    delay: 250,
			    cache: false,
			    data: function (params) {
			      return {
							q: params.term, // search term
  			        		r: $("#modalNuevaAsignacion").find('select[name="selExpedienteAdd"]').val(),
        			        page: params.page
        			      };
			    },
			    processResults: function (data) {
			       var dato=data;
		           return {
				        results: $.map(dato, function(item) {
				            return { id: item.id, text: item.comision };
				        })
				    };
		        },
			  },
			  language: "es",
			  minimumInputLength: 3,
			  theme: "bootstrap",
			});

			$("#selExpedienteAdd").select2({
				language:{
					locale: "es",
					inputTooShort: function(){
						  return 'Ingrese con formato #[#..#]-AA, ej.: 1-17,100-18'
					},
					noResults: function(){
						  return 'El expediente no tiene asignacion o no está habilitado para la seleción'
					},
					errorLoading: function(){
						  return 'Lo ingresado no coincide con el formato #[#..#]-AA'
					}
				},
				ajax: {
			    url: '{{ app.request.getBaseURL() }}'+"/api/comisionAsignacion/getExpedientefromAsignados",
			    dataType: 'json',
			    delay: 250,
			    cache: false,
			    data: function (params) {
			      return {
							q: params.term, // search term
        			        page: params.page
        			      };
			    },
			    processResults: function (data) {
			       var dato=data;
		           return {
				        results: $.map(dato, function(item) {
				            return { id: item.id, text: item.numeroCompleto };
				        })
				    };
		        },
			  },
			  minimumInputLength: 4,
			  theme: "bootstrap",
			  //matcher: select2MatchCustom,
			  placeholder: "ej.: 1-17, 100-18"
			});

			$("#selFirmantes").select2({
				ajax: {
				    url: '{{ app.request.getBaseURL() }}'+"/api/comisionAsignacion/getIntegrantesComisionesByDictamen",
				    dataType: 'json',
				    delay: 250,
				    cache: false,
				    data: function (params) {
				      return {
								q: params.term, // search term
								r: $("#modalFirmas").find('input[name="idDictamen"]').val(),
	        			        page: params.page
	        			      };
				    },
				    processResults: function (data) {
				       var dato=data;
			           return {
					        results: $.map(dato, function(item) {
					            return { id: item.id, text: item.nombre_completo };
					        })
					    };
			        },
				  },
				  language: "es",
				  minimumInputLength: 3,
				  theme: "bootstrap",
				});
			
			addClasssToSelect2("group-selConcejales","selConcejales");
			addClasssToSelect2("group-selComisionesAdd","selComisiones");
			
			$('#estadoFiltro').bootstrapToggle({
		      on:  'Activo',
		      off: 'Inactivo',
		      offstyle: 'primary',
		      onstyle: 'success',
		      width: "80px",
		      height: "35px"
		    });

			$(".busqueda").addClass('hidden');
			$("#selBusqueda").val("busqueda-0");
			$('#estadoFiltro').bootstrapToggle('disable');

			$("#selAñoFiltro").change(function(){

				var periodo=$(this).val();

				if (periodo==0)
					$("#selSesionFiltro").html('<option value="0">Seleccione Sesion</option>');
				else {
    					$.ajax({
        					type:'Get',
        					dataType: 'json	',
        					url:'{{ app.request.getBaseURL() }}'+'/api/sesion/getAllByPeriodo/'+periodo,
        					success: function(data){
        						$("#selSesionFiltro").html('');
        						var html='<option value="0">Seleccione Sesion</option>'
        						$.each(data, function(index,sesion){
        							html+='<option value="'+sesion.id+'">'+sesion.fecha_formateada+'</option>';
        						}); 
        						$("#selSesionFiltro").html(html);    			
        					},
        					error: function(jqXHR,textStatus,errorThrown ){
        						toastr.error(JSON.parse(jqXHR.responseText));
        					}
        		      	});
				}

			});
			
			$("#selBusqueda").change(function(){
				
				var control=$(this).val();
				$(".busqueda").addClass('hidden');
				
				if(control!="busqueda-0"){
					if (control=="busqueda-4")
						$(".sesion").removeClass('hidden');
					else
						$("#"+control).removeClass('hidden');
				}
				else{
					$("#busqueda-1").val("");
					$("#busqueda-2").val("0");
					$("#selAñoFiltro").val("0");
					$("#selAñoFiltro").change();
				}
			});

			$("#btn-busqueda").click(function(){
				var valorBusqueda=$("#selBusqueda").val();
				if(((valorBusqueda=="busqueda-1"|| valorBusqueda=="busqueda-2" || valorBusqueda=="busqueda-4") 
					 && criterio()!="" && criterio()!="0") || valorBusqueda=="busqueda-0" || valorBusqueda=="busqueda-3" ||
					 valorBusqueda=="busqueda-5")
				{
					tabla.ajax.url("api/comisionAsignacion/getByCriteria/"+tipoCriterio()+"/"+criterio()).load();
					$(".filtro").prop('disabled',true);
					$('#estadoFiltro').bootstrapToggle('enable');
					$("#estadoFiltro").bootstrapToggle('on');
				} 
			});

			$('#estadoFiltro').change(function() {
				if(!$(this).is(':checked')){
					$(".filtro").prop('disabled',false);
					$("#selBusqueda").val("busqueda-0" ).change();
					$(".filtro").prop('disabled',false);
					tabla.ajax.url("api/comisionAsignacion/getByCriteria/"+tipoCriterio()+"/"+criterio()).load();
					$(this).bootstrapToggle('disable');
					
				}
			});

			$(".campo-fecha-futura").datetimepicker({
		    	locale: 'es',
		    	format:'DD/MM/YYYY',
		    	minDate : 'now'
		    });

			$("#busqueda-1").keydown(function(event){
				if (event.which==111)
					return false;			
			})

	});
	</script>
	<section class="content-header">
		<div class="row pull-right">
			<ol class="breadcrumb">
		        <li><a href="#"><i class="fa fa-dashboard"></i> Principal</a></li>
		        <li>{{ menuPadre | capitalize}}</li>
		        <li class="active">
		        	{% if gestionaDictamenes==1 %}
		        		Expedientes Girados
		        	{% else %}
		        		Expedientes Comisiones
		        	{% endif %}
		        </li>
		        
		    </ol>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-3">
				<h2>
			        {% if gestionaDictamenes==1 %}
		        		Expedientes Girados
		        	{% else %}
		        		Expedientes Comisiones
		        	{% endif %}
			    </h2>
			</div>
			<div class="col-md-8 col-md-offset-1">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<label class="navbar-brand">Filtro</label>
						</div>
						<div class="collapse navbar-collapse">
							<div>
								<form class="navbar-form navbar-left">
									<div class="form-group">
										<div class="form-group text-center">
											<input type="checkbox" id="estadoFiltro" data-size="normal"/>
							        	</div> 
										<button type="button" class="btn btn-primary filtro" id="btn-busqueda">Aplicar</button>
										<select class="form-control filtro" id="selBusqueda" autofocus="autofocus">
											<option value="busqueda-0">Vigentes</option>
											<option value="busqueda-1">Número Expediente</option>
											<option value="busqueda-2">Comision</option>
											<option value="busqueda-3">Sin Dictamen</option>
											<option value="busqueda-4">Sesión</option>
											<option value="busqueda-5">Todo</option>
										</select>
										<input class="form-control busqueda hidden filtro" id="busqueda-1"
											    placeholder="ej.: 1-17,100-18" />
										<select class="form-control busqueda hidden filtro" id="busqueda-2">
											<option value="0">Seleccione Comisión</option>
											{% for comision in comisiones %}
								                <option value="{{ comision.id }}">{{ comision.comision }}</option>
								            {% endfor %}
										</select>
										<select class="form-control busqueda hidden filtro sesion" id="selAñoFiltro">
											<option value="0">Seleccione Año</option>
											{% for año in años %}
								                <option value="{{ año }}">{{ año }}</option>
								            {% endfor %}
										</select>
										<select class="form-control busqueda hidden filtro sesion" id="selSesionFiltro">
											<option value="0">Seleccione Sesión</option>
										</select>
																				
									</div>
								</form>
							</div>
						</div>
					</div>
				</nav>
				
			</div>
	    </div> 
	</section>
	<section class="content">
	  	<div class="row">
	    	<div class="col-xs-12">
              	<table id="registroAsignaciones" class="table table-striped">
	                <thead>
	                	<tr>
	                		<th>id</th>
	                		<th>
	                			<div class="btn-group">
	                				{% if 'COM_EXP_ADD' in app.user.listaPermisos %}
    		                			<button type="button" title="Agregar Asignación"class="btn btn-primary btn-xs" data-toggle="modal" 
    		                					data-target="#modalNuevaAsignacion">
    							    			<span class="glyphicon glyphicon-plus"></span>
    							    	</button>
							    	{% endif %}
							    </div>
						    </th>	
						    <th>Expediente</th>
			                <th>Comision</th>
			                <th class="text-center">O. D.</th>
			                <th class="text-center">Recibido</th>
			                <th class="text-center">Dict. May.</th>
			                <th class="text-center">Dict. Prim. Min.</th>
			                <th class="text-center">Dict. Seg. Min.</th>
	                	</tr>
	                </thead>
	                <tbody>
	                </tbody>
               	</table>     
	        </div> {# col #}
	    </div> {# row #}
	    
	    <div id="cambioComision" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" >
			<div class="modal-dialog">
			    <!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666	;color:#FFF">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title">Edición Comisión</h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
				    	<form role="form">
				    		<input type="hidden" id="idAsignacion" name="idAsignacion">
				    		<div class="row">
				    			<div class="form-group col-md-12">
    				    			<label for="selComisionEdicion">Comisión</label>
    				    			<select class="form-control" id="selComisionEdicion" name="selComisionEdicion">
    									<option value="0">Seleccione Nueva Comisión</option>
    									{% for comision in comisiones %}
    						                <option value="{{ comision.id }}">{{ comision.comision }}</option>
    						            {% endfor %}
    								</select>
    							</div>
                			</div>
                			<hr>
    				    	<div class="row">
    				    		<div class="col-md-12">
					        		<div class="text-center">
						    			<div class="btn-group">
								        	<button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
				       			 			<button type="button" class="btn btn-primary" id="btn-cambio-comision">Aceptar</button>
								        </div>
							        </div>
							    </div>
    				    	</div>
				    	</form>
				    </div>
				</div>
			</div>
		</div>
		
		<div id="modalNuevaAsignacion" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" >
			<div class="modal-dialog modal-lg">
			    <!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666	;color:#FFF">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title">Asignar Nueva Comisión</h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
				    	<form role="form">
				    		<input type="hidden" id="idTexto" name="idTexto">
				    		<div class="row">
				    			<div class="col-md-3">
				    				<div class="form-group">
    				    				<label for="selExpedienteAdd">Expediente:</label>
    						        	<select class="form-control" data-width="100%"
    						        			id="selExpedienteAdd" name="selExpedienteAdd">
    						        	</select>
    								</div>
				    			</div>
				    			<div class="col-md-9">
				    				<div class="form-group" id="group-selComisionesAdd">
    				    				<label for="selComisionesAdd">Comisiones:</label>
    						        	<select class="form-control" multiple="multiple" data-width="100%" 
    						        			id="selComisionesAdd" name="selComisionesAdd">
    						        	</select>
    								</div>
				    			</div>
                			</div>
                			<hr>
    				    	<div class="row">
    				    		<div class="col-md-12">
					        		<div class="text-center">
						    			<div class="btn-group">
								        	<button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
				       			 			<button type="button" class="btn btn-primary" id="btn-guardar-asignacion">Aceptar</button>
								        </div>
							        </div>
							    </div>
    				    	</div>
				    	</form>
				    </div>
				</div>
			</div>
		</div>
		
		<div id="modalSesionAsignacion" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" >
			<div class="modal-dialog modal-sm">
				    <div class="modal-header" style="background-color:#666	;color:#FFF">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title">Asignar Sesión</h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
				    	<form role="form">
				    		<input type="hidden" id="idAsignacion" name="idAsignacion">
				    		<div class="row">
				    			<div class="col-md-12">
				    				<div class="form-group">
    				    				<label for="selSesion">Sesión:</label>
    				    				<div class="input-group">
    						        		<select class="form-control" data-width="100%"
        						        			id="selSesion" name="selSesion">
        						        	</select>
        						        	{% if app.user.rol.rol=="ROLE_DESPACHO" %}
            						        	<span class="input-group-btn">
                                                	<button class="btn btn-primary" type="button"
                                                			id="btn-nueva-sesion-asignacion" >Agregar</button>
                                              	</span>
                                            {% endif %}  
                                    	</div>
    								</div>
				    			</div>
                			</div>
                			<hr>
    				    	<div class="row">
    				    		<div class="col-md-12">
					        		<div class="text-center">
						    			<div class="btn-group">
								        	<button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
				       			 			<button type="button" class="btn btn-primary" id="btn-guardar-sesion">Aceptar</button>
								        </div>
							        </div>
							    </div>
    				    	</div>
				    	</form>
				    </div>
				</div>
			</div>
		</div>
		
		<div id="modalAltaSesion" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
		 	<div class="modal-dialog">
			    <!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666;color:#FFF">
				        <button type="button" class="close" data-dismiss="modal" >&times;</button>
				        <h4 class="modal-title" id="tituloModal"><strong>Nueva Sesión</strong></h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
				        <form role="form">
				        	<input type="hidden" name="control" id="control">
				        	<div class="row">
				        		<div class="col-md-8">	
						        	<div class="form-group">
						        		<label for="selTipoSesion">TipoSesion</label>
						        		<select class="form-control" id="selTipoSesion" name="selTipoSesion">
						        			<option value="0">Seleccione Tipo</option>
						        			{% for tipoSesion in tiposSesion %}
						        				<option value="{{ tipoSesion.id }}">{{ tipoSesion.tipoSesion }} - ({{ tipoSesion.abreviacion }})</option>
						        			{% endfor %}
						        		</select>
						        	</div>
						        </div>
					        	<div class="col-md-4">	
						        	<div class="form-group">
						        		<label for="fecha">Fecha</label>
						        		<input type= "text" class="form-control input-sm campo-fecha-futura" id="fecha" name="fecha" 
						        			   placeholder="Fecha Sesion">
						        	</div>
						        </div>
							</div>
							<div class="row">
								<div class="col-md-12">
    								<div class="form-group">
    									<label for="descripcion">Descripción</label>
    									<input type="text" class="form-control" id="descripcion" name="descripcion">
    								</div>
    							</div>
							</div>
					        <hr>
					        <div class="row">
					        	<div class="text-center">
							        <div class="btn-group">
							        	<button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
						       			 <button type="button" class="btn btn-primary" id="btn-guardar-alta-sesion">Guardar</button>
						        	</div>
						        </div>
					        </div>	
				        </form>
				     </div>
			    </div>
		  	</div>
		</div>
		
		<div id="modalFirmas" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
		 	<div class="modal-dialog">
			    <!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666;color:#FFF">
				        <button type="button" class="close" data-dismiss="modal" >&times;</button>
				        <h4 class="modal-title" id="tituloModal"><strong>Firmas Dictamen</strong></h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
				        <form role="form">
				        	<input type="hidden" name="idDictamen" id="idDictamen">
				        	<div class="row">
				        		<div class="col-md-12">
    				        		<div class="form-group" id="group-selConcejales">
    					        		<label for="selFirmantes">Firmantes</label>
    					        		<select class="form-control" multiple="multiple" data-width="100%" 
    					        			id="selFirmantes" name="selFirmantes">
    					        		</select>	
    					        	</div>
    					        </div> 
					        <hr>
					        <div class="row">
					        	<div class="col-md-12">
    					        	<div class="text-center">
    							        <div class="btn-group">
    							        	<button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
    						       			 <button type="button" class="btn btn-primary" id="btn-guardar-firmantes">Guardar</button>
    						        	</div>
    						        </div>
    						    </div>
					        </div>	
				        </form>
				     </div>
			    </div>
		  	</div>
		</div>
	</section>
