{% extends 'layout.html.twig' %}



{% block stylesheets %}
	{# parent() }#}
  	{% stylesheets '@css_datatables' %}
      	<link rel="stylesheet" href="{{ asset_url }}" /></link>
  	{% endstylesheets %}
{% endblock %}

{% block javascripts %}
	{# parent() #}
    {% javascripts '@js_datatables'%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
	<style type="text/css">
		@media (min-width: 768px) {
		  .modal-xl {
		    width: 90%;
		    max-width:1600px;
		  }
		}

		.select2-selection--multiple { max-height: 10rem; overflow-y: auto }

		.file-preview {
			max-height: 470px;
			height: 470px;
			/*calc(100vh - 350px);*/
			background-color: #fff;
			display: inline-block;
			overflow-y: scroll;
		}
		
		.disabled-select {
		   background-color:#FFF;
		   opacity:0.2;
		   border-radius:3px;
		   cursor:not-allowed;
		   position:absolute;
		   top:0;
		   bottom:0;
		   right:0;
		   left:0;
		}

		.scrollable-div{
			min-height: 39px;
			max-height: 40px;
			overflow-y: auto;
			/*background: #fff;*/
			border: 1px solid #ccc;
		}

		.div-Preview{
			max-height: 194px;
			height: 194px;
			padding-left: 10px;
			padding-right: 10px;
			background-color: #fff;	
			overflow-y: scroll;
		}

		#proyectosBusqueda .modal-body{
			height: 600px;
			max-height: 600px;
		}

		.text-area-caratula{
			height: 400px!important;
		}

		#nuevoExpediente{
			z-index: 10000;
		}

		.tab{
			height: 545px;
			max-height:545px;
			overflow-y: auto; 
		}
		
		.tab-active{
			/* font-style: oblique;*/
			font-weight: bold;
			color: #0000ff;
			padding-left: 10px;
		}
		
		.tab-active::before{
			content: "- ";
			font-weight: bold;
		}
		/*
		.tab-active::after{
			content: "]";
			font-weight: bold;
		} */
				
		.toggle-on.btn{
			line-height: 22.5px!important;
		}
		.toggle-off.btn{
			line-height: 22.5px!important;
		}
		
		table {
            table-layout:fixed;
            width:100%;
            word-wrap:break-word;
        }
        
	</style>
	<script type="text/javascript">

		var archivosASubir=[];
	
		wysihtml5.dom.getPastedHtml = function(event) {
		  var html;
		  if (event.clipboardData) {
		    html = event.clipboardData.getData('text/plain');
		  }
		  return html;
		};

		function criterio(){
			var tipo=$("#selBusqueda").val();
			return ((tipo=="todo")?"0":$("#"+tipo).val());	
		}
		function tipoCriterio(){
			return $("#selBusqueda").val();
		}
		function mostrarOrigenParaNuevo(mostrar){
			
			$(".expediente-origen").addClass('hidden');

			switch(parseInt(mostrar)){
			
				case 3:
						$(".pedido-particular").removeClass('hidden');
						$("#apellidosSiParticular").val('');
						$("#nombresSiParticular").val('');
						$("#div-origen").removeClass('hidden');
						$("#origen").val(2);
						break;
				case 4:
						$("#div-origen").removeClass('hidden');
						$("#origen").val(1);
						break;
				case 5:
						$("#div-origen").removeClass('hidden');
						$("#origen").val(3);
						break;
				default:
						$("#div-concejales").removeClass('hidden');
						break;
			};
		}
		function mostrarOrigenParaEdicion(mostrar){
			
			$(".expediente-origen").addClass('hidden');

			switch(parseInt(mostrar)){
										
				case 3:
						$(".pedido-particular").removeClass('hidden');
						$("#apellidosSiParticular-mod").val('');
						$("#nombresSiParticular-mod").val('');
						$("#div-origen-mod").removeClass('hidden');
						$("#origen-mod").val(2);
						break;
				case 4:
						$("#div-origen-mod").removeClass('hidden');
						$("#origen-mod").val(1);
						break;
				case 5:
						$("#div-origen-mod").removeClass('hidden');
						$("#origen-mod").val(3);
						break;
				default:
						$("#div-concejales-mod").removeClass('hidden');
						break;
			};
		}	
		function mostrarTiposPara(mostrar){
			if (mostrar=="no-proyectos"){
				$(".opcion-P").addClass("hidden");
				$(".opcion-I").removeClass("hidden");
				$(".opcion-W").removeClass("hidden");
				$(".opcion-D").removeClass("hidden");
			}
			else{
				if(mostrar=="proyectos"){
					$(".opcion-P").removeClass("hidden");
					$(".opcion-I").addClass("hidden");
					$(".opcion-W").addClass("hidden");
					$(".opcion-D").addClass("hidden");
				}
				else{
					$(".opcion-P").removeClass("hidden");
					$(".opcion-I").removeClass("hidden");
					$(".opcion-W").removeClass("hidden");
					$(".opcion-D").removeClass("hidden");
				}
			}
		}

		function subeImagen(nombreArchivo,archivosASubir){

			$.each(archivosASubir, function(index, archivo){
				if (archivo==nombreArchivo)
					return true;
			});
			return false
		}

		function habilitar(nombre){
			$(".tab").addClass("hidden");
			$(".selectable").removeClass("tab-active");
			
			$("#"+nombre).removeClass("hidden");
			$("#link-"+nombre).addClass("tab-active");
			$("#link-"+nombre).blur();
			
		}

		function traerIdParaMovimientos(){
			return $("#movimientos").find('input[name="idExpediente"]').val();
		}

		$(document).ready(function () {

			var tablaProyectos;

			var tablaMovimientos;

			var tablaInformes;
			
		    var tabla=$('#registroExpediente').DataTable({
		    			  "language": {
				              "infoEmpty": "Sin registros para mostrar",
				              "paginate": {
						          	"last": "Ultima Página",
						          	"first": "Primer página",
						          	"next": "Siguiente",
						          	"previous": "Anterior"
						       },
						       "search":"Búsqueda rápida",
						       "emptyTable": "Sin Datos",
						       "lengthMenu": 'Registros Listados <select class="form-control input-sm">'+
								             '<option value="10">10</option>'+
								             '<option value="20">20</option>'+
								             '<option value="30">30</option>'+
								             '<option value="40">40</option>'+
								             '<option value="50">50</option>'+
								             '<option value="-1">Todos</option>'+
								             '</select>',
								"loadingRecords": "Espere...cargando datos",
								"processing": "Procesando...",
								"sInfo": "Mostrando  _START_ a _END_ de _TOTAL_ registros",

			          	  },
					      "processing": false,
					      "ajax": {
							        "url": "api/expediente/getByCriteria/"+tipoCriterio()+"/"+criterio(),
			            			"dataSrc": '',
							    },
						  "columnDefs": [
								            {
								                "targets": [ 0 ],
								                "visible": false,
								                "searchable": false
								            },
								            {
									            "targets": [ 1 ],
									            "data": null,
									            "orderable":false,
									            "render": function(data, type, row){
										            var html="";
										            if('{{ EXP_EDIT is defined}}')
									            		html+="<button type='button'title='Editar expediente' class='btn btn-primary btn-xs btn-editar ' data-toggle='modal' data-target='#modificacionExpediente'><span class='glyphicon glyphicon-pencil'></span></button>";
													if ('{{EXP_DOWNLOAD is defined}}')
											        	html+="<button type='button' title='Descargar Documento' class='btn btn-info btn-xs btn-descargar'><span class='glyphicon glyphicon-save-file'></span></button></div>";
							
											        html+="<button type='button' title='Movimientos' class='btn btn-info btn-xs btn-movimientos' data-toggle='modal' data-target='#movimientos'><span class='glyphicon glyphicon-share-alt'></span></button></div>";
									            	return html;
									            }
									        }
									        ,
								            {
									            "targets": [ 7 ],
									            "data": 'caratula',
									            "orderable":true,
									            "render": function(data, type, row){
									            	var html="<span title='"+row.caratula_sin_html+"'>"+data+"</span>";
									            	return html;
									            }
									        } 
									       
						  ],
					      "columns": [
					      		{ "data": "id" },
					      		{ "data": "null","width":"8%"},
					      		{ "data": "numero_completo","width":"10%"},
					            { "data": "tipo_expediente.tipo_expediente","width":"8%" },
					            { "data": "fecha_creacion_formateada","width":"5%" },
					            { "data": "fecha_modificacion_formateada","width":"5%" },
					            { "data": "oficina_actual.oficina","width":"14%" },
					            { "data": "caratula_muestra", "width": "50%"},
					        ],
					      "autoWidth":false,
					      "paging": true,
					      "lengthChange": true,
					      "searching": true,
					      "ordering": true,
					      "info": true,
					      "autoWidth": false,
				});
		    
		    $('#registroExpediente tbody').on( 'click', '.btn-descargar', function () {
		        var data = tabla.row( $(this).parents('tr') ).data();
		        window.location.href='{{ app.request.getBaseURL() }}'+
		        					 '/imprimir?tipoDocumento=expediente&id='+
		        					  data[ "id" ];
		    } );
		    
		    
// 			MODIFICAR EXPEDIENTE
// 				$('#registroExpediente tbody').on( 'click', '.btn-detalle', function () {
// 		        var data = tabla.row( $(this).parents('tr') ).data();
// 		        $("#revistaExpediente").find('input[name="id"]').val(data[ "id" ]);
// 		    } );

// 		    EVENTO ABRIR MODAL MODIFICAR EXPEDIENTE
// 			$('#revistaExpediente').on('show.bs.modal', function () {

// 		    	var id= $("#revistaExpediente").find('input[name="id"]').val();

// 		    	Obtención de los datos del select2 -------------------------------------

// 		    	var select2_data=[];

// 		    	$.ajax({
// 					type:'get',
// 					dataType: 'json	',
//					url:"{{ app.request.getBaseURL() }}/api/legislador/getAll",
// 					success: function(data){
// 					    $.each(data, function(index,autor){
// 					    	var autorAux={'id':autor.id, 'text':autor.nombre_completo};
// 					    	select2_data.push(autorAux);
// 					     });
						
// 					},
// 					error: function(jqXHR,textStatus,errorThrown ){
// 						var response=JSON.parse(jqXHR.responseText)
// 						toastr.error(response.throwCause);
// 					}
// 				});

// 		    	Obtención de los datos del expediente a modificar ------------------------

// 		    	$.ajax({
// 					type:'Get',
// 					dataType: 'json	',
//					url:"{{ app.request.getBaseURL() }}/api/expediente/getOne/"+id,
// 					success: function(data){

// 						$("#tipoExpedientePrev").val(data.tipo_expediente.tipo_expediente +
// 													 '-('+data.tipo_expediente.letra+')');
// 						$("#numeroExpedientePrev").val(data.numero_expediente);
// 					    $("#caratulaPrev").html(data.caratula);
					 	
// 					 	selección en la grilla de los items almacenados

// 					    var autores=data.proyecto.autores;
// 					    var selected=[];
// 					    $("#selAutoresPrev").select2({tags: select2_data, tokenSeparators: [',']});
// 					    $.each(autores, function(index,autor){
// 					    	selected.push(autor.id);
// 					     });
// 					    $("#selAutoresPrev").val(selected).change();
// 					    var select2=$("#revistaExpediente").find('.select2')
// 					    select2.prepend('<div class="disabled-select"></div>');

// 					    var config=[];
// 					    $.each(data.lista_imagenes, function(index,imagen){
// 					    	config.push(imagen.image_config);
// 					    });
					    
// 					    recuperacion de los archivos subidos
// 					    $("#input-file-Prev").fileinput({
// 				    		language: "es",
// 			                initialPreview: data.rutas_web_expediente,
// 			                showUpload: false,
// 			                showRemove: false,
// 			                showBrowse: false,
// 			                initialPreviewAsData: false,
// 			                initialPreviewConfig:config,
// 			                overwriteInitial: false,
// 			                maxFileSize: 10240,
			                
// 			                initialCaption: "Archivos Expediente " + data.numero_expediente
			                
// 			            });		    			
// 					},
// 					error: function(jqXHR,textStatus,errorThrown ){
// 						var response=JSON.parse(jqXHR.responseText)
// 						toastr.error(response.throwCause);
// 					}
// 		      	});
// 			});

// 			$('#revistaExpediente').on('hidden.bs.modal', function () {
// 				$('#input-file-Prev').fileinput('destroy');
// 				$("#selAutoresPrev").empty().change();
// 			});	
			
			//---------------------------------------------------------------------------------------------------------------
			//---------------------------------------EDICIÓN DEL EXPEDIENTE--------------------------------------------------
			//---------------------------------------------------------------------------------------------------------------

			//EVENTO BOTON EDITAR EXPEDIENTE EN GRILLA
		    $('#registroExpediente tbody').on( 'click', '.btn-editar', function () {
		        var data = tabla.row( $(this).parents('tr') ).data();
		        $("#modificacionExpediente").find('input[name="id"]').val(data[ "id" ]);
		    } );

		    //EVENTO ABRIR MODAL MODIFICAR EXPEDIENTE
			$('#modificacionExpediente').on('show.bs.modal', function () {

		    	var id= $("#modificacionExpediente").find('input[name="id"]').val();

		    	//Obtención de los datos del expediente a modificar -----------------

		    	$.ajax({
					type:'Get',
					dataType: 'json	',
					url:'{{ app.request.getBaseURL() }}'+'/api/expediente/getOne/'+id,
					success: function(data){

						$("#selTipoExpedienteMod").val(data.tipo_expediente.id);
						mostrarOrigenParaEdicion($("#selTipoExpedienteMod").val());


						if(data.proyecto!=null){
							$("#selTipoExpedienteMod").prop( "disabled", true );
							$("#concejales-mod").html(data.lista_consejales);
							mostrarTiposPara("proyectos");
						}
						else{
							$("#selTipoExpedienteMod").prop( "disabled", false );
							mostrarTiposPara("no-proyectos");
						}

						$("#foliosMod").val(data.folios);
						$("#apellidosSiParticular-mod").val(data.apellidos_si_particular);
						$("#nombresSiParticular-mod").val(data.nombres_si_particular)
						$("#numeroExpedienteMod").val(data.numero_expediente);
					    $("#caratulaMod").data("wysihtml5").editor.setValue(data.caratula);

					    var config=[];
					    $.each(data.lista_imagenes, function(index,imagen){
					    	config.push(imagen.image_config);
					    });

					    //recuperacion de los archivos subidos
					    $("#input-file-Mod").fileinput({
				    		language: "es",
			                initialPreview: data.rutas_web_expediente,
			                showUpload: false,
			                initialPreviewAsData: true,
			                initialPreviewConfig:config,			                
			                overwriteInitial: false,
			                deleteUrl:'{{ app.request.getBaseURL() }}'+'/api/expediente/archivo/remove',
			                maxFileSize: 10240,
			                
			                initialCaption: "Archivos Expediente " + data.numero_expediente
			                
			            });		    			
					},
					error: function(jqXHR,textStatus,errorThrown ){
						// var response=JSON.parse(jqXHR.responseText)
						// toastr.error(response.throwCause);
						toastr.error(jqXHR.responseText);
					}
		      	});
			});

			//EVENTO CERRAR MODAL MODIFICAR EXPEDIENTE
			$('#modificacionExpediente').on('hidden.bs.modal', function () {
				$('#input-file-Mod').fileinput('destroy');
				archivosASubir.length=0;	
			});

			//GUARDAR MODIFICACION DEL EXPEDIENTE
			$("#modificacion").on('submit',function(e){
				
				e.preventDefault();
				$('#btn-Modificacion-expediente').prop("disabled", true);
				var id= $("#modificacionExpediente").find('input[name="id"]').val();
             	var form=$(e.target);
              	var formData=new FormData();
              	var controles=$(form).serializeArray();
              	var archivos=$(form).find('[name="input-file-Mod"]')[0].files;

              	$.each(archivos, function(i, archivo) {
              		if(archivosASubir.indexOf(archivo.name)>-1)
                		formData.append('uploadedFiles-' + i, archivo);
            	});

            	formData.append('origen',$("#origen-mod").val());

              	var validacion='';

            	$.each(controles, function(i, control) {

                	formData.append(control.name, control.value);

	                validacion+=((control.name=="selTipoExpedienteMod" && control.value==0)?
	                			'<li>Debe seleccionar un tipo de expediente</li>':'');
			     	validacion+=((control.name=="numeroExpedienteMod" && control.value.replace(/ /g, '').length==0)?
			     				'<li>El expediente debe tener un número</li>':'');
			     	validacion+=((control.name=="caratulaMod" && control.value.replace(/ |\n/g, '').length==0)?
			     				'<li>Debe especificar un texto para la caratula</li>':'');
					validacion+=((control.name=="foliosMod" && control.value.replace(/ |\n/g, '').length==0)?
			     				'<li>Debe especificar la cantidad de folios</li>':'');
					validacion+=(($("#origen-mod").val()==2 && control.name=="apellidosSiParticular-mod" && control.value.replace(/ |\n/g, '').length==0)?
			     				'<li>Debe especificar el/los apellidos del particular</li>':'');
			     	validacion+=(($("#origen-mod").val()==2 && control.name=="nombresSiParticular-mod" && control.value.replace(/ |\n/g, '').length==0)?
			     				'<li>Debe especificar el/los nombres del titular</li>':'');
	            	});

	            if (validacion.length>0) 
				{
					validacion=((validacion.length>0)?'<strong>Validacion de Datos</strong><br><ul>'+
								validacion+'</ul>':'');
					toastr.error(validacion);
					$('#btn-Modificacion-expediente').prop("disabled", false);
					return false;
				}
				else{

	            	$.ajax({
		                async: true,
		                url: '{{ app.request.getBaseURL() }}'+'/api/expediente/update',
		                data: formData,
		                cache: false,
		                contentType: false,
		                processData: false,
		                type:  $(form).attr('method'),
	                success: function(data) {
	                    toastr.success(data);
						tabla.ajax.reload();
						$('#modificacionExpediente').modal('hide');
	                	},
	                complete:function(){
	                	$('#btn-Modificacion-expediente').prop("disabled", false);
	                },
	                error: function(jqXHR,textStatus,errorThrown ){
						toastr.error(jqXHR.responseText);
						}
	            	});
	            }
			});

			//--------------------------------------------------------------------------------------------------------------
			//-------------------------------------------NUEVO EXPEDIENTE----------------------------------------------------
			//--------------------------------------------------------------------------------------------------------------

			//EVENTO ABRIR MODAL NUEVO EXPEDIENTE
		    $('#nuevoExpediente').on('show.bs.modal', function () {

		    	$("#input-file").fileinput({
		    		language: "es",
	                showUpload: false,               
	                overwriteInitial: false,
	                maxFileSize: 10240,                
	            });
		    	
			  	if ($("#idProyecto").val()==0){
			  		$("#selTipoExpediente").val(0).change();
			  		$("#selTipoExpediente").prop( "disabled", false );
			  		mostrarTiposPara("no-proyectos");
			  	}
			  	else{ 
			  		$("#selTipoExpediente").prop( "disabled", true );
			  		$("#selTipoExpediente").val($("#idTipoExpediente").val());
			  		mostrarTiposPara("proyectos");
				}
				mostrarOrigenParaNuevo($("#selTipoExpediente").val());
				$("#numeroExpediente").val('');
				$("#caratula").data("wysihtml5").editor.setValue('');

			});
			
			//EVENTO CERRAR MODAL NUEVO EXPEDIENTE
			$('#nuevoExpediente').on('hidden.bs.modal', function () {
				$('#input-file').fileinput('destroy');
				$("#idProyecto").val('');
				$("#idTipoProyecto").val(0);
				if ( $('#proyectosBusqueda').hasClass('in') )
					$('#proyectosBusqueda').modal('hide');
			});
			
			//GUARDAR ALTA EXPEDIENTE
			$("#alta").on('submit',function(e){
				
				e.preventDefault();
				$("#btn-nuevo-expediente").prop("disabled",true);
             	var form=$(e.target);
              	var formData=new FormData();
              	var controles=$(form).serializeArray();
              	var archivos=$(form).find('[name="input-file"]')[0].files;

              	$.each(archivos, function(i, archivo) {
                	
                	formData.append('uploadedFiles-' + i, archivo);
            	});

            	formData.append('origen',$("#origen").val());

              	var validacion='';

            	$.each(controles, function(i, control) {

                	formData.append(control.name, control.value);

	                validacion+=((control.name=="selTipoExpediente" && control.value==0)?
	                			'<li>Debe seleccionar un tipo de expediente</li>':'');
			     	validacion+=((control.name=="numeroExpediente" && control.value.replace(/ /g, '').length==0)?
			     				'<li>El expediente debe tener un numeo</li>':'');
			     	validacion+=((control.name=="caratula" && control.value.replace(/ |\n/g, '').length==0)?
			     				'<li>Debe especificar un texto para la caratula</li>':'');
			     	validacion+=((control.name=="folios" && control.value.replace(/ |\n/g, '').length==0)?
			     				'<li>Debe especificar la cantidad de folios</li>':'');
			     	validacion+=(($("#origen").val()==2 && control.name=="apellidosSiParticular" && control.value.replace(/ |\n/g, '').length==0)?
			     				'<li>Debe especificar el/los apellidos del particular</li>':'');
			     	validacion+=(($("#origen").val()==2 && control.name=="nombresSiParticular" && control.value.replace(/ |\n/g, '').length==0)?
			     				'<li>Debe especificar el/los nombres del titular</li>':'');
	            	});

	            if (validacion.length>0) 
				{
					validacion=((validacion.length>0)?'<strong>Validacion de Datos</strong><br><ul>'+
								validacion+'</ul>':'');
					toastr.error(validacion);
					$('#btn-nuevo-expediente').prop("disabled", false);
					return false;
				}
				else{

	            	$.ajax({
		                async: true,
		                url: $(form).attr('action'),
		                data: formData,
		                cache: false,
		                contentType: false,
		                processData: false,
		                type: $(form).attr('method'),
	                success: function(data) {
	                    toastr.success(data);
						tabla.ajax.reload();
						$('#nuevoExpediente').modal('hide');
	                	},
	                complete: function(){
	                	$('#btn-nuevo-expediente').prop("disabled", false);
	                },
	                error: function(jqXHR,textStatus,errorThrown ){
						toastr.error(jqXHR.responseText);
						}
	            	});
	            }
			});

			//------------------------------------------------------------------------------------------------------------
			//--------------------------------------INGRESO DE PROYECTO---------------------------------------------------
			//------------------------------------------------------------------------------------------------------------

			//BOTON INGRESAR DE LA TABLA DE EXPEDIENTES
			$('#proyectos tbody').on( 'click', '.btn-ingresar', function () {
		        var data = tablaProyectos.row( $(this).parents('tr') ).data();
		        $("#nuevoExpediente").find('input[name="idProyecto"]').val(data[ "id" ]);
		        var tipoExpediente=data[ "tipo_proyecto"].tipo_expediente.id;
		        $("#nuevoExpediente").find('input[name="idTipoExpediente"]').val(tipoExpediente);
		        $("#nuevoExpediente").find('div[name="concejales"]').html(data[ "lista_concejales"]);
		        $("#nuevoExpediente").modal('show');
		    } );

			//EVENTO MOSTRAR DEL MODAL DE BUSQUEDA DE PROYECTOS
			$('#proyectosBusqueda').on('show.bs.modal', function () {

		    	tablaProyectos=$('#proyectos').DataTable({
					    			  "language": {
							              "infoEmpty": "Sin registros para mostrar",
							              "paginate": {
									          	"last": "Ultima Página",
									          	"first": "Primer página",
									          	"next": "Siguiente",
									          	"previous": "Anterior"
									       },
									       "search":"Búsqueda rápida",
									       "emptyTable": "Sin Datos",
									       "lengthMenu": 'Registros Listados <select class="form-control input-sm">'+
											             '<option value="10">10</option>'+
											             '<option value="20">20</option>'+
											             '<option value="30">30</option>'+
											             '<option value="40">40</option>'+
											             '<option value="50">50</option>'+
											             '<option value="-1">Todos</option>'+
											             '</select>',
											"loadingRecords": "Espere...cargando datos",
											"processing": "Procesando...",
											"sInfo": "Mostrando  _START_ a _END_ de _TOTAL_ registros",

						          	  },
								      "processing": false,
								      "ajax": {
										        "url": "api/proyecto/getByCriteria/busqueda-5/0",
						            			"dataSrc": '',
										    },
									  "columnDefs": [
											            {
											                "targets": [ 0 ],
											                "visible": false,
											                "searchable": false
											            },
											            {
											                "targets": [ 1 ],
											                "visible": false,
											                "searchable": false
											            },
											            {
												            "targets": [ 2 ],
												            "data": null,
												            "orderable":false,
												            "render": function(data, type, row){
												            	return "<button type='button' class='btn-ingresar'><span class='glyphicon glyphicon-check'></span></button>";
												            }
												        }
												       
									  ],
								      "columns": [
								      		{ "data": "id" },
								      		{ "data": "tipo_proyecto.tipo_expediente.id"},
								      		{ "data": "null","width":"5%"},
								      		{ "data": "tipo_proyecto.tipo_proyecto","width":"20%"},
								            { "data": "lista_concejales","className": "for-mobile","width":"75%" },
								        ],
								      "autoWidth":false,
								      "paging": true,
								      "lengthChange": true,
								      "searching": true,
								      "ordering": true,
								      "info": true,
							});

			});

			//EVENTO CERRAR DEL MODAL DE BUSQUEDA DE PROYECTOS
			$('#proyectosBusqueda').on('hidden.bs.modal', function () {
				tablaProyectos.destroy();
			});

			//------------------------------------------------------------------------------------------------------------
			//------------------------------MOVIMIENTOS DE LOS EXPEDIENTES------------------------------------------------
			//------------------------------------------------------------------------------------------------------------

			//EVENTO BOTON MOVIMIENTOS DE LA GRILLA
		    $('#registroExpediente tbody').on( 'click', '.btn-movimientos', function () {
		        var data = tabla.row( $(this).parents('tr') ).data();
		        $("#movimientos").find('input[name="idExpediente"]').val(data[ "id" ]);
		        habilitar('tab-1');
		    } );
			
		  	//EVENTO ABRIR MODAL MOVIMIENTOS
			$('#movimientos').on('show.bs.modal', function () {

				tablaMovimientos=$('#tablaMovimientos').DataTable({
        	    			"language": {
        			              "infoEmpty": "Sin registros para mostrar",
        			              "paginate": {
        					          	"last": "Ultima Página",
        					          	"first": "Primer página",
        					          	"next": "Siguiente",
        					          	"previous": "Anterior"
        					       },
        					       "search":"Búsqueda rápida",
        					       "emptyTable": "Sin Datos",
        					       "lengthMenu": 'Registros Listados <select class="form-control input-sm">'+
        							             '<option value="10">10</option>'+
        							             '<option value="20">20</option>'+
        							             '<option value="30">30</option>'+
        							             '<option value="40">40</option>'+
        							             '<option value="50">50</option>'+
        							             '<option value="-1">Todos</option>'+
        							             '</select>',
        							"loadingRecords": "Espere...cargando datos",
        							"processing": "Procesando...",
        							"sInfo": "Mostrando  _START_ a _END_ de _TOTAL_ registros",
        
        		          	  },
        				      "processing": false,
        				      "ajax": {
        						        "url": "api/expediente/giro/getAllByExpediente/"+traerIdParaMovimientos(),
        		            			"dataSrc": '',
        						    },
        					  "columnDefs": [
        							            {
        							                "targets": [ 0 ],
        							                "visible": false,
        							                "searchable": false
        							            }
        					  ],
        				      "columns": [
        				      		{ "data": "id" },
        				      		{ "data": "origen","width":"15%"},
        				      		{ "data": "fecha_envio","width":"10%"},
        				      		{ "data": "destino","width":"15%"},
        				      		{ "data": "observacion","className": "for-mobile","width":"40%" },
        				      		{ "data": "fojas","width":"10%" },
        				            { "data": "fecha_recepcion","className": "for-mobile","width":"10%" },
        				        ],
        				      "autoWidth":false,
        				      "paging": true,
        				      "lengthChange": true,
        				      "searching": true,
        				      "ordering": true,
        				      "info": true,
        			});

				tablaInformes=$('#tablaInformes').DataTable({
                   			  	  "language": {
                		              "infoEmpty": "Sin registros para mostrar",
                		              "paginate": {
                				          	"last": "Ultima Página",
                				          	"first": "Primer página",
                				          	"next": "Siguiente",
                				          	"previous": "Anterior"
                				       },
                				       "search":"Búsqueda rápida",
                				       "emptyTable": "Sin Datos",
                				       "lengthMenu": 'Registros Listados <select class="form-control input-sm">'+
                						             '<option value="10">10</option>'+
                						             '<option value="20">20</option>'+
                						             '<option value="30">30</option>'+
                						             '<option value="40">40</option>'+
                						             '<option value="50">50</option>'+
                						             '<option value="-1">Todos</option>'+
                						             '</select>',
                						"loadingRecords": "Espere...cargando datos",
                						"processing": "Procesando...",
                						"sInfo": "Mostrando  _START_ a _END_ de _TOTAL_ registros",
                
                	          	  },
                			      "processing": false,
                			      "ajax": {
                					        "url": "api/expediente/informe/getAllByExpediente/"+traerIdParaMovimientos(),
                	            			"dataSrc": '',
                					    },
                				  "columnDefs": [
                						            {
                						                "targets": [ 0 ],
                						                "visible": false,
                						                "searchable": false
                						            }
                							       
                				  ],
                			      "columns": [
                			      		{ "data": "id" },
                			      		{ "data": "destino.oficina","width":"20%"},
                			      		{ "data": "fecha_movimiento","width":"10%"},
                			      		{ "data": "solicitud","width":"50%"},
                			      		{ "data": "fecha_ingreso_respesta_formateada","width":"10%"},
                			            { "data": "fojas","className": "for-mobile","width":"10%" },

                			        ],
                			      "autoWidth":false,
                			      "paging": true,
                			      "lengthChange": true,
                			      "searching": true,
                			      "ordering": true,
                			      "info": true,
                		});
                				
			});

			//EVENTO CERRAR MODAL MOVIMIENTOS EXPEDIENTE
			$('#movimientos').on('hidden.bs.modal', function () {
				tablaMovimientos.destroy();
				tablaInformes.destroy();
			});

			//------------------------------------------------------------------------------------------------------------
			//-------------------------------------ALTA Y EDICION DE GIROS------------------------------------------------
			//------------------------------------------------------------------------------------------------------------
			
			//BOTON ALTA GIRO DE LA GRILLA DE GIROS
			$("#alta-giro").click(function(){
				$("#giro").modal("show");
			});

			//BOTON ELIMINAR GIRO DE LA GRILLA DE GIROS
			$('#tablaMovimientos tbody').on( 'click', '.btn-eliminar-movimiento', function () {
		        /*
		        	ver como implementar solo eliminar el último si:
	        		el origen es mi oficina
	        		no tiene fecha de recepcion
        		*/	
		    } );

			// EVENTO ABRIR DEL MODAL DE GIRO
			$('#giro').on('show.bs.modal', function () {
				
				$("#selDestinoGiro").val(0);
				$("#observacionGiro").val("");
				$("#fechaRecepcionRemito").val("");
				$("#fechaIntervencionOficinaActual").val("");

				$.ajax({
                    url: '{{ app.request.getBaseURL() }}' + '/api/expediente/giro/findLast',
                    type: 'GET',
                success: function(data) {
                    
                    if (data.destino_giro.id!='{{ idOficinaActual }}'){
						$("#fechaIntervencionOficinaActual").removeClass('hidden');
                    	$("#giro").find('input[name="idOficinaActual"]').val(data.destino_giro.id);
                    }
                    else{
                    	$("#fechaIntervencionOficinaActual").addClass('hidden');
                    	$("#giro").find('input[name="idOficinaActual"]').val(0);
                    }
                		
                },
                error: function(jqXHR,textStatus,errorThrown ){
    				toastr.error(jqXHR.responseText);
    				}
            	});
            	
			});

			$('#giro').on('hidden.bs.modal', function () {
				$("#guardarGiro").prop("disabled", false);
			});
				
			//BOTON GUARDAR GIRO DEL MODAL DE EDICION DE GIRO
			$("#guardarGiro").click(function(){

				$(this).prop("disabled", true);
				
				var validacion="";
				var formData=new FormData();
				
				formData.append('observacion',$("#observacionGiro").val());
				formData.append('fojas',$("#fojasRespuestaInforme").val());
				formData.append('idDestino',$("#selDestinoGiro").val());
				validacion=(($("#selDestinoGiro").val()==0)
								?'<li>Debe seleccionar un destino</li>':'');
		
				
				formData.append('idExpediente',$("#movimientos").find('input[name="idExpediente"]').val());
				
                if (validacion.length>0) 
        		{
        			validacion=((validacion.length>0)?'<strong>Validacion de Datos</strong><br><ul>'+
        						validacion+'</ul>':'');
        			toastr.error(validacion);
        			$(this).prop("disabled", false);
        			return false;
        		}
        		else{
        
                	$.ajax({
                        async: true,
                        url: '{{ app.request.getBaseURL() }}' + '/api/expediente/giro/create',
                        data: formData,
                        cache: false,
                        contentType: false,
                        processData: false,
                        type: 'POST',
                    success: function(data) {
                        toastr.success(data);
        				tabla.ajax.reload();
        				$('#giros').modal('hide');
                    	},
                    complete: function(){
                    	$(this).prop("disabled", false);
                    },
                    error: function(jqXHR,textStatus,errorThrown ){
        				toastr.error(jqXHR.responseText);
        				}
                	});
                }
				
			});

			//------------------------------------------------------------------------------------------------------------
			//-------------------------------------ALTA Y EDICION DE INFORMES---------------------------------------------
			//------------------------------------------------------------------------------------------------------------
			
			//BOTON ALTA GIRO DE LA GRILLA DE INFORMES
			$("#alta-informe").click(function(){
				$("#informe").find('input[name="modoInforme"]').val("alta");
				$("#informe").modal("show");
			});

			//BOTON MODIFICAR GIRO DE LA GRILLA DE INFORMES
			$('#tablaInformes tbody').on( 'click', '.btn-modificar-informe', function () {
		        var data = tabla.row( $(this).parents('tr') ).data();
		        $("#informe").find('input[name="idInforme"]').val(data[ "id" ]);
		        $("#informe").find('input[name="modoInforme"]').val("edicion");
		        $("#informe").modal("show");
		    } );

			// EVENTO ABRIR DEL MODAL DE INFORME
			$('#informe').on('show.bs.modal', function () {
				var modo = $("#giro").find('input[name="modoInforme"]').val(); 

				$("#selDestinoInforme").val(0);
				$("#solicitudInforme").val("");
				$("#fechaEnvioInforme").val("");
				$("#fechaRespuestaInforme").val("");
				$("#fojasRespuestaInforme").val("");

				if (modo=="edicion"){

					var idInforme=$("#informe").find('input[name="idInforme"]').val();
					
					$.ajax({
                        url: '{{ app.request.getBaseURL() }}' + '/api/expediente/informe/findOne/'+idInforme,
                        type: 'GET',
                    success: function(data) {
                    	$("#selDestinoInforme").val(data.destino.id);
                    	$("#solicitudInforme").val(data.solicitud);
                    	$("#fechaEnvioInforme").val(data.fecha_emision_formateada);
                    	$("#fechaRespuestaInforme").val(data.fecha_inggreso_repuesta_formateada);
                    	$("#fojasRespuestaInforme").val(data.fojas);
                    },
                    error: function(jqXHR,textStatus,errorThrown ){
        				toastr.error(jqXHR.responseText);
        				}
                	});
				}

    			if($("#fechaEnvioInforme").val()==''){
    					$("#fechaRespuestaInforme").prop("disabled", true);
    					$("#fojasRespuestaInforme").prop("disabled", true);
    					$("#fechaEnvioInforme").prop("disabled", false);
    					$("#selDestinoInforme").prop("disabled", false);
                    	$("#solicitudInforme").prop("disabled", false);                    	
    			}
				else {
					$("#fechaRespuestaInforme").prop("disabled", false);
					$("#fojasRespuestaInforme").prop("disabled", false);
					$("#fechaEnvioInforme").prop("disabled", true);
					$("#selDestinoInforme").prop("disabled", true);
                	$("#solicitudInforme").prop("disabled",true);
				}
			});

			$('#informe').on('hidden.bs.modal', function () {
				$("#guardarInforme").prop("disabled", false);
			});
				
			//BOTON GUARDAR INFORME DEL MODAL DE EDICION DE INFORME
			$("#guardarInforme").click(function(){

				$(this).prop("disabled", true);
				
				var validacion="";
				var formData=new FormData();
				var modo =$("#informe").find('input[name="modoInforme"]').val();
				var url="";
				
				formData.append('solicitud',$("#solicitudInforme").val());
				formData.append('idDestino',$("#selDestinoInforme").val());
				validacion=(($("#selDestinoInforme").val()==0)
								?'<li>Debe seleccionar un destino</li>':'');
				validacion=(($("#solicitudInforme").val()=="")
								?'<li>Debe especificar la solicitud</li>':'');
				validacion+=(($("#fechaRespuestaInforme").val()!="" && $("#fojasRespuestaInforme")=="")
								?'<li>Debe indicar la ubicacion de las fojas en el expediente</li>':'');
							
				if (modo=='alta'){
					url="/api/expediente/informe/create";
					formData.append('id',$("#movimientos").find('input[name="idExpediente"]').val());
				}
				else{
					url="/api/expediente/informe/update"
					formData.append('id',$("#informe").find('input[name="idInforme"]').val());
				}


                if (validacion.length>0) 
        		{
        			validacion=((validacion.length>0)?'<strong>Validacion de Datos</strong><br><ul>'+
        						validacion+'</ul>':'');
        			toastr.error(validacion);
        			$(this).prop("disabled", false);
        			return false;
        		}
        		else{
        
                	$.ajax({
                        async: true,
                        url: '{{ app.request.getBaseURL() }}' + url,
                        data: formData,
                        cache: false,
                        contentType: false,
                        processData: false,
                        type: 'POST',
                    success: function(data) {
                        toastr.success(data);
        				tabla.ajax.reload();
        				$('#informe').modal('hide');
                    	},
                    complete: function(){
                    	$(this).prop("disabled", false);
                    },
                    error: function(jqXHR,textStatus,errorThrown ){
        				toastr.error(jqXHR.responseText);
        				}
                	});
                }
				
			});
		
			
		    //------------------------------------------------------------------------------------------------------------
			//---------------------------------INICIALIZACIÓN DE CONTROLES------------------------------------------------
			//------------------------------------------------------------------------------------------------------------

			$("#selTipoExpediente").change(function(){
				mostrarOrigenParaNuevo($(this).val());
			});

			$("#selTipoExpedienteMod").change(function(){
				mostrarOrigenParaEdicion($(this).val());
			});

			$('#input-file-Mod').on('filebatchselected', function(event, files) {
			    $.each(files,function(index,file){
			    	archivosASubir.push(file.name);
			    });
			});

			$('#input-file-Mod').on('filecleared', function(event) {
			   archivosASubir.length=0
			});

			$('#estadoFiltro').bootstrapToggle({
		      on:  'Activo',
		      off: 'Inactivo',
		      offstyle: 'primary',
		      onstyle: 'success',
		      width: "80px",
		      height: "35px"
		    });

			$(".busqueda").addClass('hidden');
			$("#selBusqueda").val("todo");
			$('#estadoFiltro').bootstrapToggle('disable');

			$("#selBusqueda").change(function(){

				var control=$(this).val();
				$(".busqueda").addClass('hidden');
				if(control!="todo")
					$("#"+control).removeClass('hidden');
				else{
					$("#busqueda-1").val("");
					$("#busqueda-2").val("0");
					$("#busqueda-3").val("");
					$("#busqueda-4").val("0");
				}
			});

			$("#btn-busqueda").click(function(){
				if($("#selBusqueda").val()!="todo" && criterio()!="" && criterio()!="0")
				{
					tabla.ajax.url("api/expediente/getByCriteria/"+tipoCriterio()+"/"+criterio()).load();
					$(".filtro").prop('disabled',true);
					$('#estadoFiltro').bootstrapToggle('enable');
					$("#estadoFiltro").bootstrapToggle('on');
				}
			});

			$('#estadoFiltro').change(function() {
				if(!$(this).is(':checked')){
					$(".filtro").prop('disabled',false);
					$("#selBusqueda").val("todo").change();
					$(".filtro").prop('disabled',false);
					tabla.ajax.url("api/expediente/getByCriteria/"+tipoCriterio()+"/"+criterio()).load();
					$(this).bootstrapToggle('disable');
					
				}
			});

			$(".text-area-caratula").wysihtml5({
				toolbar: {
				    "image": false,
					"size": "xs",
				},
			});

			$("#selAutoresPrev").select2({
			  language: "es",
			  allowClear: true,
			  minimumInputLength: -1,
			  theme: "bootstrap",
			});

			$(".campo-fecha").datetimepicker({
		    	locale: 'es',
		    	format:'DD/MM/YYYY'
		    });

	});
	</script>
	<section class="content-header">
		<div class="row pull-right">
			<ol class="breadcrumb">
		        <li><a href="#"><i class="fa fa-dashboard"></i> Principal</a></li>
		        <li>Expedientes</li>
		        <li class="active">Gestión Expedientes</li>
		        
		    </ol>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-3">
				<h2>
			        Gestión Expedientes
			    </h2>
			</div>
			<div class="col-md-6 col-md-offset-3">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<label class="navbar-brand">Filtro</label>
						</div>
						<div class="collapse navbar-collapse">
							<div>
								<form class="navbar-form navbar-left">
									<div class="form-group">
										<div class="form-group text-center">
											<input type="checkbox" id="estadoFiltro" data-size="normal"/>
							        	</div> 
										<button type="button" class="btn btn-primary filtro" id="btn-busqueda">Aplicar</button>
										<select class="form-control filtro" id="selBusqueda">
											<option value="todo">Todo</option>
											<option value="busqueda-1">Autor</option>
											<option value="busqueda-2">Estado</option>
											<option value="busqueda-3">Número Expediente</option>
											<option value="busqueda-4">Tipo de Expediente</option>
										</select>
										<input class="form-control busqueda hidden filtro" id="busqueda-1"/>
										<select class="form-control busqueda hidden filtro" id="busqueda-2">
											<option value="0">Seleccione Estado</option>
											{% for estado in estados %}
								                <option value="{{ estado.id }}">{{ estado.estadoExpediente }}</option>
								            {% endfor %}
										</select>
										<input class="form-control busqueda hidden filtro" id="busqueda-3"/>
										<select class="form-control busqueda hidden filtro" id="busqueda-4">
											<option value="0">Seleccione Tipo</option>
											{% for tipo in tipos %}
								                <option value="{{ tipo.id }}">{{ tipo.tipoExpediente }} - ({{ tipo.letra }})</option>
								            {% endfor %}
										</select>
										
									</div>
								</form>
							</div>
						</div>
					</div>
				</nav>
				
			</div>
	    </div>
	   
	</section>
	<section class="content">
	  	<div class="row">
	    	<div class="col-xs-12">
              	<table id="registroExpediente" class="table table-striped">
	                <thead>
	                	<tr>
	                		<th>id</th>
	                		<th >
	                			<div class="btn-group">
	                				{% if EXP_NEW is defined %}
		                			<button type="button" title="Agregar expediente"class="btn btn-primary btn-xs" data-toggle="modal" data-target="#nuevoExpediente">
							    			<span class="glyphicon glyphicon-plus"></span>
							    	</button>
							    	{% endif %}
							    	{% if EXP_ADD is defined %}
							    	<button type="button" title="Ingresar proyecto"class="btn btn-primary btn-xs" data-toggle="modal" data-target="#proyectosBusqueda">
							    			<span class="glyphicon glyphicon-download-alt"></span>
							    	</button>
							    	{% endif %}
							    </div>
						    </th>	
						    <th>Numero</th>
			                <th>Tipo</th>
			                <th>F. Ing</th>
			                <th>F. Mod</th>
			                <th>Oficina Actual</th>
			                <th>Caratula</th>
	                	</tr>
	                </thead>
	                <tbody>
	                </tbody>
               	</table>     
	        </div> {# col #}
	    </div> {# row #}

	    <div id="proyectosBusqueda" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false"> 
		 	<div class="modal-dialog modal-lg">
			    <!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666;color:#FFF">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title">Proyectos no entrados</h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
				  
			        	<div class="row">
			        		<div class="col-md-12">
					        	<div class="form-group">
					        		<table class="table " id="proyectos">
					        			<thead>
						                	<tr>
						                		<th>id</th>
						                		<th>idTipoProyecto</th>
						                		<th>Ingresar</th>
								                <th>Tipo</th>
								                <th>Autores</th>
						                	</tr>
						                </thead>
						                <tbody>
						                </tbody>
						            </table>
					        	</div>
					        </div>
					    </div>
						
					</div>
					<div class="modal-footer" style="background-color:#ecf0f5">  	
				        <hr>
				        <div class="row">
				        	<div class="col-md-12">
				        		<div class="text-center">
					    			<div class="btn-group">
							        	<button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
							        </div>
						        </div>
						    </div>
			    		</div>
				     </div>
			    </div>
		  	</div>
		</div>

	   	<div id="nuevoExpediente" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" >
		 	<div class="modal-dialog modal-xl">
			    <!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666	;color:#FFF">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title">Nuevo Expediente</h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
				        <form id="alta" action="api/expediente/create" method="POST">
				        	<input type="hidden" id="idProyecto" name="idProyecto" value="0">
				        	<input type="hidden" id="idTipoExpediente" name="idTipoExpediente" value="0">
				        	<div class="row">
				        		<div class="col-md-6">
				        			<div class="row">
				        				<div class="col-md-4">
								        	<div class="form-group">
								        		<label for="selTipoExpediente">Tipo</label>
								        		<select class="form-control" id="selTipoExpediente" 
								        				name="selTipoExpediente">
								        			<option value="0">Seleccione Tipo</option>
								        			{% for tipo in tipos %}
										                <option value="{{ tipo.id }}" class="opcion-{{ tipo.letra }}">{{ tipo.tipoExpediente }} - ({{ tipo.letra }})</option>
										            {% endfor %}
								        		</select>
								        	</div>
								        </div>
							        	<div class="col-md-5">
								        	<div class="form-group">
								        		<label for="numeroExpediente">Número Expediente</label>
								        		<input type="text" class="form-control" id="numeroExpediente"
								        			   name="numeroExpediente" placeholder="N° Expediente">
								        	</div>
								        </div>
								        <div class="col-md-3">
								        	<div class="form-group">
								        		<label for="folios">Guía de Folios</label>
								        		<input type="number" class="form-control" id="folios"
								        			   name="folios" placeholder="Cantidad Folios">
								        	</div>
								        </div>	
								    </div>
						        	<div class="row">
							        	<div class="col-md-12">
							        		<div class="form-group">
								        		<label for="caratula">Caratula</label>
									        	<textarea class="form-control text-area-caratula" 
									        	id="caratula" name="caratula" placeholder="Caratula"></textarea>
									        </div>
									    </div>
							        </div>
						        </div>
						        <div class="col-md-6">
						        	<div class="row">
						        		<div class="col-md-12">
								        	<div class="form-group">
								        		<label for="input-file">Archivos</label>
									        	<input id="input-file" accept="image/*,application/pdf" name="input-file" type="file"
									        		   multiple class="file-loading">
								        	</div>
								        </div>
							        </div>
						        </div>
					        </div>
					        <div class="row">
					        	<div class="col-md-6">
					        		<div class="row">
					        			<div class="col-md-12 expediente-origen" id="div-concejales">
							        		<div class="form-group">
											    <label for="concejales">Concejales</label>
											    <div class="scrollable-div" id="concejales" name="concejales"></div>
											    {# <input id="concejales" name="concejales" type="text" class="form-control" style="width: 100%;" readonly> #}
											</div>
										</div>
										<div class="col-md-12 expediente-origen" id="div-origen">
											<div class="form-group">
											    <label for="origen">Origen</label>
											    <select id="origen" class="form-control" disabled>
											    	<option value="1">Departamento Ejecutivo</option>
											    	<option value="2">Petición Particular</option>
											    	<option value="3">Secretaría Administrativa</option>
											    </select>
											</div>
										</div>
									</div>
						        </div>
						        <div class="col-md-6">
						        	<div class="row">
										<div class="col-md-6 expediente-origen pedido-particular">
										   	<label for="apellidoParticular">Apellidos</label>
	  										<input type="text" class="form-control" id="apellidosSiParticular" name="apellidosSiParticular">
										</div>
										<div class="col-md-6 expediente-origen pedido-particular">
										   	<label for="nombresParticular">Nombres</label>
	  										<input type="text" class="form-control" id="nombresSiParticular" name="nombresSiParticular">
										</div>
									</div>
						        </div>
					        </div>
					         <div class="row">
					        	<div class="col-md-12">
					        		<div class="text-center">
						    			<div class="btn-group">
								        	<button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
				       			 			<button type="submit" class="btn btn-primary" id="btn-alta-expediente">Guardar</button>
								        </div>
							        </div>
							    </div>
				    		</div>					        
				        </form>
				     </div>
			    </div>
		  	</div>
		</div>
		<div id="modificacionExpediente" class="modal fade" role="dialog">
		 	<div class="modal-dialog modal-xl">
			    <!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666	;color:#FFF">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title">Modificación Expediente</h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
				        <form id="modificacion" action="/api/expediente/update" method="POST">
				        	<input type="hidden" id="id" name="id">
				        	<div class="row">
				        		<div class="col-md-6">
				        			<div class="row">
				        				<div class="col-md-4">
								        	<div class="form-group" id="grupo-seleccion">
								        		<label for="selTipoExpedienteMod">Tipo</label>
								        		<select class="form-control" id="selTipoExpedienteMod" 
								        				name="selTipoExpedienteMod">
								        			<option value="0">Seleccione Tipo</option>
								        			{% for tipo in tipos %}
										                <option value="{{ tipo.id }}" class="opcion-{{ tipo.letra }}">{{ tipo.tipoExpediente }} - ({{ tipo.letra }})</option>
										            {% endfor %}
								        		</select>
								        	</div>
								        </div>
							        	<div class="col-md-5">
								        	<div class="form-group">
								        		<label for="numeroExpedienteMod">Número Expediente</label>
								        		<input type="text" class="form-control" id="numeroExpedienteMod"
								        			   name="numeroExpedienteMod" placeholder="N° Expediente">
								        	</div>
								        </div>
								        <div class="col-md-3">
								        	<div class="form-group">
								        		<label for="foliosMod">Guís de Folios</label>
								        		<input type="number" class="form-control" id="foliosMod"
								        			   name="foliosMod" placeholder="Cantidad Folios">
								        	</div>
								        </div>		
								    </div>
						        	<div class="row">
							        	<div class="col-md-12">
							        		<div class="form-group">
								        		<label for="caratulaMod">Caratula</label>
									        	<textarea class="form-control text-area-caratula" 
									        	id="caratulaMod" name="caratulaMod" placeholder="Caratula"></textarea>
									        </div>
									    </div>
							        </div>
						        </div>
						        <div class="col-md-6">
						        	<div class="row">
						        		<div class="col-md-12">
								        	<div class="form-group">
								        		<label for="input-file-Mod">Archivos</label>
									        	<input id="input-file-Mod" accept="image/*,application/pdf" name="input-file-Mod" type="file" multiple class="file-loading">
								        	</div>
								        </div>
							        </div>
						        </div>
					        </div>
					        <hr>
					         <div class="row">
					        	<div class="col-md-6">
					        		<div class="row">
					        			<div class="col-md-12 expediente-origen" id="div-concejales-mod">
							        		<div class="form-group">
											    <label for="concejales-mod">Concejales</label>
											     <div class="scrollable-div" id="concejales-mod" name="concejales-mod"></div>
											</div>
										</div>
										<div class="col-md-12 expediente-origen" id="div-origen-mod">
											<div class="form-group">
											    <label for="origen-mod">Origen</label>
											    <select id="origen-mod" class="form-control" disabled>
											    	<option value="1">Departamento Ejecutivo</option>
											    	<option value="2">Petición Particular</option>
											    	<option value="3">Secretaría Administrativa</option>
											    </select>
											</div>
										</div>
									</div>
						        </div>
						        <div class="col-md-6">
						        	<div class="row">
										<div class="col-md-6 expediente-origen pedido-particular">
										   	<label for="apellidosSiParticular-mod">Apellidos</label>
	  										<input type="text" class="form-control" id="apellidosSiParticular-mod" name="apellidosSiParticular-mod">
										</div>
										<div class="col-md-6 expediente-origen pedido-particular">
										   	<label for="nombresSiParticular-mod">Nombres</label>
	  										<input type="text" class="form-control" id="nombresSiParticular-mod" name="nombresSiParticular-mod">
										</div>
									</div>
						        </div>
					        </div>
					        <div class="row">
					        	<div class="col-md-12">
					        		<div class="text-center">
						    			<div class="btn-group">
								        	<button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
				       			 			<button type="submit" class="btn btn-primary" id="btn-Modificacion-expediente">Modificar</button>
								        </div>
							        </div>
							    </div>
				    		</div>
				        </form>
				     </div>
			    </div>
		  	</div>
		</div>
	{# 	<div id="revistaExpediente" class="modal fade" role="dialog">
		 	<div class="modal-dialog modal-xl">
			    <!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666	;color:#FFF">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title">Revista Expediente</h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
				    	<input type="hidden" id="id" name="id">
			        	<div class="row">
			        		<div class="col-md-6">
			        			<div class="row">
			        				<div class="col-md-6">
							        	<div class="form-group">
							        		<label for="selTipoExpedientePrev">Tipo</label>
							        		<input class="form-control" readonly id="tipoExpedientePrev" 
							        				name="tipoExpedienteMod">
							        	</div>
							        </div>
						        	<div class="col-md-6">
							        	<div class="form-group">
							        		<label for="numeroExpedientePrev">Número Expediente</label>
							        		<input type="text" readOnly class="form-control" id="numeroExpedientePrev" name="numeroExpedientePrev" >
							        	</div>
							        </div>	
							    </div>
					        	<div class="row">
						        	<div class="col-md-12">
						        		<div class="form-group">
							        		<label for="cartulaPrev">Carátula</label>
								        	<div class="div-Preview" id="cartulaPrev" name="cartulaPrev"></div>
								        </div>
								    </div>
						        </div>
					        </div>
					        <div class="col-md-6">
					        	<div class="row">
					        		<div class="col-md-12">
							        	<div class="form-group">
							        		<label for="input-file-Prev">Archivos</label>
								        	<input id="input-file-Prev" name="input-file-Prev" type="file" multiple class="file-loading">
							        	</div>
							        </div>
						        </div>
					        </div>
				        </div>
				        <div class="row">
				        	<div class="col-md-12">
								<div class="form-group">
						        	<label for="selAutoresPrev">Autores</label>
						        	<select class="form-control" data-width="100%" readOnly multiple="multiple" id="selAutoresPrev" name="selAutoresPrev"></select>
						        </div>
					        </div>
				        </div>
				        <hr>
				        <div class="row">
				        	<div class="col-md-12">
				        		<div class="text-center">
					    			<div class="btn-group">
							        	<button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
							        </div>
						        </div>
						    </div>
			    		</div>
				     </div>
			    </div>
		  	</div>
		</div> #}
		<div id="movimientos" class="modal fade" role="dialog">
		 	<div class="modal-dialog modal-xl">
			    <!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666	;color:#FFF">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title">Movimientos e Informes</h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
				    	<input type="hidden" id="idExpediente" name="idExpediente">				    	
				    	<div class="row">
				    		<div class="col-md-2">
                				<h3>
                			        Navegación
                			    </h3>		
				    			<nav>
								    <ul class="nav">
									    <li><a href="#" id="link-tab-1" class="selectable" onclick = "habilitar('tab-1')" >Giros (Movimientos)</a></li>
										<li><a href="#" id="link-tab-2" class="selectable" onclick = "habilitar('tab-2')">CH (Respestas Informes)</a></li>
									</ul>
								</nav>
				    		</div>
    				    	<div class="col-md-10">
    				    		<div class="row tab" id="tab-1">
    		        				<div class="col-md-12">
    		        					<div class="row">
        		        					<div class="col-md-6">
                                				<h3>
                                			        Giros - Movimientos
                                			    </h3>
                                			</div>
                            			</div>
                            			<br>
                            			<div class="row">
                            				<div class="col-md-12">
            						        	<table class="table table-striped" id="tablaMovimientos" width="100%">
            						        		<thead>
            						        			<th>id</th>
            						        			<th>Origen</th>
            						        			<th title="Fecha de Envío Remito">Fec. Env.</th>
            						        			<th>Destino</th>
            						        			<th>Observación</th>
            						        			<th>Fojas</th>
            						        			<th title="Fecha de Recepción Remito">Fec. Recep.</th>
            						        		</thead>
            						        	</table>
        						        	</div>
        						        </div>
    						        </div>	
    						    </div>
    						    <div class="row tab hidden" id="tab-2">
    		        				<div class="col-md-12">
        		        				<div class="row">
        		        					<div class="col-md-6">
                                				<h3>
                                			        CH - Respuestas Informes
                                			    </h3>
                                			</div>
                            			</div>
                            			<br>
                                		<div class="row">
                                			<div class="col-md-12">
            						        	<table class="table table-striped" id="tablaInformes">
            						        		<thead>
            						        			<th>id</th>
            						        			<th>Destino</th>
            						        			<th title="Fecha Emisión">Fec. Em.</th>
            						        			<th>Solicitud</th>
            						        			<th title="Fecha Respuesta">Fec. Resp.</th>
            						        			<th>Fojas</th>
            						        		</thead>
            						        	</table>
            						        </div>
        						        </div>
        							</div>	
    						    </div>
    				    	</div>
    				    </div>
				        <hr>
				        <div class="row">
				        	<div class="col-md-12">
				        		<div class="text-center">
					    			<div class="btn-group">
							        	<button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
							        </div>
						        </div>
						    </div>
			    		</div>
				     </div>
			    </div>
		  	</div>
		  </div>
		  <div id="giro" class="modal fade" role="dialog">
		 	<div class="modal-dialog">
			    <!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666	;color:#FFF">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title">Giro</h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
				    	<input type="hidden" id="idOficinaActual" name="idOficinaActual">	
				    	<div class="row">
				    		<div class="col-md-12">
				    			<div class="form-group">
				    				<label for="fechaIntervencionOficinaActual">Ingreso A Esta Oficina</label>
				    				<input type="input" class="form-control campo-fecha text-center hidden"
				    				 id="fechaIntervencionOficinaActual">
				    			</div>
				    			{# <div class="form-group">
				    				<label for="selOrigenGiro">Origen</label>
				    				<select class="form-control" id="selOrigenGiro">
				    					<option value="0">Seleccione Origen</option>
				    					{% for oficina in oficinas %}
							                <option value="{{ oficina.id }}">{{ oficina.oficina }}</option>
							            {% endfor %}
				    				</select>
				    			</div> #} 
				    			<div class="form-group">
				    				<label for="selDestinoGiro">Destino</label>
				    				<select class="form-control" id="selDestinoGiro">
				    					<option value="0">Seleccione Destino</option>
				    					{% for oficina in oficinas %}
							                <option value="{{ oficina.id }}">{{ oficina.oficina }}</option>
							            {% endfor %}
				    				</select>
				    			</div>
				    			<div class="form-group">
				    				<label for="observacionGiro">Observación</label>
				    				<textarea class="form-control" rows="8" cols="10" id="observacionGiro"></textarea>
				    			</div>
				    		</div>
				    	</div>
				    	<br>
				    	<div class="row">
				    		<div class="col-md-4">
				    			<div class="form-group">
				    				<label for="fojasRemitoGiro">fojas</label>
				    				<input type="input" class="form-control text-center" disabled id="fojasRemitoGiro">
				    			</div>
				    		</div>
				    		<div class="col-md-4 col-md-offset-4">
				    			<div class="form-group">
				    				<label for="fechaRecepcionRemito">Fecha Recepción Remito</label>
				    				<input type="input" class="form-control campo-fecha text-center" id="fechaRecepcionRemito">
				    			</div>
				    		</div>
				    	</div>
				        <hr>
				        <div class="row">
				        	<div class="col-md-12">
				        		<div class="text-center">
					    			<div class="btn-group">
							        	<button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
							        	<button type="button" class="btn btn-primary" id="guardarGiro">Guardar</button>
							        </div>
						        </div>
						    </div>
			    		</div>
				     </div>
			    </div>
			</div>
		</div>
		<div id="informe" class="modal fade" role="dialog">
		 	<div class="modal-dialog">
			    <!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666	;color:#FFF">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title">Informe</h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
				    	<input type="hidden" id="idInforme" name="idInforme">
				    	<input type="hidden" id="modoInforme" name="modoInforme"> 	
				    	<div class="row">
				    		<div class="col-md-12">
				    			<div class="form-group">
				    				<label for="selDestinoInforme">Destino</label>
				    				<select class="form-control" id="selDestinoInforme">
				    					<option value="0">Seleccione Destino</option>
				    				</select>
				    			</div>
				    			<div class="form-group">
				    				<label for="solicitudInforme">Solicitud</label>
				    				<textarea class="form-control" rows="8" cols="10" id="solicitudInforme"></textarea>
				    			</div>
				    		</div>
				    	</div>
				    	<div class="row">
				    		<div class="col-md-12">
				    			<div class="row">
				    				<div class="col-md-4">	
				    					<div class="form-group">
        				    				<label for="fechaEnvioInforme">Fecha Envío</label>
        				    				<input type="text" class="form-control campo-fecha text-center" id="fechaEnvioInforme">
    				    				</div>
				    				</div>
				    				<div class="col-md-5">		
        				    			<div class="form-group">
        				    				<label for="fechaRespuestaInforme">Fecha Recepción Respuesta</label>
        				    				<input type="text" class="form-control campo-fecha text-center" id="fechaRespuestaInforme">
        				    			</div>
        				    		</div>
        				    		<div class="col-md-3">	
        				    			<div class="form-group">
        				    				<label for="fojasRespuestaInforme">Fojas</label>
        				    				<input type="text" class="form-control text-center" id="fojasRespuestaInforme">
        				    			</div>
        				    		</div>
    				    		</div>
				    		</div>
				    	</div>
				        <hr>
				        <div class="row">
				        	<div class="col-md-12">
				        		<div class="text-center">
					    			<div class="btn-group">
							        	<button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
							        	<button type="button" class="btn btn-primary" id="guardarInforme">Guardar</button>
							        </div>
						        </div>
						    </div>
			    		</div>
				     </div>
			    </div>
			</div>
		</div>
		<div id="respuestaRemitoInforme" class="modal fade" role="dialog">
		 	<div class="modal-dialog modal-sm">
			    <!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666	;color:#FFF">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title">Respuesta Informe</h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
				    	<input type="hidden" id="idInforme" name="idInforme">
				    	<input type="hidden" id="modoRespuestaInforme" name="modoRespuestaInforme"> 	
				    	<div class="row">
				    		<div class="col-md-12">
				    			<div class="form-group">
				    				<label for="fechaRespuestaGiro">Fecha Recepción Respuesta</label>
				    				<input type="date" id="fechaRespuestaGiro">
				    			</div>
				    			<div class="form-group">
				    				<label for="fojasRespuestaInforme">Fojas</label>
				    				<input type="text" id="fojasRespuestaInforme">
				    			</div>
				    		</div>
				    	</div>
				        <hr>
				        <div class="row">
				        	<div class="col-md-12">
				        		<div class="text-center">
					    			<div class="btn-group">
							        	<button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
							        	<button type="button" class="btn btn-primary" id="guardarRespuestaGiro">Guardar</button>
							        </div>
						        </div>
						    </div>
			    		</div>
				     </div>
			    </div>
			</div>
		</div>
	</section>
{% endblock %}