
{% block stylesheets %}
	{# parent() }#}
  	{% stylesheets '@css_datatables' %}
      	<link rel="stylesheet" href="{{ asset_url }}" /></link>
  	{% endstylesheets %}
{% endblock %}

{% block javascripts %}
	{# parent() #}
    {% javascripts '@js_datatables'%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

	<style type="text/css">
		@media (min-width: 768px) {
		  .modal-xl {
		    width: 95%;
		    max-width:1600px;
		  }
		}
	
		.toggle-on.btn{
			line-height: 22.5px!important;
		}
		.toggle-off.btn{
			line-height: 22.5px!important;
		}
		    
	</style>
	<script type="text/javascript">

		function criterio(){
			var tipo=$("#selBusqueda").val();
			var valorRetorno="";

			if (tipo=="todo")
				valorRetorno="0"
			else
				valorRetono=$("#"+tipo).val();
			
			return valorRetorno
		}
		
		function tipoCriterio(){
			return $("#selBusqueda").val();
		}

		$(document).ready(function () {
			
		    var tabla=$('#registroOrdenDia').DataTable({
		    			  "language": {
				              "infoEmpty": "Sin registros para mostrar",
				              "paginate": {
						          	"last": "Ultima Página",
						          	"first": "Primer página",
						          	"next": "Siguiente",
						          	"previous": "Anterior"
						       },
						       "search":"Búsqueda rápida",
						       "emptyTable": "Sin Datos",
						       "lengthMenu": 'Registros Listados <select class="form-control input-sm">'+
								             '<option value="10">10</option>'+
								             '<option value="20">20</option>'+
								             '<option value="30">30</option>'+
								             '<option value="40">40</option>'+
								             '<option value="50">50</option>'+
								             '<option value="-1">Todos</option>'+
								             '</select>',
								"loadingRecords": "Espere...cargando datos",
								"processing": "Procesando...",
								"sInfo": "Mostrando  _START_ a _END_ de _TOTAL_ registros",

			          	  },
					      "processing": false,
					      "ajax": {
							        "url": "api/sesion/getExpedienteSesionByCriteria/"+$("#idSesion").val()+
							        												"/"+tipoCriterio()+
							        												"/"+criterio(),
			            			"dataSrc": '',
							    },
						  "columnDefs": [
							  				
								            {
								                "targets": [ 0 ],
								                "visible": false,
								                "searchable": false
								            }, 
								            {
									            "targets": [ 4 ],
									            "data": null,
									            "orderable":true,
									            "render": function(data, type, row){
										            
										            var html="<div class='text-center'><div class='btn-group'>";
													
										            if ('{{ 'DESP_SANC_ADD' in app.user.listaPermisos }}'){
											            
    										            if (row.tiene_sancion=='No'){
    											           										            	
    									            		html+="<button type='button' title='Redactar Sancion' "+(($("#permiteEdicion").val()==0)?"disabled":"")+
    											            	  " class='btn btn-primary btn-xs btn-redactar-sancion'>"+
    											            	  "<span class='glyphicon glyphicon-plus'></span></button> ";
        											            	  
    									            		/* if (row.dictamenes>0)
        									            			html+="<button type='button'title='Usar Dictamen' "+(($("#permiteEdicion").val()==0)?"disabled":"")+
        											            		  " class='btn btn-primary btn-xs btn-sancion-dictamen'>"+
        											            		  "<span class='glyphicon glyphicon-paperclip'></span></button> "; */
    										            }
    								            		else{
        								            			html+="<button type='button'title='Editar Sancion' "+(($("#permiteEdicion").val()==0)?"disabled":"")+
        										            		  " class='btn btn-info btn-xs btn-editar-sancion'>"+
        										            		  "<span class='glyphicon glyphicon-pencil'></span></button> ";
    
        										            	html+="<button type='button' title='Descargar Sancion' "+
            												  	  	  "class='btn btn-info btn-xs btn-descargar-sancion' " +
            												  	  	  "id='"+row.id_sancion+"'>"+
            												  	  	  "<span class='glyphicon glyphicon-save-file'></span></button>";
    								            		} 
										            }
										            
									     			html+="</div></div>";	
								            		return html;
									            }
									        },
									        {
									            "targets": [ 5 ],
									            "data": "numero_sancion",
									            "orderable":false,
									            "render": function(data, type, row){
									            	 var html="<div class='text-center'>";
										            if (row.numero_sancion=="")
										            	html+="<h4><span class='label label-danger'>---</span></h4>";
										            else
										            	html+="<h4><span class='label label-success'>"+row.numero_sancion+"</span></h4>";
									            	return html+'</div>';
									            }
									        },   
									        {
									            "targets": [ 6 ],
									            "data": "tiene_notificacion",
									            "orderable":true,
									            "render": function(data, type, row){
									            	 return "<div class='text-center'>"+data+'</div>';
									            }
									        }, 
						  ],
					      "columns": [
					      		{ "data": "id_expediente" },
					      		{ "data": "numero_expediente","width":"10%"},
					            { "data": "letras_o_d","width":"40%" },
					            { "data": "tipo_expediente","width":"20%" },
					            { "data": "tiene_sancion", "width": "6%"},
					            { "data": "numero_sancion", "width": "10%"},
					            { "data": "tiene_notificacion", "width": "6%"}
					        ],
					      "autoWidth":false,
					      "paging": true,
					      "lengthChange": true,
					      "searching": true,
					      "ordering": true,
					      "info": true,
					      "autoWidth": false
			});

		    
		    $('#registroOrdenDia tbody').on( 'click', '.btn-descargar-sancion', function (e) {
		        window.location.href='{{ app.request.getBaseURL() }}'+
		        					 '/imprimirSancion?idSancion='+
		        					 e.currentTarget.id;
		    } ); 
	 

		  //-----------------------------------------------------------------------------------------------------------------
		  //-------------------------------------ALTA Y MODIFICACION DE RESOLUCIONES-------------------------------------------
		  //-----------------------------------------------------------------------------------------------------------------

		    //EVENTO REDACTAR Sancion DE LA GRILLA DE ORDEN DEL DIA	
		    $('#registroOrdenDia tbody').on( 'click', '.btn-redactar-sancion', function () {
		        var data = tabla.row( $(this).parents('tr') ).data();
		        debugger;
		        var idSancion=data['id_sancion'];
		        var idExpediente=data['id_expediente'];
		        var idSesion='{{ idSesion }}';
		        cargarMenuConParametros('/sancion_a_m',
				        				{nombre:'idSancion', valor:idSancion},
				        				{nombre:'idExpediente', valor:idExpediente},
				        				{nombre:'idSesion',valor:idSesion});
		       
		    });

			//EVENTO EDITAR RESOLUCION DE LA GRILLA DE ORDEN DEL DIA
		    $('#registroOrdenDia tbody').on( 'click', '.btn-editar-sancion', function () {
		        var data = tabla.row( $(this).parents('tr') ).data();
		        var idSancion=data['id_sancion'];
		        var idExpediente=data['id_expediente'];
		        var idSesion='{{ idSesion }}';
		        cargarMenuConParametros('/sancion_a_m',
                        				{nombre:'idSancion', valor:idSancion},
                        				{nombre:'idExpediente', valor:idExpediente},
                        				{nombre:'idSesion',valor:idSesion});
		    });
		  						
			$('#estadoFiltro').bootstrapToggle({
		      on:  'Activo',
		      off: 'Inactivo',
		      offstyle: 'primary',
		      onstyle: 'success',
		      width: "80px",
		      height: "35px"
		    });

			$(".busqueda").addClass('hidden');
			$("#selBusqueda").val("todo");
			$('#estadoFiltro').bootstrapToggle('disable');

			$("#selBusqueda").change(function(){

				var control=$(this).val();
				$(".busqueda").addClass('hidden');
				if(control!="todo")
					 $("#"+control).removeClass('hidden');
				else{
					$("#busqueda-1").val("");
					$("#busqueda-2").val("0");
				}
			});

			$("#btn-busqueda").click(function(){
				var valorBusqueda=$("#selBusqueda").val();
				if(((valorBusqueda=="busqueda-1"|| valorBusqueda=="busqueda-2" || 
					valorBusqueda=="busqueda-3" || valorBusqueda=="busqueda-4") && 
					criterio()!="" && criterio()!="0"))
				{
					tabla.ajax.url("api/sesion/getExpedienteSesionByCriteria/"+$("#idSesion").val()+"/"+tipoCriterio()+"/"+criterio()).load();
					$(".filtro").prop('disabled',true);
					$('#estadoFiltro').bootstrapToggle('enable');
					$("#estadoFiltro").bootstrapToggle('on');
				}
			});

			$('#estadoFiltro').change(function() {
				if(!$(this).is(':checked')){
					$(".filtro").prop('disabled',false);
					$("#selBusqueda").val("todo").change();
					$(".filtro").prop('disabled',false);
					tabla.ajax.url("api/sesion/getExpedienteSesionByCriteria/"+$("#idSesion").val()+"/"+tipoCriterio()+"/"+criterio()).load();
					$(this).bootstrapToggle('disable');
					
				}
			});

	});
	</script>
	<section class="content-header">
		<div class="row pull-right">
			<ol class="breadcrumb">
		        <li><a href="#"><i class="fa fa-dashboard"></i> Principal</a></li>
		        <li>Despacho</li>
		        <li class="active">Expedientes Orden del Día</li>
		        
		    </ol>
		</div>
	
		<div class="row">
    		<div class="col-md-12">
    			<div class="alert alert-info" style="color: #31708f!important">
                  <strong>Sesión {{ nombreSesion }}</strong>
                </div>
			</div>
    	</div>
		<div class="row">
			<div class="col-md-4">
				<h2>
			        Expedientes Orden del Día
			    </h2>
			</div>
			<div class="col-md-7 col-md-offset-1">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<label class="navbar-brand">Filtro</label>
						</div>
						<div class="collapse navbar-collapse">
							<div>
								<form class="navbar-form navbar-left">
									<div class="form-group">
										<div class="form-group text-center">
											<input type="checkbox" id="estadoFiltro" data-size="normal"/>
							        	</div> 
										<button type="button" class="btn btn-primary filtro" id="btn-busqueda">Aplicar</button>
										<select class="form-control filtro" id="selBusqueda">
											<option value="todo">Todo</option>
											<option value="busqueda-1">Número Expediente</option>
											<option value="busqueda-2">Tipo de Expediente</option>
											<option value="busqueda-3">Letra del Orden Del Día</option>
										</select>
										<input class="form-control busqueda hidden filtro" id="busqueda-1"/>
										<select class="form-control busqueda hidden filtro" id="busqueda-2">
											<option value="0">Seleccione Tipo</option>
											{% for tipoExpediente in tiposExpediente %}
								                <option value="{{ tipoExpediente.id }}">{{ tipoExpediente.tipoExpediente }}</option>
								            {% endfor %}
										</select>
										<select class="form-control busqueda hidden filtro" id="busqueda-3">
											<option value="0">Seleccione Tipo</option>
											{% for tipoExpedienteSesion in tiposExpedienteSesion %}
								                <option value="{{ tipoExpedienteSesion.letra }}">{{ tipoExpedienteSesion.letra }}</option>
								            {% endfor %}
										</select>								
									</div>
								</form>
							</div>
						</div>
					</div>
				</nav>
			</div>
	    </div> 
	</section>
	<section class="content">
	  	<div class="row">
	    	<div class="col-xs-12">
	    		<input type="hidden" id="idSesion" value="{{ idSesion }}">
	    		<input type="hidden" id="permiteEdicion" value="{{ permiteEdicion }}">
              	<table id="registroOrdenDia" class="table table-striped">
	                <thead>
	                	<tr>
	                		<th>id</th>
	                		<th>Expediente</th>
			                <th>Letras Orden del Día</th>
			                <th>Tipo Expediente</th>
			                <th class="text-center">Sanción</th>
			                <th class="text-center">N° Sanción</th>
			                <th class="text-center">Notificacion</th>
	                	</tr>
	                </thead>
	                <tbody>
	                </tbody>
               	</table>     
	        </div> {# col #}
	    </div> {# row #}
		<div id="modalSancion" class="modal fade custom-modal" role="dialog" data-backdrop="static">
		 	<div class="modal-dialog modal-xl">
			    <!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666	;color:#FFF">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title" id="titulo-modal-sancion"></h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
				    	<input type="hidden" id="idDictamen" name="idDictamen">
				    	<input type="hidden" id="idProyecto" name="idProyecto">
				    	<input type="hidden" id="idExpediente" name="idExpediente">
				    	<input type="hidden" id="idSancion" name="idSancion">
					    <div class="row">
					    	<div class="col-md-3">
					    		<div class="row">
					    			<div class="col-md-12">
        					    		<div class="form-group">
        					        		<label for="selTipoRedaccion">Tipo Redacción</label>
        					        		<select class="form-control" id="selTipoRedaccion" 
        					        				name="selTipoRedaccion" autofocus="autofocus">
        					        		</select>
        				        		</div>
        					        	<div style="min-height: 68.78px">
            					    		<div class="form-group hidden" style="margin-bottom: 0px!important" id="group-tipoDictamen">
            					        		<label for="selTipoSancion">Tipo Sanción</label>
            					        		<select class="form-control" id="selTipoSancion" name="selTipoSancion">
            					        			<option value="0">Seleccione Tipo Sanción</option>
            					        			{% for tipo in tiposProyecto %}
            							                <option value="{{ tipo.id }}">{{ tipo.tipoProyecto }}</option>
            							            {% endfor %}
            					        		</select>
            					        	</div>
            					        </div>
            						</div>
        					    </div>
    					        <hr>
    					        <div class="panel panel-primary" id="sancion-panel">
                                    <div class="panel-heading text-center"><strong>Numero Sancion</strong></div>
                                	<div class="panel-body">
        					        	<div class="row">
            					        	<div class="col-md-6">
                    					        <div class="text-center">
                    					        	<div class="form-group">
                    					        		<input type="checkbox" id="poseeSancion" name="poseeSancion" data-size="small"/>
                    					        	</div>
                    					        </div>
                    					    </div>
                    					    <div class="col-md-6">
                    					        <div class="text-center">
                    					        	<div class="form-group">
                    					        		<input type="text" class="form-control text-center" placeholder="Número Sancion" 
                    					        			    id="numeroSancion" name="numeroSancion" onblur="validarNumeroSancion(this);">
                    					        	</div>
                    					        </div>
                    					    </div>
                    					</div>
                    				</div>
                        		</div>
                        		 <div class="panel panel-primary" id="notificacion-panel">
                                    <div class="panel-heading text-center"><strong>Notificación</strong></div>
                                	<div class="panel-body">
        					        	<div class="row">
            					        	<div class="col-md-12">
                    					        <div class="text-center">
                    					        	<div class="form-group">
                    					        		<input type="checkbox" id="aplicaNotificacion" name="aplicaNotificacion" data-size="small"/>
                    					        	</div>
                    					        	<div class="form-group">
                							        	<select class="form-control oficinaDestino" 
                							        			data-width="100%" multiple="multiple"
                							        			id="selOficinasDestino" name="selOficinasDestino"></select>
                							        </div>
                    					        	<div class="form-group">
                    					        		<select class="form-control" id="selComisionReserva" name="selComisionReserva">
                    					        			<option value="0">Seleccione Comisión Reserva</option>
                    					        			{% for comision in comisiones %}
                    							                <option value="{{ comision.id }}">{{ comision.comision }}</option>
                    							            {% endfor %}
                    					        		</select>
                    					        	</div>
                    					        </div>
                    					    </div>
                    					</div>
                    				</div>
                        		</div>
					    	</div>
					    	<div class="col-md-9">
					    		<div class="row" style="padding-top: 5px;">
					    			<div class="col-md-6">
					    				<nav>
        								    <ul class="nav nav-pills">
        								    	<li role="presentation"><a href="#" id="link-tab-0" class="selectable" onclick = "habilitar('tab-0')" ><h4>Speech / Firmas</h4></h4></a></li>
        									    <li role="presentation"><a href="#" id="link-tab-1" class="selectable" onclick = "habilitar('tab-1')" ><h4>Texto</h4></h4></a></li>
        										<li role="presentation"><a href="#" id="link-tab-2" class="selectable hidden" onclick = "habilitar('tab-2')"><h4>Artículos</h4></a></li>
        										<li role="presentation"><a href="#" id="link-tab-3" class="selectable hidden" onclick = "habilitar('tab-3')"><h4>Revision Proyecto</h4></a></li>
        									</ul>
        								</nav>
					    			</div>	
					    			<div class="col-md-6">
					    				<div class="btn-group pull-right" id="btn-group-modo-creacion">
    					    				<button type="button" class="btn btn-primary" id="btn-modo-redaccion">Cambiar A Redacción</button>
    					    				<button type="button" class="btn btn-primary" id="btn-modo-dictamen">Copiar Desde Dictamen</button>
					    				</div>
					    			</div>		
					    		</div>
					    		<br>
					    		<div class="row tab" id="tab-0">
							    	<div class="col-md-12">
									    <div class="row">
									    	<div class="col-md-12">
									    		<div class="form-group">
                					        		<label for="agregaSpeech">Imprimir Speech</label>
    									    		<input type="checkbox"  class="check-si-no" id="agregaSpeech" name="agregaSpeech" 
                    					        		data-size="small"/>
                    					        </div>
									    	</div>
									    	<div class="col-md-12">
    									    	<div class="input-group">
    									    		<span class="input-group-addon">
    									    			<a href="javascript:void(0);" class="speech" onclick="cargarDetalle();" style="cursor:help">Titulo Speech</a>
    									    		</span>
    									    		<select class="form-control speech" data-width="100%" id="selSpeech" name="selSpeech"></select>
                                                  	<span class="input-group-btn">
                                                    	<button type="button" class="btn btn-primary speech" id="btn-agregar-speech" 
                									    		data-toggle='modal' data-target='#modalSpeech'>
                									    			Agregar
        									    		</button>
                                                  	</span>
                                                </div>
                                            </div>
									    </div>
									    <div class="row" style="padding-top: 5px;">
									    	<div class="col-md-12">
								        		<textarea class="form-control text-area-speech"
								        		id="textoSpeech" name="textoSpeech"></textarea>
									        </div>
								        </div>
								        <hr>								        
								        <div class="row">
            					        	<div class="col-md-4"> 
                					        	<div class="form-group">
                					        		<label for="firmaPresidente">Firma Presidente</label>
                					        		<input type="checkbox" class="check-si-no" id="firmaPresidente" name="firmaPresidente" 
                					        				data-size="small"/>
                					        	</div>    
                    					    </div>
                    					    <div class="col-md-4 col-md-offset-4"> 
                					        	<div class="form-group">
                					        	<label for="firmaSecretario">Firma Secretario</label>
                					        		<input type="checkbox" class="check-si-no" id="firmaSecretario" name="firmaSecretario" 
                					        				data-size="small"/>
                					        	</div>    
                    					    </div>
                    					</div> 
							        </div> 
					        	</div>
							    <div class="row tab" id="tab-1">
							    	<div class="col-md-12">
									    <div class="row">
									    	<div class="col-md-12">
								        		<textarea class="form-control text-area text-area-libre" 
								        		id="texto" name="texto" placeholder="Texto Libre"></textarea>
									        </div>
								        </div> 
							        </div> 
					        	</div>
						        <div class="row tab hidden" id="tab-2">
					        		<div class="col-md-12">
							        	<div class="row" style="padding-top:5px">
							        		<div class="col-md-12">
									        	<div class="div-articulos" id="div-articulos">
									        		<table class="table table-striped" id="articulos">
									        			<tbody>
										        		</tbody> 
									        		</table> 	
										        </div>
										    </div>
										</div>
										<hr>	
										<div class="row" style="padding-top: 15px;">
											<div class="col-md-12">
								        		<button type="button" class="btn btn-primary btn-sm" id="btn-nuevo-articulo"
								        		        style="margin-left:15px" >Nuevo Artículo</button>
								        	</div>
										</div>
								    </div>
						        </div>
						        <div class="row tab hidden" id="tab-3">	
    					        	<div class="col-md-12">
    					        		<input type="hidden" id="idRevision">	
					        			<div class="row" style="margin-bottom: 5px">
					        				<div class="col-md-1" style="text-align: left;">
        					        			<button type="button" class="btn btn-warning btn-sm" 
        						        				id="btn-revisiones" data-toggle='modal' 
        						        				data-target='#modalRevisiones'>Revisiones</button>
        				        			</div>
        				        			<div class="col-md-8 dependiente-revision" style="text-align: center;">
    											<input type="checkbox" id="editaRevision" data-size="small"/>
    										</div>
					        				<div class="col-md-3 dependiente-revision" style="text-align: right;" id="div-vistosYConsiderandos">
    											<input type="checkbox" id="vistosYConsiderandos" data-size="small"/>
    										</div>
					        			</div>
            							<div class="div-revision dependiente-revision" id="div-revision">
    					        			<div class="row texto-revision"  style="padding-top:10px">
    					        				<div class="col-md-12" style="background: #f8f8ff">
        					        				<div class="form-group">
        					        					<label for="vistos">Vistos:</label>
        					        					<div id="vistos" style="padding-left:15px">
        					        					</div>
        					        					<button type="button" class="btn btn-primary btn-xs" 
    								        				id="btn-editar-vistos-revision" style="margin-top:5px">Editar</button>
        					        				</div>
        					        			</div>
    					        			</div>
    					        			<div class="row texto-revision" style="padding-top:10px">
    					        				<div class="col-md-12" style="background: #f8f8ff">
        					        				<div class="form-group">
        					        					<label for="considerandos">Considerandos:</label>
        					        					<div id="considerandos" style="padding-left:15px">
        					        					</div>
        					        					<button type="button" class="btn btn-primary btn-xs" 
    								        				id="btn-editar-considerandos-revision" style="margin-top:5px">Editar</button>
        					        				</div>
        					        			</div>
    					        			</div>
    							        	<div class="row" style="padding-top:10px">
    							        		<div class="col-md-12">
    								        		<table class="table table-striped" id="articulos-revision">
    								        			<tbody>
    									        		</tbody> 
    								        		</table> 
    										    </div>
    										</div>
    										<hr>
    										<div class="row" style="padding-top: 5px;">
    											<div class="col-md-12" style="text-align: left;">
    								        		<button type="button" class="btn btn-primary btn-xs" 
    								        				id="btn-nuevo-articulo-revision">Nuevo Artículo</button>
    								        	</div>
    										</div>
    									</div>
    								</div>
						        </div>
					        </div>
					    </div>
				        <hr>
				        <div class="row">
				        	<div class="col-md-12">
				        		<div class="text-center">
					    			<div class="btn-group">
							        	<button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
						       			 <button type="button" class="btn btn-primary" id="btn-guardar-sancion">Guardar</button>
							        </div>
						        </div>
						    </div>
			    		</div>
				    </div>
			    </div>
		  	</div>
		</div>

		<div id="modalArticulo" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
		 	<div class="modal-dialog modal-xl">
			    <!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666	;color:#FFF">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title">Nuevo Artículo</h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
			        	<input type="hidden" id="id" name="id">
			        	<input type="hidden" id="tabla" name="tabla">
			        	<div class="row">
			        		<div class="col-md-12">
			        			<div class="form-group">
					        		<label for="articulo">Articulo:</label>
					        		<textarea class="form-control text-area text-area-corta" 
					        		id="articulo" name="articulo" placeholder="articulo"></textarea>
					        	</div>
					        </div>
					    </div>
					    <div class="row">
			        		<div class="col-md-12">
			        			<div class="row">
			        				<div class="col-md-12">
								        <label>Incisos:</label>
								        <button type="button" onClick="agregarInciso();" class="btn btn-primary btn-sm pull-right">Agregar Inciso</button>
								    </div>
								</div>
								<div class="row" style="padding-top:5px">
									<div class="col-md-12">
								        <div class="div-incisos" id="div-incisos">
							        		<table class="table table-striped" id="incisos">
							        			<tbody>
								        		</tbody> 
							        		</table> 	
								        </div>
								    </div>
								</div>		
					        </div> 
					    </div>
				        <hr>
				        <div class="row">
				        	<div class="col-md-12">
				        		<div class="text-center">
					    			<div class="btn-group">
							        	<button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
			       			 			<button type="submit" class="btn btn-primary" id="btn-agregar-articulo">Aceptar</button>
							        </div>
						        </div>
						    </div>
			    		</div>
				     </div>
			    </div>
		  	</div>
		</div>
		 <div id="modalRevisiones" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false"> 
		 	<div class="modal-dialog modal-lg">
			    <!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666;color:#FFF">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title">Revisiones</h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
				  
			        	<div class="row">
			        		<div class="col-md-12">
					        	<div class="form-group">
					        		<table class="table " id="revisiones">
					        			<thead>
						                	<tr>
						                		<th>id</th>
								        		<th>Usar</th>
						                		<th>N° Revisión</th>
						                		<th>Vis. y Cons.</th>
						                		<th>Fecha Creación</th>
						                		<th>Usuario Creación</th>
								                <th>Oficina</th>
						                	</tr>
						                </thead>
						                <tbody>
						                </tbody>
						            </table>
					        	</div>
					        </div>
					    </div>
						
					</div>
					<div class="modal-footer" style="background-color:#ecf0f5">  	
				        <hr>
				        <div class="row">
				        	<div class="col-md-12">
				        		<div class="text-center">
					    			<div class="btn-group">
							        	<button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
							        </div>
						        </div>
						    </div>
			    		</div>
				     </div>
			    </div>
		  	</div>
		</div>
		<div id="modalTexto" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" >
			<div class="modal-dialog">
			    <!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666	;color:#FFF">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title">Edición Texto</h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
				    	<form role="form">
				    		<input type="hidden" id="idTexto" name="idTexto">
				    		<div class="row">
				    			<div class="form-group col-md-12">
    				    			<textarea class="form-control text-area text-area-larga" 
								       		  id="edicion-texto" name="edicion-texto">
								    </textarea>
    							</div>
                			</div>
                			<hr>
    				    	<div class="row">
    				    		<div class="col-md-12">
					        		<div class="text-center">
						    			<div class="btn-group">
								        	<button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
				       			 			<button type="button" class="btn btn-primary" id="btn-cambio-texto">Aceptar</button>
								        </div>
							        </div>
							    </div>
    				    	</div>
				    	</form>
				    </div>
				</div>
			</div>
		</div>
		<div id="modalSpeech" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" >
			<div class="modal-dialog modal-lg">
			    <!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666	;color:#FFF">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title">Alta Speech</h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
				    	<form role="form">
				    		<input type="hidden" id="tipoPlantilla" name="tipoPlantilla">
				    		<div class="row">
				    			<div class="col-md-10">
    				    			<div class="form-group">
    				    				<label for="tituloSpeech">Titulo</label>
    				    				<input type="text" class="form-control" name="tituloSpeech" id="tituloSpeech" maxlength="30"
    				    					   placeholder="obligatorio max. 30 letras">
    				    			</div>
    							</div>
    							<div class="col-md-2">
    								<div class="form-group">
        								<label for="incluirSancion">Incluye Sanción</label>
        								<input type="checkbox" class="form-control check-si-no" id="incluirSancion" name="incluirSancion" 
                    					       data-size="small"/>
                    				</div>
    							</div>
                			</div>
				    		<div class="row">
				    			<div class="col-md-6">
				    				<div class="form-group">
    				    				<label for="textoSuperior">Texto Superior</label>
        				    			<textarea class="form-control text-area text-area-larga" 
    								       		  id="textoSuperior" name="textoSuperior">
    								    </textarea>
    								 </div>
    							</div>
    							<div class="col-md-6">
    								<div class="form-group">
    				    				<label for="textoSuperior">Texto Inferior</label>
        				    			<textarea class="form-control text-area text-area-larga" 
    								       		  id="textoInferior" name="textoInferior">
    								    </textarea>
    								</div>
    							</div>
                			</div>
                			<hr>
    				    	<div class="row">
    				    		<div class="col-md-12">
					        		<div class="text-center">
						    			<div class="btn-group">
								        	<button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
				       			 			<button type="button" class="btn btn-primary" id="btn-alta-speech">Aceptar</button>
								        </div>
							        </div>
							    </div>
    				    	</div>
				    	</form>
				    </div>
				</div>
			</div>
		</div>
		<div id="modalDictamenes" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" >
			<div class="modal-dialog modal-lg">
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666;color:#FFF">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title">Dictamenes</h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
				    	<input type="hidden" name="idProyecto" id="idProyecto">
				  		<input type="hidden" name="idExpediente" id="idExpediente"> 
				  		<input type="hidden" name="idSancion" id="idSancion">
				  		<input type="hidden" name="modo" id="modo">
			        	<div class="row">
			        		<div class="col-md-12">
					        	<div class="form-group">
					        		<table class="table " id="dictamenes">
					        			<thead>
						                	<tr>
						                		<th>id</th>
						                		<th>Usar</th>
								        		<th>Comision/es</th>
						                		<th>Redacción</th>
						                		<th>Resuelve Por</th>
						                		<th>Fecha Creación</th>
						                		<th>Usuario Creación</th>
						                	</tr>
						                </thead>
						                <tbody>
						                </tbody>
						            </table>
					        	</div>
					        </div>
					    </div>
						
					</div>
					<div class="modal-footer" style="background-color:#ecf0f5">  	
				        <hr>
				        <div class="row">
				        	<div class="col-md-12">
				        		<div class="text-center">
					    			<div class="btn-group">
							        	<button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
							        </div>
						        </div>
						    </div>
			    		</div>
				    </div>
			    </div>
			</div>
		</div>
		<div id="modalDetallePlantillas" class="modal fade custom-modal" role="dialog">
		 	<div class="modal-dialog modal-xl" style="padding-top: 125px">
			    <!-- Modal content-->
			    <div class="modal-content" style="border-top-left-radius: 2em;border-top-right-radius: 2em;
			    								  border-bottom-left-radius: 2em;border-bottom-right-radius: 2em">
				    <div class="modal-header" style="background-color:#FFF;color:#000;
				    								 border-top-left-radius: 2em;border-top-right-radius: 2em;">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title text-center" id="titulo-modal-detalle-plantillas"></h4>
				    </div>
				    <div class="modal-body" style="background-color:#FFF;">
				    	 <div class="row">
				        	<div class="col-md-12">
				        		<table width='100%' class='table' style="">
				        			<thead><tr><th width='10%'><h3>COD.</h3></th><th width='90%'><h3>TEXTO</h3></th></tr></thead>
				        		</table>
        				    	<div class="div-detalle-plantilla" id="detalle-plantilla">
        				    		
        				    	</div>
        				    </div>
        				 </div>
				    </div>
				    <div class="modal-footer" style="background-color:#FFF;
				    							     border-bottom-left-radius: 2em;border-bottom-right-radius: 2em">  	
				        <div class="row">
				        	<div class="col-md-12">
				        		<div class="text-center">
					    			<div class="btn-group">
							        	<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
							        </div>
						        </div>
						    </div>
			    		</div>
				    </div>
				</div>
			</div>
		</div>
	</section>
