{% extends 'layout.html.twig' %}



{% block stylesheets %}
	{# parent() }#}
  	{% stylesheets '@css_datatables' %}
      	<link rel="stylesheet" href="{{ asset_url }}" /></link>
  	{% endstylesheets %}
{% endblock %}

{% block javascripts %}
	{# parent() #}
    {% javascripts '@js_datatables'%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
	<style type="text/css">
		@media (min-width: 768px) {
		  .modal-xl {
		    width: 95%;
		    max-width:1600px;
		  }
		}
		.custom-modal{
			height: 2000%!important;
		}
				
		.text-area-larga{
			height: 467px!important;
		}
		
		.text-area-corta{
			height: 200px!important;
		}
		
		.text-area-mini{
			height: 80px!important;
		}
		
		.text-area-plantilla{
			height: 200px!important;
			max-height: 201px;
			overflow-y: auto; 
		}
		
		.numero-fila{
			font-size: 150%;
			font-weight: bold;
			vertical-align: middle!important;
		}
		.herramienta-fila{
			vertical-align: middle!important;
		}
		
		.div-articulos{
			max-height: 449px;
			overflow-y:auto;
			overflow-x: hidden; 
		}
		
		.div-detalle-plantilla{
			max-height: 449px;
			overflow-y:auto;
		}
		
		.div-incisos{
			height: 250px;
			max-height: 260px;
			overflow-y: auto;
			overflow-x: hidden; 
		}
		
		.tab{
			height: 502px;
			max-height:503px;
			/* overflow-y: auto;  */
		}
		
		.div-revision{
			height: 466px;
			max-height:467px;
			overflow-y: auto;
			overflow-x: hidden;
		}
			
		.tab-active{
			background-color: #f8f8ff;
		}
			
		.toggle-on.btn{
			line-height: 22.5px!important;
		}
		.toggle-off.btn{
			line-height: 22.5px!important;
		}
					    
        .col-nopadding {
           padding: 0 !important;
           margin: 0 !important;
        }
           
        .selConcejales{
			height: 182px!important;
		    max-height: 183px!important;
		    overflow-y: auto!important;
		}
		.selComisiones{
		    min-height: 120px!important;
		    max-height: 121px!important;
		    overflow-y: auto!important;
		} 
		.bootstrap-primary-background{
			background: #3c8dbc!important;
		}    
	</style>
	<script type="text/javascript">
	
		wysihtml5.dom.getPastedHtml = function(event) {
    		var html;
    		if (event.clipboardData) {
    			html = event.clipboardData.getData('text/plain');
		  	}
		  	return html;
		};

		Array.prototype.reemplazar  = function(objeto, clave){
			   var array = $.map(this, function(v,i){
			      	return v[clave] == objeto[clave] ? objeto : v;
			   });
			   this.length = 0;
			   this.push.apply(this, array);
		};

		Array.prototype.renumerar  = function(clave,numeracion){
			   var semilla=(numeracion=='digito')?0:64;
			   var array = $.map(this, function(v,i){
			   		v[clave]=((numeracion=='digito')?(semilla+1):String.fromCharCode(semilla+1));
			   		semilla++;
			      	return v;
			   });
			   this.length = 0;
			   this.push.apply(this, array);
		};

		Array.prototype.eliminar  = function(clave,valor){
			    var array = $.map(this, function(v,i){
			      	return v[clave] == valor ? null : v;
			   });
			   this.length = 0;
			   this.push.apply(this, array);
		};

		function criterio(){
			var tipo=$("#selBusqueda").val();
			var valorRetorno;
			return ((tipo=="todo")?"0":$("#"+tipo).val());	
		}
		function tipoCriterio(){
			return $("#selBusqueda").val();
		}
		
		function habilitar(nombre){
			$(".tab").addClass("hidden");
			$(".selectable").removeClass("tab-active");
			
			$("#"+nombre).removeClass("hidden");
			$("#link-"+nombre).addClass("tab-active");
			$("#link-"+nombre).blur();
			
			if (nombre=="tab-3")
				$("#div-btn-revision").removeClass("hidden");
			else
				$("#div-btn-revision").addClass("hidden");
		}

		function addClasssToSelect2(div,clase){
			$("#"+div).find('span[class="select2-selection select2-selection--multiple"]').addClass(clase);
		}

		function traerArticuloPorNumero(numero,articulos){
			var articuloBuscado;
			$.each(articulos,function(index,articulo){
				if(articulo.numero==numero) articuloBuscado=articulo;
			});
			return articuloBuscado;
		}

		function actualizarArticulo(articulo,tabla){

			numero=articulo.numero;
			var cuerpoArticulo='<div class="well well-sm">' +
							   '<div class="btn-group pull-right">'+
							   '<button type="button" class="btn btn-sm btn-primary btn-editar-articulo" title="Editar artículo">'+
							   		'Editar</button>'+
							   '<button type="button" class="btn btn-sm btn-warning" title="Cambiar orden" onClick="noImplementado();">'+
							   		'Mover</button>'+
							   '<button type="button" class="btn btn-sm btn-danger btn-eliminar-articulo" title="Eliminar artículo">'+
							   		'Eliminar</button></div>'+
							   '<div>'+articulo.texto+'<br><ul class="list-unstyled">';
							   
			$.each(articulo.incisos,function(index,inciso){
				texto=inciso.texto.replace(/<p>/g,'').replace(/<\/p>/g,'<br>');
				cuerpoArticulo+='<li style="padding-left:30px">'+inciso.orden+') - '+texto+'</li>';
			});

			cuerpoArticulo+='</ul></div>';

			var nuevoContenido='<td class="numero-fila">'+numero+'</td>'+
	        			 	   '<td>'+cuerpoArticulo+'</td>';

			$("#"+tabla+" > tbody > tr").each(function(){

				if($(this).find('td:first').html()==numero)
					$(this).html(nuevoContenido);
			});

		}
		
		function agregarArticulo(articulo,tabla){
			var numero=((articulo.hasOwnProperty('numero'))?articulo.numero:$("#"+tabla+"> tbody > tr").length+1);
			var cuerpoArticulo='<div class="well well-sm">' +
							   '<div class="btn-group pull-right">'+
							   '<button type="button" class="btn btn-sm btn-primary btn-editar-articulo" title="Editar artículo">'+
							   		'Editar</button>'+
							   '<button type="button" class="btn btn-sm btn-warning" title="Cambiar orden" onClick="noImplementado();">'+
							   		'Mover</button>'+
							   '<button type="button" class="btn btn-sm btn-danger btn-eliminar-articulo" title="Eliminar artículo">'+
							   		'Eliminar</button></div>'+
							   '<div>'+articulo.texto+'<br><ul class="list-unstyled">';
							   
			$.each(articulo.incisos,function(index,inciso){
				texto=inciso.texto.replace(/<p>/g,'').replace(/<\/p>/g,'<br>');
				cuerpoArticulo+='<li style="padding-left:30px">'+inciso.orden+') - '+texto+'</li>';
			});
		
			cuerpoArticulo+='</ul></div>';

			var nuevoArticulo='<tr>'+
	        			 	  '<td class="numero-fila">'+numero+'</td>' +
	        			 	  '<td>'+cuerpoArticulo+'</td>'+
	        			 	  '</tr>';

	        var divContenedor=	((tabla=='div-articulos')?tabla:'div-revision');	 	  		
	        $("#"+tabla+" > tbody").append(nuevoArticulo);
	        $("#"+divContenedor).animate({ scrollTop: $("#"+divContenedor)[0].scrollHeight}, 1000);
	        articulo.numero=numero;
	        return articulo;
	        
		}

		function cargarInciso(nuevoInciso){
			var orden=nuevoInciso.orden;
			var inciso='<tr>'+
	        		   '<td class="numero-fila">'+orden+') -</td>' +
	        		   '<td><textarea class="form-control text-area text-area-mini" id="inciso-'+orden+'" '+
	        		   'name="inciso" placeholder="Inciso"></textarea></td>'+
	        		   '<td class="herramienta-fila"><div class="row text-center">'+
	        		   '<button type="button" class="btn btn-sm btn-info" onClick="noImplementado();"><span class="glyphicon glyphicon-tasks"></button>'+
	        		   '</div><div class="row text-center"><button type="button" class="btn btn-sm btn-danger btn-eliminar-inciso">'+
	        		   '<span class="glyphicon glyphicon-remove"></button></div></td>'+
	        		   '</tr>';

	        $("#incisos > tbody").append(inciso);
	        $("#inciso-"+orden).wysihtml5({
				toolbar: {
				    "image": false,
					"size": "xs",
				},
			});
			$("#inciso-"+orden).data("wysihtml5").editor.setValue(nuevoInciso.texto);
		}
		
		
		function agregarInciso(){
			var letra=String.fromCharCode($("#incisos").find('tr').length+65);
			var inciso='<tr>'+
	        		   '<td class="numero-fila">'+letra.toLowerCase()+') -</td>' +
	        		   '<td><textarea class="form-control text-area text-area-mini" id="inciso-'+letra+'" '+
	        		   'name="inciso" placeholder="Inciso"></textarea></td>'+
	        		   '<td class="herramienta-fila"><div class="text-center">'+
	        		   '<button type="button" class="btn btn-sm btn-info" onClick="noImplementado();"><span class="glyphicon glyphicon-tasks"></button>'+
	        		   '</div><div class="row text-center"><button type="button" class="btn btn-sm btn-danger btn-eliminar-inciso">'+
	        		   '<span class="glyphicon glyphicon-remove"></button></div></td>'+
	        		   '</tr>';

	       $("#incisos > tbody").append(inciso);
	       $("#inciso-"+letra).wysihtml5({
				toolbar: {
				    "image": false,
					"size": "xs",
				},
			});
			$("#div-incisos").animate({ scrollTop: $("#div-incisos")[0].scrollHeight}, 1000);
		}

		function limpiarFormularioSancion(articulosSancion,articulosRevision){
			
			$("#idRevision").val(-1);
			$("#selTipoRedaccion").val("basico");
	        $("#selTipoRedaccion").change();
	        $("#selTipoSancion").val(0);
	        $("#numeroSancion").val("");
	        inicializarSeleccionPlantillas( $("#selEncabezado"),'encabezado',0);
	        inicializarSeleccionPlantillas( $("#selPie"),'pie',0);
	        $("#texto").data("wysihtml5").editor.setValue('');
	        $("#articulos > tbody").html('');
	        $("#vistos").html('');
	        $("#considerandos").html('');
	        $("#articulos-revision > tbody").html('');
	        $("#textoEncabezado").data("wysihtml5").editor.setValue('');
	        $("#textoPie").data("wysihtml5").editor.setValue('');
			$("#textoEncabezado").data("wysihtml5").editor.composer.element.setAttribute('contenteditable', false);
			$("#textoPie").data("wysihtml5").editor.composer.element.setAttribute('contenteditable', false);
	        articulosSancion.length=0;
	    	articulosRevision.length=0;
		}

		function habilitarControlesModalSancion(idSancion,idDictamen){

			debugger; 
			
			if (idSancion==0 && idDictamen!=0){ //Alta por dictamen
				$("#selTipoRedaccion").attr("disabled",true);
				$("#btn-modo-redaccion").attr("disabled",true);
				$("#btn-modo-dictamen").attr("disabled",true);
				$("#titulo-modal-sancion").html("Alta Sanción");
				$("#btn-group-modo-creacion").addClass("hidden");
			}

			if (idSancion==0 && idDictamen==0){//Alta por redaccion
				$("#selTipoRedaccion").attr("disabled",false);
				$("#btn-modo-redaccion").attr("disabled",true);
				$("#btn-modo-dictamen").attr("disabled",true);
				$("#titulo-modal-sancion").html("Alta Sanción");
				$("#btn-group-modo-creacion").addClass("hidden");
			}

			if (idSancion!=0 && idDictamen!=0){//Edicion de sancion basada en dictamen
				$("#selTipoRedaccion").attr("disabled",true);
				$("#btn-modo-redaccion").attr("disabled",false);
				$("#btn-modo-dictamen").attr("disabled",false);
				$("#titulo-modal-sancion").html("Edición Sanción");
				$("#btn-group-modo-creacion").removeClass("hidden");
			}

			if(idSancion!=0 && idDictamen==0){//Edicion de sancion basada en redaccion
				$("#selTipoRedaccion").attr("disabled",false);
				$("#btn-modo-redaccion").attr("disabled",true);
				$("#btn-modo-dictamen").attr("disabled",false);
				$("#titulo-modal-sancion").html("Edición Sanción");
				$("#btn-group-modo-creacion").removeClass("hidden");
			}

		}

		function cargarDatosSancion(idSancion,idDictamen,restauraDictamen){

			var traduccionCampo=[];
			var urlDatos='';
			var articulos=null;
	    	
	    	if (idSancion!=0){
		    	urlDatos='/api/sesion/getSancion/'+idSancion;
		    	traduccionCampo.push("clase_sancion");
		    	traduccionCampo.push("id_tipo_sancion");	
	    	}
	    	else {
	    			if (idDictamen!=0){
			    		urlDatos='/api/comisionAsignacion/getDictamen/'+idDictamen;
			    		traduccionCampo.push("clase_dictamen");
			    		traduccionCampo.push("id_tipo_dictamen");
	    			}	
	    	}
			
			$.ajax({
				async:false,
				type:'Get',
				dataType: 'json	',
				url:'{{ app.request.getBaseURL() }}'+urlDatos,
				success: function(data){
					debugger;
					//controles comunes a todos las sanciones
					$("#selTipoRedaccion").val(data[traduccionCampo[0]]);
					/* $("#selTipoRedaccion").change(); */
    				$("#selEncabezado").val((idSancion!=0)?data.id_encabezado:0);
    				$("#selPie").val((idSancion!=0)?data.id_pie:0);

    				if (data[traduccionCampo[0]]=="basico")
						$("#texto").data("wysihtml5").editor.setValue(data.texto_libre);	

					//caso particular sancion articulado
					if (data[traduccionCampo[0]]=="articulado"){

						$("#selTipoSancion").val(data[traduccionCampo[1]]);
    				    $.each(data.texto_articulado,function(index,articulo){
    						agregarArticulo(articulo,'articulos');
    					});

    				    articulos=data.texto_articulado; 
					} 

					//caso particular dictamen por revision
					if (data[traduccionCampo[0]]=="revision"){
						
					    $("#vistos").html(data.vistos);
				        $("#considerandos").html(data.considerandos);
				        
				        $.each(data.articulos,function(index,articulo){
    						agregarArticulo(articulo,'articulos-revision');
    					});

				        articulos=data.articulos; 

						if (data.incluye_vistos_y_considerandos)
							$("#vistosYConsiderandos").bootstrapToggle('on');
						else
							$("#vistosYConsiderandos").bootstrapToggle('off');

				    	$("#modalSancion").find('input[id="idRevision"]').val(data.revision_id);					   	
    				} 

    				if (idSancion!=0){

        				if (data.numero_sancion!="")
        					$("#poseeSancion").bootstrapToggle('on');
        				else 
        					$("#poseeSancion").bootstrapToggle('off');
    					
						$("#numeroSancion").val(data.numero_sancion);
						$("#selDestinoNotificacion").val(data.destino_notificacion);
					    $("#selComisionReserva").val(data.comision_reserva);
					    if (data.destino_notificacion!=0 && data.comision_reserva!=0)
					    	$("#aplicaNotificacion").bootstrapToggle('on');
					    else
					    	$("#aplicaNotificacion").bootstrapToggle('off');
    				}
    				

    				if (restauraDictamen==true)
    					$("#modalSancion").find('input[name="idDictamen"]').val(data.id_dictamen);

    				$("#selTipoRedaccion").change();
					
				},
				error: function(jqXHR,textStatus,errorThrown ){
					toastr.error(jqXHR.responseText);
				}
	      	});

			$("#selEncabezado").change();
			$("#selPie").change();
			return articulos;
		}
		
		function abrirModalSancion(idProyecto,idExpediente,idDictamen,idSancion){
			
			htmlTipoRedaccion="<option value='basico' selected='selected'>Básico</option>" +
						      "<option value='articulado'>Articulado</option>";	
	        if (idProyecto!=0)
		        htmlTipoRedaccion+="<option value='revision'>Revisión Proyecto</option>";

			$("#selTipoRedaccion").html(htmlTipoRedaccion);

			$("#modalSancion").find('input[name="idExpediente"]').val(idExpediente);
	        $("#modalSancion").find('input[name="idProyecto"]').val(idProyecto);
	        $("#modalSancion").find('input[name="idDictamen"]').val(idDictamen);
	        $("#modalSancion").find('input[name="idSancion"]').val(idSancion);
		   	$("#editaRevision").bootstrapToggle('on');
		   	$("#vistosYConsiderandos").bootstrapToggle('on');
		   	$("#poseeSancion").bootstrapToggle('off');
		   	$("#aplicaNotificacion").bootstrapToggle('off');
		   	//$(".dependiente-revision").addClass("hidden");
		    $("#modalSancion").modal('show');

		}

		function establecerDictamenModalSancion(idDictamen){
        	$("#modalSancion").find('input[name="idDictamen"]').val(idDictamen);
        	return cargarDatosSancion(0,idDictamen,false);
        }

		function reestablecerRedaccionOriginal(idSancion){
			limpiarFormularioSancion(articulosSancion,articulosRevision);
        	cargarDatosSancion(idSancion,0,true);
		}

		function validarNumeroSancion(control){
			
			var valorControl=$(control).val();
			var idControl=$(control).attr("id");
			debugger;
			//if (!$.isNumeric(valorControl)){
			if (!(/^[0-9/]+$/g.test(valorControl))){
				toastr.error("El contenido ingresado no es numérico");
				setTimeout(function(){
					   $("#"+idControl).select();
				},10);
			}
		}

		function inicializarSeleccionPlantillas(control,tipo,valorSeleccionado){

			$.ajax({
				async:false,
				type:'Get',
				dataType: 'json	',
				url:'{{ app.request.getBaseURL() }}'+ '/api/plantilla/getByType/'+tipo,
				success: function(data){

					var html="<option value='0'>--</option>";
					
					$.each(data,function(index,dato){
						html+="<option value='"+dato.id+"'>"+dato.id+"</option>";
					});

					$(control).html(html);
					$(control).val(valorSeleccionado);
					$(control).change();
				},
				error: function(jqXHR,textStatus,errorThrown ){
					toastr.error(jqXHR.responseText);
				}
	      	});
		}

		function actualizarPlantilla(idSeleccion,plantilla){

			$.ajax({
				async:false,
				type:'Get',
				dataType: 'json	',
				url:'{{ app.request.getBaseURL() }}'+ '/api/plantilla/getOne/'+idSeleccion,
				success: function(data){
					$(plantilla).data("wysihtml5").editor.setValue(data.plantilla_texto);
				},
				error: function(jqXHR,textStatus,errorThrown ){
					toastr.error(jqXHR.responseText);
				}
	      	});
	      	
		}

		function cargarDetalle(tipo){

			$.ajax({
				async:false,
				type:'Get',
				dataType: 'json	',
				url:'{{ app.request.getBaseURL() }}'+ '/api/plantilla/getByType/'+tipo,
				success: function(data){
					var html="<table width='100%' class='table table-striped'><tbody>";
					/* html+="<thead><tr><th width='10%'>COD.</th><th width='90%'>TEXTO</th></tr></thead><tbody>"; */
					$.each(data,function(index,dato){
						html+="<tr><td width='10%'><h3>"+dato.id+"</h3></td><td width='90%'>"+dato.plantilla_texto+"</td></tr>";
					});
					
					html+="</tbody></table>";
					$("#detalle-plantilla").html(html);

					$("#titulo-modal-detalle-plantillas").html("DETALLE PLANTILLAS DE "+tipo.toUpperCase());
				},
				error: function(jqXHR,textStatus,errorThrown ){
					toastr.error(jqXHR.responseText);
				}
	      	});
			
			$("#modalDetallePlantillas").modal('show');
		}

					
		$(document).ready(function () {

			var articulosSancion=[];
			var articulosRevision=[];

			var tablaRevisiones;

			var tablaDictamenes;
			
		    var tabla=$('#registroOrdenDia').DataTable({
		    			  "language": {
				              "infoEmpty": "Sin registros para mostrar",
				              "paginate": {
						          	"last": "Ultima Página",
						          	"first": "Primer página",
						          	"next": "Siguiente",
						          	"previous": "Anterior"
						       },
						       "search":"Búsqueda rápida",
						       "emptyTable": "Sin Datos",
						       "lengthMenu": 'Registros Listados <select class="form-control input-sm">'+
								             '<option value="10">10</option>'+
								             '<option value="20">20</option>'+
								             '<option value="30">30</option>'+
								             '<option value="40">40</option>'+
								             '<option value="50">50</option>'+
								             '<option value="-1">Todos</option>'+
								             '</select>',
								"loadingRecords": "Espere...cargando datos",
								"processing": "Procesando...",
								"sInfo": "Mostrando  _START_ a _END_ de _TOTAL_ registros",

			          	  },
					      "processing": false,
					      "ajax": {
							        "url": "api/sesion/getExpedienteSesionByCriteria/"+$("#idSesion").val()+
							        												"/"+tipoCriterio()+
							        												"/"+criterio(),
			            			"dataSrc": '',
							    },
						  "columnDefs": [
							  				
								            {
								                "targets": [ 0 ],
								                "visible": false,
								                "searchable": false
								            }, 
								            {
									            "targets": [ 4 ],
									            "data": null,
									            "orderable":true,
									            "render": function(data, type, row){
										            
										            var html="<div class='text-center'><div class='btn-group'>";
													
										            if ('{{ 'DESP_SANC_ADD' in app.user.listaPermisos }}'){
											            
    										            if (row.tiene_sancion=='No'){
    											           										            	
    									            		html+="<button type='button' title='Redactar Sancion' "+(($("#permiteEdicion").val()==0)?"disabled":"")+
    											            	  " class='btn btn-primary btn-xs btn-redactar-sancion'>"+
    											            	  "<span class='glyphicon glyphicon-plus'></span></button> ";
        											            	  
    									            		if (row.dictamenes>0)
        									            			html+="<button type='button'title='Usar Dictamen' "+(($("#permiteEdicion").val()==0)?"disabled":"")+
        											            		  " class='btn btn-primary btn-xs btn-sancion-dictamen'>"+
        											            		  "<span class='glyphicon glyphicon-paperclip'></span></button> ";
    										            }
    								            		else{
        								            			html+="<button type='button'title='Editar Sancion' "+(($("#permiteEdicion").val()==0)?"disabled":"")+
        										            		  " class='btn btn-info btn-xs btn-editar-sancion'>"+
        										            		  "<span class='glyphicon glyphicon-pencil'></span></button> ";
    
        										            	html+="<button type='button' title='Descargar Sancion' "+
            												  	  	  "class='btn btn-info btn-xs btn-descargar-sancion' " +
            												  	  	  "id='"+row.id_sancion+"'>"+
            												  	  	  "<span class='glyphicon glyphicon-save-file'></span></button>";
    								            		} 
										            }
										            
									     			html+="</div></div>";	
								            		return html;
									            }
									        },
									        {
									            "targets": [ 5 ],
									            "data": "numero_sancion",
									            "orderable":false,
									            "render": function(data, type, row){
									            	 var html="<div class='text-center'>";
										            if (row.numero_sancion=="")
										            	html+="<h4><span class='label label-danger'>---</span></h4>";
										            else
										            	html+="<h4><span class='label label-success'>"+row.numero_sancion+"</span></h4>";
									            	return html+'</div>';
									            }
									        },   
									        {
									            "targets": [ 6 ],
									            "data": "tiene_notificacion",
									            "orderable":true,
									            "render": function(data, type, row){
									            	 return "<div class='text-center'>"+data+'</div>';
									            }
									        }, 
						  ],
					      "columns": [
					      		{ "data": "id_expediente" },
					      		{ "data": "numero_expediente","width":"10%"},
					            { "data": "letras_o_d","width":"40%" },
					            { "data": "tipo_expediente","width":"20%" },
					            { "data": "tiene_sancion", "width": "6%"},
					            { "data": "numero_sancion", "width": "10%"},
					            { "data": "tiene_notificacion", "width": "6%"}
					        ],
					      "autoWidth":false,
					      "paging": true,
					      "lengthChange": true,
					      "searching": true,
					      "ordering": true,
					      "info": true,
					      "autoWidth": false
			});

		    
		    $('#registroOrdenDia tbody').on( 'click', '.btn-descargar-sancion', function (e) {
		        window.location.href='{{ app.request.getBaseURL() }}'+
		        					 '/imprimirSancion?idSancion='+
		        					 e.currentTarget.id;
		    } ); 
	 

		  //-----------------------------------------------------------------------------------------------------------------
		  //-------------------------------------ALTA Y MODIFICACION DE RESOLUCIONES-------------------------------------------
		  //-----------------------------------------------------------------------------------------------------------------

		    //EVENTO REDACTAR RESOLUCION DE LA GRILLA DE ORDEN DEL DIA	
		    $('#registroOrdenDia tbody').on( 'click', '.btn-redactar-sancion', function () {
		        var data = tabla.row( $(this).parents('tr') ).data();
		        abrirModalSancion(data['id_proyecto'],data['id_expediente'],0,0);
		    });

		    //EVENTO USAR DICTAMEN DE LA GRILLA DE ORDEN DEL DIA	
		    $('#registroOrdenDia tbody').on( 'click', '.btn-sancion-dictamen', function () {
		        var data = tabla.row( $(this).parents('tr') ).data();
		        $("#modalDictamenes").find('input[name="idExpediente"]').val(data["id_expediente"]);
		        $("#modalDictamenes").find('input[name="idProyecto"]').val(data["id_proyecto"]);
		        $("#modalDictamenes").find('input[name="idSancion"]').val(0);
		        $("#modalDictamenes").find('input[name="modo"]').val("alta");
		        $("#modalDictamenes").modal("show");
		    });

			//EVENTO EDITAR RESOLUCION DE LA GRILLA DE ORDEN DEL DIA
		    $('#registroOrdenDia tbody').on( 'click', '.btn-editar-sancion', function () {
		        var data = tabla.row( $(this).parents('tr') ).data();
		        abrirModalSancion(data['id_proyecto'],data['id_expediente'],data['id_dictamen'],data['id_sancion']);
		    });
		   
			//EVENTO MOSTRAR DEL MODAL DE SANCION
			$("#modalSancion").on('show.bs.modal', function () {
			
				var idSancion=$("#modalSancion").find('input[name="idSancion"]').val();
				var idDictamen=$("#modalSancion").find('input[name="idDictamen"]').val();
				var obtenerDatos=(idSancion!=0 || idDictamen!=0);

				limpiarFormularioSancion(articulosSancion,articulosRevision);
				debugger;
				if (obtenerDatos){
					var articulos=cargarDatosSancion(idSancion,idDictamen,false);
					
					if ($("#selTipoRedaccion").val()=="articulado")
						articulosSancion=articulos;
					else
						if ($("#selTipoRedaccion").val()=="revision")
							articulosRevision=articulos;
					
				}	

				habilitarControlesModalSancion(idSancion,idDictamen);
					 
		    });

		    //GUARDAR DE SANCION
		    $("#btn-guardar-sancion").click(function(){

		    	$(this).prop("disabled",true);
		    	
		    	var idSancion=$("#modalSancion").find('input[name="idSancion"]').val();
				var idDictamen=$("#modalSancion").find('input[name="idDictamen"]').val();
				var idProyecto=$("#modalSancion").find('input[name="idProyecto"]').val();
				var idExpediente=$("#modalSancion").find('input[name="idExpediente"]').val();
				
				var tipoRedaccion= $("#selTipoRedaccion").val();
				var tipoSancion=$("#selTipoSancion").val();
				var numeroEncabezado=$("#selEncabezado").val();
				var numeroPie=$("#selPie").val();
				var poseeSancion=$("#poseeSancion").is(":checked");
				var numeroSancion=$("#numeroSancion").val();
				var aplicaNotificacion=$("#aplicaNotificacion").is(":checked");
				var destinoNotificacion=$("#selDestinoNotificacion").val();
				var comisionReserva=$("#selComisionReserva").val();
			       
		        var texto=$("#texto").val();
		        var articulos=null;
		        if (tipoRedaccion!="basico")
		        	articulos=((tipoRedaccion=="articulado")?articulosSancion:articulosRevision);
	        	var vistosYConsiderandos= $("#vistosYConsiderandos").is(":checked");
	        	var editaRevision=$("#editaRevision").is(":checked");
	        	var idRevision=$("#idRevision").val();
		        var vistos=$("#vistos").html();
		        var considerandos=$("#considerandos").html();
		        var idSesion=$("#idSesion").val();
				debugger;
		        var validacion='';
				var formData=new FormData();

				if (tipoRedaccion=="basico")
    				validacion+=((texto.replace(/ /g, '').length==0)
    						 	 ?'<li>Debe poveer un texto para la resolución</li>':'');
			 	 
				validacion+=((tipoSancion==0 && tipoRedaccion=="articulado")
							 ?'<li>Debe especificar el tipo de resolución</li>':'');
				 
				if (tipoRedaccion=="articulado")					
					validacion+=((articulos.length==0)
							      ? '<li>Debe poveer los articulos para la resolución articulada</li>':'') ;
				
				if (tipoRedaccion=="revision" && editaRevision){
					
					if(idRevision==-1)
						validacion+='<li>No se seleccionó ninguna revision del proyecto</li>';
					else {

    					validacion+=((articulos.length==0)?'<li>Debe poveer los articulos la revision</li>':'');
    			           
    					validacion+=((vistos.replace(/ /g,'').length==0 && vistosYConsiderandos)
    					           ?'<li>Debe poveer un texto para los vistos de la revision</li>':'');
    					
    					validacion+=((considerandos.replace(/ /g,'').length==0 && vistosYConsiderandos)
    					              ?'<li>Debe poveer un texto para los considerandos de la revision</li>':'');
					}
				}

				validacion+=((numeroSancion=="" && poseeSancion==true)
								?'<li>Debe poveer el número de sanción</li>':'');
				validacion+=((aplicaNotificacion==true && (destinoNotificacion==0 || comisionReserva==0))
						 		?'<li>Debe poveer tanto un destino como una comisión de reserva para la notificación</li>':'');
				
				if (validacion.length>0) 
				{
					validacion=((validacion.length>0)?'<strong>Validacion de Datos</strong><br><ul>'+
								validacion+'</ul>':'');
					$(this).prop("disabled",false);
					toastr.error(validacion);
					return false;
				}
				else{

					formData.append('idSesion',idSesion);
					formData.append('idSancion',idSancion);
					formData.append('idDictamen',idDictamen);
					formData.append('idExpediente',idExpediente);
					formData.append('idProyecto',idProyecto);
					formData.append('tipoRedaccion',tipoRedaccion);
					formData.append('tipoSancion',tipoSancion);
					formData.append('numeroEncabezado',numeroEncabezado);
					formData.append('numeroPie',numeroPie);
					formData.append('numeroSancion',numeroSancion);
					formData.append('aplicaNotificacion',aplicaNotificacion);
					formData.append('destinoNotificacion',destinoNotificacion);
					formData.append('comisionReserva',comisionReserva);
					formData.append('texto',texto);
					formData.append('idRevision',idRevision);
					formData.append('editaRevision',editaRevision);
					formData.append('vistosYConsiderandos',vistosYConsiderandos);
					formData.append('vistos',vistos);
					formData.append('considerandos',considerandos);
					formData.append('articulos',JSON.stringify(articulos));

	            	$.ajax({
		                async: true,
		                url: '{{ app.request.getBaseURL() }}'+ '/api/sesion/saveSancion',
		                data: formData,
		                type: 'post',
		                cache: false,
		                contentType: false,
		                processData: false,
	                success: function(data) {
	                    toastr.success(data);
						tabla.ajax.reload();
						$('#modalSancion').modal('hide');
	                	},
	                complete: function(){
	                	$("#btn-guardar-sancion").prop("disabled",false);
	                	},
	                error: function(jqXHR,textStatus,errorThrown ){
						toastr.error(JSON.parse(jqXHR.responseText));
						}
	            	});
	            }  
			});

		    $("#modalSancion").on('show.bs.modal', function () {
		    	$("#btn-guardar-sancion").prop("disabled",false);
		    });
		    		    
		  //---------------------------------------------------------------------------------------------------------------
		  //----------------------------------------------ARTICULADO-------------------------------------------------------
		  //---------------------------------------------------------------------------------------------------------------

			//EVENTO CLICK DEL BOTON DE NUEVO ARTICULO EN EL MODAL DE DICTAMEN
			$("#btn-nuevo-articulo-revision").click(function(){
				$("#modalArticulo").find('input[name="id"]').val(0);
				$("#modalArticulo").find('input[name="tabla"]').val("articulos-revision");
				$("#modalArticulo").modal('show');	
			});
			
			//EVENTO CLICK DEL BOTON DE NUEVO ARTICULO EN EL MODAL DE DICTAMEN
			$("#btn-nuevo-articulo").click(function(){
				$("#modalArticulo").find('input[name="id"]').val(0);
				$("#modalArticulo").find('input[name="tabla"]').val("articulos");
				$("#modalArticulo").modal('show');	
			});		  	
		  
			//EVENTO CLICK DEL BOTON EDITAR DE LAS FILAS EN LA TABLA DE ARTICULOS 
			//DEL DICTAMEN ARTICULADO
			$("#articulos > tbody").on('click','.btn-editar-articulo',function(){
				var numero=$(this).parents("tr").find('td:first').text();
				$("#modalArticulo").find('input[name="id"]').val(numero);
				$("#modalArticulo").find('input[name="tabla"]').val("articulos");
				$("#modalArticulo").modal('show');	
			});

			//EVENTO CLICK DEL BOTON EDITAR DE LAS FILAS EN LA TABLA DE ARTICULOS 
			//DEL DICTAMEN DE REVISION
			$("#articulos-revision > tbody").on('click','.btn-editar-articulo',function(){
				var numero=$(this).parents("tr").find('td:first').text();
				$("#modalArticulo").find('input[name="id"]').val(numero);
				$("#modalArticulo").find('input[name="tabla"]').val("articulos-revision");
				$("#modalArticulo").modal('show');	
			});

			//EVENTO MOSTRAR DEL MODAL DEL MODAL DE ARTICULO
			$("#modalArticulo").on('show.bs.modal', function () {
				var numeroArticulo= $("#modalArticulo").find('input[name="id"]').val();
				var tabla = $("#modalArticulo").find('input[name="tabla"]').val();
				$("#articulo").data("wysihtml5").editor.setValue('');
				$("#incisos > tbody").html('');
				if (numeroArticulo!=0){
					
					var articulo;
					
					if (tabla=="articulos")
    					articulo=traerArticuloPorNumero(numeroArticulo,articulosSancion);
					else
						articulo=traerArticuloPorNumero(numeroArticulo,articulosRevision);
					
    				$("#articulo").data("wysihtml5").editor.setValue(articulo.texto);
    				
    				$.each(articulo.incisos,function(index,inciso){
    					cargarInciso(inciso);
    				});
				}
			});

			//EVENTO CLICK DEL BOTON ELIMINAR DE LAS FILAS EN LA TABLA DE ARTICULOS
			$("#articulos > tbody").on('click','.btn-eliminar-articulo',function(){
				var numero=$(this).parents("tr").find('td:first').text();
				var tabla = $("#modalArticulo").find('input[name="tabla"]').val();
				articulosSancion.eliminar('numero',numero);
				articulosSancion.renumerar('numero','digito');
				$("#articulos > tbody").html('');
    				$.each(articulosSancion,function(i,articulo){
    					agregarArticulo(articulo,'articulos');
    				});
			});

			$("#articulos-revision > tbody").on('click','.btn-eliminar-articulo',function(){
				var numero=$(this).parents("tr").find('td:first').text();
				var tabla = $("#modalArticulo").find('input[name="tabla"]').val();
				articulosRevision.eliminar('numero',numero);
				articulosRevision.renumerar('numero','digito');
				$("#articulos-revision > tbody").html('');
				$.each(articulosRevision,function(i,articulo){
					agregarArticulo(articulo,'articulos-revision');
				});

				
			});
			
			//EVENTO CLICK DEL BOTON ELIMINAR DE LAS FILAS EN LA TABLA DE INCISOS
			$("#incisos > tbody").on('click','.btn-eliminar-inciso',function(){
				var orden=$(this).parents("tr").remove();
				orden=64;
				$("#incisos > tbody > tr").each(function(){
					orden++;
					$(this).find("td:first").text(String.fromCharCode(orden).toLowerCase() + ') -');
				})
			});

			//EVENTO ACEPTAR DEL MODAL DE ARTICULOS
			$("#btn-agregar-articulo").click(function(){
				
				var validacion='';
				var incisos=[];
				var tabla = $("#modalArticulo").find('input[name="tabla"]').val();
	
				$("#incisos").find('tr').each(function(i,row){
					var textarea=$(row).find("textarea");
					var	orden=$(row).find("td:first").text().replace(/ |\)|-/g,'');
					var texto=$(textarea).val();

					if(texto.length==0)
						validacion+='<li>El inciso '+ orden +' no posee texto</li>';

					if (validacion.length==0){
						inciso={
							orden: orden,
							texto: texto
						}
						incisos.push(inciso);
					}
					else{
						if (incisos.length>0)
							incisos=[];
					}
				});

				if($("#articulo").val().length==0){
					validacion='<li>El artículo no posee texto</li>'+validacion;

				}

				if (validacion.length>0) 
				{
					Validacion=((validacion.length>0)?'<strong>Validacion de Datos</strong><br><ul>'+
								validacion+'</ul>':'');
					toastr.error(validacion);
					return false;
				}
				else{
					
 					var numero=$("#modalArticulo").find('input[name="id"]').val();	
					var texto=$("#articulo").val();

					if(numero==0){
						var articuloActual={
            								texto: texto,
            								incisos:incisos
                							}

						articuloActual=agregarArticulo(articuloActual,tabla);
						if (tabla=="articulos")
							articulosSancion.push(articuloActual);
						else
							articulosRevision.push(articuloActual);
					}
					else{
							var articuloActual={
                								numero: numero,
                								texto: texto,
                								incisos:incisos
                    							}
							
							actualizarArticulo(articuloActual,tabla);
							if (tabla=="articulos")
								articulosSancion.reemplazar(articuloActual,'numero'); 
							else
								articulosRevision.reemplazar(articuloActual,'numero'); 
						}
					
					$('#modalArticulo').modal('hide');
				}
			});

			//------------------------------------------------------------------------------------------------------------
			//--------------------------------------MODAL DE REVISIONES---------------------------------------------------
			//------------------------------------------------------------------------------------------------------------
			

			$('#modalRevisiones').on('show.bs.modal', function () {

				var idProyecto=$("#modalSancion").find('input[name="idProyecto"]').val();

				tablaRevisiones=$('#revisiones').DataTable({
					    			  "language": {
							              "infoEmpty": "Sin registros para mostrar",
							              "paginate": {
									          	"last": "Ultima Página",
									          	"first": "Primer página",
									          	"next": "Siguiente",
									          	"previous": "Anterior"
									       },
									       "search":"Búsqueda rápida",
									       "emptyTable": "Sin Datos",
									       "lengthMenu": 'Registros Listados <select class="form-control input-sm">'+
											             '<option value="10">10</option>'+
											             '<option value="20">20</option>'+
											             '<option value="30">30</option>'+
											             '<option value="40">40</option>'+
											             '<option value="50">50</option>'+
											             '<option value="-1">Todos</option>'+
											             '</select>',
											"loadingRecords": "Espere...cargando datos",
											"processing": "Procesando...",
											"sInfo": "Mostrando  _START_ a _END_ de _TOTAL_ registros",

						          	  },
								      "processing": false,
								      "ajax": {
										        "url": "api/proyecto/getRevisiones/"+idProyecto,
						            			"dataSrc": '',
										    },
									  "columnDefs": [
											            {
											                "targets": [ 0 ],
											                "visible": false,
											                "searchable": false
											            },
											            {
											            	"targets": [ 1 ],
												            "data": null,
												            "orderable":false,
												            "render": function(data, type, row){
												            	return "<button type='button' class='btn btn-primary btn-xs btn-usar'><span class='glyphicon glyphicon-check'></span></button>";
												            }
											            },
											            {
												            "targets": [ 2 ],
												            "data": null,
												            "orderable":false,
												            "render": function(data, type, row){
												            	return ((row.id==0)?"(original)":row.id);
												            }
												        },
											            {
												            "targets": [ 3 ],
												            "data": null,
												            "orderable":false,
												            "render": function(data, type, row){
												            	return ((data==true)?"SI":"NO");
												            }
												        },
											            {
												            "targets": [ 6 ],
												            "data": "oficina",
												            "orderable":false,
												            "render": function(data, type, row){
												            	return ((data!=null)?data["oficina"]:"---");
												            }
												        }
												       
									  ],
								      "columns": [
								      		{ "data": "id" },
								      		{ "data": "null","width":"10%"},
								      		{ "data": "null","width":"18%" },
								      		{ "data": "incluye_vistos_y_considerandos","width":"16%" },
								      		{ "data": "fecha_creacion_formateada","width":"18%"},
								      		{ "data": "usuario_creacion","width":"20%"},
								            { "data": "null","width":"18%" },
								        ],
								      "autoWidth":false,
								      "paging": true,
								      "lengthChange": true,
								      "searching": true,
								      "ordering": true,
								      "info": true,
							});

			});

			$('#modalRevisiones').on('hidden.bs.modal', function () {
				tablaRevisiones.destroy();
			});
			
			$('#revisiones tbody').on( 'click', '.btn-usar', function () {
				debugger;
		        var data = tablaRevisiones.row( $(this).parents('tr') ).data();
		        $("#modalSancion").find('div[id="vistos"]').html(data[ "visto" ]);
		        $("#modalSancion").find('input[id="idRevision"]').val(data[ "id" ]);
		        $("#modalSancion").find('div[id="considerandos"]').html(data[ "considerandos" ]);
		        $("#articulos-revision > tbody	").html('');
		        articulosRevision=data[ "articulos" ];
		        $.each(articulosRevision,function(index,articulo){
					agregarArticulo(articulo,'articulos-revision');
				});
		        $(".dependiente-revision").removeClass("hidden");
				$('#modalRevisiones').modal('hide');
		       
		    });

			//------------------------------------------------------------------------------------------------------------
			//--------------------------------------MODAL DE DICTAMENES---------------------------------------------------
			//------------------------------------------------------------------------------------------------------------
			

			$('#modalDictamenes').on('show.bs.modal', function () {

				var idExpediente=$("#modalDictamenes").find('input[name="idExpediente"]').val();
				var idSesion=$("#idSesion").val();

				tablaDictamenes=$('#dictamenes').DataTable({
					    			  "language": {
							              "infoEmpty": "Sin registros para mostrar",
							              "paginate": {
									          	"last": "Ultima Página",
									          	"first": "Primer página",
									          	"next": "Siguiente",
									          	"previous": "Anterior"
									       },
									       "search":"Búsqueda rápida",
									       "emptyTable": "Sin Datos",
									       "lengthMenu": 'Registros Listados <select class="form-control input-sm">'+
											             '<option value="10">10</option>'+
											             '<option value="20">20</option>'+
											             '<option value="30">30</option>'+
											             '<option value="40">40</option>'+
											             '<option value="50">50</option>'+
											             '<option value="-1">Todos</option>'+
											             '</select>',
											"loadingRecords": "Espere...cargando datos",
											"processing": "Procesando...",
											"sInfo": "Mostrando  _START_ a _END_ de _TOTAL_ registros",

						          	  },
								      "processing": false,
								      "ajax": {
										        "url": "api/sesion/getDictamenesByExpediente/"+idExpediente+"/"+idSesion,
						            			"dataSrc": '',
										    },
									  "columnDefs": [
											            {
											                "targets": [ 0 ],
											                "visible": false,
											                "searchable": false
											            },
											            {
											            	"targets": [ 1 ],
												            "data": null,
												            "orderable":false,
												            "render": function(data, type, row){
												            	return "<button type='button' class='btn btn-primary btn-xs btn-usar-dictamen'><span class='glyphicon glyphicon-check'></span></button>";
												            }
											            }
												       
									  ],
								      "columns": [
								      		{ "data": "id" },
								      		{ "data": "null","width":"10%"},
								      		{ "data": "comisiones","width":"28%" },
								      		{ "data": "redaccion","width":"16%" },
								      		{ "data": "resuelve_por","width":"16%" },
								      		{ "data": "fecha_creacion","width":"10%"},
								      		{ "data": "usuario_creacion","width":"20%"},
								        ],

							
								      "autoWidth":false,
								      "paging": true,
								      "lengthChange": true,
								      "searching": true,
								      "ordering": true,
								      "info": true,
							});

			});

			$('#modalDictamenes').on('hidden.bs.modal', function () {
				tablaDictamenes.destroy();
			});
			
			$('#dictamenes tbody').on( 'click', '.btn-usar-dictamen', function () {
				debugger;
				
				var modo=$("#modalDictamenes").find('input[name="modo"]').val();
		        var data = tablaDictamenes.row( $(this).parents('tr') ).data();
		        var idExpediente=$("#modalDictamenes").find('input[name="idExpediente"]').val();
		        var idProyecto=$("#modalDictamenes").find('input[name="idProyecto"]').val();
		        var idSancion=$("#modalDictamenes").find('input[name="idSancion"]').val();
		        var idDictamen=data['id'];
		        
		        limpiarFormularioSancion(articulosSancion,articulosRevision);
		        
		        if (modo="alta")
		        	abrirModalSancion(idProyecto,idExpediente,idDictamen,0);
		        else{
			        var articulos=establecerDictamenModalSancion(idDictamen);

					if($("#selTipoRedaccion").val()=="articulado")
						articulosSancion=articulos;
					else
						if($("#selTipoRedaccion").val()=="revision")
							articulosRevision=articulos;
		        }
		        habilitarControlesModalSancion(idSancion,idDictamen);

				$('#modalDictamenes').modal('hide');
		       
		    });
			

		    //------------------------------------------------------------------------------------------------------------
			//--------------------------EDICION DE VISTOS Y CONSIDERANDOS DE LA REVISIÓN----------------------------------
			//------------------------------------------------------------------------------------------------------------

		    $("#btn-editar-vistos-revision").click(function(){

		    	$("#modalTexto").find('input[name="idTexto"]').val("vistos");
		    	var htmlEdicion=$("#modalSancion").find('div[id="vistos"]').html();
		    	$("#edicion-texto").data("wysihtml5").editor.setValue(htmlEdicion)
		   		$("#modalTexto").modal("show");
			});

		    $("#btn-editar-considerandos-revision").click(function(){

		    	$("#modalTexto").find('input[name="idTexto"]').val("considerandos");
		    	var htmlEdicion=$("#modalSancion").find('div[id="considerandos"]').html();
		    	$("#edicion-texto").data("wysihtml5").editor.setValue(htmlEdicion)
		   		$("#modalTexto").modal("show");
			});

		    $("#btn-cambio-texto").click(function(){

			   var divTexto=$("#modalTexto").find('input[name="idTexto"]').val(); 
			   if (divTexto=="vistos")
				   $("#modalSancion").find('div[id="vistos"]').html($("#edicion-texto").val());
			   else
				   $("#modalSancion").find('div[id="considerandos"]').html($("#edicion-texto").val());

			   $("#modalTexto").modal("hide");
				
		    });

		  	//------------------------------------------------------------------------------------------------------------
			//----------------------------------------ALTA DE PLANTILLAS--------------------------------------------------
			//------------------------------------------------------------------------------------------------------------	
		    
		    $("#btn-alta-encabezado").click(function(){
				$("#modalPlantilla").find('input[name="tipoPlantilla"]').val('encabezado');
				$("#texto-plantilla").data("wysihtml5").editor.setValue('');
			});

			$("#btn-alta-pie").click(function(){
				$("#modalPlantilla").find('input[name="tipoPlantilla"]').val('pie');
				$("#texto-plantilla").data("wysihtml5").editor.setValue('');
			});

			$("#btn-alta-plantilla").click(function(){

				$("#btn-alta-plantilla").prop("disabled",true);
				debugger;
				var formatoPlantilla = $("#modalPlantilla").find('input[name="tipoPlantilla"]').val();
				var plantilla = $("#modalPlantilla").find('textarea[name="texto-plantilla"]').val();
				var validacion="";

				if (plantilla.replace(/ /g,'').length==0)
					validacion='<li>La nueva plantilla no posee texto</li>';
					
				if (validacion.length>0) 
				{
					Validacion=((validacion.length>0)?'<strong>Validacion de Datos</strong><br><ul>'+
								validacion+'</ul>':'');
					toastr.error(validacion);
					return false;
				}
				else{

					var formData=new FormData();
    				formData.append('formatoPlantilla',formatoPlantilla);
    				formData.append('plantilla',plantilla);
    
                	$.ajax({
    	                async: true,
    	                url: '{{ app.request.getBaseURL() }}'+ '/api/plantilla/save',
    	                data: formData,
    	                type: 'post',
    	                cache: false,
    	                contentType: false,
    	                processData: false,
                        success: function(data) {

                        		var control=null;
                        		debugger;
                                if (formatoPlantilla=="encabezado")
                                	control=$("#modalSancion").find('select[name="selEncabezado"]');
                                else
                                	control=$("#modalSancion").find('select[name="selPie"]');
                                
                                inicializarSeleccionPlantillas(control,formatoPlantilla,data.id);
                                  
            					$('#modalPlantilla').modal('hide');
    
            					toastr.success(data.mensaje);
                        	},
                        complete: function(){
                        	$("#btn-alta-plantilla").prop("disabled",false);
                        	},
                        error: function(jqXHR,textStatus,errorThrown ){
        					toastr.error(jqXHR.responseText);
        					}
                    	});
            	}  
			});

		    //------------------------------------------------------------------------------------------------------------
			//---------------------------------INICIALIZACIÓN DE CONTROLES------------------------------------------------
			//------------------------------------------------------------------------------------------------------------
			
						
			$(".text-area").wysihtml5({
				toolbar: {
				    "image": false,
					"size": "xs",
				},
			});

			$(".text-area-plantilla").wysihtml5({
				 toolbar: {
				    "font-styles": false, // Font styling, e.g. h1, h2, etc.
				    "emphasis": false, // Italics, bold, etc.
				    "lists": false, // (Un)ordered lists, e.g. Bullets, Numbers.
				    "html": false, // Button which allows you to edit the generated HTML.
				    "link": false, // Button to insert a link.
				    "image": false, // Button to insert an image.
				    "color": false, // Button to change color of font
				    "blockquote": false, // Blockquote
				    "size": "xs" // options are xs, sm, lg
				 },
			});
						
			$('#estadoFiltro').bootstrapToggle({
		      on:  'Activo',
		      off: 'Inactivo',
		      offstyle: 'primary',
		      onstyle: 'success',
		      width: "80px",
		      height: "35px"
		    });

			$("#aplicaNotificacion").bootstrapToggle({
			      on:  'Notifica',
			      off: 'No Notifica',
			      offstyle: 'danger',
			      onstyle: 'success',
			      width: "153px",
			      height: "25px"
			});
			
			$("#poseeSancion").bootstrapToggle({
			      on:  'Con Sancion',
			      off: 'Sin Sancion',
			      offstyle: 'danger',
			      onstyle: 'success',
			      width: "153px",
			      height: "25px"
			 });

			$('#vistosYConsiderandos').bootstrapToggle({
			      on:  'Incluye Vistos y Considerandos',
			      off: 'No Incluye Vistos y Considerandos',
			      offstyle: 'danger',
			      onstyle: 'success',
			      width: "250px",
			      height: "25px"
			 });

			$('#editaRevision').bootstrapToggle({
			      on:  'Editar Revision',
			      off: 'Revisión Sin Cambios',
			      offstyle: 'danger',
			      onstyle: 'success',
			      width: "200px",
			      height: "25px"
			 });

			
			 $("#aplicaNotificacion").change(function(){
				 
				 if ($(this).is(":checked")){
					 $("#selComisionReserva").attr("disabled",false);
				 	 $("#selDestinoNotificacion").attr("disabled",false);
				 }
				 else{
					 $("#selComisionReserva").attr("disabled",true);
				 	 $("#selDestinoNotificacion").attr("disabled",true);
				 	 $("#selDestinoNotificacion").val(0);
				     $("#selComisionReserva").val(0);
				 }
			 });
			 

			 $("#poseeSancion").change(function(){
				 if ($(this).is(":checked"))
					 $("#numeroSancion").attr("disabled",false);
				 else{
					 $("#numeroSancion").attr("disabled",true);
					 $("#numeroSancion").val("");
				 }
			 });

			
			 $("#vistosYConsiderandos").change(function(){
				 if (!$(this).is(":checked"))
					 $(".texto-revision").addClass("hidden");
				 else
					 $(".texto-revision").removeClass("hidden");
			 });

			 $("#editaRevision").change(function(){
				 if (!$(this).is(":checked")){
					$("#div-revision").addClass("hidden");
				 	$('#div-vistosYConsiderandos').addClass("hidden");
				 }
				 else{
					 	$("#div-revision").removeClass("hidden");
					 	$('#div-vistosYConsiderandos').removeClass("hidden");
				 }
			 });

			 $("#btn-modo-redaccion").click(function(){
				$("#idDictamen").val(0);
				$("#idRevision").val(0);
				//$(".dependiente-revision").addClass("hidden");
				$("#selTipoRedaccion").prop("disabled",false);
				$("#selTipoRedaccion").val("basico");
				$("#selTipoRedaccion").change();
				
			 });

			 $("#btn-modo-dictamen").click(function(){

				 	var idExpediente=$("#modalSancion").find('input[name="idExpediente"]').val();
			        var idProyecto=$("#modalSancion").find('input[name="idProyecto"]').val();
			        var idSancion=$("#modalSancion").find('input[name="idSancion"]').val();
			        
			        $("#modalDictamenes").find('input[name="idExpediente"]').val(idExpediente);
			        $("#modalDictamenes").find('input[name="idProyecto"]').val(idProyecto);
			        $("#modalDictamenes").find('input[name="idSancion"]').val(idSancion);
			        $("#modalDictamenes").find('input[name="modo"]').val("edicion");
			        $("#modalDictamenes").modal("show");
			 });
			 

			$(".busqueda").addClass('hidden');
			$("#selBusqueda").val("todo");
			$('#estadoFiltro').bootstrapToggle('disable');

			$("#selBusqueda").change(function(){

				var control=$(this).val();
				$(".busqueda").addClass('hidden');
				if(control!="todo")
					$("#"+control).removeClass('hidden');
				else{
					$("#busqueda-1").val("");
					$("#busqueda-2").val("0");
				}
			});

			$("#btn-busqueda").click(function(){
				var valorBusqueda=$("#selBusqueda").val();
				if(((valorBusqueda=="busqueda-1"|| valorBusqueda=="busqueda-2" || valorBusqueda=="busqueda-3") && criterio()!="" && criterio()!="0"))
				{
					tabla.ajax.url("api/sesion/getExpedienteSesionByCriteria/"+$("#idSesion").val()+"/"+tipoCriterio()+"/"+criterio()).load();
					$(".filtro").prop('disabled',true);
					$('#estadoFiltro').bootstrapToggle('enable');
					$("#estadoFiltro").bootstrapToggle('on');
				}
			});

			$('#estadoFiltro').change(function() {
				if(!$(this).is(':checked')){
					$(".filtro").prop('disabled',false);
					$("#selBusqueda").val("todo").change();
					$(".filtro").prop('disabled',false);
					tabla.ajax.url("api/sesion/getExpedienteSesionByCriteria/"+$("#idSesion").val()+"/"+tipoCriterio()+"/"+criterio()).load();
					$(this).bootstrapToggle('disable');
					
				}
			});

			$("#selTipoRedaccion").change(function(){

				$("#sancion-panel").removeClass("hidden");
				$("#notificacion-panel").removeClass("hidden");
				$(".dependiente-revision").addClass("hidden");

				if ($(this).val()=="basico"){
					$("#group-tipoDictamen").addClass("hidden");
					$("#link-tab-1").removeClass("hidden");
					$("#link-tab-2").addClass("hidden");
					$("#link-tab-3").addClass("hidden");
					$("#sancion-panel").addClass("hidden");
					$("#notificacion-panel").addClass("hidden");
				}
				if ($(this).val()=="articulado") {
					$("#group-tipoDictamen").removeClass("hidden");
					$("#link-tab-1").addClass("hidden");
					$("#link-tab-3").addClass("hidden");
					$("#link-tab-2").removeClass("hidden");
					$("#selTipoDictamen").val(0);
				}
				if ($(this).val()=="revision") {
					$("#group-tipoDictamen").addClass("hidden");
					$("#link-tab-1").addClass("hidden");
					$("#link-tab-2").addClass("hidden");
					$("#link-tab-3").removeClass("hidden");
					if ($("#idRevision").val()!=-1)
						$(".dependiente-revision").removeClass("hidden");
				}
				
				habilitar("tab-0");	
			});

			$("#selEncabezado").change(function(){

				var id = $("#selEncabezado").val();
				var plantilla=$("#textoEncabezado");

				if(id!=0) actualizarPlantilla(id,plantilla);
				else $(plantilla).data("wysihtml5").editor.setValue('');
				
			});

			$("#selPie").change(function(){
				
				var id = $("#selPie").val();
				var plantilla=$("#textoPie");

				if(id!=0) actualizarPlantilla(id,plantilla);
				else $(plantilla).data("wysihtml5").editor.setValue('');
				
			});
			
	});
	</script>
	<section class="content-header">
		<div class="row pull-right">
			<ol class="breadcrumb">
		        <li><a href="#"><i class="fa fa-dashboard"></i> Principal</a></li>
		        <li>Despacho</li>
		        <li class="active">Expedientes Orden del Día</li>
		        
		    </ol>
		</div>
	
		<div class="row">
    		<div class="col-md-12">
    			<div class="alert alert-info" style="color: #31708f!important">
                  <strong>Sesión {{ nombreSesion }}</strong>
                </div>
			</div>
    	</div>
		<div class="row">
			<div class="col-md-4">
				<h2>
			        Expedientes Orden del Día
			    </h2>
			</div>
			<div class="col-md-7 col-md-offset-1">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<label class="navbar-brand">Filtro</label>
						</div>
						<div class="collapse navbar-collapse">
							<div>
								<form class="navbar-form navbar-left">
									<div class="form-group">
										<div class="form-group text-center">
											<input type="checkbox" id="estadoFiltro" data-size="normal"/>
							        	</div> 
										<button type="button" class="btn btn-primary filtro" id="btn-busqueda">Aplicar</button>
										<select class="form-control filtro" id="selBusqueda">
											<option value="todo">Todo</option>
											<option value="busqueda-1">Número Expediente</option>
											<option value="busqueda-2">Tipo de Expediente</option>
											<option value="busqueda-3">Letra del Orden Del Día</option>
										</select>
										<input class="form-control busqueda hidden filtro" id="busqueda-1"/>
										<select class="form-control busqueda hidden filtro" id="busqueda-2">
											<option value="0">Seleccione Tipo</option>
											{% for tipoExpediente in tiposExpediente %}
								                <option value="{{ tipoExpediente.id }}">{{ tipoExpediente.tipoExpediente }}</option>
								            {% endfor %}
										</select>
										<select class="form-control busqueda hidden filtro" id="busqueda-3">
											<option value="0">Seleccione Tipo</option>
											{% for tipoExpedienteSesion in tiposExpedienteSesion %}
								                <option value="{{ tipoExpedienteSesion.letra }}">{{ tipoExpedienteSesion.letra }}</option>
								            {% endfor %}
										</select>										
									</div>
								</form>
							</div>
						</div>
					</div>
				</nav>
			</div>
	    </div> 
	</section>
	<section class="content">
	  	<div class="row">
	    	<div class="col-xs-12">
	    		<input type="hidden" id="idSesion" value="{{ idSesion }}">
	    		<input type="hidden" id="permiteEdicion" value="{{ permiteEdicion }}">
              	<table id="registroOrdenDia" class="table table-striped">
	                <thead>
	                	<tr>
	                		<th>id</th>
	                		<th>Expediente</th>
			                <th>Letras Orden del Día</th>
			                <th>Tipo Expediente</th>
			                <th class="text-center">Sanción</th>
			                <th class="text-center">N° Sanción</th>
			                <th class="text-center">Notificacion</th>
	                	</tr>
	                </thead>
	                <tbody>
	                </tbody>
               	</table>     
	        </div> {# col #}
	    </div> {# row #}
		<div id="modalSancion" class="modal fade custom-modal" role="dialog" data-backdrop="static" 
   data-keyboard="false">
		 	<div class="modal-dialog modal-xl">
			    <!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666	;color:#FFF">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title" id="titulo-modal-sancion"></h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
				    	<input type="hidden" id="idDictamen" name="idDictamen">
				    	<input type="hidden" id="idProyecto" name="idProyecto">
				    	<input type="hidden" id="idExpediente" name="idExpediente">
				    	<input type="hidden" id="idSancion" name="idSancion">
					    <div class="row">
					    	<div class="col-md-3">
					    		<div class="row">
					    			<div class="col-md-12">
        					    		<div class="form-group">
        					        		<label for="selTipoRedaccion">Tipo Redacción</label>
        					        		<select class="form-control" id="selTipoRedaccion" name="selTipoRedaccion">
        					        		</select>
        				        		</div>
        					        	<div style="min-height: 68.78px">
            					    		<div class="form-group hidden" style="margin-bottom: 0px!important" id="group-tipoDictamen">
            					        		<label for="selTipoSancion">Tipo Sanción</label>
            					        		<select class="form-control" id="selTipoSancion" name="selTipoSancion">
            					        			<option value="0">Seleccione Tipo Sanción</option>
            					        			{% for tipo in tiposProyecto %}
            							                <option value="{{ tipo.id }}">{{ tipo.tipoProyecto }}</option>
            							            {% endfor %}
            					        		</select>
            					        	</div>
            					        </div>
            						</div>
        					    </div>
    					        <hr>
    					        <div class="panel panel-primary" id="sancion-panel">
                                    <div class="panel-heading text-center"><strong>Sancion</strong></div>
                                	<div class="panel-body">
        					        	<div class="row">
            					        	<div class="col-md-6 col-md-offset-3">
                    					        <div class="text-center">
                    					        	<div class="form-group">
                    					        		<input type="checkbox" id="poseeSancion" name="poseeSancion" data-size="small"/>
                    					        	</div>
                    					        	<div class="form-group">
                    					        		<input type="text" class="form-control text-center" placeholder="Número Sancion" 
                    					        			    id="numeroSancion" name="numeroSancion" onblur="validarNumeroSancion(this);">
                    					        	</div>
                    					        </div>
                    					    </div>
                    					</div>
                    				</div>
                        		</div>
                        		 <div class="panel panel-primary" id="notificacion-panel">
                                    <div class="panel-heading text-center"><strong>Notificación</strong></div>
                                	<div class="panel-body">
        					        	<div class="row">
            					        	<div class="col-md-12">
                    					        <div class="text-center">
                    					        	<div class="form-group">
                    					        		<input type="checkbox" id="aplicaNotificacion" name="aplicaNotificacion" data-size="small"/>
                    					        	</div>
                    					        	<div class="form-group">
                    					        		<select class="form-control" id="selDestinoNotificacion" name="selDestinoNotificacion">
                    					        			<option value="0">Seleccione Destino Notificación</option>
                    					        			{% for oficina in oficinas %}
                    							                <option value="{{ oficina.id }}">{{ oficina.oficina }}</option>
                    							            {% endfor %}
                    					        		</select>
                    					        	</div>
                    					        	<div class="form-group">
                    					        		<select class="form-control" id="selComisionReserva" name="selComisionReserva">
                    					        			<option value="0">Seleccione Comisión Reserva</option>
                    					        			{% for comision in comisiones %}
                    							                <option value="{{ comision.id }}">{{ comision.comision }}</option>
                    							            {% endfor %}
                    					        		</select>
                    					        	</div>
                    					        </div>
                    					    </div>
                    					</div>
                    				</div>
                        		</div>
					    	</div>
					    	<div class="col-md-9">
					    		<div class="row" style="padding-top: 5px;">
					    			<div class="col-md-6">
					    				<nav>
        								    <ul class="nav nav-pills">
        								    	<li role="presentation"><a href="#" id="link-tab-0" class="selectable" onclick = "habilitar('tab-0')" ><h4>Plantilla</h4></h4></a></li>
        									    <li role="presentation"><a href="#" id="link-tab-1" class="selectable" onclick = "habilitar('tab-1')" ><h4>Texto</h4></h4></a></li>
        										<li role="presentation"><a href="#" id="link-tab-2" class="selectable hidden" onclick = "habilitar('tab-2')"><h4>Artículos</h4></a></li>
        										<li role="presentation"><a href="#" id="link-tab-3" class="selectable hidden" onclick = "habilitar('tab-3')"><h4>Revision Proyecto</h4></a></li>
        									</ul>
        								</nav>
					    			</div>	
					    			<div class="col-md-6">
					    				<div class="btn-group pull-right" id="btn-group-modo-creacion">
    					    				<button type="button" class="btn btn-primary" id="btn-modo-redaccion">Cambiar A Redacción</button>
    					    				<button type="button" class="btn btn-primary" id="btn-modo-dictamen">Copiar Desde Dictamen</button>
					    				</div>
					    			</div>		
					    		</div>
					    		<br>
					    		<div class="row tab" id="tab-0">
							    	<div class="col-md-12">
									    <div class="row">
									    	<div class="col-md-3">
    									    	<div class="input-group">
    									    		<span class="input-group-addon">
    									    			<a href="javascript:void(0);" onclick="cargarDetalle('encabezado');" style="cursor:help">Encabezado</a>
    									    		</span>
                                                	<select class="form-control" id="selEncabezado" name=selEncabezado>
    									    			<option value="0">--</option>
    									    		</select>
                                                  	<span class="input-group-btn">
                                                    	<button type="button" class="btn btn-primary" id="btn-alta-encabezado" 
                									    		data-toggle='modal' data-target='#modalPlantilla'>
                									    			Agregar
        									    		</button>
                                                  	</span>
                                                </div>
                                            </div>
									    	<!-- <div class="col-md-4">
									    		<select class="form-control" id="selEncabezado" name=selEncabezado>
									    			<option value="0">Seleccione plantilla encabezado</option>
									    		</select>
									    	</div>
									    	<div class="col-md-2">
									    		<button type="button" class="btn btn-primary" id="btn-alta-encabezado" 
									    		 data-toggle='modal' data-target='#modalPlantilla'>
									    			Agregar
									    		</button>
									    	</div> -->
									    </div>
									    <div class="row" style="padding-top: 5px;">
									    	<div class="col-md-12">
								        		<textarea class="form-control text-area-plantilla"
								        		id="textoEncabezado" name="textoEncabezado"></textarea>
									        </div>
								        </div>
								        <hr>
								        <div class="row">
								        	<div class="col-md-3">
    									    	<div class="input-group">
    									    		<span class="input-group-addon">
    									    			<a href="javascript:void(0);" style="cursor:help" onclick="cargarDetalle('pie');">Pie</a></span>
                                                	<select class="form-control" id="selPie" name="selPie">
    									    			<option value="0">--</option>
    									    		</select>
                                                  	<span class="input-group-btn">
                                                    	<button type="button" class="btn btn-primary" id="btn-alta-pie"
                									    		data-toggle='modal' data-target='#modalPlantilla'>
                									    			Agregar
        									    		</button>
                                                  	</span>
                                                </div>
                                            </div>
									    	<!-- <div class="col-md-4">
									    		<select class="form-control" id="selPie" name="selPie">
									    			<option value="0">--</option>
									    		</select>
									    	</div>
									    	<div class="col-md-2">
									    		<button type="button" class="btn btn-primary" id="btn-alta-pie"
									    		 data-toggle='modal' data-target='#modalPlantilla'>
									    			Agregar
									    		</button>
									    	</div> -->
									    </div>
									    <div class="row" style="padding-top: 5px;">
									    	<div class="col-md-12">
								        		<textarea class="form-control text-area-plantilla"
								        		id="textoPie" name="textoPie"></textarea>
									        </div>
								        </div> 
							        </div> 
					        	</div>
							    <div class="row tab" id="tab-1">
							    	<div class="col-md-12">
									    <div class="row">
									    	<div class="col-md-12">
								        		<textarea class="form-control text-area text-area-larga" 
								        		id="texto" name="texto" placeholder="Texto Libre"></textarea>
									        </div>
								        </div> 
							        </div> 
					        	</div>
						        <div class="row tab hidden" id="tab-2">
					        		<div class="col-md-12">
							        	<div class="row" style="padding-top:5px">
							        		<div class="col-md-12">
									        	<div class="div-articulos" id="div-articulos">
									        		<table class="table table-striped" id="articulos">
									        			<tbody>
										        		</tbody> 
									        		</table> 	
										        </div>
										    </div>
										</div>
										<hr>	
										<div class="row" style="padding-top: 15px;">
											<div class="col-md-12">
								        		<button type="button" class="btn btn-primary btn-sm" id="btn-nuevo-articulo"
								        		        style="margin-left:15px" >Nuevo Artículo</button>
								        	</div>
										</div>
								    </div>
						        </div>
						        <div class="row tab hidden" id="tab-3">	
    					        	<div class="col-md-12">
    					        		<input type="hidden" id="idRevision">	
					        			<div class="row" style="margin-bottom: 5px">
					        				<div class="col-md-1" style="text-align: left;">
        					        			<button type="button" class="btn btn-warning btn-sm" 
        						        				id="btn-revisiones" data-toggle='modal' 
        						        				data-target='#modalRevisiones'>Revisiones</button>
        				        			</div>
        				        			<div class="col-md-8 dependiente-revision" style="text-align: center;">
    											<input type="checkbox" id="editaRevision" data-size="small"/>
    										</div>
					        				<div class="col-md-3 dependiente-revision" style="text-align: right;" id="div-vistosYConsiderandos">
    											<input type="checkbox" id="vistosYConsiderandos" data-size="small"/>
    										</div>
					        			</div>
            							<div class="div-revision dependiente-revision" id="div-revision">
    					        			<div class="row texto-revision"  style="padding-top:10px">
    					        				<div class="col-md-12" style="background: #f8f8ff">
        					        				<div class="form-group">
        					        					<label for="vistos">Vistos:</label>
        					        					<div id="vistos" style="padding-left:15px">
        					        					</div>
        					        					<button type="button" class="btn btn-primary btn-xs" 
    								        				id="btn-editar-vistos-revision" style="margin-top:5px">Editar</button>
        					        				</div>
        					        			</div>
    					        			</div>
    					        			<div class="row texto-revision" style="padding-top:10px">
    					        				<div class="col-md-12" style="background: #f8f8ff">
        					        				<div class="form-group">
        					        					<label for="considerandos">Considerandos:</label>
        					        					<div id="considerandos" style="padding-left:15px">
        					        					</div>
        					        					<button type="button" class="btn btn-primary btn-xs" 
    								        				id="btn-editar-considerandos-revision" style="margin-top:5px">Editar</button>
        					        				</div>
        					        			</div>
    					        			</div>
    							        	<div class="row" style="padding-top:10px">
    							        		<div class="col-md-12">
    								        		<table class="table table-striped" id="articulos-revision">
    								        			<tbody>
    									        		</tbody> 
    								        		</table> 
    										    </div>
    										</div>
    										<hr>
    										<div class="row" style="padding-top: 5px;">
    											<div class="col-md-12" style="text-align: left;">
    								        		<button type="button" class="btn btn-primary btn-xs" 
    								        				id="btn-nuevo-articulo-revision">Nuevo Artículo</button>
    								        	</div>
    										</div>
    									</div>
    								</div>
						        </div>
					        </div>
					    </div>
				        <hr>
				        <div class="row">
				        	<div class="col-md-12">
				        		<div class="text-center">
					    			<div class="btn-group">
							        	<button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
						       			 <button type="button" class="btn btn-primary" id="btn-guardar-sancion">Guardar</button>
							        </div>
						        </div>
						    </div>
			    		</div>
				    </div>
			    </div>
		  	</div>
		</div>

		<div id="modalArticulo" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
		 	<div class="modal-dialog modal-xl">
			    <!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666	;color:#FFF">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title">Nuevo Artículo</h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
			        	<input type="hidden" id="id" name="id">
			        	<input type="hidden" id="tabla" name="tabla">
			        	<div class="row">
			        		<div class="col-md-12">
			        			<div class="form-group">
					        		<label for="articulo">Articulo:</label>
					        		<textarea class="form-control text-area text-area-corta" 
					        		id="articulo" name="articulo" placeholder="articulo"></textarea>
					        	</div>
					        </div>
					    </div>
					    <div class="row">
			        		<div class="col-md-12">
			        			<div class="row">
			        				<div class="col-md-12">
								        <label>Incisos:</label>
								        <button type="button" onClick="agregarInciso();" class="btn btn-primary btn-sm pull-right">Agregar Inciso</button>
								    </div>
								</div>
								<div class="row" style="padding-top:5px">
									<div class="col-md-12">
								        <div class="div-incisos" id="div-incisos">
							        		<table class="table table-striped" id="incisos">
							        			<tbody>
								        		</tbody> 
							        		</table> 	
								        </div>
								    </div>
								</div>		
					        </div> 
					    </div>
				        <hr>
				        <div class="row">
				        	<div class="col-md-12">
				        		<div class="text-center">
					    			<div class="btn-group">
							        	<button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
			       			 			<button type="submit" class="btn btn-primary" id="btn-agregar-articulo">Aceptar</button>
							        </div>
						        </div>
						    </div>
			    		</div>
				     </div>
			    </div>
		  	</div>
		</div>
		 <div id="modalRevisiones" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false"> 
		 	<div class="modal-dialog modal-lg">
			    <!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666;color:#FFF">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title">Revisiones</h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
				  
			        	<div class="row">
			        		<div class="col-md-12">
					        	<div class="form-group">
					        		<table class="table " id="revisiones">
					        			<thead>
						                	<tr>
						                		<th>id</th>
								        		<th>Usar</th>
						                		<th>N° Revisión</th>
						                		<th>Vis. y Cons.</th>
						                		<th>Fecha Creación</th>
						                		<th>Usuario Creación</th>
								                <th>Oficina</th>
						                	</tr>
						                </thead>
						                <tbody>
						                </tbody>
						            </table>
					        	</div>
					        </div>
					    </div>
						
					</div>
					<div class="modal-footer" style="background-color:#ecf0f5">  	
				        <hr>
				        <div class="row">
				        	<div class="col-md-12">
				        		<div class="text-center">
					    			<div class="btn-group">
							        	<button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
							        </div>
						        </div>
						    </div>
			    		</div>
				     </div>
			    </div>
		  	</div>
		</div>
		<div id="modalTexto" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" >
			<div class="modal-dialog">
			    <!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666	;color:#FFF">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title">Edición Texto</h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
				    	<form role="form">
				    		<input type="hidden" id="idTexto" name="idTexto">
				    		<div class="row">
				    			<div class="form-group col-md-12">
    				    			<textarea class="form-control text-area text-area-larga" 
								       		  id="edicion-texto" name="edicion-texto">
								    </textarea>
    							</div>
                			</div>
                			<hr>
    				    	<div class="row">
    				    		<div class="col-md-12">
					        		<div class="text-center">
						    			<div class="btn-group">
								        	<button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
				       			 			<button type="button" class="btn btn-primary" id="btn-cambio-texto">Aceptar</button>
								        </div>
							        </div>
							    </div>
    				    	</div>
				    	</form>
				    </div>
				</div>
			</div>
		</div>
		<div id="modalPlantilla" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" >
			<div class="modal-dialog">
			    <!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666	;color:#FFF">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title">Alta Plantilla</h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
				    	<form role="form">
				    		<input type="hidden" id="tipoPlantilla" name="tipoPlantilla">
				    		<div class="row">
				    			<div class="form-group col-md-12">
    				    			<textarea class="form-control text-area text-area-larga" 
								       		  id="texto-plantilla" name="texto-plantilla">
								    </textarea>
    							</div>
                			</div>
                			<hr>
    				    	<div class="row">
    				    		<div class="col-md-12">
					        		<div class="text-center">
						    			<div class="btn-group">
								        	<button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
				       			 			<button type="button" class="btn btn-primary" id="btn-alta-plantilla">Aceptar</button>
								        </div>
							        </div>
							    </div>
    				    	</div>
				    	</form>
				    </div>
				</div>
			</div>
		</div>
		<div id="modalDictamenes" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" >
			<div class="modal-dialog modal-lg">
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666;color:#FFF">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title">Dictamenes</h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
				    	<input type="hidden" name="idProyecto" id="idProyecto">
				  		<input type="hidden" name="idExpediente" id="idExpediente"> 
				  		<input type="hidden" name="idSancion" id="idSancion">
				  		<input type="hidden" name="modo" id="modo">
			        	<div class="row">
			        		<div class="col-md-12">
					        	<div class="form-group">
					        		<table class="table " id="dictamenes">
					        			<thead>
						                	<tr>
						                		<th>id</th>
						                		<th>Usar</th>
								        		<th>Comision/es</th>
						                		<th>Redacción</th>
						                		<th>Resuelve Por</th>
						                		<th>Fecha Creación</th>
						                		<th>Usuario Creación</th>
						                	</tr>
						                </thead>
						                <tbody>
						                </tbody>
						            </table>
					        	</div>
					        </div>
					    </div>
						
					</div>
					<div class="modal-footer" style="background-color:#ecf0f5">  	
				        <hr>
				        <div class="row">
				        	<div class="col-md-12">
				        		<div class="text-center">
					    			<div class="btn-group">
							        	<button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
							        </div>
						        </div>
						    </div>
			    		</div>
				    </div>
			    </div>
			</div>
		</div>
		<div id="modalDetallePlantillas" class="modal fade custom-modal" role="dialog">
		 	<div class="modal-dialog modal-xl" style="padding-top: 125px">
			    <!-- Modal content-->
			    <div class="modal-content" style="border-top-left-radius: 2em;border-top-right-radius: 2em;
			    								  border-bottom-left-radius: 2em;border-bottom-right-radius: 2em">
				    <div class="modal-header" style="background-color:#FFF;color:#000;
				    								 border-top-left-radius: 2em;border-top-right-radius: 2em;">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title text-center" id="titulo-modal-detalle-plantillas"></h4>
				    </div>
				    <div class="modal-body" style="background-color:#FFF;">
				    	 <div class="row">
				        	<div class="col-md-12">
				        		<table width='100%' class='table' style="">
				        			<thead><tr><th width='10%'><h3>COD.</h3></th><th width='90%'><h3>TEXTO</h3></th></tr></thead>
				        		</table>
        				    	<div class="div-detalle-plantilla" id="detalle-plantilla">
        				    		
        				    	</div>
        				    </div>
        				 </div>
				    </div>
				    <div class="modal-footer" style="background-color:#FFF;
				    							     border-bottom-left-radius: 2em;border-bottom-right-radius: 2em">  	
				        <div class="row">
				        	<div class="col-md-12">
				        		<div class="text-center">
					    			<div class="btn-group">
							        	<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
							        </div>
						        </div>
						    </div>
			    		</div>
				    </div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}