{% extends 'layout.html.twig' %}

{% block stylesheets %}
	{# parent() #}
  	{% stylesheets '@css_datatables' %}
      	<link rel="stylesheet" href="{{ asset_url }}" /></link>
  	{% endstylesheets %}
{% endblock %}

{% block javascripts %}
	{# parent() #}
    {% javascripts '@js_datatables'%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}

	<style type="text/css">
		@media (min-width: 768px) {
		  .modal-xl {
		    width: 90%;
		    max-width:1600px;
		  }
		}

		.custom-modal{
			height: 2000%!important;
		}

		.select2-selection--multiple { max-height: 10rem; overflow-y: auto }

		.file-preview {
			max-height: 470px;
			height: 470px;
			/*calc(100vh - 350px);*/
			background-color: #fff;
			display: inline-block;
			overflow-y: scroll;
		}
		
		.disabled-select {
		   background-color:#FFF;
		   opacity:0.2;
		   border-radius:3px;
		   cursor:not-allowed;
		   position:absolute;
		   top:0;
		   bottom:0;
		   right:0;
		   left:0;
		}

		.div-articulos{
			height: 470px;
			max-height: 475px;
			overflow-y:auto;
			overflow-x: hidden; 
		}
		.div-incisos{
			height: 250px;
			max-height: 260px;
			overflow-y:scroll;
			overflow-x: hidden; 
		}
		#nuevoArticulo{
			z-index: 10000;
		}
		.numero-fila{
			font-size: 150%;
			font-weight: bold;
			vertical-align: middle!important;
		}
		.herramienta-fila{
			vertical-align: middle!important;
		}
		.text-area-mini{
			height: 80px!important;
		}
		}
		.text-area-corta{
			height: 200px!important;
		}
		.text-area-media{
			height: 366px!important;
		}
		.text-area-larga{
			height: 475px!important;
		}
		.tab{
			height: 545px;
		}
		.toggle-on.btn{
			line-height: 22.5px!important;
		}
		.toggle-off.btn{
			line-height: 22.5px!important;
		}
		#selExpedientes .select2.select2-container.select2-container--bootstrap.select2-container--below.select2-container--focus, .select2-selection.select2-selection--multiple{
			height: 300px;
		    max-height: 300px;
		    overflow-y: auto;
		}
		
		.div-tabla{
			height: 400px;
			max-height: 400px;
			overflow-y: auto;
		}
		
	</style>
	<script type="text/javascript">


		function criterio(){
			var tipo=$("#selBusqueda").val();
			return ((tipo=="todo")?"0":$("#"+tipo).val());	
		}
		
		function tipoCriterio(){
			return $("#selBusqueda").val();
		}


		function agregarInciso(modalTabla){
			var control=((modalTabla=='incisos')?'inciso':'incisoMod');
			var letra=String.fromCharCode($("#"+modalTabla).find('tr').length+65);
			var inciso='<tr>'+
	        		   '<td class="numero-fila">'+letra.toLowerCase()+') -</td>' +
	        		   '<td><textarea class="form-control text-area text-area-mini" id="'+control+'-'+letra+'" '+
	        		   'name="inciso" placeholder="Inciso"></textarea></td>'+
	        		   '<td class="herramienta-fila"><div class="text-center">'+
	        		   '<button type="button" class="btn btn-sm btn-info" onClick="noImplementado();"><span class="glyphicon glyphicon-tasks"></button>'+
	        		   '</div><div class="row text-center"><button type="button" class="btn btn-sm btn-danger btn-eliminar-inciso">'+
	        		   '<span class="glyphicon glyphicon-remove"></button></div></td>'+
	        		   '</tr>';

	        $("#"+modalTabla+" > tbody").append(inciso);
	        $("#"+control+"-"+letra).wysihtml5({
				toolbar: {
				    "image": false,
					"size": "xs",
				},
			});
			$("#div-incisos").animate({ scrollTop: $("#div-incisos")[0].scrollHeight}, 1000);
		}

		$(document).ready(function () {

			var articulosIngresados=[];
			
		    var tabla=$('#registroRemitos').DataTable({
		    			  "language": {
				              "infoEmpty": "Sin registros para mostrar",
				              "paginate": {
						          	"last": "Ultima Página",
						          	"first": "Primer página",
						          	"next": "Siguiente",
						          	"previous": "Anterior"
						       },
						       "search":"Búsqueda rápida",
						       "emptyTable": "Sin Datos",
						       "lengthMenu": 'Registros Listados <select class="form-control input-sm">'+
								             '<option value="10">10</option>'+
								             '<option value="20">20</option>'+
								             '<option value="30">30</option>'+
								             '<option value="40">40</option>'+
								             '<option value="50">50</option>'+
								             '<option value="-1">Todos</option>'+
								             '</select>',
								"loadingRecords": "Espere...cargando datos",
								"processing": "Procesando...",
								"sInfo": "Mostrando  _START_ a _END_ de _TOTAL_ registros",

			          	  },
					      "processing": false,
					      "ajax": {
							        "url": "api/proyecto/getByCriteria/"+tipoCriterio()+"/"+criterio(),
			            			"dataSrc": '',
							    },
						  "columnDefs": [
								            {
								                "targets": [ 0 ],
								                // "visible": false,
								                "searchable": false,
								                "orderable":false
								            },
								            {
									            "targets": [ 1 ],
									            "data": null,
									            "orderable":false,
									            "render": function(data, type, row){
									            	// var html="<button type='button'title='Editar Proyecto' class='btn btn-primary btn-xs btn-editar-proyecto' data-toggle='modal' data-target='#editarProyecto'><span class='glyphicon glyphicon-pencil'></span></button>"
									            	var html="";

									            	if("{{app.user.rol.rol}}"=="ROLE_ADMINISTRADOR" || row.numero_expediente=="---")

									            		html="<button type='button'title='Editar Proyecto' class='btn btn-primary btn-xs btn-editar-proyecto' data-toggle='modal' data-target='#editarProyecto'><span class='glyphicon glyphicon-pencil'></span></button>";
									            	else
									            		html="<button type='button'title='Editar Proyecto' class='btn btn-danger btn-xs' disabled><span class='glyphicon glyphicon-lock'></span></button>";
									            	"<span class='glyphicon glyphicon-lock' title='Editar Proyecto' ></span>";
									             	html+="<button type='button' title='Descargar Documento' class='btn btn-info btn-xs btn-descargar'><span class='glyphicon glyphicon-save-file'></span></button>";
									            	return html;
									            }
									        }
									       
						  ],
					      "columns": [
					      		{ "data": "id" },
					      		{ "data": "null","width":"10%"},
					      		{ "data": "numero_expediente","width":"5%"},
					      		{ "data": "tipo_proyecto.tipo_proyecto","width":"5%"},
					            { "data": "fecha_creacion_formateada", "width": "15%" },
					            { "data": "fecha_entrada_formateada", "width": "15%" },
					            { "data": "estado_expediente","width":"10%" },
					            { "data": "lista_autores","className": "for-mobile","width":"40%" },
					        ],
					      "autoWidth":false,
					      "paging": true,
					      "lengthChange": true,
					      "searching": true,
					      "ordering": true,
					      "info": true,
					      "autoWidth": false,
				});

		    //-----------------------------------DESCARGA DEL REMITO----------------------------------------
			
			$("#registroProyectos > tbody").on('click','.btn-descargar',function(){
				var data = tabla.row( $(this).parents('tr') ).data();
				window.location.href='{{ app.request.getBaseURL() }}'+
		        					 '/imprimir?tipoDocumento=proyecto&id='+
		        					  data[ "id" ];
			});


			//--------------------------------------NUEVO INCISO---------------------------------------------
			
			//EVENTO ABRIR MODAL NUEVO ARTICULO
		    $('#nuevoArticulo').on('show.bs.modal', function () {
				$("#incisos > tbody").html('');
				$("#articulo").data("wysihtml5").editor.setValue('');
		    	
			});

			//EVENTO ABRIR MODAL NUEVO PROYECTO
		    $('#nuevoProyecto').on('show.bs.modal', function () {
		  		$("#selTipoProyecto").val(0);
		  		$("#selBloques").empty().change();
		    	$("#selConcejales").empty().change();
				$("#visto").data("wysihtml5").editor.setValue('');
				$("#considerando").data("wysihtml5").editor.setValue('');
				$("#articulos > tbody").html('');
				$('#btn-guardar-proyecto').prop("disabled",false);
				articulosIngresados=[];
				habilitar('tab-1');

				/* descomentar si se acuerda notificacion */
				/*
				$("#notificarProyecto").bootstrapToggle('on');
				*/
			});
			
			//EVENTO CERRAR MODAL NUEVO PROYECTO
			$('#nuevoProyecto').on('hidden.bs.modal', function () {
				$("#btn-guardar-proyecto").prop("disabled",false);
			});
			
			//GUARDAR ALTA PROYECTO
			$("#btn-guardar-proyecto").click(function(e){

				$(this).prop("disabled",true);
				var validacion='';
				var formData=new FormData();
				var idtipoProyecto=$("#selTipoProyecto").val();
				var bloques=$("#selBloques").val();
				var concejales=$("#selConcejales").val();
				var visto=$("#visto").val();
				var considerando=$("#considerando").val();
				var quienSanciona=$("#quienSanciona").val();

				/* descomentar si se acuerda notificacion */
				/*
				var notificar=$('#notificarProyecto').is(':checked');
				*/

				validacion+=((idtipoProyecto==0)?'<li>Debe seleccionar un tipo de proyecto</li>':'');
				validacion+=(((concejales==null||concejales.length==0) && (bloques==null||bloques.length==0))
								?'<li>Debe especificar al menos un concejal o bloque para el proyecto</li>':'');
				validacion+=((visto.length==0)?'<li>Debe especificar los vistos</li>':'');
				validacion+=((considerando.length==0)?'<li>Debe especificar las consideraciones</li>':'');

				formData.append("idtipoProyecto",idtipoProyecto);
				formData.append("bloques",bloques);
				formData.append("concejales",concejales);
				formData.append("visto",visto);
				formData.append("considerando",considerando);
				formData.append("quienSanciona",quienSanciona);
				formData.append("articulos",JSON.stringify(articulosIngresados));

				/* descomentar si se acuerda notificacion */
				/*
				formData.append("notificar",notificar);
				*/

	            if (validacion.length>0) 
				{
					validacion=((validacion.length>0)?'<strong>Validacion de Datos</strong><br><ul>'+
								validacion+'</ul>':'');
					$('#btn-guardar-proyecto').prop("disabled",false);
					toastr.error(validacion);
					return false;
				}
				else{

	            	$.ajax({
		                async: true,
		                url: '{{ app.request.getBaseURL() }}'+'/api/proyecto/create',
		                data: formData,
		                type: 'post',
		                cache: false,
		                contentType: false,
		                processData: false,
	                success: function(data) {
	                    toastr.success(data);
						tabla.ajax.reload();
						$('#nuevoProyecto').modal('hide');
	                	},
	                complete: function(){
	                	$('#btn-guardar-proyecto').prop("disabled",false);
	                	},
	                error: function(jqXHR,textStatus,errorThrown ){
						//var response=JSON.parse(jqXHR.responseText)
						toastr.error(jqXHR.responseText);
						}
	            	});
	            }
			});
		    
			//---------------------------------INICIALIZACIÓN DE CONTROLES--------------------------

			

			$('#estadoFiltro').bootstrapToggle({
		      on:  'Activo',
		      off: 'Inactivo',
		      offstyle: 'primary',
		      onstyle: 'success',
		      width: "80px",
		      height: "35px"
		    });

			$(".busqueda").addClass('hidden');
			$("#selBusqueda").val("todo");
			$('#estadoFiltro').bootstrapToggle('disable');

			$("#selBusqueda").change(function(){

				var control=$(this).val();
				$(".busqueda").addClass('hidden');
				if(control!="todo")
					$("#"+control).removeClass('hidden');
				else{
					$("#busqueda-1").val("");
					$("#busqueda-2").val("0");
					$("#busqueda-3").val("");
					$("#busqueda-4").val("0");
				}
			});

			$("#btn-busqueda").click(function(){
								
				if($("#selBusqueda").val()!="todo" && criterio()!="" && criterio()!="0")
				{
					//tabla.ajax.url("api/proyecto/getByCriteria/"+tipoCriterio()+"/"+criterio()).load();
					$(".filtro").prop('disabled',true);
					$('#estadoFiltro').bootstrapToggle('enable');
					$("#estadoFiltro").bootstrapToggle('on');
				}
				
			});

			$('#estadoFiltro').change(function() {
				if(!$(this).is(':checked')){
					$(".filtro").prop('disabled',false);
					$("#selBusqueda").val("todo").change();
					$(".filtro").prop('disabled',false);
					//tabla.ajax.url("api/proyecto/getByCriteria/"+tipoCriterio()+"/"+criterio()).load();
					$(this).bootstrapToggle('disable');
					
				}
			});


			$("#selExpedientes").select2({
				ajax: {
			    url: '{{ app.request.getBaseURL() }}'+"/api/expediente/getNumeroCompletoByNumero",
			    dataType: 'json',
			    delay: 250,
			    cache: false,
			    data: function (params) {
			      return {
			        q: params.term, // search term
			        page: params.page
			      };
			    },
			    processResults: function (data) {
			       var dato=data;
			       return {
				        results: $.map(dato, function(item) {
				            return { id: item.id, text: item.numeroCompleto };
				        })
				    };				   
		        },
			  },
			  language: "es",
			  minimumInputLength: 1,
			  theme: "bootstrap",
			});		

	});
	</script>
	<section class="content-header">
		<div class="row pull-right">
			<ol class="breadcrumb">
		        <li><a href="#"><i class="fa fa-dashboard"></i> Principal</a></li>
		        <li >Expedientes</li>
		        <li class="active">Giros</li>
		    </ol>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-2">
				<h2>
			        Giros
			    </h2>
			</div>
			<div class="col-md-6 col-md-offset-4">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<label class="navbar-brand">Filtro</label>
						</div>
						<div class="collapse navbar-collapse">
							<div class>
								<form class="navbar-form navbar-left">
									<div class="form-group">
										<div class="form-group text-center">
											<input type="checkbox" id="estadoFiltro" data-size="normal">
							        	</div> 
										<button type="button" class="btn btn-primary filtro" id="btn-busqueda">Aplicar</button>

										<select class="form-control filtro" id="selBusqueda">
											<option value="todo">Todo</option>
											<option value="busqueda-1">Origen</option>
											<option value="busqueda-2">Fecha Envio</option>
											<option value="busqueda-3">Destino</option>
											<option value="busqueda-4">Fecha Recepcion</option>
										</select>
										
										<select class="form-control busqueda hidden filtro" id="busqueda-1">
											<option value="0">Seleccione Origen</option>
										</select>
										<input class="form-control busqueda hidden filtro" id="busqueda-2">
										<select class="form-control busqueda hidden filtro" id="busqueda-3">
											<option value="0">Seleccione Destino</option>
										</select>
										<input class="form-control busqueda hidden filtro" id="busqueda-4">
									<div>
								</form>
							</div>
						</div>
					</div>
				</nav>
				
			</div>
	    </div>
	   
	</section>
	<section class="content">
	  	<div class="row">
	    	<div class="col-xs-12">
              	<table id="registroRemitos" class="table table-striped">
	                <thead>
	                	<tr>
	                		<th class="text-center">
	                			<button type="button" title="Agregar Remito"class="btn btn-primary btn-xs pull-left"
						    			data-toggle="modal" data-target="#nuevoRemito">
						    			<span class="glyphicon glyphicon-plus"></span>
						    	</button>
						    </th>
						    <th>Nro Remito</th>
						    <th>Origen</th>
			                <th>F. Envío</th>
			                <th>Destino</th>
			                <th>F. Recepción</th>
	                	</tr>
	                </thead>
	                <tbody>
	                </tbody>
               	</table>    
	        </div> {# col #}
	    </div> {# row #}

		<div id="nuevoRemito" class="modal fade custom-modal" role="dialog" data-backdrop="static" 
		     data-keyboard="false">
		 	<div class="modal-dialog modal-xl">
			    <!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666	;color:#FFF">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title">Nuevo Remito</h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
						        	<label for="selExpedientes">Expedientes:</label>
						        	<select class="form-control" multiple="multiple" data-width="100%" id="selExpedientes" 
						        			name="selExpedientes">
						        	</select>
						        </div>
							</div>
							<div class="col-md-1">
 								<div class="btn-group-vertical">
						        	<button type="button" class="btn btn-primary" id="generar-remito">Crear</button>
						        	<br>
						        	<button type="button" class="btn btn-info" id="borrar-remito">Reiniciar</button>  
 						        </div>
							</div>
							<div class="col-md-8">
								<div class="div-tabla">
    								<table class="table table-striped">
    								     <thead>
                    	                	<tr>
                    						    <th class="hidden">id</th>
                    						    <th>Nro Exp</th>
                    						    <th>Fojas</th>
                    			                <th>Observación</th>
                    	                	</tr>
                    	                </thead>
                    	                <tbody>
                    	                </tbody>
    								</table>
    							</div>
							</div>
						</div>   
				        <hr>
				        <div class="row">
				        	<div class="col-md-12">
				        		<div class="text-center">
					    			<div class="btn-group">
							        	<button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
						       			 <button type="button" class="btn btn-primary" id="btn-guardar-remito">Guardar</button>
							        </div>
						        </div>
						    </div>
			    		</div>
				     </div>
			    </div>
		  	</div>
		</div>
	</section>
	
{% endblock %}