{%  extends 'layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block body %}

	  <style type="text/css">
	
	  </style>

      <script type="text/javascript">
        function noImplementado(){
          toastr.warning("NO IMPLEMENTADO EN ESTA VERSIÓN");
        }

        function cargarMenu(url){
        	$("#contenidoUsuario").load('{{ app.request.getBaseURL() }}'+ url);
		} 
        function cargarMenuConParametro(url,parametroNombre, parametroValor){
        	$("#contenidoUsuario").load('{{ app.request.getBaseURL() }}'+ url +'?'+parametroNombre+'='+parametroValor);
		} 
        function obtenerRecurso(url) {
        	  var win = window.open(url, '_blank');
        	  win.focus();
        }
        Mousetrap.bind('ctrl+m', function(e) {
    	   $("#bloques-menu").focus();
            return false;
        });
       
        Mousetrap.bind('ctrl+shift+s', function(e) {
    	   $("#sidebar-collapse").click();
            return false;
        });
       
        $(document).on('keyup','.menu-fired',function(e){
            if (event.which==32){
    			var control=e.currentTarget;
    			$(control).find('a:first').click();
        	}
        });
        
        $(document).on('keyup','.treeview',function(e){
            if (event.which==13){
    			var control=e.currentTarget;
    			var estaActivo=$(control).hasClass('active');
    			$(".treeview").removeClass('active')
    			if(!estaActivo)
    				$(control).addClass('active');
            }
        });
        
        $(document).on('shown.bs.modal', function (e) {
	        $('[autofocus]', e.target).focus();
	     });

       /*  $(document).on('ready', function (e) {	
	        $('[autofocus]', e.target).focus();
	     }); */
      </script>
      <div class="wrapper">
        <header class="main-header">

          <a href="index2.html" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini">Sis<b>Leg</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg">Sitstema <b>Legislativo</b></span>
          </a>

          <nav class="navbar navbar-inverse navbar-fixed-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button" id="sidebar-collapse">
              <span class="sr-only">Toggle navigation</span>
            </a>
            <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Notifications: style can be found in dropdown.less -->
              {# <li class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-warning">10</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 10 notifications</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li>
                        <a href="#">
                          <i class="fa fa-users text-aqua"></i> 5 new members joined today
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                          page and may cause design problems
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-users text-red"></i> 5 new members joined
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-user text-red"></i> You changed your username
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="footer"><a href="#">View all</a></li>
                </ul>
              </li> #}
              <!-- Tasks: style can be found in dropdown.less -->
              {# <li class="dropdown tasks-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-flag-o"></i>
                  <span class="label label-danger">9</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 9 tasks</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li><!-- Task item -->
                        <a href="#">
                          <h3>
                            Design some buttons
                            <small class="pull-right">20%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">20% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <!-- end task item -->
                      <li><!-- Task item -->
                        <a href="#">
                          <h3>
                            Create a nice theme
                            <small class="pull-right">40%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">40% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <!-- end task item -->
                      <li><!-- Task item -->
                        <a href="#">
                          <h3>
                            Some task I need to do
                            <small class="pull-right">60%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">60% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <!-- end task item -->
                      <li><!-- Task item -->
                        <a href="#">
                          <h3>
                            Make beautiful transitions
                            <small class="pull-right">80%</small>
                          </h3>
                          <div class="progress xs">
                            <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                              <span class="sr-only">80% Complete</span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <!-- end task item -->
                    </ul>
                  </li>
                  <li class="footer">
                    <a href="#">View all tasks</a>
                  </li>
                </ul>
              </li> #}
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu menu-fired" tabindex="30">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  {# <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image"> #}
                  <span class="hidden-xs">{{ app.user.username|capitalize  }}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    {% if app.user.perfil.rutaWebImagen is not null %}
                    <img src="{{ app.user.perfil.rutaWebImagen}}" class="img-circle" alt="User Image">
                    {% else %}
                    <img src="user.jpg" class="img-circle" alt="User Image">
                  {% endif %}
                    <p>
                      {{ app.user.username|capitalize }}  - 
                      {{ app.user.rolComoString|capitalize }}
                      
                      <small>Miembro desde {{ app.user.fechaCreacion | date("d/m/Y")  }} </small>
                    </p>
                  </li>
                  <!-- Menu Body -->
                 
                  <li class="user-body">
                        {# asignar info aqui #}
                  </li> 
                  <!-- Menu Footer-->
                  <li class="user-footer">
                  	<div class="row">
                  		<div class="col-md-4">
                  			<div class="pull-left">
                              <a href="#" class="btn btn-info">Perfil</a>
                            </div>
                  		</div>
                      	<div class="col-md-4">
                            <div class="text-center">
                              <a href="javascript:void(0);" onclick="cargarMenu('/cambioClave');" class="btn btn-info">Cambiar Clave</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="pull-right">
                              <a href="logout" class="btn btn-primary">Salir</a>
                            </div>
                  		</div>
                  		
                  	</div>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </header>
        <aside class="main-sidebar">
          <!-- sidebar: style can be found in sidebar.less -->
          <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
              <div class="pull-left image">
                 {% if app.user.perfil.rutaWebImagen is not null %}
                    <img src="{{ app.user.perfil.rutaWebImagen}}" class="img-circle" alt="User Image">
                    {% else %}
                    <img src="user.jpg" class="img-circle" alt="User Image">
                  {% endif %}
              </div>
              <div class="info">
                <p>{{ app.user.nombreCompleto|capitalize }}</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
              </div>
            </div>
            <!-- search form -->
           {#  <form action="#" method="get" class="sidebar-form">
              <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                      <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                      </button>
                    </span>
              </div>
            </form> #}
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
              <li class="header text-center" tabindex="-1"><h5>Principal</h5></li>
              
              {% if app.user.rol.rol=="ROLE_ADMINISTRADOR" or app.user.rol.rol=="ROLE_DESPACHO" %}
              	<li class="menu-fired" tabindex="1" id="bloques-menu"><a href="#" onclick="cargarMenu('/autoridades')" ><i class="fa fa-gavel"></i><span>Autoridades</span></a></li>
              {% endif %}
              <li class="menu-fired" tabindex="1" id="bloques-menu"><a href="#" onclick="cargarMenu('/bloques')" ><i class="fa fa-sitemap"></i><span>Bloques</span></a></li>
              
              {# ------------------------------------------SECTOR DE COMISIONES----------------------------------- #}
                {% if app.user.rol.rol=="ROLE_ADMINISTRADOR" or app.user.rol.rol=="ROLE_COMISIONES" %}	
                  <li class="treeview" tabindex="2">
                    <a href="#">
                      <i class="fa fa-users"></i>
                      <span>Comisiones</span>
                      <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                      </span>
                    </a>
                    <ul class="treeview-menu">
                      <li class="divider"></li>
                 
                      	<li class="menu-fired" tabindex="3">
                      		<a href="#" onclick="cargarMenu('/comisiones');"><i class="fa fa-minus">
                      		</i>Conformación Comisiones</a>
                      	</li>
             
                      	<li class="menu-fired" tabindex="4" 
                      		><a href="#" onclick="cargarMenu('/expedientesComisiones');">
                      		<i class="fa fa-minus"></i>Expedientes Girados</a>
                      	</li>
 
                      	<li class="menu-fired" tabindex="5" >
                      		<a href="#" onclick="cargarMenu('/movimientos')">
                      		<i class="fa fa-minus"></i>Movimientos</a>
						</li>
                    </ul>
                  </li>
              {% endif %}
              {# --------------------------------------FIN SECTOR DE COMISIONES----------------------------------- #}
              
               {% if app.user.rol.rol=="ROLE_DESPACHO" or app.user.rol.rol=="ROLE_MESA_ENTRADA" or app.user.rol.rol=="ROLE_LEGISLADOR"%}
              		<li class="menu-fired" tabindex="6" title="persione -> para abrir">
              			<a href="#" onclick="cargarMenu('/comisiones');">
              			<i class="fa fa-users"></i>Comisiones</a>
              		</li>
               {% endif %}
               
              	<li class="menu-fired" tabindex="7" >
              		<a href="#" onclick="cargarMenu('/legisladores')">
              		<i class="fa fa-address-card-o"></i><span>Concejales</span></a>
              	</li>
              
              {# -------------------- -------------------SECTOR DE DESPACHO----------------- --------------------- #}
              {% if app.user.rol.rol=="ROLE_ADMINISTRADOR" or app.user.rol.rol=="ROLE_DESPACHO" %}
                  <li class="treeview" tabindex="8">
                    <a href="#">
                      <i class="fa fa-book"></i>
                      <span>Despacho</span>
                      <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                      </span>
                    </a>
                    <ul class="treeview-menu">
                      <li class="divider"></li>
                      
                      	<li class="menu-fired" tabindex="9" >
                      		<a href="#"  onclick="cargarMenu('/seleccionSesion')">
                      		<i class="fa fa-minus"></i>Expedientes Orden del Día</a>
                      	</li>
                      	
                      	<li class="menu-fired" tabindex="10" >
                      		<a href="#" onclick="cargarMenu('/expedientesComisiones');">
                      		<i class="fa fa-minus"></i>Expedientes En Comisiones</a>
                      	</li>
                 
                      	<li class="menu-fired" tabindex="11" >
                      		<a href="#" onclick="cargarMenu('/expedientes')">
                      		<i class="fa fa-minus"></i>Listado Expedientes</a>
                      	</li>
                      	                      
                      	<li class="menu-fired" tabindex="12" >
                      		<a href="#" onclick="cargarMenu('/movimientos')">
                      		<i class="fa fa-minus"></i>Movimientos</a>
                      	</li>
                      	
                      	<li class="menu-fired" tabindex="13" >
                      		<a href="#" onclick="cargarMenu('/versionesTaquigraficas');">
                      		<i class="fa fa-minus"></i>Versiones Taquigráficas</a>
                      	</li>
                      
                    </ul>
                  </li>
              {% endif %}
              {# ------ -------------------------------FIN SECTOR DE COMISIONES----------------------------------- #}
              
              {# ---------------------------------------SECTOR DE EXPEDIENTES------------------------------------- #}
              {% if app.user.rol.rol=="ROLE_ADMINISTRADOR" or app.user.rol.rol=="ROLE_MESA_ENTRADA" %}
                  <li class="treeview" tabindex="14">
                    <a href="#">
                      <i class="fa fa-inbox"></i>
                      <span>Mesa de Entradas</span>
                      <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                      </span>
                    </a>
                    <ul class="treeview-menu">
                      <li class="divider"></li>
                     
                      	<li class="menu-fired" tabindex="15" >
                      		<a href="#" onclick="cargarMenu('/expedientes')">
                      		<i class="fa fa-minus"></i>Gestión de Expedientes</a>
                      	</li>
                      	
                      	<li class="menu-fired" tabindex="16" >
                      		<a href="#" onclick="cargarMenu('/impresionE')">
                      		<i class="fa fa-minus"></i>Listado E</a>
                      	</li>
          
                      	<li class="menu-fired" tabindex="17" >
                      		<a href="#" onclick="cargarMenu('/movimientos')">
                      		<i class="fa fa-minus"></i>Movimientos</a>
                      	</li>
           
                      	<li class="menu-fired" tabindex="18" >
                      		<a href="#" onclick="cargarMenu('/proyectos')">
                      		<i class="fa fa-minus"></i><span>Proyectos</span></a>
                      	</li>
                                        
                    </ul>
                  </li>
              {% endif %}
              {# ---------------------------------------FIN SECTOR DE EXPEDIENTES--------------------------------- #}
                
              {# ---------------------------------------SECTOR DE LEGISLADORES------------------------------------- #}  			
  			  {% if app.user.rol.rol=="ROLE_LEGISLADOR" %}
                  <li class="treeview" tabindex="19">
                    <a href="#">
                      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                      <span>Legisladores</span>
                      <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                      </span>
                    </a>
                    <ul class="treeview-menu">
                      <li class="divider"></li>
                      
                      	<li class="menu-fired" tabindex="20" >
                      		<a href="#" onclick="cargarMenu('/proyectos')">
                      		<i class="fa fa-file-text"></i><span>Proyectos</span></a>
                      	</li>
                 
                      	<li class="menu-fired" tabindex="21" >
                      		<a href="#" onclick="cargarMenu('/listadoCh')">
                      		<i class="fa fa-bullhorn" aria-hidden="true"></i><span>CH</span></a>
                      	 </li>
                 
               		</ul>
                  </li>
              {% endif %}
              
              {# ---------------------------------------FIN SECTOR DE LEGISLADORES--------------------------------- #}
              
              {% if app.user.rol.rol=="ROLE_ADMINISTRADOR" or 
                     app.user.rol.rol=="ROLE_DESPACHO" or 
                     app.user.rol.rol=="ROLE_MESA_ENTRADA" 
              %}	
              	<li class="menu-fired" tabindex="22">
              		<a href="#" onclick="cargarMenu('/oficinas')">
              		<i class="fa fa-address-book-o"></i><span>Oficinas</span></a>
              	 </li>
              {% endif %}
              
              <li class="menu-fired" tabindex="23" >
              	<a href="#" onclick="cargarMenu('/sesion')">
              	<i class="fa fa-calendar"></i><span>Sesiones</span></a>
              </li>
              
              {% if app.user.rol.rol=="ROLE_ADMINISTRADOR" %}
              	<li class="menu-fired" tabindex="24" >
              		<a href='#' onclick="cargarMenu('/usuarios')">
              		<i class="fa fa-user-circle"></i><span>Usuarios</span></a>
              	</li>
              {% endif %}
              
              <li class="treeview" tabindex="25">
                <a href="#">
                  <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                  <span>Manuales</span>
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
                <ul class="treeview-menu">
                  <li class="divider"></li>
                  	{% if app.user.rol.rol=="ROLE_ADMINISTRADOR" or app.user.rol.rol=="ROLE_COMISIONES" %}
                  	    <li class="menu-fired" tabindex="26" >
                  	    	<a href="#" onclick="obtenerRecurso('{{ app.request.getBaseURL() }}/recursos/manuales/MANUAL_DE_USUARIO_DE_COMISIONES_3.2_FINAL.pdf');" >
                  	    	<i class="fa fa-users"></i><span>Comisiones</span></a>
                  	    </li>
                  	{% endif %}
                  	{% if app.user.rol.rol=="ROLE_ADMINISTRADOR" or app.user.rol.rol=="ROLE_DESPACHO" %}
             			<li class="menu-fired" tabindex="27" >
             				<a href="#" onclick="obtenerRecurso('{{ app.request.getBaseURL() }}/recursos/manuales/MANUAL_DE_USUARIO_DE_DESPACHO_3.3_FINAL.pdf');" >
             				<i class="fa fa-book"></i><span>Despacho</span></a>
             			</li>
             		{% endif %}
             		{% if app.user.rol.rol=="ROLE_ADMINISTRADOR" or app.user.rol.rol=="ROLE_MESA_ENTRADA" %}
             			<li class="menu-fired" tabindex="28" >
             				<a href="#" onclick="obtenerRecurso('{{ app.request.getBaseURL() }}/recursos/manuales/MANUAL_DE_USUARIO_DE_MESA_DE_ENTRADAS_2.6_FINAL.pdf');" >
             				<i class="fa fa-inbox"></i><span>Mesa de Entradas</span></a>
             			</li>
             		{% endif %}    
             		{% if app.user.rol.rol=="ROLE_ADMINISTRADOR" or app.user.rol.rol=="ROLE_LEGISLADOR" %}
             			<li class="menu-fired" tabindex="29" >
             				<a href="#" onclick="obtenerRecurso('{{ app.request.getBaseURL() }}/recursos/manuales/MANUAL_DE_USUARIO_DE_LEGISLADORES_2.1_FINAL.pdf');" >
             				<i class="fa fa-graduation-cap"></i><span>Legisladores</span></a>
             			</li>
             		{% endif %}             
           		</ul>
              </li>
             
             
             
              {# <li class="treeview">
                <a href="#">
                  <i class="fa fa-university"></i>
                  <span>Sesiones</span>
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
                <ul class="treeview-menu">
                  <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> Nueva</a></li>
                  <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Postergar</a></li>
                  <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Resumen</a></li>
                </ul>
              </li> #}
              {# <li>
                <a href="pages/calendar.html">
                  <i class="fa fa-calendar"></i> <span>Calendario</span>
                  <span class="pull-right-container">
                    <small class="label pull-right bg-red">3</small>
                    <small class="label pull-right bg-blue">17</small>
                  </span>
                </a>
              </li>
              <li class="treeview">
                <a href="#">
                  <i class="fa fa-cloud"></i> <span>Links de Interés</span>
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
                <ul class="treeview-menu">
                  <li><a href="pages/examples/invoice.html"><i class="fa fa-circle-o"></i> Link 1</a></li>
                  <li><a href="pages/examples/profile.html"><i class="fa fa-circle-o"></i> Link 2</a></li>
                  <li><a href="pages/examples/login.html"><i class="fa fa-circle-o"></i> Link 3</a></li>
                  <li><a href="pages/examples/register.html"><i class="fa fa-circle-o"></i> Link 4</a></li>
                  <li><a href="pages/examples/lockscreen.html"><i class="fa fa-circle-o"></i> Link 5</a></li>
                  <li><a href="pages/examples/404.html"><i class="fa fa-circle-o"></i> Link 6</a></li>
                  <li><a href="pages/examples/500.html"><i class="fa fa-circle-o"></i> Link 7</a></li>
                  <li><a href="pages/examples/blank.html"><i class="fa fa-circle-o"></i> Link 8</a></li>
                  <li><a href="pages/examples/pace.html"><i class="fa fa-circle-o"></i> Link 9</a></li>
                </ul>
              </li>
              <li><a href="documentation/index.html"><i class="fa fa-file-text-o"></i> <span>Documentación</span></a></li> #}
              
            </ul>
          </section>
          <!-- /.sidebar -->
        </aside>

        <div class="content-wrapper" style="padding-top:5%">
        
        	<div id="contenidoUsuario">
        	
        	</div>
        </div>

{% endblock %}