{% extends 'base.html.twig' %}



{% block stylesheets %}
	{{ parent() }}
  	{% stylesheets '@css_datatables' %}
      	<link rel="stylesheet" href="{{ asset_url }}" /></link>
  	{% endstylesheets %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    {% javascripts '@js_datatables'%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
	<style type="text/css">
		@media (min-width: 768px) {
		  .modal-xl {
		    width: 90%;
		    max-width:1600px;
		  }
		}

		.custom-modal{
			height: 2000%!important;
		}

		.select2-selection--multiple { max-height: 10rem; overflow-y: auto }

		.file-preview {
			max-height: 470px;
			height: 470px;
			/*calc(100vh - 350px);*/
			background-color: #fff;
			display: inline-block;
			overflow-y: scroll;
		}
		
		.disabled-select {
		   background-color:#FFF;
		   opacity:0.2;
		   border-radius:3px;
		   cursor:not-allowed;
		   position:absolute;
		   top:0;
		   bottom:0;
		   right:0;
		   left:0;
		}

		.div-articulos{
			height: 470px;
			max-height: 475px;
			overflow-y:auto;
			overflow-x: hidden; 
		}
		.div-incisos{
			height: 250px;
			max-height: 260px;
			overflow-y:scroll;
			overflow-x: hidden; 
		}
		.numero-fila{
			font-size: 150%;
			font-weight: bold;
			vertical-align: middle!important;
		}
		.herramienta-fila{
			vertical-align: middle!important;
		}
		.text-area-mini{
			height: 80px!important;
		}
		}
		.text-area-corta{
			height: 200px!important;
		}
		.text-area-media{
			height: 400px!important;
		}
		.text-area-larga{
			height: 475px!important;
		}
		.tab{
			height: 545px;
		}
		.toggle-on.btn{
			line-height: 22.5px!important;
		}
		.toggle-off.btn{
			line-height: 22.5px!important;
		}
		
	</style>
	<script type="text/javascript">

		wysihtml5.dom.getPastedHtml = function(event) {
		  var html;
		  if (event.clipboardData) {
		    html = event.clipboardData.getData('text/plain');
		  }
		  return html;
		};

		function noImplementado(){
			toastr.warning("NO IMPLEMENTADO");
		}

		function criterio(){
			var tipo=$("#selBusqueda").val();
			return ((tipo=="todo")?"0":$("#"+tipo).val());	
		}
		function tipoCriterio(){
			return $("#selBusqueda").val();
		}

		function habilitar(nombre){
			$(".tab").addClass("hidden");
			$("#"+nombre).removeClass("hidden");
		}	

		function agregarArticulo(articulo){
			var numero=$("#articulos > tbody > tr").length+1;
			var cuerpoArticulo='<div class="well well-sm">' +
							   '<div class="btn-group pull-right">'+
							   '<button type="button" class="btn btn-sm btn-primary" title="Editar artículo" onClick="noImplementado();" >'+
							   		'Editar</button>'+
							   '<button type="button" class="btn btn-sm btn-warning" title="Cambiar orden" onClick="noImplementado();">'+
							   		'Mover</button>'+
							   '<button type="button" class="btn btn-sm btn-danger" title="Eliminar artículo" onClick="noImplementado();">'+
							   		'Eliminar</button></div>'+
							   '<div>'+articulo.texto+'<br><ul class="list-unstyled">';
			$.each(articulo.incisos,function(index,inciso){
				cuerpoArticulo+='<li style="padding-left:30px">'+inciso.orden+' '+$(inciso.texto).text()+'</li>';
			});
		
			cuerpoArticulo+='</ul></div>';

			var nuevoArticulo='<tr>'+
	        			 	  '<td class="numero-fila">'+numero+'</td>' +
	        			 	  '<td>'+cuerpoArticulo+'</td>'+
	        			 	  '</tr>';

	        $("#articulos > tbody").append(nuevoArticulo);
	        $("#div-articulos").animate({ scrollTop: $("#div-articulos")[0].scrollHeight}, 1000);
	        articulo.numero=numero;
	        return articulo;
	        
		}

		function agregarInciso(){
			var letra=String.fromCharCode($("#incisos > tbody > tr").length+65);
			var inciso='<tr>'+
	        		   '<td class="numero-fila">'+letra.toLowerCase()+') -</td>' +
	        		   '<td><textarea class="form-control text-area text-area-mini" id="inciso-'+letra+'" '+
	        		   'name="inciso" placeholder="Inciso"></textarea></td>'+
	        		   '<td class="herramienta-fila"><div class="row text-center">'+
	        		   '<button type="button" class="btn btn-info" onClick="noImplementado();"><span class="glyphicon glyphicon-tasks"></button>'+
	        		   '</div><div class="row text-center"><button type="button" class="btn btn-danger" onClick="noImplementado();">'+
	        		   '<span class="glyphicon glyphicon-remove"></button></div></td>'+
	        		   '</tr>';

	        $("#incisos > tbody").append(inciso);
	        $("#inciso-"+letra).wysihtml5({
				toolbar: {
				    "image": false,
					"size": "xs",
				},
			});
			$("#div-incisos").animate({ scrollTop: $("#div-incisos")[0].scrollHeight}, 1000);
		}


		$(document).ready(function () {

			var articulosIngresados=[];
			
		    var tabla=$('#registroExpediente').DataTable({
		    			  "language": {
				              "infoEmpty": "Sin registros para mostrar",
				              "paginate": {
						          	"last": "Ultima Página",
						          	"first": "Primer página",
						          	"next": "Siguiente",
						          	"previous": "Anterior"
						       },
						       "search":"Búsqueda rápida",
						       "emptyTable": "Sin Datos",
						       "lengthMenu": 'Registros Listados <select class="form-control input-sm">'+
								             '<option value="10">10</option>'+
								             '<option value="20">20</option>'+
								             '<option value="30">30</option>'+
								             '<option value="40">40</option>'+
								             '<option value="50">50</option>'+
								             '<option value="-1">Todos</option>'+
								             '</select>',
								"loadingRecords": "Espere...cargando datos",
								"processing": "Procesando...",
								"sInfo": "Mostrando  _START_ a _END_ de _TOTAL_ registros",

			          	  },
					      "processing": false,
					      "ajax": {
							        "url": "api/proyecto/getByCriteria/"+tipoCriterio()+"/"+criterio(),
			            			"dataSrc": '',
							    },
						  "columnDefs": [
								            {
								                "targets": [ 0 ],
								                "visible": false,
								                "searchable": false
								            },
								            {
									            "targets": [ 1 ],
									            "data": null,
									            "orderable":false,
									            "render": function(data, type, row){
									            	var html="<button type='button'title='Editar Proyecto' class='btn btn-primary btn-xs btn-editar ' data-toggle='modal' data-target='#' onClick='noImplementado();'><span class='glyphicon glyphicon-pencil'></span></button>"
									             	html+="<button type='button' title='Ver Detalle' class='btn btn-info btn-xs btn-detalle' data-toggle='modal' data-target='#' onClick='noImplementado();'><span class='glyphicon glyphicon-eye-open'></span></button>"
									             	html+="<button type='button' title='Imprimir' class='btn btn-warning btn-xs btn-imprimir' data-toggle='modal' data-target='#' onClick='noImplementado();'><span class='glyphicon glyphicon-print'></span></button></div>"

									            	return html;
									            }
									        }
									       
						  ],
					      "columns": [
					      		{ "data": "id" },
					      		{ "data": "null","width":"10%"},
					      		{ "data": "numero_expediente","width":"5%"},
					      		{ "data": "tipo_proyecto.tipo_proyecto","width":"5%"},
					            { "data": "asunto","width":"35%" },
					            { "data": "fecha_creacion_formateada", "width": "10%" },
					            { "data": "fecha_entrada_formateada", "width": "10%" },
					            { "data": "estado_expediente","width":"10%" },
					            { "data": "lista_autores","className": "for-mobile","width":"15%" },
					        ],
					      "autoWidth":false,
					      "paging": true,
					      "lengthChange": true,
					      "searching": true,
					      "ordering": true,
					      "info": true,
					      "autoWidth": false,
				});
			
			

			//---------------------------------NUEVO PROYECTO---------------------------------------

			//EVENTO ABRIR MODAL NUEVO ARTICULO
		    $('#nuevoArticulo').on('show.bs.modal', function () {
				$("#incisos > tbody").html('');
				$("#articulo").data("wysihtml5").editor.setValue('');
		    	agregarInciso();
			});

			//EVENTO ABRIR MODAL NUEVO PROYECTO
		    $('#nuevoProyecto').on('show.bs.modal', function () {
		  		$("#selTipoProyecto").val(0);
		    	$("#selAutores").empty().change();
				$("#asunto").data("wysihtml5").editor.setValue('');
				$("#visto").data("wysihtml5").editor.setValue('');
				$("#considerando").data("wysihtml5").editor.setValue('');
				$("#articulos > tbody").html('');
			});
			
			//EVENTO CERRAR MODAL NUEVO PROYECTO
			$('#nuevoProyecto').on('hidden.bs.modal', function () {
				// $("#selAutores").empty().change();
			});
			
			//GUARDAR ALTA PROYECTO
			$("#btn-guardar-proyecto").click(function(e){

				var validacion='';
				var formData=new FormData();
				var idtipoProyecto=$("#selTipoProyecto").val();
				var autores=$("#selAutores").val();
				var asunto=$("#asunto").val();
				var visto=$("#visto").val();
				var considerando=$("#considerando").val();
				var quienSanciona=$("#quienSanciona").val();

				validacion+=((idtipoProyecto==0)?'<li>Debe seleccionar un tipo de proyecto</li>':'');
				validacion+=((autores==null||autores.length==0)
								?'<li>Debe especificar al menos un autor para el proyecto</li>':'');
				validacion+=((asunto.length==0)?'<li>Debe especificar un asunto</li>':'');
				validacion+=((visto.length==0)?'<li>Debe especificar los vistos</li>':'');
				validacion+=((considerando.length==0)?'<li>Debe especificar las consideraciones</li>':'');

				formData.append("idtipoProyecto",idtipoProyecto);
				formData.append("autores",autores);
				formData.append("asunto",asunto);
				formData.append("visto",visto);
				formData.append("considerando",considerando);
				formData.append("quienSanciona",quienSanciona);
				formData.append("articulos",JSON.stringify(articulosIngresados));


	            if (validacion.length>0) 
				{
					validacion=((validacion.length>0)?'<strong>Validacion de Datos</strong><br><ul>'+
								validacion+'</ul>':'');
					toastr.error(validacion);
					return false;
				}
				else{

	            	$.ajax({
		                async: true,
		                url: '{{ app.request.getBaseURL() }}'+'/api/proyecto/create',
		                data: formData,
		                type: 'post',
		                cache: false,
		                contentType: false,
		                processData: false,
	                success: function(data) {
	                	articulosIngresados=[];
	                    toastr.success(data);
						tabla.ajax.reload();
						$('#nuevoProyecto').modal('hide');
	                	},
	                error: function(jqXHR,textStatus,errorThrown ){
						var response=JSON.parse(jqXHR.responseText)
						toastr.error(response.throwCause);
						}
	            	});
	            }
			});
		    
			//---------------------------------INICIALIZACIÓN DE CONTROLES--------------------------

			$("#btn-agregar-articulo").click(function(){

				var validacion='';
				var incisos=[];

				$("#incisos > tbody > tr").each(function(i,row){
					var textarea=$(row).find("textarea");
					var	orden=$(row).find("td:first").text();
					var texto=$(textarea).val();

					if(texto.length==0)
						validacion+='<li>El inciso '+ orden +' no posee texto</li>';

					if (validacion.length==0){
						inciso={
							orden: orden,
							texto: texto
						}
						incisos.push(inciso);
					}
					else{
						if (incisos.length>0)
							incisos=[];
					}
				});

				if($("#articulo").val().length==0){
					validacion='<li>El artículo no posee texto</li>'+validacion;

				}

				if (validacion.length>0) 
				{
					Validacion=((validacion.length>0)?'<strong>Validacion de Datos</strong><br><ul>'+
								validacion+'</ul>':'');
					toastr.error(validacion);
					return false;
				}
				else{
					var texto=$("#articulo").val();

					var articuloActual={
						texto: texto,
						incisos:incisos
					}

					articuloActual=agregarArticulo(articuloActual);
					articulosIngresados.push(articuloActual);
					$('#nuevoArticulo').modal('hide');
				}
			});

			$('#estadoFiltro').bootstrapToggle({
		      on:  'Activo',
		      off: 'Inactivo',
		      offstyle: 'primary',
		      onstyle: 'success',
		      width: "80px",
		      height: "35px"
		    });

			$(".busqueda").addClass('hidden');
			$("#selBusqueda").val("todo");
			$('#estadoFiltro').bootstrapToggle('disable');

			$("#selBusqueda").change(function(){

				var control=$(this).val();
				$(".busqueda").addClass('hidden');
				if(control!="todo")
					$("#"+control).removeClass('hidden');
				else{
					$("#busqueda-1").val("");
					$("#busqueda-2").val("0");
					$("#busqueda-3").val("");
					$("#busqueda-4").val("0");
					$("#busqueda-5").val("---");
				}
			});

			$("#btn-busqueda").click(function(){
				if($("#selBusqueda").val()!="todo" && criterio()!="" && criterio()!="0")
				{
					tabla.ajax.url("api/proyecto/getByCriteria/"+tipoCriterio()+"/"+criterio()).load();
					$(".filtro").prop('disabled',true);
					$('#estadoFiltro').bootstrapToggle('enable');
					$("#estadoFiltro").bootstrapToggle('on');
				}
			});

			$('#estadoFiltro').change(function() {
				if(!$(this).is(':checked')){
					$(".filtro").prop('disabled',false);
					$("#selBusqueda").val("todo").change();
					$(".filtro").prop('disabled',false);
					tabla.ajax.url("api/proyecto/getByCriteria/"+tipoCriterio()+"/"+criterio()).load();
					$(this).bootstrapToggle('disable');
					
				}
			});

			$(".text-area").wysihtml5({
				toolbar: {
				    "image": false,
					"size": "xs",
				},
			});

			$("#selAutores").select2({
				ajax: {
			    url: '{{ app.request.getBaseURL() }}'+"/api/autor/getByCriteria",
			    dataType: 'json',
			    delay: 250,
			    cache: false,
			    data: function (params) {
			      return {
			        q: params.term, // search term
			        page: params.page
			      };
			    },
			    processResults: function (data) {
			       var dato=data;
		           return {
				        results: $.map(dato, function(item) {
				            return { id: item.id, text: item.nombre_completo };
				        })
				    };
		        },
			  },
			  language: "es",
			  minimumInputLength: 3,
			  theme: "bootstrap",
			});
	});
	</script>
	<section class="content-header">
		<div class="row pull-right">
			<ol class="breadcrumb">
		        <li><a href="#"><i class="fa fa-dashboard"></i> Principal</a></li>
		        <li class="active">Proyectos</li>
		    </ol>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-2">
				<h2>
			        Proyectos
			    </h2>
			</div>
			<div class="col-md-6 col-md-offset-4">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<label class="navbar-brand">Filtro</label>
						</div>
						<div class="collapse navbar-collapse">
							<div class>
								<form class="navbar-form navbar-left">
									<div class="form-group">
										<div class="form-group text-center">
											<input type="checkbox" id="estadoFiltro" data-size="normal">
							        	</div> 
										<button type="button" class="btn btn-primary filtro" id="btn-busqueda">Aplicar</button>

										<select class="form-control filtro" id="selBusqueda">
											<option value="todo">Todo</option>
											<option value="busqueda-1">Autor</option>
											<option value="busqueda-2">Estado Expediente</option>
											<option value="busqueda-3">Número Expediente</option>
											<option value="busqueda-4">Tipo de Proyecto</option>
											<option value="busqueda-5">Sin Expediente</option>
										</select>
										<input class="form-control busqueda hidden filtro" id="busqueda-1">
										<select class="form-control busqueda hidden filtro" id="busqueda-2">
											<option value="0">Seleccione Estado</option>
											{% for estado in estados %}
								                <option value="{{ estado.id }}">{{ estado.estadoExpediente }}
								            {% endfor %}
										</select>
										<input class="form-control busqueda hidden filtro" id="busqueda-3">
										<select class="form-control busqueda hidden filtro" id="busqueda-4">
											<option value="0">Seleccione Tipo</option>
											{% for tipo in tipos %}
								                <option value="{{ tipo.id }}">{{ tipo.tipoProyecto }}</option>
								            {% endfor %}
										</select>
										<input class="form-control busqueda hidden filtro" id="busqueda-5" readonly value="---">
									<div>
								</form>
							</div>
						</div>
					</div>
				</nav>
				
			</div>
	    </div>
	   
	</section>
	<section class="content">
	  	<div class="row">
	    	<div class="col-xs-12">
              	<table id="registroExpediente" class="table table table-striped">
	                <thead>
	                	<tr>
	                		<th>id</th>
	                		<th class="text-center">
	                			<button type="button" title="Agregar Proyecto"class="btn btn-primary btn-xs pull-left"
						    			data-toggle="modal" data-target="#nuevoProyecto">
						    			<span class="glyphicon glyphicon-plus"></span>
						    	</button>
						    </th>
						    <th>Expediente</th>
						    <th>Tipo</th>
			                <th>Asunto</th>
			                <th>F. Creacion</th>
			                <th>F. Entrada</th>
			                <th>Estado Exp.</th>
			                <th>Autores</th>
	                	</tr>
	                </thead>
	                <tbody>
	                </tbody>
               	</table>    
	        </div> {# col #}
	    </div> {# row #}

		<div id="nuevoProyecto" class="modal fade custom-modal" role="dialog" data-backdrop="static" 
   data-keyboard="false" >
		 	<div class="modal-dialog modal-xl">
			    <!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666	;color:#FFF">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title">Nuevo Proyecto</h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
				       {#  <form id="alta" action="api/proyecto/create" method="POST"> #}
						    <div class="row">
						    	<div class="col-md-2">
						    		<div class="form-group">
						        		<label for="selTipoProyecto">Tipo</label>
						        		<select class="form-control" id="selTipoProyecto" 
						        				name="selTipoProyecto">
						        			<option value="0">Seleccione Tipo</option>
						        			{% for tipo in tipos %}
								                <option value="{{ tipo.id }}">{{ tipo.tipoProyecto }}</option>
								            {% endfor %}
						        		</select>
						        	</div>
						    		<nav>
									    <ul class="nav">
										    <li><a href="#" id="link-tab-1" onclick = "habilitar('tab-1')" >Autores/Asunto</a></li>
										    <li><a href="#" id="link-tab-2" onclick = "habilitar('tab-2')">Vistos</a></li>
											<li><a href="#" onclick = "habilitar('tab-3')">Considerando</a></li>
											<li><a href="#" onclick = "habilitar('tab-4')">Artículos</a></li>
										</ul>
									</nav>
						    	</div>
						    	<div class="col-md-10">
								    <div class="row tab" id="tab-1">
								    	<div class="col-md-12">
								    		<div class="form-group">
									        	<label for="selAutores">Autores:</label>
									        	<select class="form-control" multiple="multiple" data-width="100%" id="selAutores" name="selAutores"></select>
									        </div>
							        		<div class="form-group">
								        		<label for="asunto">Asunto:</label>
								        		<textarea class="form-control text-area text-area-media" 
								        		id="asunto" name="asunto" placeholder="Descripción Expediente"></textarea>
								        	</div> 
								        </div> 
						        	</div>
						        	<div class="row tab hidden" id="tab-2">
							        	<div class="col-md-12">
							        		<div class="form-group">
								        		<label for="visto">Visto:</label>
									        	<textarea class="form-control text-area text-area-larga" 
									        	id="visto" name="visto" placeholder="Visto"></textarea>
									        </div>
									    </div>
							        </div>
							        <div class="row tab hidden" id="tab-3">
							        	<div class="col-md-12">
							        		<div class="form-group">
								        		<label for="considerando">Considerando:</label>
									        	<textarea class="form-control text-area text-area-larga" 
									        	id="considerando" name="considerando" placeholder="Consideranto"></textarea>
									        </div>
									    </div>
							        </div>
							        <div class="row tab hidden" id="tab-4">
						        		<div class="col-md-12">
						        			<div class="row">
								        		<div class="col-md-12">	
										        	<label>Artículos:</label>
										        	<div class="form-inline pull-right">
										        		<label for="quienSanciona">Sanciona a Nombre de:</label>
										        		<select class="form-control input-sm" id="quienSanciona" name="quienSanciona">
										        			<option value="1">Consejo</option>
										        			<option value="2">Presidente</option>
										        		</select>
										        		<button type="button" data-toggle='modal' data-target='#nuevoArticulo'class="btn btn-primary btn-sm">Nuevo Artículo</button>
										        	</div>
										        </div>
										    </div>
								        	<div class="row" style="padding-top:5px">
								        		<div class="col-md-12">
										        	<div class="div-articulos" id="div-articulos">
										        		<table class="table table-striped" id="articulos">
										        			<tbody>
											        		</tbody> 
										        		</table> 	
											        </div>
											    </div>
											</div>
									    </div>
							        </div>
						        </div>
						    </div>
					        <hr>
					        <div class="row">
					        	<div class="col-md-12">
					        		<div class="text-center">
						    			<div class="btn-group">
								        	<button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
							       			 <button type="submit" class="btn btn-primary" id="btn-guardar-proyecto">Guardar</button>
								        </div>
							        </div>
							    </div>
				    		</div>
				        {# </form> #}
				     </div>
			    </div>
		  	</div>
		</div>

		<div id="nuevoArticulo" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
		 	<div class="modal-dialog modal-xl">
			    <!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666	;color:#FFF">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title">Nuevo Artículo</h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
			        	<input type="hidden" id="id" name="id">
			        	<div class="row">
			        		<div class="col-md-12">
			        			<div class="form-group">
					        		<label for="asunto">Articulo:</label>
					        		<textarea class="form-control text-area text-area-corta" 
					        		id="articulo" name="articulo" placeholder="articulo"></textarea>
					        	</div>
					        </div>
					    </div>
					    <div class="row">
			        		<div class="col-md-12">
			        			<div class="row">
			        				<div class="col-md-12">
								        <label>Incisos:</label>
								        <button type="button" onClick="agregarInciso();" class="btn btn-primary btn-sm pull-right">Agregar Inciso</button>
								    </div>
								</div>
								<div class="row" style="padding-top:5px">
									<div class="col-md-12">
								        <div class="div-incisos" id="div-incisos">
							        		<table class="table table-striped" id="incisos">
							        			<tbody>
								        		</tbody> 
							        		</table> 	
								        </div>
								    </div>
								<div>		
					        </div> 
					    </div>
				        <hr>
				        <div class="row">
				        	<div class="col-md-12">
				        		<div class="text-center">
					    			<div class="btn-group">
							        	<button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
			       			 			<button type="submit" class="btn btn-primary" id="btn-agregar-articulo">Agregar</button>
							        </div>
						        </div>
						    </div>
			    		</div>
				     </div>
			    </div>
		  	</div>
		</div

	</section>
{% endblock %}