{% extends 'layout.html.twig' %}

{% block stylesheets %}
	{# parent() #}
  	{% stylesheets '@css_datatables' %}
      	<link rel="stylesheet" href="{{ asset_url }}" /></link>
  	{% endstylesheets %}
{% endblock %}

{% block javascripts %}
	{# parent() #}
    {% javascripts '@js_datatables'%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}

	<style type="text/css">
		@media (min-width: 768px) {
		  .modal-xl {
		    width: 90%;
		    max-width:1600px;
		  }
		}

		.custom-modal{
			height: 2000%!important;
		}
		
		.bootstrap-primary-background{
			background: #3c8dbc!important;
		}  

		.select2-selection--multiple { max-height: 10rem; overflow-y: auto }

		.file-preview {
			max-height: 470px;
			height: 470px;
			/*calc(100vh - 350px);*/
			background-color: #fff;
			display: inline-block;
			overflow-y: scroll;
		}
		
		.disabled-select {
		   background-color:#FFF;
		   opacity:0.2;
		   border-radius:3px;
		   cursor:not-allowed;
		   position:absolute;
		   top:0;
		   bottom:0;
		   right:0;
		   left:0;
		}

		.div-articulos{
			/* height: 470px; */
			max-height: 375px;
			overflow-y:auto;
			overflow-x: hidden; 
		}
		.div-incisos{
			height: 250px;
			max-height: 260px;
			overflow-y:scroll;
			overflow-x: hidden; 
		}
		#nuevoArticulo{
			z-index: 10000;
		}
		.numero-fila{
			font-size: 150%;
			font-weight: bold;
			vertical-align: middle!important;
		}
		.herramienta-fila{
			vertical-align: middle!important;
		}
		.text-area-mini{
			height: 80px!important;
		}
		}
		.text-area-corta{
			height: 200px!important;
		}
		.text-area-media{
			height: 366px!important;
		}
		.text-area-larga{
			height: 450px!important;
		}
		
		.tab{
			height: 495px;
		}
		.toggle-on.btn{
			line-height: 22.5px!important;
		}
		.toggle-off.btn{
			line-height: 22.5px!important;
		}
		#selConcejales .select2.select2-container.select2-container--bootstrap.select2-container--below.select2-container--focus, .select2-selection.select2-selection--multiple{
			height: 70px;
		    max-height: 70px;
		    overflow-y: auto;
		}
		#selBloques .select2.select2-container.select2-container--bootstrap.select2-container--below.select2-container--focus, .select2-selection.select2-selection--multiple{
			height: 70px;
		    max-height: 70px;
		    overflow-y: auto;
		}
		
		.nav-selected{
			font-style: italic;
			font-weight: bold;
			color: #337ab7;
			/* background: #337ab7!important; */
		}
		
	</style>
	<script type="text/javascript">

    	wysihtml5.dom.getPastedHtml = function(event) {
    		var html;
    		if (event.clipboardData) {
    			html = event.clipboardData.getData('text/plain');
    			html = html.replace(/\r?\n/g, '<br/>');
                html = html.replace(/\t/g, '');
    	  	}
    	  	return html;
    	};

		Array.prototype.reemplazar  = function(objeto, clave){
			   var array = $.map(this, function(v,i){
			      	return v[clave] == objeto[clave] ? objeto : v;
			   });
			   this.length = 0;
			   this.push.apply(this, array);
		};

		Array.prototype.renumerar  = function(clave,numeracion){
			   var semilla=(numeracion=='digito')?0:64;
			   var array = $.map(this, function(v,i){
			   		v[clave]=((numeracion=='digito')?(semilla+1):String.fromCharCode(semilla+1));
			   		semilla++;
			      	return v;
			   });
			   this.length = 0;
			   this.push.apply(this, array);
		};

		Array.prototype.eliminar  = function(clave,valor){
			    var array = $.map(this, function(v,i){
			      	return v[clave] == valor ? null : v;
			   });
			   this.length = 0;
			   this.push.apply(this, array);
		};

		/*function noImplementado(){
			toastr.warning("NO IMPLEMENTADO");
		}*/

		function criterio(){
			var tipo=$("#selBusqueda").val();
			return ((tipo=="todo")?"0":$("#"+tipo).val());	
		}
		
		function tipoCriterio(){
			return $("#selBusqueda").val();
		}

		function habilitar(nombre){
			$(".tab").addClass("hidden");
			$("#"+nombre).removeClass("hidden");
			$(".nav-legend").removeClass("nav-selected");
			$("#link-"+nombre).find("h4").addClass("nav-selected");
		}	

		function agregarArticulo(articulo,modalTabla){
			var numero=((articulo.hasOwnProperty('numero'))?articulo.numero:$("#"+modalTabla+" > tbody > tr").length+1);
			var cuerpoArticulo='<div class="well well-sm">' +
							   '<div class="btn-group pull-right">'+
							   '<button type="button" class="btn btn-sm btn-primary btn-editar-articulo" title="Editar artículo" data-toggle="modal" data-target="#editarArticulo">'+
							   		'Editar</button>'+
							   '<button type="button" class="btn btn-sm btn-warning" title="Cambiar orden" onClick="noImplementado();">'+
							   		'Mover</button>'+
							   '<button type="button" class="btn btn-sm btn-danger btn-eliminar-articulo" title="Eliminar artículo">'+
							   		'Eliminar</button></div>'+
							   '<div>'+articulo.texto+'<br><ul class="list-unstyled">';
			$.each(articulo.incisos,function(index,inciso){
				texto=inciso.texto.replace(/<p>/g,'').replace(/<\/p>/g,'<br>');
				cuerpoArticulo+='<li style="padding-left:30px">'+inciso.orden+') - '+texto+'</li>';
			});
		
			cuerpoArticulo+='</ul></div>';

			var nuevoArticulo='<tr>'+
	        			 	  '<td class="numero-fila">'+numero+'</td>' +
	        			 	  '<td>'+cuerpoArticulo+'</td>'+
	        			 	  '</tr>';

	        $("#"+modalTabla+" > tbody").append(nuevoArticulo);
	        $("#div-articulos").animate({ scrollTop: $("#div-articulos")[0].scrollHeight}, 1000);
	        articulo.numero=numero;
	        return articulo;
	        
		}

		function actualizarArticulo(articulo,modalTabla){

			numero=articulo.numero;
			var cuerpoArticulo='<div class="well well-sm">' +
							   '<div class="btn-group pull-right">'+
							   '<button type="button" class="btn btn-sm btn-primary btn-editar-articulo" title="Editar artículo" data-toggle="modal" data-target="#editarArticulo">'+
							   		'Editar</button>'+
							   '<button type="button" class="btn btn-sm btn-warning" title="Cambiar orden" onClick="noImplementado();">'+
							   		'Mover</button>'+
							   '<button type="button" class="btn btn-sm btn-danger btn-eliminar-articulo" title="Eliminar artículo">'+
							   		'Eliminar</button></div>'+
							   '<div>'+articulo.texto+'<br><ul class="list-unstyled">';
			$.each(articulo.incisos,function(index,inciso){
				texto=inciso.texto.replace(/<p>/g,'').replace(/<\/p>/g,'<br>');
				cuerpoArticulo+='<li style="padding-left:30px">'+inciso.orden+') - '+texto+'</li>';
			});

			cuerpoArticulo+='</ul></div>';

			var nuevoContenido='<td class="numero-fila">'+numero+'</td>'+
	        			 	   '<td>'+cuerpoArticulo+'</td>';

			$("#"+modalTabla+" > tbody > tr").each(function(){

				if($(this).find('td:first').html()==numero)
					$(this).html(nuevoContenido);
			});

		}

		function agregarInciso(modalTabla){
			var control=((modalTabla=='incisos')?'inciso':'incisoMod');
			var letra=String.fromCharCode($("#"+modalTabla).find('tr').length+65);
			var inciso='<tr>'+
	        		   '<td class="numero-fila">'+letra.toLowerCase()+') -</td>' +
	        		   '<td><textarea class="form-control text-area text-area-mini" id="'+control+'-'+letra+'" '+
	        		   'name="inciso" placeholder="Inciso"></textarea></td>'+
	        		   '<td class="herramienta-fila"><div class="text-center">'+
	        		   '<button type="button" class="btn btn-sm btn-info" onClick="noImplementado();"><span class="glyphicon glyphicon-tasks"></button>'+
	        		   '</div><div class="row text-center"><button type="button" class="btn btn-sm btn-danger btn-eliminar-inciso">'+
	        		   '<span class="glyphicon glyphicon-remove"></button></div></td>'+
	        		   '</tr>';

	        $("#"+modalTabla+" > tbody").append(inciso);
	        $("#"+control+"-"+letra).wysihtml5({
				toolbar: {
				    "image": false,
					"size": "xs",
				},
			});
			$("#div-incisos").animate({ scrollTop: $("#div-incisos")[0].scrollHeight}, 1000);
		}

		function traerArticuloPorNumero(numero,articulosIngresados){
			var articuloBuscado;
			$.each(articulosIngresados,function(index,articulo){
				if(articulo.numero==numero) articuloBuscado=articulo;
			});
			return articuloBuscado;
		}

		function cargarInciso(nuevoInciso,modalTabla){
			var control=((modalTabla=='incisos')?'inciso':'incisoMod');
			var orden=nuevoInciso.orden;
			var inciso='<tr>'+
	        		   '<td class="numero-fila">'+orden+') -</td>' +
	        		   '<td><textarea class="form-control text-area text-area-mini" id="'+control+'-'+orden+'" '+
	        		   'name="inciso" placeholder="Inciso"></textarea></td>'+
	        		   '<td class="herramienta-fila"><div class="row text-center">'+
	        		   '<button type="button" class="btn btn-sm btn-info" onClick="noImplementado();"><span class="glyphicon glyphicon-tasks"></button>'+
	        		   '</div><div class="row text-center"><button type="button" class="btn btn-sm btn-danger btn-eliminar-inciso">'+
	        		   '<span class="glyphicon glyphicon-remove"></button></div></td>'+
	        		   '</tr>';

	        $("#"+modalTabla+" > tbody").append(inciso);
	        $("#"+control+"-"+orden).wysihtml5({
				toolbar: {
				    "image": false,
					"size": "xs",
				},
			});
			$("#"+control+"-"+orden).data("wysihtml5").editor.setValue(nuevoInciso.texto);
		}

		function modalNuevoArticulo(origen){
			$("#nuevoArticulo").find('input[name="modo"]').val(origen);
			$("#nuevoArticulo").modal('show');
		}

		function modalEdicionArticulo(origen){
			$("#editarArticulo").find('input[name="modo"]').val(origen);
			$("#editarArticulo").modal('show');
		}


		$(document).ready(function () {

			var articulosIngresados=[];
			
		    var tabla=$('#registroProyectos').DataTable({
		    			  "language": {
				              "infoEmpty": "Sin registros para mostrar",
				              "paginate": {
						          	"last": "Ultima Página",
						          	"first": "Primer página",
						          	"next": "Siguiente",
						          	"previous": "Anterior"
						       },
						       "search":"Búsqueda rápida",
						       "emptyTable": "Sin Datos",
						       "lengthMenu": 'Registros Listados <select class="form-control input-sm">'+
								             '<option value="10">10</option>'+
								             '<option value="20">20</option>'+
								             '<option value="30">30</option>'+
								             '<option value="40">40</option>'+
								             '<option value="50">50</option>'+
								             '<option value="-1">Todos</option>'+
								             '</select>',
								"loadingRecords": "Espere...cargando datos",
								"processing": "Procesando...",
								"sInfo": "Mostrando  _START_ a _END_ de _TOTAL_ registros",

			          	  },
					      "processing": false,
					      "ajax": {
							        "url": "api/proyecto/getByCriteria/"+tipoCriterio()+"/"+criterio(),
			            			"dataSrc": '',
							    },
						  "columnDefs": [
								            {
								                "targets": [ 0 ],
								                // "visible": false,
								                "searchable": false,
								                "orderable":false
								            },
								            {
									            "targets": [ 1 ],
									            "data": null,
									            "orderable":false,
									            "render": function(data, type, row){
									            	
									            	var html="";
													debugger;
									            	if("{{app.user.rol.rol}}"=="ROLE_ADMINISTRADOR" || 
											            (row.numero_expediente=="---" && '{{ 'EXP_FEC_ING_EDIT' in  app.user.listaPermisos }}'))
									            		html="<button type='button'title='Editar Proyecto' class='btn btn-primary btn-xs btn-editar-proyecto' data-toggle='modal' data-target='#editarProyecto'><span class='glyphicon glyphicon-pencil'></span></button>";
									            	else
									            		html="<button type='button'title='Editar Proyecto' class='btn btn-danger btn-xs' disabled><span class='glyphicon glyphicon-lock'></span></button>";
									            	
									            	if ('{{ 'PROJ_DOWNLOAD' in app.user.listaPermisos }}')
									             		html+="<button type='button' title='Descargar Documento' class='btn btn-info btn-xs btn-descargar'><span class='glyphicon glyphicon-save-file'></span></button>";
									            	return html;
									            }
									        }
									       
						  ],
					      "columns": [
					      		{ "data": "id" },
					      		{ "data": "null","width":"10%"},
					      		{ "data": "numero_expediente","width":"5%"},
					      		{ "data": "tipo_proyecto","width":"5%"},
					            { "data": "fecha_creacion_formateada", "width": "15%" },
					            { "data": "fecha_entrada_formateada", "width": "15%" },
					            { "data": "concejal","width":"20%" },
					            { "data": "claves","className": "for-mobile","width":"30%" },
					        ],
					      "autoWidth":false,
					      "paging": true,
					      "lengthChange": true,
					      "searching": true,
					      "ordering": true,
					      "info": true,
					      "autoWidth": false,
				});

		    //-----------------------------------DESCARGA DEL DOCUMENTO----------------------------------------
			
			$("#registroProyectos > tbody").on('click','.btn-descargar',function(){
				var data = tabla.row( $(this).parents('tr') ).data();
				window.location.href='{{ app.request.getBaseURL() }}'+
		        					 '/imprimir?tipoDocumento=proyecto&id='+
		        					  data[ "id" ];
			});

			//------------------------------------EDITAR ARTICULO----------------------------------------------

			//MODAL DE ALTA
			$("#articulos > tbody").on('click','.btn-editar-articulo',function(){
				var numero=$(this).parents("tr").find('td:first').text();
				 $("#editarArticulo").find('input[name="id"]').val(numero);
				 $("#editarArticulo").find('input[name="modo"]').val('articulos');
				 $("#articulo").data("wysihtml5").editor.setValue('');

			});

			$("#editarArticulo").on('show.bs.modal', function () {
				var numeroArticulo= $("#editarArticulo").find('input[name="id"]').val();
				var articulo=traerArticuloPorNumero(numeroArticulo,articulosIngresados);
				$("#articulo").data("wysihtml5").editor.setValue(articulo.texto);
				$("#incisos > tbody").html('');

				$.each(articulo.incisos,function(index,inciso){
					cargarInciso(inciso,'incisos');
				});
			});

			//MODAL DE EDICION
			$("#articulosMod > tbody").on('click','.btn-editar-articulo',function(){
				var numero=$(this).parents("tr").find('td:first').text();
				 $("#editarArticulo").find('input[name="id"]').val(numero);
				  $("#editarArticulo").find('input[name="modo"]').val('articulosMod');
				 $("#articuloMod").data("wysihtml5").editor.setValue('');

			});

			$("#editarArticulo").on('show.bs.modal', function () {
				var numeroArticulo= $("#editarArticulo").find('input[name="id"]').val();
				var articulo=traerArticuloPorNumero(numeroArticulo,articulosIngresados);
				$("#articuloMod").data("wysihtml5").editor.setValue(articulo.texto);
				$("#incisosMod > tbody").html('');

				$.each(articulo.incisos,function(index,inciso){
					cargarInciso(inciso,'incisosMod');
				});
			});

			//-------------------------------------ELIMINAR ARTICULO-------------------------------------------
		    
		    //MODAL DE ALTA
			$("#articulos > tbody").on('click','.btn-eliminar-articulo',function(){
				var numero=$(this).parents("tr").find('td:first').text();
				articulosIngresados.eliminar('numero',numero);
				articulosIngresados.renumerar('numero','digito');
				$("#articulos > tbody").html('');
				$.each(articulosIngresados,function(i,articulo){
					agregarArticulo(articulo,'articulos');
				});
			});

			//MODAL DE EDICION
		    $("#articulosMod > tbody").on('click','.btn-eliminar-articulo',function(){
				var numero=$(this).parents("tr").find('td:first').text();
				articulosIngresados.eliminar('numero',numero);
				articulosIngresados.renumerar('numero','digito');
				$("#articulosMod > tbody").html('');
				$.each(articulosIngresados,function(i,articulo){
					agregarArticulo(articulo,'articulosMod');
				});
				
			});

			//-------------------------------------ELIMINAR INCISO-------------------------------------------

			 //MODAL DE ALTA
			$("#incisos > tbody").on('click','.btn-eliminar-inciso',function(){
				var orden=$(this).parents("tr").remove();
				orden=64;
				$("#incisos > tbody > tr").each(function(){
					orden++;
					$(this).find("td:first").text(String.fromCharCode(orden).toLowerCase() + ") -");
				})
			});

			//MODAL DE EDICION
		    $("#incisosMod > tbody").on('click','.btn-eliminar-inciso',function(){
				var orden=$(this).parents("tr").remove();
				orden=64;
				$("#incisosMod > tbody > tr").each(function(){
					orden++;
					$(this).find("td:first").text(String.fromCharCode(orden).toLowerCase() + ") -");
				})
				
			});

			//------------------------------------EDICION DEL PROYECTO---------------------------------------
			
			$('#registroProyectos > tbody').on( 'click', '.btn-editar-proyecto', function () {
		        var data = tabla.row( $(this).parents('tr') ).data();
		        $("#editarProyecto").find('input[name="id"]').val(data[ "id" ]);
		    } );

		    //EVENTO ABRIR MODAL MODIFICAR PROYECTO
			$('#editarProyecto').on('show.bs.modal', function () {

				$("#selConcejalMod").empty().change();
				$("#vistoMod").data("wysihtml5").editor.setValue('');
				$("#considerandoMod").data("wysihtml5").editor.setValue('');
				$("#articulosMod > tbody").html('');
				articulosIngresados=[];

		    	var id= $("#editarProyecto").find('input[name="id"]').val();		

		    	//Obtención de los datos del expediente a modificar ------------------------

		    	$.ajax({
					type:'Get',
					dataType: 'json	',
					url:'{{ app.request.getBaseURL() }}'+'/api/proyecto/getOne/'+id,
					success: function(data){

						$("#selTipoProyectoMod").val(data.id_tipo_proyecto);
						$("#clavesMod").val(data.claves);
						$("#vistoMod").data("wysihtml5").editor.setValue(data.visto);
						$("#considerandoMod").data("wysihtml5").editor.setValue(data.considerandos);
						
					 	var newOption = new Option(data.concejal_nombre_completo, data.concejal_id, true, true);
						$("#selConcejalMod").append(newOption).trigger('change');

					    $.each(data.articulos,function(index,articulo){
							agregarArticulo(articulo,'articulosMod');
						});

					    articulosIngresados=data.articulos;
						habilitar('tab-1-mod');
					    
					},
					error: function(jqXHR,textStatus,errorThrown ){
						//var response=JSON.parse(jqXHR.responseText)
						toastr.error(jqXHR.responseText);
					}
		      	});
			});

			//EVENTO CERRAR MODAL EDICION PROYECTO
			$('#editarProyecto').on('hidden.bs.modal', function () {
				$("#btn-guardar-modificacion").prop("disabled",false);
			});

			//GUARDAR MODIFICACION
			$("#btn-guardar-modificacion").click(function(e){

				$(this).prop("disabled",true);
				var idProyecto=$("#editarProyecto").find('input[name="id"]').val();
				var validacion='';
				var formData=new FormData();
				var idtipoProyecto=$("#selTipoProyectoMod").val();
				var claves=$("#clavesMod").val();
				var idConcejal=$("#selConcejalMod").val();
				var visto=$("#vistoMod").val();
				var considerando=$("#considerandoMod").val();

				/* descomentar si se acuerda notificacion */
				/*
				var notificar=$('#notificarProyecto').is(':checked');
				*/

				validacion+=((idtipoProyecto==0)?'<li>Debe seleccionar un tipo de proyecto</li>':'');
				validacion+=((idConcejal=="")
								?'<li>Debe especificar un concejal</li>':'');
				validacion+=((visto.length==0)?'<li>Debe especificar los vistos</li>':'');
				validacion+=((considerando.length==0)?'<li>Debe especificar las consideraciones</li>':'');
				validacion+=((claves.replace(/ /g,'').length==0)
						 		?'<li>Debe especificar al menos una palabra clave</li>':'');	
		 		
				formData.append("idProyecto",idProyecto);
				formData.append("idtipoProyecto",idtipoProyecto);
				formData.append("idConcejal",idConcejal);
				formData.append("claves",claves);
				formData.append("visto",visto);
				formData.append("considerando",considerando);
				formData.append("articulos",JSON.stringify(articulosIngresados));

				/* descomentar si se acuerda notificacion */
				/*
				formData.append("notificar",notificar);
				*/

	            if (validacion.length>0) 
				{
					validacion=((validacion.length>0)?'<strong>Validacion de Datos</strong><br><ul>'+
								validacion+'</ul>':'');
					$(this).prop("disabled",false);
					toastr.error(validacion);
					return false;
				}
				else{

	            	$.ajax({
		                async: true,
		                url: '{{ app.request.getBaseURL() }}'+'/api/proyecto/update',
		                data: formData,
		                type: 'Post',
		                cache: false,
		                contentType: false,
		                processData: false,
	                success: function(data) {
	                    toastr.success(data);
						tabla.ajax.reload();
						$('#editarProyecto').modal('hide');
	                	},
	                complete: function(){
	                	$(this).prop("disabled",false);
	                	},
	                error: function(jqXHR,textStatus,errorThrown ){
						//var response=JSON.parse(jqXHR.responseText)
						toastr.error(jqXHR.responseText);
						}
	            	});
	            }
			});

			//---------------------------------NUEVO PROYECTO---------------------------------------
			
			//EVENTO ABRIR MODAL NUEVO ARTICULO
		    $('#nuevoArticulo').on('show.bs.modal', function () {
				$("#incisos > tbody").html('');
				$("#articulo").data("wysihtml5").editor.setValue('');
		    	
			});

			//EVENTO ABRIR MODAL NUEVO PROYECTO
		    $('#nuevoProyecto').on('show.bs.modal', function () {
			    var rol='{{ app.user.rol.rol }}';
			    var idPerfil='{{ app.user.perfil.id }}';
			    var nombreCompletoPerfil='{{ app.user.perfil.nombreCompleto }}';

		  		$("#selTipoProyecto").val(0);
		    	$("#selConcejal").empty().change();
				$("#visto").data("wysihtml5").editor.setValue('');
				$("#considerando").data("wysihtml5").editor.setValue('');
				$("#claves").val('');
				$("#articulos > tbody").html('');
				$('#btn-guardar-proyecto').prop("disabled",false);
				articulosIngresados=[];
				habilitar('tab-1');

				if (rol=="ROLE_LEGISLADOR"){
					var newOption = new Option(nombreCompletoPerfil, idPerfil, true, true);
					$("#selConcejal").append(newOption).trigger('change');
					$("#selConcejal").prop("disabled", true);
					$(".select2-selection__choice").addClass("bootstrap-primary-background")
				}
				else{
					$("#selConcejal").prop("disabled", false);
					$(".select2-selection__choice").removeClass("bootstrap-primary-background")
					}

				/* descomentar si se acuerda notificacion */
				/*
				$("#notificarProyecto").bootstrapToggle('on');
				*/
			});
			
			//EVENTO CERRAR MODAL NUEVO PROYECTO
			$('#nuevoProyecto').on('hidden.bs.modal', function () {
				$("#btn-guardar-proyecto").prop("disabled",false);
			});
			
			//GUARDAR ALTA PROYECTO
			$("#btn-guardar-proyecto").click(function(e){

				$(this).prop("disabled",true);
				var validacion='';
				var formData=new FormData();
				var idtipoProyecto=$("#selTipoProyecto").val();
				var idConcejal=$("#selConcejal").val();
				var claves=$("#claves").val();
				var visto=$("#visto").val();
				var considerando=$("#considerando").val();

				/* descomentar si se acuerda notificacion */
				/*
				var notificar=$('#notificarProyecto').is(':checked');
				*/

				validacion+=((idtipoProyecto==0)?'<li>Debe seleccionar un tipo de proyecto</li>':'');
				validacion+=((idConcejal=="")
							 ?'<li>Debe especificar un concejal</li>':'');
				validacion+=((claves.replace(/ /g,'').length==0)
							 ?'<li>Debe especificar al menos una palabra clave</li>':'');
				validacion+=((visto.length==0)?'<li>Debe especificar los vistos</li>':'');
				validacion+=((considerando.length==0)?'<li>Debe especificar las consideraciones</li>':'');

				formData.append("idtipoProyecto",idtipoProyecto);
				formData.append("idConcejal",idConcejal);
				formData.append("claves",claves);
				formData.append("visto",visto);
				formData.append("considerando",considerando);
				formData.append("articulos",JSON.stringify(articulosIngresados));

				/* descomentar si se acuerda notificacion */
				/*
				formData.append("notificar",notificar);
				*/

	            if (validacion.length>0) 
				{
					validacion=((validacion.length>0)?'<strong>Validacion de Datos</strong><br><ul>'+
								validacion+'</ul>':'');
					$('#btn-guardar-proyecto').prop("disabled",false);
					toastr.error(validacion);
					return false;
				}
				else{

	            	$.ajax({
		                async: true,
		                url: '{{ app.request.getBaseURL() }}'+'/api/proyecto/create',
		                data: formData,
		                type: 'post',
		                cache: false,
		                contentType: false,
		                processData: false,
	                success: function(data) {
	                    toastr.success(data);
						tabla.ajax.reload();
						$('#nuevoProyecto').modal('hide');
	                	},
	                complete: function(){
	                	$('#btn-guardar-proyecto').prop("disabled",false);
	                	},
	                error: function(jqXHR,textStatus,errorThrown ){
						//var response=JSON.parse(jqXHR.responseText)
						toastr.error(jqXHR.responseText);
						}
	            	});
	            }
			});
		    
			//---------------------------------INICIALIZACIÓN DE CONTROLES--------------------------

			$("#btn-modificar-articulo").click(function(){

				var validacion='';
				var incisos=[];
				var tablaArticulos=$("#editarArticulo").find('input[name="modo"]').val();
				var tablaInciso=((tablaArticulos=='articulos')?'incisos':'incisosMod');
				var controlArticulo=((tablaArticulos=='articulos')?'articulo':'articuloMod');

				$("#incisosMod").find('tr').each(function(i,row){
					var textarea=$(row).find("textarea");
					var	orden=$(row).find("td:first").text().replace(/ |\)|-/g,'');
					var texto=$(textarea).val();

					if(texto.length==0)
						validacion+='<li>El inciso '+ orden +' no posee texto</li>';

					if (validacion.length==0){
						inciso={
							orden: orden,
							texto: texto
						}
						incisos.push(inciso);
					}
					else{
						if (incisos.length>0)
							incisos=[];
					}
				});

				if($("#articuloMod").val().length==0){
					validacion='<li>El artículo no posee texto</li>'+validacion;

				}

				if (validacion.length>0) 
				{
					Validacion=((validacion.length>0)?'<strong>Validacion de Datos</strong><br><ul>'+
								validacion+'</ul>':'');
					toastr.error(validacion);
					return false;
				}
				else{
					var numero=$("#editarArticulo").find('input[name="id"]').val();
					var texto=$("#articuloMod").val();

					var articuloActual={
						numero: numero,
						texto: texto,
						incisos:incisos
					}
					actualizarArticulo(articuloActual,tablaArticulos);
					articulosIngresados.reemplazar(articuloActual,'numero');
					$('#editarArticulo').modal('hide');
				}

			});

			$("#btn-agregar-articulo").click(function(){

				var validacion='';
				var incisos=[];
				var tablaArticulos=$("#nuevoArticulo").find('input[name="modo"]').val();

				$("#incisos").find('tr').each(function(i,row){
					var textarea=$(row).find("textarea");
					var	orden=$(row).find("td:first").text().replace(/ |\)|-/g,'');
					var texto=$(textarea).val();

					if(texto.length==0)
						validacion+='<li>El inciso '+ orden +' no posee texto</li>';

					if (validacion.length==0){
						inciso={
							orden: orden,
							texto: texto
						}
						incisos.push(inciso);
					}
					else{
						if (incisos.length>0)
							incisos=[];
					}
				});

				if($("#articulo").val().length==0){
					validacion='<li>El artículo no posee texto</li>'+validacion;

				}

				if (validacion.length>0) 
				{
					Validacion=((validacion.length>0)?'<strong>Validacion de Datos</strong><br><ul>'+
								validacion+'</ul>':'');
					toastr.error(validacion);
					return false;
				}
				else{
					var texto=$("#articulo").val();

					var articuloActual={
						texto: texto,
						incisos:incisos
					}

					articuloActual=agregarArticulo(articuloActual,tablaArticulos);
					articulosIngresados.push(articuloActual);
					$('#nuevoArticulo').modal('hide');
				}
			});

			$('#estadoFiltro').bootstrapToggle({
		      on:  'Activo',
		      off: 'Inactivo',
		      offstyle: 'primary',
		      onstyle: 'success',
		      width: "80px",
		      height: "35px"
		    });

			$(".busqueda").addClass('hidden');
			$("#selBusqueda").val("todo");
			$('#estadoFiltro').bootstrapToggle('disable');

			$("#selBusqueda").change(function(){

				var control=$(this).val();
				$(".busqueda").addClass('hidden');
				if(control!="todo")
					$("#"+control).removeClass('hidden');
				else{
					$("#busqueda-1").val("");
					$("#busqueda-2").val("0");
					$("#busqueda-3").val("");
					$("#busqueda-4").val("0");
					$("#busqueda-5").val("---");
				}
			});

			$("#btn-busqueda").click(function(){
				if($("#selBusqueda").val()!="todo" && criterio()!="" && criterio()!="0")
				{
					tabla.ajax.url("api/proyecto/getByCriteria/"+tipoCriterio()+"/"+criterio()).load();
					$(".filtro").prop('disabled',true);
					$('#estadoFiltro').bootstrapToggle('enable');
					$("#estadoFiltro").bootstrapToggle('on');
				}
			});

			$('#estadoFiltro').change(function() {
				if(!$(this).is(':checked')){
					$(".filtro").prop('disabled',false);
					$("#selBusqueda").val("todo").change();
					$(".filtro").prop('disabled',false);
					tabla.ajax.url("api/proyecto/getByCriteria/"+tipoCriterio()+"/"+criterio()).load();
					$(this).bootstrapToggle('disable');
					
				}
			});

			/* Descomentar si se acuerda notificacion */
			/*
			$('#notificarProyecto').bootstrapToggle({
		      on:  'Activado',
		      off: 'Desactivado',
		      width: "100px"
		    });
			*/

			$(".text-area").wysihtml5({
				toolbar: {
				    "image": false,
					"size": "xs",
				},
			});

			/*
			$("#selConcejalesMod").select2({
				ajax: {
			    url: '{{ app.request.getBaseURL() }}'+"/api/legislador/nombre/getByCriteria",
			    dataType: 'json',
			    delay: 250,
			    cache: false,
			    data: function (params) {
			      return {
			        q: params.term, 
			        page: params.page
			      };
			    },
			    processResults: function (data) {
			       var dato=data;
		           return {
				        results: $.map(dato, function(item) {

				        	var bloqueSeleccionado=false;
				        	$.each($("#selBloquesMod").val(),function(index,idBloque){
				        		if (item.bloque.id==idBloque) bloqueSeleccionado=true;
				        	});
				        	if (!bloqueSeleccionado)
				            	return { id: item.id, text: item.descripcion };
				        })
				    };
		        },
			  },
			  language: "es",
			  minimumInputLength: 3,
			  theme: "bootstrap",
			});

			$("#selBloquesMod").select2({
				ajax: {
			    url: '{{ app.request.getBaseURL() }}'+"/api/bloques/getByCriteria",
			    dataType: 'json',
			    delay: 250,
			    cache: false,
			    data: function (params) {
			      return {
			        q: params.term, // search term
			        page: params.page
			      };
			    },
			    processResults: function (data) {
			       var dato=data;
		           return {
				        results: $.map(dato, function(item) {
				            return { id: item.id, text: item.bloque };
				        })
				    };
		        },
			  },
			  language: "es",
			  minimumInputLength: 3,
			  theme: "bootstrap",
			}).on('select2:select',function(evt){
				var seleccion="("+evt.params.data.text+")";
				var elementos=$("#selConcejalesMod")[0].children.length;
				for (var i = elementos-1; i > -1; i--) {
					if ($("#selConcejalesMod")[0].children[i].text.indexOf(seleccion)!=-1)
						$("#selConcejalesMod")[0].children[i].remove();
				}
			});
			*/
			
			$(".selConcejal").select2({
				ajax: {
			    url: '{{ app.request.getBaseURL() }}'+"/api/legislador/nombre/getByCriteria",
			    dataType: 'json',
			    delay: 250,
			    cache: false,
			    data: function (params) {
			      return {
			        q: params.term, // search term
			        page: params.page
			      };
			    },
			    processResults: function (data) {
			       var dato=data;
		           return {
				        results: $.map(dato, function(item) {
				            	return { id: item.id, text: item.nombre_completo };
				        })
				    };
		        },
			  },
			  language: "es",
			  minimumInputLength: 3,
			  theme: "bootstrap",
			});

			/*
			$("#selConcejales").select2({
				ajax: {
			    url: '{{ app.request.getBaseURL() }}'+"/api/legislador/nombre/getByCriteria",
			    dataType: 'json',
			    delay: 250,
			    cache: false,
			    data: function (params) {
			      return {
			        q: params.term, 
			        page: params.page
			      };
			    },
			    processResults: function (data) {
			       var dato=data;
		           return {
				        results: $.map(dato, function(item) {

				        	var bloqueSeleccionado=false;
				        	$.each($("#selBloques").val(),function(index,idBloque){
				        		if (item.bloque.id==idBloque) bloqueSeleccionado=true;
				        	});
				        	if (!bloqueSeleccionado)
				            	return { id: item.id, text: item.descripcion };
				        })
				    };
		        },
			  },
			  language: "es",
			  minimumInputLength: 3,
			  theme: "bootstrap",
			});

			$("#selBloques").select2({
				ajax: {
			    url: '{{ app.request.getBaseURL() }}'+"/api/bloques/getByCriteria",
			    dataType: 'json',
			    delay: 250,
			    cache: false,
			    data: function (params) {
			      return {
			        q: params.term, // search term
			        page: params.page
			      };
			    },
			    processResults: function (data) {
			       var dato=data;
		           return {
				        results: $.map(dato, function(item) {
				            return { id: item.id, text: item.bloque };
				        })
				    };
		        },
			  },
			  language: "es",
			  minimumInputLength: 3,
			  theme: "bootstrap",
			}).on('select2:select',function(evt){
				var seleccion="("+evt.params.data.text+")";
				var elementos=$("#selConcejales")[0].children.length;
				for (var i = elementos-1; i > -1; i--) {
					if ($("#selConcejales")[0].children[i].text.indexOf(seleccion)!=-1)
						$("#selConcejales")[0].children[i].remove();
				}
			});
			*/
	});
	</script>
	<section class="content-header">
		<div class="row pull-right">
			<ol class="breadcrumb">
		        <li><a href="#"><i class="fa fa-dashboard"></i> Principal</a></li>
		        <li class="active">Proyectos</li>
		    </ol>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-2">
				<h2>
			        Proyectos
			    </h2>
			</div>
			<div class="col-md-6 col-md-offset-4">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<label class="navbar-brand">Filtro</label>
						</div>
						<div class="collapse navbar-collapse">
							<div>
								<form class="navbar-form navbar-left">
									<div class="form-group">
										<div class="form-group text-center">
											<input type="checkbox" id="estadoFiltro" data-size="normal">
							        	</div> 
										<button type="button" class="btn btn-primary filtro" id="btn-busqueda">Aplicar</button>

										<select class="form-control filtro" id="selBusqueda">
											<option value="todo">Todo</option>
											{% if( app.user.rol.rol !="ROLE_LEGISLADOR") %}
												<option value="busqueda-1">Autor</option>
											{% endif %}
											<option value="busqueda-2">Estado Expediente</option>
											<option value="busqueda-3">Número Expediente</option>
											<option value="busqueda-4">Tipo de Proyecto</option>
											<option value="busqueda-5">Sin Expediente</option>
										</select>
										<input class="form-control busqueda hidden filtro" id="busqueda-1">
										<select class="form-control busqueda hidden filtro" id="busqueda-2">
											<option value="0">Seleccione Estado</option>
											{% for estado in estados %}
								                <option value="{{ estado.id }}">{{ estado.estadoExpediente }}
								            {% endfor %}
										</select>
										<input class="form-control busqueda hidden filtro" id="busqueda-3">
										<select class="form-control busqueda hidden filtro" id="busqueda-4">
											<option value="0">Seleccione Tipo</option>
											{% for tipo in tipos %}
								                <option value="{{ tipo.id }}">{{ tipo.tipoProyecto }}</option>
								            {% endfor %}
										</select>
										<input class="form-control busqueda hidden filtro" id="busqueda-5" readonly value="---">
									<div>
								</form>
							</div>
						</div>
					</div>
				</nav>
				
			</div>
	    </div>
	   
	</section>
	<section class="content">
	  	<div class="row">
	    	<div class="col-xs-12">
              	<table id="registroProyectos" class="table table table-striped">
	                <thead>
	                	<tr>
	                		<th>Reg.</th>
	                		<th class="text-center">
	                			{% if 'PROJ_NEW' in app.user.listaPermisos %}
    	                			<button type="button" title="Agregar Proyecto"class="btn btn-primary btn-xs pull-left"
    						    			data-toggle="modal" data-target="#nuevoProyecto">
    						    			<span class="glyphicon glyphicon-plus"></span>
    						    	</button>
    						    {% endif %}
						    </th>
						    <th>Expediente</th>
						    <th>Tipo</th>
			                <th>F. Creacion</th>
			                <th>F. Entrada</th>
			                <th>Autor</th>
			                <th>Palabras Clave</th>
	                	</tr>
	                </thead>
	                <tbody>
	                </tbody>
               	</table>    
	        </div> {# col #}
	    </div> {# row #}

		<div id="nuevoProyecto" class="modal fade custom-modal" role="dialog" data-backdrop="static" 
   data-keyboard="false">
		 	<div class="modal-dialog modal-xl">
			    <!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666	;color:#FFF">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title">Nuevo Proyecto</h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
				       {#  <form id="alta" action="api/proyecto/create" method="POST"> #}
						    <div class="row">
						    	<div class="col-md-2">
						    		<div class="form-group">
						        		<label for="selTipoProyecto">Tipo</label>
						        		<select class="form-control" id="selTipoProyecto" 
						        				name="selTipoProyecto">
						        			<option value="0">Seleccione Tipo</option>
						        			{% for tipo in tipos %}
								                <option value="{{ tipo.id }}">{{ tipo.tipoProyecto }}</option>
								            {% endfor %}
						        		</select>
						        	</div>
						    		<div class="form-group">
							        	<label for="selConcejal">Concejal:</label>
							        	<select class="form-control selConcejal" data-width="100%" id="selConcejal" name="selConcejal"></select>
							        </div>
							        <div class="form-group">
							        	<label for="claves">Claves De Búsqueda:</label>
							        	<textarea class="form-control" maxlength="120PX"  style="height: 100px;background-color: #ffff99" 
							        			  id="claves" name="claves"></textarea>
							        </div>
											    
						        	{# Descomentar si se acuerda notificacion #}
						        	{# 
						        	<div class="form-group text-center" style="padding-top:15px">
						        		<label for="notificarProyecto">Notificar</label>
										<input type="checkbox" name="notificarProyecto" id="notificarProyecto" data-size="small">
							        </div>	
							        #} 
						    		<!-- <nav>
									    <ul class="nav nav-pills">
										    <li role="presentation"><a href="#" id="link-tab-1" onclick = "habilitar('tab-1')" >Vistos</a></li>
											<li role="presentation"><a href="#" onclick = "habilitar('tab-2')">Considerandos</a></li>
											<li role="presentation"><a href="#" onclick = "habilitar('tab-3')">Artículos</a></li>
										</ul>
									</nav> -->
						    	</div>
						    	<div class="col-md-10">
						    		<div class="row" style="padding-bottom: 10px">
						    			<nav>
    									    <ul class="nav nav-pills">
    										    <li role="presentation"><a href="#" id="link-tab-1" onclick = "habilitar('tab-1')">
    										    	<h4 class="nav-legend">Vistos</h4></a>
    										    </li>
    											<li role="presentation"><a href="#" id="link-tab-2" onclick = "habilitar('tab-2')">
    												<h4 class="nav-legend">Considerandos</h4></a>
    											</li>
    											<li role="presentation"><a href="#" id="link-tab-3" onclick = "habilitar('tab-3')">
    												<h4 class="nav-legend">Artículos</h4></a>
    											</li>
    										</ul>
    									</nav>
						    		</div>
								    <div class="row tab" id="tab-1">
								    	<div class="col-md-12">
								    		<!-- <div class="row">
								    			<div class="col-md-4">
								    				<div class="form-group">
											        	<label for="selBloques">Bloques:</label>
											        	<select class="form-control" multiple="multiple" data-width="100%" id="selBloques" name="selBloques"></select>
											        </div>
								    			</div>
								    			<div class="col-md-8">
										    		<div class="form-group">
											        	<label for="selConcejales">Concejales:</label>
											        	<select class="form-control" multiple="multiple" data-width="100%" id="selConcejales" name="selConcejales"></select>
											        </div>
											    </div>
										    </div> 
										    <div class="row">
										    	<div class="col-md-12">
									        		<div class="form-group">
										        		<label for="visto">Visto:</label>
										        		<textarea class="form-control text-area text-area-media" 
										        		id="visto" name="visto" placeholder="vistos"></textarea>
										        	</div>
										        </div>
									        </div> -->
							        		<div class="form-group">
								        		<!-- <label for="visto">Visto:</label> -->
								        		<textarea class="form-control text-area text-area-larga" 
								        		id="visto" name="visto" placeholder="vistos"></textarea>
								        	</div>    
								        </div> 
						        	</div>
							        <div class="row tab hidden" id="tab-2">
							        	<div class="col-md-12">
							        		<div class="form-group">
								        		<!-- <label for="considerando">Considerando:</label> -->
									        	<textarea class="form-control text-area text-area-larga" 
									        	id="considerando" name="considerando" placeholder="Consideranto"></textarea>
									        </div>
									    </div>
							        </div>
							        <div class="row tab hidden" id="tab-3">
						        		<div class="col-md-12">
						        			<!-- <div class="row">
								        		<div class="col-md-12">	
										        	<label>Artículos:</label>
										     
										        </div>
										    </div> -->
								        	<div class="row" style="padding-top:5px">
								        		<div class="col-md-12">
										        	<div class="div-articulos" id="div-articulos">
										        		<table class="table table-striped" id="articulos">
										        			<tbody>
											        		</tbody> 
										        		</table> 	
											        </div>
											    </div>
											</div>
											<th>	
											<div class="row" style="padding-top: 15px">
												<div class="form-inline pull-left">
									        		<button type="button" class="btn btn-primary btn-sm" onClick="modalNuevoArticulo('articulos')" >Nuevo Artículo</button>
									        	</div>
											</div>
									    </div>
							        </div>
						        </div>
						    </div>
					        <hr>
					        <div class="row">
					        	<div class="col-md-12">
					        		<div class="text-center">
						    			<div class="btn-group">
								        	<button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
							       			 <button type="button" class="btn btn-primary" id="btn-guardar-proyecto">Guardar</button>
								        </div>
							        </div>
							    </div>
				    		</div>
				        {# </form> #}
				     </div>
			    </div>
		  	</div>
		</div>

		<div id="nuevoArticulo" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
		 	<div class="modal-dialog modal-xl">
			    <!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666	;color:#FFF">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title">Nuevo Artículo</h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
			        	<input type="hidden" id="modo" name="modo">
			        	<div class="row">
			        		<div class="col-md-12">
			        			<div class="form-group">
					        		<label for="articulo">Articulo:</label>
					        		<textarea class="form-control text-area text-area-corta" 
					        		id="articulo" name="articulo" placeholder="articulo"></textarea>
					        	</div>
					        </div>
					    </div>
					    <div class="row">
			        		<div class="col-md-12">
			        			<div class="row">
			        				<div class="col-md-12">
								        <label>Incisos:</label>
								        <button type="button" onClick="agregarInciso('incisos');" class="btn btn-primary btn-sm pull-right">Agregar Inciso</button>
								    </div>
								</div>
								<div class="row" style="padding-top:5px">
									<div class="col-md-12">
								        <div class="div-incisos" id="div-incisos">
							        		<table class="table table-striped" id="incisos">
							        			<tbody>
								        		</tbody> 
							        		</table> 	
								        </div>
								    </div>
								</div>		
					        </div> 
					    </div>
				        <hr>
				        <div class="row">
				        	<div class="col-md-12">
				        		<div class="text-center">
					    			<div class="btn-group">
							        	<button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
			       			 			<button type="submit" class="btn btn-primary" id="btn-agregar-articulo">Agregar</button>
							        </div>
						        </div>
						    </div>
			    		</div>
				     </div>
			    </div>
		  	</div>
		</div>

		<div id="editarProyecto" class="modal fade custom-modal" role="dialog" data-backdrop="static" 
   data-keyboard="false" >
		 	<div class="modal-dialog modal-xl">
			    <!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666	;color:#FFF">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title">Editar Proyecto</h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
				       {#  <form id="alta" action="api/proyecto/create" method="POST"> #}
				       		<input type="hidden" id="id" name="id">
						    <div class="row">
						    	<div class="col-md-2">
						    		<div class="form-group">
						        		<label for="selTipoProyectoMod">Tipo</label>
						        		<select class="form-control" id="selTipoProyectoMod" 
						        				name="selTipoProyectoMod">
						        			<option value="0">Seleccione Tipo</option>
						        			{% for tipo in tipos %}
								                <option value="{{ tipo.id }}">{{ tipo.tipoProyecto }}</option>
								            {% endfor %}
						        		</select>
						        	</div>
						        	<div class="form-group">
							        	<label for="selConcejalMod">Concejal:</label>
							        	<select class="form-control selConcejal" data-width="100%" id="selConcejalMod" 
							        			name="selConcejalMod"></select>
							        </div>
							         <div class="form-group">
							        	<label for="clavesMod">Claves Búsqueda:</label>
							        	<textarea class="form-control" maxlength="100"  style="height: 100px;background-color: #ffff99"
							        			  id="clavesMod" name="clavesMod"></textarea>
							        </div>
						    		<!-- <nav> 
									    <ul class="nav">
										    <li><a href="#" id="link-tab-1" onclick = "habilitar('tab-1-mod')" >Autores/Visto</a></li>
										    <li><a href="#" id="link-tab-2" onclick = "habilitar('tab-2-mod')">Considerando</a></li>
											<li><a href="#" onclick = "habilitar('tab-3-mod')">Artículos</a></li>
										</ul>
									</nav> -->
						    	</div>
						    	<div class="col-md-10">
    						    	<div class="row" style="padding-bottom: 10px">
						    			<nav>
    									    <ul class="nav nav-pills">
    										    <li role="presentation"><a href="#" id="link-tab-1-mod" onclick = "habilitar('tab-1-mod')">
    										    	<h4 class="nav-legend">Vistos</h4></a>
    										    </li>
    											<li role="presentation"><a href="#" id="link-tab-2-mod" onclick = "habilitar('tab-2-mod')">
    												<h4 class="nav-legend">Considerandos</h4></a>
    											</li>
    											<li role="presentation"><a href="#" id="link-tab-3-mod" onclick = "habilitar('tab-3-mod')">
    												<h4 class="nav-legend">Artículos</h4></a>
    											</li>
    										</ul>
    									</nav>
						    		</div>
								    <div class="row tab" id="tab-1-mod">
								    	<div class="col-md-12">
								    		<!-- <div class="row">
								    			<div class="col-md-4">
								    				<div class="form-group">
											        	<label for="selBloquesMod">Bloques:</label>
											        	<select class="form-control" multiple="multiple" data-width="100%" id="selBloquesMod" name="selBloquesMod"></select>
											        </div>
								    			</div>
								    			<div class="col-md-8">
										    		<div class="form-group">
											        	<label for="selConcejalesMod">Concejales:</label>
											        	<select class="form-control" multiple="multiple" data-width="100%" id="selConcejalesMod" name="selConcejalesMod"></select>
											        </div>
											    </div>
										    </div>
										    <div class="row">
										    	<div class="col-md-12">
    								        		<div class="form-group">
    									        		<label for="vistoMod">Visto:</label>
    									        		<textarea class="form-control text-area text-area-media" 
    									        		id="vistoMod" name="vistoMod" placeholder="Vistos"></textarea>
    									        	</div>
									        	</div>
									        </div>  -->
							        		<div class="form-group">
								        		<!-- <label for="vistoMod">Visto:</label> -->
								        		<textarea class="form-control text-area text-area-larga" 
								        		id="vistoMod" name="vistoMod" placeholder="Vistos"></textarea>
								        	</div>	
								        </div> 
						        	</div>
							        <div class="row tab hidden" id="tab-2-mod">
							        	<div class="col-md-12">
							        		<div class="form-group">
								        		<!-- <label for="considerandoMod">Considerando:</label> -->
									        	<textarea class="form-control text-area text-area-larga" 
									        	id="considerandoMod" name="considerandoMod" placeholder="Consideranto"></textarea>
									        </div>
									    </div>
							        </div>
							        <div class="row tab hidden" id="tab-3-mod">
						        		<div class="col-md-12">
						        			<!-- <div class="row">
								        		<div class="col-md-12">	
										        	<label>Artículos:</label>
										        	
										        </div>
										    </div> -->
								        	<div class="row" style="padding-top:5px">
								        		<div class="col-md-12">
										        	<div class="div-articulos" id="div-articulosMod">
										        		<table class="table table-striped" id="articulosMod">
										        			<tbody>
											        		</tbody> 
										        		</table> 	
											        </div>
											    </div>
											</div>
											<div class="row">
											<div class="row" style="padding-top: 15px">
												<div class="form-inline pull-left">
									        		<button type="button" onClick="modalNuevoArticulo('articulosMod')" class="btn btn-primary btn-sm">Nuevo Artículo</button>
									        	</div>
											</div>
											</div>
									    </div>
							        </div>
						        </div>
						    </div>
					        <hr>
					        <div class="row">
					        	<div class="col-md-12">
					        		<div class="text-center">
						    			<div class="btn-group">
								        	<button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
							       			 <button type="button" class="btn btn-primary" id="btn-guardar-modificacion">Guardar</button>
								        </div>
							        </div>
							    </div>
				    		</div>
				        {# </form> #}
				     </div>
			    </div>
		  	</div>
		</div>

		<div id="editarArticulo" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
		 	<div class="modal-dialog modal-xl">
			    <!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header" style="background-color:#666	;color:#FFF">
		    			<button type="button" class="close" data-dismiss="modal">&times;</button>
		    			<h4 class="modal-title">Modificar Artículo</h4>
				    </div>
				    <div class="modal-body" style="background-color:#ecf0f5">
			        	<input type="hidden" id="id" name="id">
			        	<input type="hidden" id="modo" name="modo">
			        	<div class="row">
			        		<div class="col-md-12">
			        			<div class="form-group">
					        		<label for="articuloMod">Articulo:</label>
					        		<textarea class="form-control text-area text-area-corta"
					        		id="articuloMod" name="articuloMod" placeholder="Artículo"></textarea>
					        	</div>
					        </div>
					    </div>
					    <div class="row">
			        		<div class="col-md-12">
			        			<div class="row">
			        				<div class="col-md-12">
								        <label>Incisos:</label>
								        <button type="button" onClick="agregarInciso('incisosMod');" class="btn btn-primary btn-sm pull-right">Agregar Inciso</button>
								    </div>
								</div>
								<div class="row" style="padding-top:5px">
									<div class="col-md-12">
								        <div class="div-incisos" id="div-incisos">
							        		<table class="table table-striped" id="incisosMod">
							        			<tbody>
								        		</tbody> 
							        		</table> 	
								        </div>
								    </div>
								</div>		
					        </div> 
					    </div>
				        <hr>
				        <div class="row">
				        	<div class="col-md-12">
				        		<div class="text-center">
					    			<div class="btn-group">
							        	<button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
			       			 			<button type="submit" class="btn btn-primary" id="btn-modificar-articulo">Modificar</button>
							        </div>
						        </div>
						    </div>
			    		</div>
				     </div>
			    </div>
		  	</div>
		</div
	</section>
	
{% endblock %}