{% extends 'layout.html.twig' %}



{% block stylesheets %}
	{# parent() #}
  	{% stylesheets '@css_datatables' %}
      	<link rel="stylesheet" href="{{ asset_url }}" /></link>
  	{% endstylesheets %}
{% endblock %}

{% block javascripts %}
	{# parent() #}
    {% javascripts '@js_datatables'%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
	
	<style type="text/css">
	
  
	</style>

	<script type="text/javascript">

		function cambioPeriodo(periodo){

			$.ajax({
				type:'Get',
				dataType: 'json	',
				url:'{{ app.request.getBaseURL() }}'+'/api/sesion/getSesionesByPeriodo/'+periodo,
				success: function(data){

					$("#selSesion").html('');
					var html='';
					$.each(data, function(index,sesion){
						html+='<option value="'+sesion.id +'">'+sesion.fecha_formateada+'</option>';
					});

					$("#selSesion").html(html);
				},
				error: function(jqXHR,textStatus,errorThrown ){
					toastr.error(JSON.parse(jqXHR.responseText));
				}
	      	});

		}

		function irASesion(){
    		cargarMenuConParametro('/expedientesOrdenDia','idSesion',$("#selSesion").val());
    	}

		$(document).ready(function () {
			cambioPeriodo($("#selPeriodo").val());
		});

	</script>
	
	<section class="content">
	  	<form role="form">
	  		<div class="row">
	  			<div class="col-md-8 col-md-offset-2">
            		<h2>Seleccion Sesión</h2>
            		<br>
                    <div class="panel panel-primary">
                        <div class="panel-heading text-center"><strong>Seleccione la Sesión a Tabajar</strong></div>
                        <div class="panel-body">
        					<div class="row">
                    			<div class="col-md-4 col-md-offset-2">
                	    			<div class="form-group">
                	    				<label for="selPeriodo">Periodo</label>
                						<select class="form-control" id="selPeriodo" onchange="cambioPeriodo(this.value);">
                							<!-- <option value="0">Seleccione Año</option> -->
                							{% for año in años %}
                				                <option value="{{ año }}">{{ año }}</option>
                				            {% endfor %}
                						</select>
                					</div>
                				</div>
                    			<div class="col-md-4">
                	    			<div class="form-group">
                	    				<label for="selSesion">Sesión</label>
                						<select class="form-control" id="selSesion">
                						</select>
                					</div>
                				</div>
                			</div>
        				</div>
                        <div class="panel-footer">
                            <div class="row">
                	    		<div class="col-md-12">
                	        		<div class="text-center">
                		    			<div class="btn-group">
                				        	<!-- <button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button> -->
                       			 			<button type="button" class="btn btn-primary" id="btn-aceptar-Sesion" onclick="irASesion();">Aceptar</button>
                				        </div>
                			        </div>
                			    </div>
                	    	</div>
                        </div>
                    </div>
                  </div>
                </div>
    		<!-- <div class="row">
    			<div class="col-md-4 col-md-offset-2">
	    			<div class="form-group">
	    				<label for="selPeriodo">Periodo</label>
						<select class="form-control" id="selPeriodo" onchange="cambioPeriodo(this.value);">
							<option value="0">Seleccione Año</option>
							
						</select>
					</div>
				</div>
    			<div class="col-md-4">
	    			<div class="form-group">
	    				<label for="selSesion">Sesión</label>
						<select class="form-control" id="selSesion">
							<option value="0">Seleccione Sesión</option>
						</select>
					</div>
				</div>
			</div>
			<hr>
	    	<div class="row">
	    		<div class="col-md-12">
	        		<div class="text-center">
		    			<div class="btn-group">
				        	<button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
       			 			<button type="button" class="btn btn-primary" id="btn-aceptar-Sesion" onclick="irASesion();">Aceptar</button>
				        </div>
			        </div>
			    </div>
	    	</div> -->
    	</form>
	   	
	</section>
	
{% endblock %}