{% extends 'base_documento.html.twig' %}

{% block body %}

    <style type="text/css">

      h1 h2 h3 h4{
        margin-bottom: 0;
      }

      .ident{
        text-align: justify;
        text-indent: 40px;
        margin-top: 0 
      }

      .borderless-container{
      margin-top: 50px;
      width: 90%;
      margin-left: 5%;
      z-index: 0;
    }

    </style>

      <section class="borderless-container" style="margin-left:10%;width:80%">

        <h3 style='text-align: center'><strong><u>Proyecto de {{ tipoProyecto }}</u></strong></h3>

        <h4><u>VISTO:</u></h4>
        <p class="ident">{{ visto | raw }}</p>
        <h4><u>CONSIDERANDO:</u></h4>
        {{ considerando | raw }}
        <h4><u>POR TODO ELLO:</u></h4>
        {{ quienSanciona | raw }}
        <h3 style='text-align: center'><strong><u>{{ tipoProyecto }}</u></strong></h3>
        {{ articulos | raw }}
        <br>
        <br>
      </section>

{% endblock %}