<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{% block title %}Proyecto Ingresado{% endblock %}</title>
      <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>
    <style type="text/css">

      h1 h2 h3 h4{
        margin-bottom: 0;
      }
     /* p {
        margin-bottom: 0; 
      }*/
     /* h3 + p {
        text-indent: 1.5em;
        margin-top: 0 
      }*/
      .ident{
        text-align: justify;
        text-indent: 40px;
        margin-top: 0 
        }

    </style>
    <body>
      {% if verSeccion1==true %}

        <section style="margin-left:10%;width:80%" >
          <h3>Estimado Concejal</h3>

          <p class="ident">Esta es una notificación generada automáticamente por el Sistema de Gestión Legislativa del 
             Honorable Consejo Deliberante del Municipio de Lomas de Zamora.
             El motivo de la misma es informarle que se ha ingresado un proyecto de {{tipo}} 
             en el cual se lo indica como uno de los autores.</p>
          <p>Solicitamos tenga a bien confirmar la autoría ingresando aqui <a href="http://sisleg.16mb.com/sisleg/web/confimacion?proyecto=c4ca4238a0b923820dcc509a6f75849b">confirmación autoría</a></p>
          <p>A continuación el detalle del mismo:</p>
        </section>

      {% endif %}
      <section style="margin-left:10%;width:80%">
        <hr>
        <h2>{{ asunto | raw }}</h2>

        <h2 style='text-align: center'><u>Proyecto de {{ tipo }}</u></h2>

        <h3><u>VISTO:</u></h3>
        <p class="ident">{{ visto | raw }}</p>
        <h3><u>CONSIDERANDO:</u></h3>
        {{ considerando | raw }}
        <h3><u>POR TODO ELLO:</u></h3>
        {{ quienSanciona | raw }}
        <h2 style='text-align: center'><u>{{ tipo }}</u></h2>
        {{ articulos | raw }}
        <br>
        <br>
        <hr>
        <p style="text-align:right">Proyecto de {{ tipo }} - Versión Digital SisLeg 2017</p>
      </section>

    </body>
</html>