{% extends 'base_documento.html.twig' %}

{% block body %}

  <style type="text/css">

    h1 h2 h3 h4{
      margin-bottom: 0;
    }
    .title{
      text-align: center;
    }

    .ident{
        text-align: justify;
        text-indent: 80px;
        margin-top: 0 
      }

    .bordered-container{
      border: solid;
      margin-top: 50px;
      width: 90%;
      margin-left: 5%;
      z-index: 0;
    }

    .document-page{
      height: 1650px;
    }

    .line{
      margin-top: 40px;
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 40px;
      border: 0;
      border-style: dashed;
      border-top: 1px solid #000;

    }
    td.descripcion{
      width: 10%;
    }

    .decored{
      background-image: url("{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('document_bootstrap/fondo.jpg') }}");
      background-repeat: repeat;
      margin-left: 5%;
      margin-right: 5%;
    }

  </style>  
  
    <section class="document-page">

      <div class="bordered-container">

        <div style="text-align:center">
             <img style="padding-top:100px" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('document_bootstrap/escudopng2_mini.png') }}"  alt="escudo">
        </div>
        <br>
        <br>
        <h1 class="title">CONSEJO DELIBERANTE</h1>
        <h3 class="title">DE</h3>
        <h3 class="title">LOMAS DE ZAMORA</h3>
        <br>
        <br>
        <div class="row" style="padding-top:50px">
          <div class="col-md-8 col-md-offset-2">
            <div class="row">
              <div class="col-md-3 col-md-offset-1">
                <div style="padding-top:36px">
                  <label>Expediente N°:</label>
                </div>
              </div>
              <div class="col-md-3"> 
                <div class="centering-box text-center">
                 <h1><strong><i>{{ numeroExp }}</i></strong></h1>
                </div>
              </div>
              <div class="col-md-1">
                <div style="padding-top:36px">
                  <label>Letra:</label>
                </div>
              </div>
              <div class="col-md-1 text-center"> 
                <h1><strong><i>{{ letra }}</i></strong></h1>
              </div>
              <div class="col-md-1">
                <div style="padding-top:36px">
                  <label>Año:</label>
                </div>
              </div>
              <div class="col-md-1 text-center"> 
                <h1><strong><i>{{ ejercicio }}</i></strong></h1>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row" style="margin-top:50px">
          <div class="decored">
          
          {#  <hr class="line">
            <hr class="line">
            <hr class="line">
            <hr class="line">
            <hr class="line">
            <hr class="line"> #}
            <p class="ident" style="height: 328.75px"><strong>{{ caratula }}</strong></p>
          </div>
        </div>
        <br>
        <div class="row" style="margin-left:2%;margin-top:50px">
          <div class="col-md-6">
            <ul class="list-inline">
              <li class="list-inline-item"><label>Fecha Entrada:</label></li>
              <li class="list-inline-item" style="font-size:x-large"><strong><i>{{ entrada }}</i></strong></li>
            </ul>
            <ul class="list-inline" style="margin-top:50px">
              <li class="list-inline-item"><label>Origen:</label></li>
              <li class="list-inline-item" style="font-size:x-large"><strong><i>{{ origen }}</i></strong></li>
            </ul>
          </div>
        </div>
        <div class="row" style="margin-left:2%;margin-top:50px">
          <div class="col-md-12">
            <label>Observaciones:</label>
          </div>
          <div class="row" style="margin-top:50px">
            <div class="col-md-11 col-md-offset-1">
              <div class="row">
                  <hr class="line">
                  <hr class="line">
                  <hr class="line">

              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
      </div>
    </section>

{% endblock %}